<div  class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
				<input name="id" id="id" type="hidden" value="$!{obj.id}"/>
				<input id="creatorId" name="creatorId" type="hidden" #if($obj) value="$!{obj.creatorId}" #else value="$!{currUser.id}" #end/>
				<input id="creatorName" name="creatorName" type="hidden" #if($obj) value="$!{obj.creatorName}" #else value="$!{currUser.userName}" #end/>
				<input id="docEditable" name="docEditable" type="hidden" value="1"/>
				<input name="deptId" id="deptId" type="hidden" value="$!{dept.id}"/>
				<input name="deptName" id="deptName" type="hidden" value="$!{dept.deptName}"/>
				<input name="nextNodeId" id="nextNodeId" type="hidden" value=""/>
				<input name="nextDealers" id="nextDealers" type="hidden" value=""/>
				<input name="flowId" id="flowId" type="hidden" value="F013"/>##流程编号
				<input id="version_" name="version_" type="hidden" value="$!{obj.version_}"/>##版本号
				<input name="status" id="status" type="hidden" value="$!{obj.status}"/>##状态
				<input name="businessType" id="businessType" type="hidden" value="1"/>##业务类型
				<input name="type" id="type" type="hidden" value="9"/>##因公外出
                <table class="table-edit"  width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr align="center">
						<td class="bg-grey"><span><font color=red>*</font></span>申请部门</td>
						<td class="bg-white">
							$!{esc.html($!{dept.deptName})}
						</td>
						<td class="bg-grey"><span><font color=red>*</font></span>申请人</td>
						<td class="bg-white">
							$!{esc.html($!{currUser.userName})}
						</td>
                    </tr>
					<tr align="center">
						<td class="bg-grey"><span><font color=red>*</font></span>出发地</td>
                        <td class="bg-white">
                    		<input style="width:100%;" id="departurePlace" name="departurePlace" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{obj.departurePlace}"/>
                    	</td>
                        <td class="bg-grey"><span><font color=red>*</font></span>目的地</td>
                        <td class="bg-white">
                    		<input style="width:100%;" id="rentalPlace" name="rentalPlace" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{obj.rentalPlace}"/>
                    	</td>
                    </tr>
					<tr>
						<td class="bg-grey"><span><font color=red>*</font></span>外出事由</td>
						<td colspan="3" class="bg-white">
							<textarea class="easyui-validatebox textareaborder" data-options="required:true" id="reason" name="reason" maxLength="150" cols="" style="resize:none;width:99%;height:50px;">$!{esc.html($!{obj.reason})}</textarea>
						</td>
					</tr>
					<tr>
						<td class="bg-grey"><span><font color=red>*</font></span>外出时间</td>
						<td colspan="3" class="bg-white">
							<input id = "beginTime" name="beginTime" class="easyui-datetimebox" data-options="editable:false,required:true" value="$!{obj.beginTime}"/>
								至
							<input id = "endTime" name="endTime" class="easyui-datetimebox" data-options="editable:false,required:true,validType:'equaldDate[\'#beginTime\']'" value="$!{obj.endTime}"/>
						</td>
					</tr>
					<tr>
                      <td class="bg-grey">附件</td>
                      <td colSpan="3" class="bg-white" attachId="$!{obj.id}">
                        #formfilemulty("attach", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('goOutAttach')", true, "#defaultUploadUrl('goOutAttach')",true)
                      </td>
                    </tr>
            	</table>
        	</form>
    	</div>
    	<div data-options="region:'south'" class="bottom-h">
			<div class="bottom-but">
				<ul>
					<li><a id="saveTemp" onclick="saveTemp()" class="new-but">暂存</a></li>
					<li><a id="publish" onclick="publish()" class="new-but">提交</a></li>
					<li><a id="back" onclick="back()" class="new-but">返回</a></li>
				</ul>
			</div>
		</div>
		<div id="selNodesWindow" class="easyui-window" title="提交到下一环节" style="width:350px;height:330px;padding:5px"
			data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
		</div>
	</div>
</div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';
	
	var selNodeId = "";

    //返回
    function back() {
        top.CC.closeCurTab();
    }
	
    //呈送
    function publish(){
		var flowId = $('#flowId').val();
	   	if($("#editForm").form('validate')) {
	    	$('#selNodesWindow').window('open');
	        $('#selNodesWindow').window('refresh',"$link.getContextURL()/workflow/event/getNextNodes?startflow=1&nodeId=N201&flowId=" + flowId);
	   	}
    }

    //暂存
    function saveTemp(){
    	if($("#editForm").form('validate')) {
            top.CC.loading("正在保存数据!");
            $.post("$link.getContextURL()/pubaffairs/car/saveTemp.json",$("#editForm").serialize(),function(result){
                top.CC.loaded();
                if(result.id != ""){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'暂存成功！'
                    });
          			var title = top.CC.getCurTab().panel('options').title;
          			top.CC.addTab({title:'我的车辆申请', url:'$link.getContextURL()/pubaffairs/car/listCar'})
          			top.CC.closeTab(title);
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }
	
	// 提交-------------------------------------------------------------------------------------------
  	function start() {
    	if($("#editForm").form('validate')) {
      		var nodeId = selNodeId;
      		var flowId = $('#flowId').val();
			var _callbackname = "fnSelectMansCallback";
      		var _url = "$link.getContextURL()/workflow/event/selectNextTask?flowId=" + flowId + "&nodeId=" + nodeId;
			var _callback_fn = window[_callbackname];
			var dfn = top.window.openSelectDialogFrameDialog;
      		if (typeof dfn === "function") {
        		dfn(_url, _callback_fn);
      		}
    	}
  	}
	
	function fnSelectMansCallback(obj){
    	//写入下一环节
    	$('#nextNodeId').val(obj.nextNode);
   	 	//写入下一环节的办理人（多个用逗号分开）
    	$('#nextDealers').val(obj.userIds);
	
    	// 提交，启动流程
    	top.CC.loading('呈送中...');
    	$.post("$link.getContextURL()/pubaffairs/car/dealStartflow",$("#editForm").serialize(),function(result){
      		top.CC.loaded();
      		if(result.success){
        		top.CC.messager({ title:'提示', msg:'因公外出申请提交成功！' });
        		var title = top.CC.getCurTab().panel('options').title;
        		top.CC.addTab({ title:'我的车辆申请',url:'$link.getContextURL()/pubaffairs/car/listCar' });
        		top.CC.closeTab(title);
      		}else{
        		top.CC.messager({ title:'提示', msg:result.message });
      		}
    	});
  	}
</script>
#end
