<div class="easyui-layout" fit="true">
<div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
#if($type != "query")
##<hr>
<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add"
        plain="true">新增</a>
<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit"
        plain="true">修改</a>
<a href="javascript:;" class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-remove"
        plain="true">删除</a>
<i></i>
#end
<a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
     class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
     <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
</div>
<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
<table id="dg" data-options="nowrap:false" style="width:99%;">
    <thead>
    <tr>
        <!--#if($type != "query")<th field="ck" data-options="checkbox:true"></th>#end -->
        <th style="width:33%" data-options="field:'title',formatter:detailUrl">标题</th>
        <th style="width:30%" data-options="field:'createInfo'">拟稿信息</th>
        <th style="width:10%" data-options="field:'status'">状态</th>
         <th style="width:10%" data-options="field:'creatorName'">拟稿人</th>
        <th style="width:10%" data-options="field:'createDateShow'">创建时间</th>
    </tr>
    </thead>
</table>
</div>
<div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
     style="width:500px;height:290px;padding:20px 10px; background-color:#f4f4f4;display:none;">
    <form id="queryForm">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="text-align: right">标题：</td>
                <td><input id="title" style="width:350px;" name="$qc.like('title')" class="easyui-textbox" /></td>
            </tr>
            <tr>
               <td style="text-align: right">拟稿人：</td>
                <td><input id="creatorName" style="width:350px;" name="$qc.like('creatorUser.userName')" class="easyui-textbox" /></td>
            </tr>
        </table>
     </form>
    <div id="bnts" style="top:0px; height:25px; width:auto;">
        <a class="new-but" onclick="formSerach()">确定</a>
        <a class="new-but" onclick="reset()">重置</a>
    </div>
</div>
</div>
#parse("common/easyui/operatorcolumn.js.vm")
#parse("doc/sendfile/crud.js.vm")
#@script()
<script type="text/javascript">


    var _baseUrl = '$link.getContextURL()/doc/sendfile/';
    #if( $type == 'query' )
        var _listJsonUrl = '/querylist.json';
    #else
        var _listJsonUrl = '/list.json';
    #end
    var _newJsonUrl = '/new';

 function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
</script>
#end