@charset "utf-8";
/* CSS Document */

#receiveContainer li {list-style-type:none;}
#receiveContainersMX .receive_mx_table {width: 1050px; text-align: center; margin:0 auto}
#receiveContainersMX .receive_mx_table table {width: 100%; border-collapse: collapse;}
#receiveContainersMX .receive_mx_table table tr th {font-size: 28px;font-weight: bold;color: #000;font-family: '宋体'!important;}
#receiveContainersMX .receive_mx_table table tr {height: 31px;}
#receiveContainersMX .receive_mx_table table td {border: 1px solid black;padding: 2px 2px;color: #000;font-size: 16px;font-family: '微软雅黑'!important;    padding: 0;}
#receiveContainersMX .receive_mx_table table td span {color: #000;font-size: 16px;font-family: '微软雅黑'!important;}
.deptClassMX{width: 80px;}
.nameClassMX{width: 80px;}
.typeClassMX{width: 85px;}
.remarkClassMX{width: 80px;}

