<div id="cc_layout" class="easyui-layout" fit="true" >
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-download-alt" onclick = "exportDocCount()"
                plain="true">导出</a>
        <i></i>
        <a onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
                     class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
    </div>

    <div class="cc-tableWrap" data-options="region:'west',border:false"  style="width:350px;padding:5px;">
        <form action="" id="form">
            <input type="hidden" id="userId" name="userId" value="$!{userId}"/>
        </form>
        <table id="dg" style="width:99%;">
            <thead>
                <tr>
                    <th style="width:40%" data-options="field:'userName'">姓名</th>
                    <th style="width:20%" data-options="field:'createNum'">创建文数</th>
                    <th style="width:15%" data-options="field:'doBy'">经办</th>
                    <th style="width:15%" data-options="field:'doing'">待办</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'south'"  class="bottom-h" height="52px">
        <div class="bottom-but">
            <ul>
                <li><a id="back" onclick="restatis()" class="new-but">重置</a></li>
                <li><a id="close" onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
    </div>
    <div  data-options="region:'center',border:false" style="padding:5px;">
    </div>
    <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:300px;height:200px;padding:20px 10px; background-color:#f4f4f4;display:none">
        <form id="queryForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="text-align: right">姓名：</td>
                    <td>
                        <input id="userId2" name="userId" #if(${userId}) value="$!{userId}" #end type="hidden">
                        <input id="userName" style="width:200px" readonly="true"  value="" class="easyui-textbox">
                        <a class="easyui-linkbutton manSelDlg" callback=fnSelectManCallback select-dialog="$link.getContextURL()/select/selectSingleManClassify" data-options="iconCls:'icon-search',plain:true" title="选择"></a>
                    </td>
                </tr>
            </table>
         </form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    </div>
</div>

#parse("doc/docstatis/crud.js.vm")
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()/doc/docstatis/';
    var _listJsonUrl = '/countlist.json';
    var _newJsonUrl = '/new';
    $(function(){
        columnStatistical();
        $('.manSelDlg').on('click', function(e) {
      var $this = $(this);
      var _callbackname = $this.attr("callback");
      var _url = $(this).attr('select-dialog');
      var _callback_fn = window[_callbackname];
      var dfn = top.window.openSelectDialogFrameDialog;
      if (typeof dfn === "function") {
        dfn(_url, _callback_fn);
      }
        return false;
      });

    })
    function restatis(){
         var _f = $("#form");
        _f.form("clear");
        reset();
        formSerach();
    }

    function fnSelectManCallback(data){
         if(data.id){
          $("#userId2").val(data.id);
        }
        if(data.userName){
          $("#userName").textbox("setValue",data.userName);
        }
    }

    function attFlag(value,row,index){
        if(value == '有附件') {
            return "<img src='images/attach.png'/>";
        }
    }
     function formSerach() {
        $("#userId").val($("#userId2").val());
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
        toggleTableDiagram();
    }
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function exportDocCount() {
        $.messager.confirm('提示','确定导出吗?',function(r){
            if (r){
                window.location = "$link.getContextURL()/doc/docstatis/exportDocCount.json?"+$("#queryForm").serialize();;
            }
        });
    }

    function toggleTableDiagram() {
      var displayType = $(':radio[name="displayType"]:checked').val();
      switch(displayType) {
        case "2":// 直方图
        columnStatistical();
          break;
        case "3":// 饼图
        pieStatistical();
          break;
        default:
          break;
      }
    }

     //直方图
    function columnStatistical(){
              $('#cc_layout').layout('panel','center').panel('refresh',"$link.getContextURL()/doc/docstatis/statColumnStatistical?"+$("#form").serialize());
    }

    //饼图
    function pieStatistical(){
              $('#cc_layout').layout('panel','center').panel('refresh',"$link.getContextURL()/doc/docstatis/statPieStatistical?"+$("#form").serialize());
    }

</script>
<script src="lib/highcharts-4.2.3/js/highcharts.js" type="text/javascript"></script>
<script src="js/exporting.js" type="text/javascript"></script>
#end