<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
                 style="width:500px;height:290px;padding:20px 10px; background-color:#f4f4f4;display:none;">
                <form id="queryForm">
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tb2 default-table" >
                        <tr>
                            <td style="text-align: right">主题：</td>
                            <td><input style="width:330px;" id="title" name="$qc.like('mail.title')" class="easyui-textbox" /></td>
                        </tr>
                        <tr>
                            <td style="text-align: right">发件人：</td>
                            <td>
                            <input style="width:150px;" id="senderName" name="senderName" class="easyui-textbox" readonly />
                            <input id="sender" name="$qc.equal('mail.senderId')" type="hidden" />
                            <a id="selectDepDialog" href="javascript:;" callback=fnSelectManSingleCallback class="easyui-linkbutton" plain="true"
                                iconCls="icon-search" select-dialog="$link.getContextURL()/select/selectSingleManClassify"></a></td>
                        </tr>
                        <tr>
                            <td style="text-align: right">发送时间：</td>
                            <td>
                                <input style="width:150px;" name="$qc.greaterThanOrEqualTo('mail.sendDate')" class="easyui-datebox" value="$!{firstDay}" data-options="editable:false">
                                至
                                <input style="width:150px;" name="$qc.lessThanOrEqualTo('mail.sendDate')" class="easyui-datebox" value="$!{lastDay}" data-options="editable:false">
                            </td>

                        </tr>
                    </table>
                </form>
                <div id="bnts" style="top:0px; height:25px; width:auto;">
                   <a href="javascript:;" class="new-but" onclick="formSerach()" >查询</a>
                   <a href="javascript:;" class="new-but" onclick="reset()" >重置</a>
                </div>
            </div>
            <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-save" onclick="archive()"
                    plain="true">存档</a>
            <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-trash" onclick="trash()"
                    plain="true">移到垃圾箱</a>
            <i></i>
            <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open')" class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
            <a  onclick="top.CC.closeCurTab()"
                 class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg"  data-options="nowrap:false" style="width:100%;">
                <thead>
                    <tr>
                        <th field="ck" data-options="checkbox:true"></th>
                        <th style="width:5" data-options="field:'attachFlag',formatter:mailOrAttach"><img src='images/mailorattach.png'/></th>
                        <th style="width:60%" data-options="field:'title',formatter:detailUrl">主题</th>
                        <th style="width:20%" data-options="field:'senderName'">发件人</th>
                        <th style="width:13%" data-options="field:'fm',formatter:dateformat">发送时间</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
#parse("common/easyui/operatorcolumn.js.vm")
#parse("oa/mail/crud.js.vm")
#@script()
<script type="text/javascript">
    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        $('#dg').datagrid("selectRow",index);
        var row = $('#dg').datagrid("getSelected");
        var url;
        url = "$link.getContextURL()/oa/mail/inbox/detail?incId=" + row.id;
        if (row.incepterStatus == '未处理') {
            $.post("$link.getContextURL()/oa/mail/inbox/dealRead.json",{emailId:row.emailId},function(result){
                if(result){
                    $('#dg').datagrid('reload');
                    top.CC.addTab({title:'查看邮件',url:url});
                }else{
                  top.CC.messager({
                      title:'提示',
                      msg:'服务器连接不上'
                  });
                }
            });
        } else {
            top.CC.addTab({title:'查看邮件',url:url});
        }
    }

    var _baseUrl = '$link.getContextURL()/oa/mail/inbox';
    var _listJsonUrl = '/list.json';

    function mailOrAttach(value,row,index){
        var returnStr = ""
        if (row.incepterStatus == '未处理') {
            returnStr += "<img src='images/notRead.png'/>";
        } else {
            returnStr += "<img src='images/read.png'/>";
        }
        if(row.attachFlag == '有附件') {
            returnStr += "&nbsp;<img src='images/attach.png'/>";
        }
        return returnStr;
    }

    // 时间戳格式化
    Date.prototype.format = function(format) {
        var o = {
            "M+": this.getMonth() + 1,
            // month
            "d+": this.getDate(),
            // day
            "H+": this.getHours(),
            // hour
            "m+": this.getMinutes(),
            // minute
            "s+": this.getSeconds(),
            // second
            "q+": Math.floor((this.getMonth() + 3) / 3),
            // quarter
            "S": this.getMilliseconds()
            // millisecond
        };
        if (/(y+)/.test(format) || /(Y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    };

    function dateformat(value,row,index){
        var returnStr = ""
        return (new Date(row.sendDate)).format("yyyy-MM-dd HH:mm");
    }

    //存档
    function archive(){
        var rows = $("#dg").datagrid("getChecked");
        if(rows && rows.length > 0){
            $.messager.confirm('警告','确定将这些信件归档吗?',function(r){
                if (r){
                    var ids = "";
                    for(var i=0;i<rows.length;i++){
                        if(i==rows.length-1){
                            ids += rows[i].id;
                        }else{
                            ids += rows[i].id + ",";
                        }
                    }
                    $.post("$link.getContextURL()/oa/mail/inbox/dealArchive.json",{incIds:ids},function(result){
                        if(result.id){
                          $('#dg').datagrid('reload');
                          $('#dg').datagrid('uncheckAll');
                          top.CC.messager({
                              title:'提示',
                              msg:'邮件存档成功!'
                          });
                        }else{
                          top.CC.messager({
                              title:'提示',
                              msg:'服务器连接不上'
                          });
                        }
                    });
                }
            });
        } else {
            top.CC.messager({
                title: '错误',
                msg: '请选择至少一条数据!'
            });
        }
    }

    //移动到垃圾箱
    function trash(){
        var rows = $("#dg").datagrid("getChecked");
        if(rows && rows.length > 0){
            $.messager.confirm('警告','确定将这些信件放入垃圾箱吗?',function(r){
                if (r){
                    var ids = "";
                    for(var i=0;i<rows.length;i++){
                        if(i==rows.length-1){
                            ids += rows[i].emailId;
                        }else{
                            ids += rows[i].emailId + ",";
                        }
                    }
                    $.post("$link.getContextURL()/oa/mail/inbox/dealTrash.json",{mailIds:ids},function(result){
                        if(result.id){
                          $('#dg').datagrid('reload');
                          $('#dg').datagrid('uncheckAll');
                          top.CC.messager({
                              title:'提示',
                              msg:'邮件删除成功!'
                          });
                        }else{
                          top.CC.messager({
                              title:'提示',
                              msg:'服务器连接不上'
                          });
                        }
                    });
                }
            });
        } else {
            top.CC.messager({
                title: '错误',
                msg: '请选择至少一条数据!'
            });
        }
    }

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    // 人员选择回调
    function fnSelectManSingleCallback(obj){
        $('#sender').val(obj.id);
        $('#senderName').textbox('setValue', obj.userName);
    }
</script>
#end