<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
    <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-download-alt" onclick="exportExcel()"
        plain="true">导出</a>
    <i></i>
    <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
    <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
       <table id="dg" data-options="nowrap:false" style="width:99%;">
          <thead>
            <tr>
                <th style="width:5" data-options="field:'attachFlag',formatter:attFlag"><img src='images/attach.png' title='有附件'/></th>
                <th style="width:30%" data-options="field:'docTitle',formatter:detailUrl">标题</th>
                <th style="width:10%" data-options="field:'docNumber'">文号</th>
                <th style="width:5%" data-options="field:'docCate'">文种</th>
                <th style="width:11%" data-options="field:'sendManName'">发送人</th>
                <th style="width:16%" data-options="field:'sendDepName'">发送部门</th>
                <th style="width:15%" data-options="field:'sendTimeShow'">发送时间</th>
                <th style="width:10%" align="center" data-options="field:'status'">状态</th>
            </tr>
          </thead>
        </table>
     </div>

     <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
         style="width:500px;height:320px;padding:20px 10px; background-color:#f4f4f4;display:none">
            <form id="queryForm">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="text-align: right">标题：</td>
                        <td><input style="width:322px;" id="docTitle"  name="$qc.like('docTitle')" class="easyui-textbox" /></td>
                    </tr>
                     <td style="text-align: right">文种：</td>
                        <td>
                            <select name="$qc.equal('docCate')" id="docCate" class="easyui-combobox" data-options="editable:false" panelheight="auto" style="width:150px;">
                                <option selected value=""></option>
                                    #formoption($!{docread.docCate} $dict.doccate)
                            </select>
                        </td>
                    <tr>
                        <td style="text-align: right">发送时间：</td>
                        <td>
                            <input style="width:150px;" name="$qc.greaterThanOrEqualTo('sendTime')" class="easyui-datetimebox"  data-options="editable:false">
                                至
                            <input style="width:150px;" name="$qc.lessThanOrEqualTo('sendTime')" class="easyui-datetimebox"  data-options="editable:false">
                        </td>
                   </tr>

                </table>
            </form>
            <div id="bnts" style="top:0px; height:25px; width:auto;">
                <a class="new-but" onclick="formSerach()">确定</a>
                <a class="new-but" onclick="reset()">重置</a>
            </div>
    </div>
</div>



#parse("common/easyui/operatorcolumn.js.vm")
#parse("doc/docread/crud.js.vm")
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()/doc/docread';
    var _listJsonUrl = '/listPublish.json';
    var _newJsonUrl = '/new';

    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function fnSelectDepCallback(obj){
        $("#department").textbox('setValue',obj.id);
        $("#department").textbox('setText',obj.text);
    }

    function attFlag(value,row,index){
        if(value == '有附件') {
            return "<img src='images/attach.png' title='有附件'/>";
        }
    }
     function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

     function exportExcel() {
        $.messager.confirm('警告','确定导出已发公文传阅吗?',function(r){
            if (r){
               window.location = "$link.getContextURL()/doc/docread/exportPublish.json?"+$("#queryForm").serialize();
            }
        });
    }
</script>
#end