#set($bodyattr="class='easyui-layout' style='border:0px;width:350px;height:450px;margin-left:8px;margin-top:5px; padding:0 5px 3px 0; '")
<div  region="center" class="submodule-title-h panel-body" >
    <div class="easyui-layout" fit="true" >
        <div class="cc-tableWrap" data-options="region:'center',border:false">
           <ul id="deptree" data-options="url:'$link.getContextURL()$!{url}',method:'post',fit:true,lines:true"></ul>
        </div>
    </div>
</div>
<div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
    <div class="bottom-but-dialog">
        <ul>
           <li><a  class="new-but"  onclick="doselect()">确定</a></li>
           <li><a  class="new-but"  onclick="doclose()">取消</a></li>
        </ul>
    </div>
</div>
#@script()
<script src="$link.getContextURL()/lib/avalon/avalon.js"></script>
<script>
    $(document).ready(function() {
        if (top.setSelectDialogFrameDialogTitle) {
            top.setSelectDialogFrameDialogTitle("$!{selectDialogTitle}");
        }
    });

    function doclose() {
        if (top.closeSelectDialogFrameDialog) {
            top.closeSelectDialogFrameDialog();
        }
        return false;
    }

    //选择
    function doselect() {
        var node = $('#deptree').tree('getSelected');
        if (node) {
            top.okSelectDialogFrameDialog(node);
        } else {
            alert("请先选择数据。");
        }
        return false;
    }

    var _oneFlag = true;
    $(document).ready(function(){
        $('#deptree').tree({
            onSelect:function(node){
                // 点击树文字展开、关闭树节点
                if ($(this).tree('getSelected').state=='closed') {
                    $(this).tree('expand',node.target);
                }
            },
            onLoadSuccess:function(node, data){
                $(this).tree('expandAll');
            }
        });
    });
</script>
<style>
div[ms-controller]{
    display:none;
}
body {
padding:0px;
margin:0px;
height:450px;
width:348px;
border:0px;
overflow-y:hidden;
}
</style>
#end