##<style type="text/css">
##<!--
##.datagrid-cell,
##.datagrid-cell-group,
##.datagrid-header-rownumber,
##.datagrid-cell-rownumber {
##  line-height: 30px;
##}
##-->
##</style>

#set($bodyattr="class='easyui-layout' style='border:0px;width:890px;height:550px;margin-left:5px;margin-right:5px;margin-top:5px; padding:0 5px 3px 0; '")
<div data-options="region:'north'" collapsible="false" border="false">
    <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0" style="margin:0px">
        <tr>
            <td class="bg-grey" width="100px" align="right">
                下一环节
            </td>
            <td class="bg-white">
                 #foreach($data in $nodes)
                    ##如果只有一个环节，自动选中
                     <label class="myselect-task"><input type="radio" name="taskKey" class="easyui-validatebox" #if($!{nodes.size()} == 1) checked #end data-options="required:true" value="$data.id"/>$data.nodeName</label>
                 #end
            </td>
        </tr>
    </table>
</div>
<div class="cc-tableWrap" data-options="region:'west',split:true,collapsible:false" style="width:280px;">
    <div style="padding:5px 5px;">
        <ul id="menutree" data-options="url:'$link.getContextURL()/select/Dep/treeLazyDep.json',method:'get',fit:true,lines:true"></ul>
    </div>
</div>
<div class="cc-tableWrap" data-options="region:'center',border:true,collapsible:false">
    <form id="queryForm">
       <table class="tb2 default-table" id="tb" style="width:100%;">
            <tr>
                <th style="width:80px;"  align="right">姓名：</th>
                <td align="left">
                    <input name="$qc.equal('department.id')" id="department" type="hidden"/>
                    <input name="$qc.like('userName')" id="userName" class="easyui-textbox" type="text"/>
                    <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="formSearch()"></a>
                </td>
            </tr>
        </table>
    </form>
    <table id="peopleTable" style="width:100%;height:100%;"
               data-options="border:false,pageList:[10],pageSize:10,toolbar:'#queryForm',fitColumns:true,rownumbers:true, singleSelect: #if($single) true #else false #end,pagination:true,collapsible:false,url:'$link.getContextURL()/select/selectMansByDep.json'">
            <thead>
            <tr>
                #if(!$single)<th field="ck" data-options="checkbox:true"></th>#end
                <th data-options="field:'userName',width:100">姓名</th>
                <th data-options="field:'depName',width:200">所属部门</th>
            </tr>
            </thead>
        </table>
    </table>
</div>
<div class="cc-tableWrap" data-options="region:'east',split:true,collapsible:false" border="false" style="width:180px;">
    <div class="easyui-layout" fit="true">
        <div region='center'>
            <table id="peopleSelect" fit="true"
                   data-options="fitColumns:true,rownumbers:false,idField:'id',toolbar:'#toolbar2',border:false,singleSelect:true">
                <thead>
                <tr>
                    <th data-options="field:'userName',width:250,autoRowHeight:false,formatter:operaterFormatter" style="line-height:30px;">已选人员</th>
                </tr>
                </thead>
            </table>
            <div class="cc-operateColum" id="delButton" style="height: auto; padding: 5px 0px 5px 5px;">
                    <a href='javascript:;' class="easyui-linkbutton delete-button l-btn-plain-remove" plain="true" iconCls="icon-remove" onclick="delMan(getRowIdByDom(this))" style="float: right;"></a>
            </div>
        </div>
        <div region='south'  collapsible="false" style="height:50%;">
            <table id="hisSelectMen" data-options="fitColumns:true,url:'$link.getContextURL()/doc/event/historyIncepter.json?flowId=$!flowId'" fit="true" border="false">
                <thead>
                <tr>
                    <th field="ck" data-options="checkbox:true"></th>
                    <th field="id" hidden="true"></th>
                    <th data-options="field:'userName',width:250">历史选择人员</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
    <div class="bottom-but-dialog">
        <ul>
            <li><a id="saveTemp" onclick="doselect()" class="new-but">选择</a></li>
            <li><a id="back" onclick="doclose()" class="new-but">取消</a></li>
        </ul>
    </div>
</div>
#@script()
<script src="$link.getContextURL()/lib/avalon/avalon.js"></script>
<script>

$(document).ready(function() {
    if (top.setSelectDialogFrameDialogTitle) {
        top.setSelectDialogFrameDialogTitle("选择下一环节");
    }
});

    // 清除所有已选人员
    function clearAllSelect() {
        var rows =  $('#peopleSelect').datagrid('getRows');
        for (var i=rows.length-1;i>=0;i--) {
            $('#peopleSelect').datagrid('deleteRow', i);
        }
    }

    // 全选当前页
    function selectAll() {
        // 要添加的数据
        var rows = $('#peopleTable').datagrid('getRows');
        if (rows != null && rows.length > 0) {
            for (var i=0;i<rows.length;i++) {
                var obj = {
                            id       : rows[i].id,
                            userName : rows[i].userName,
                          };
                // 已有的数据
                var selectRows = $('#peopleSelect').datagrid('getRows');
                var repeatFlag = false;
                if (selectRows != null && selectRows.length > 0) {
                    for(var j = 0;j < selectRows.length;j++){
                        if (obj.id == selectRows[j].id) {
                            repeatFlag = true;
                            break;
                        }
                    }

                    if (repeatFlag) {
                        continue;
                    }
                }
                $('#peopleSelect').datagrid('appendRow', obj);
            }
        }
    }

    // 获取row的index
    function getRowIdByDom(dom){

        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }

    // 删除已选人员
    function delMan(index) {
        $('#peopleSelect').datagrid('deleteRow', index);
        var rows =  $('#peopleSelect').datagrid('getRows');
        $('#peopleSelect').datagrid('loadData',rows);
    }

    // 搜索
    function formSearch() {
        $('#department').val('');
        var f = $("#queryForm").serializeArray();
        var obj ={};
        for(var i = 0;i< f.length;i++){
            obj[f[i].name] = f[i].value;
        }
        $('#peopleTable').datagrid('reload',obj);
        $('#menutree').find('.tree-node-selected').removeClass('tree-node-selected'); ##取消树选中
        return false;
    }

    function formSearchDept() {
        var f = $("#queryForm").serializeArray();
        var obj ={};
        for(var i = 0;i< f.length;i++){
            obj[f[i].name] = f[i].value;
        }
        $('#peopleTable').datagrid('reload',obj);
        return false;
    }

    // 重置
    function reset(){
##        var _qf = $("#queryForm");
##        _qf.form("clear");
##        $(".easyui-combobox",_qf).each(function(){
##            $(this).combobox("select"," ");
##        });
        // 只清除 userName
        $("#userName").textbox('setValue', '');
    }

    // 关闭
    function doclose() {
        if (top.closeSelectDialogFrameDialog) {
            top.closeSelectDialogFrameDialog();
        }
        return false;
    }

    //选择
    function doselect() {
        var node = $("input[name='taskKey']:checked")
        if(node.length<=0){
            $.messager.alert('提示','请选择下一环节！','info');
            return false;
        }
        var value = {};
        value.nextNode = node.val();
        value.userIds = "";

        var rows =  $('#peopleSelect').datagrid('getRows');
        if(!rows || rows.length<=0){
            $.messager.alert('提示','请选择人员！','info');
            return false;
        }
        for(var i =0;i<rows.length;i++){
            if(i<rows.length-1){
                value.userIds += rows[i].id +",";
            }else{
                value.userIds += rows[i].id;
            }

        }
        top.okSelectDialogFrameDialog(value);
        return false;
    }



    var _isCheckFlag = false;
    var _oneFlag = true;
    $(document).ready(function(){

        // 回车事件
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                  formSearch();
             }
        }

        $('#menutree').tree({
            // 绑定部门树单击节点事件
            onSelect:function(node){
                // 点击树文字展开树节点
                if ($(this).tree('getSelected').state=='closed') {
                    $(this).tree('expand',node.target);
                }
                $("#userName").textbox('setValue', '');
                $('#department').val(node.id);
                formSearchDept();
            },
            onLoadSuccess:function(node, data){
                if (_oneFlag) {  // 只在根节点生效
                    var rootNode = $(this).tree('find', data[0].id);
                    _oneFlag = false;
                    $(this).tree('expandAll', rootNode.target);
                }
##                $(this).tree('expandAll');
            }
        });

        $("#hisSelectMen").datagrid({
            onCheck:function(rowIndex,rowData){
                var obj = {
                            id       : rowData.id,
                            userName : rowData.userName
                          };

                var rows = $('#peopleSelect').datagrid('getRows');
                // 去重
                if (rows != null && rows.length > 0) {
                    for(var i = 0;i< rows.length;i++){
                        if (obj.id == rows[i].id) {
                            return ;
                        }
                    }
                }
                $('#peopleSelect').datagrid('appendRow', obj);
            },
            onUncheck:function(rowIndex,rowData){
                var peopleRows = $('#peopleSelect').datagrid('getRows');
                for(var i = 0; i < peopleRows.length; i++) {
                    if (peopleRows[i].id == rowData.id) {
                        $('#peopleSelect').datagrid('deleteRow', i);
                        break;
                    }
                }
            },
            onCheckAll:function(rows){
                var selectRows = $('#peopleSelect').datagrid('getRows');
                for(var i = 0; i < rows.length; i++) {
                    var obj = {
                            id       : rows[i].id,
                            userName : rows[i].userName
                          };
                    if (selectRows != null && selectRows.length > 0) {
                        var containFlag = false;
                        for(var j = 0; j < selectRows.length; j++) {
                           if (obj.id == selectRows[j].id) {
                               containFlag = true;
                               break;
                           }
                        }
                        if (containFlag) {
                           continue;
                        }
                    }
                    $('#peopleSelect').datagrid('appendRow', obj);
                }
            },
            onUncheckAll:function(rows){
                var peopleRows = $('#peopleSelect').datagrid('getRows');
                for(var i = 0; i < rows.length; i++) {
                    for(var j = peopleRows.length-1; j >= 0; j--) {
                       if (rows[i].id == peopleRows[j].id) {
                           $('#peopleSelect').datagrid('deleteRow', j);
                           break;
                       }
                    }
                }
            }
        });

        $('#peopleTable').datagrid({
            #if($single)
            // 单选
            onClickRow:function(rowIndex,rowData){
                var obj = {
                    id       : rowData.id,
                    userName : rowData.userName
                };
                var rows = $('#peopleSelect').datagrid('getRows');
                if (rows != null && rows.length > 0) {
                    for(var i = rows.length - 1;i >= 0;i--){
                        // 单选，删除已选择的人
                         $('#peopleSelect').datagrid('deleteRow', i);
                    }
                }
                $('#peopleSelect').datagrid('appendRow', obj);
            },
            #else
            // 多选
            // datagrid点击行事件
            onCheck:function(rowIndex,rowData){
                var obj = {
                            id       : rowData.id,
                            userName : rowData.userName
                          };

                var rows = $('#peopleSelect').datagrid('getRows');
                // 去重
                if (rows != null && rows.length > 0) {
                    for(var i = 0;i< rows.length;i++){
                        if (obj.id == rows[i].id) {
                            return ;
                        }
                    }
                }
                $('#peopleSelect').datagrid('appendRow', obj);
            },
            onUncheck:function(rowIndex,rowData){
                var peopleRows = $('#peopleSelect').datagrid('getRows');
                for(var i = 0; i < peopleRows.length; i++) {
                    if (peopleRows[i].id == rowData.id) {
                        $('#peopleSelect').datagrid('deleteRow', i);
                        break;
                    }
                }
            },
            onCheckAll:function(rows){
                var selectRows = $('#peopleSelect').datagrid('getRows');
                for(var i = 0; i < rows.length; i++) {
                    var obj = {
                            id       : rows[i].id,
                            userName : rows[i].userName
                          };
                    if (selectRows != null && selectRows.length > 0) {
                        var containFlag = false;
                        for(var j = 0; j < selectRows.length; j++) {
                           if (obj.id == selectRows[j].id) {
                               containFlag = true;
                               break;
                           }
                        }
                        if (containFlag) {
                           continue;
                        }
                    }
                    $('#peopleSelect').datagrid('appendRow', obj);
                }
            },
            onUncheckAll:function(rows){
                var peopleRows = $('#peopleSelect').datagrid('getRows');
                for(var i = 0; i < rows.length; i++) {
                    for(var j = peopleRows.length-1; j >= 0; j--) {
                       if (rows[i].id == peopleRows[j].id) {
                           $('#peopleSelect').datagrid('deleteRow', j);
                           break;
                       }
                    }
                }
            }
            #end
        });

        $('#peopleSelect').datagrid({
            url: "$link.getContextURL()/select/getUsers.json "
        });
    });

    function operaterFormatter(value,row,index){
        return '<span class="value-span">' + value + '</span>' + $('#delButton').html();
    }
</script>
<style>
div[ms-controller]{
    display:none;
}

.myselect-task {
    padding: 5px;
    background-color: #94DC8B;
    border: #20A74A solid 1px;
    border-style: dotted;
    display: block;
    float: left;
    margin: 5px;
    min-width:120px;
    color:#313131;
}
</style>
#end