<style type="text/css">
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  line-height: 30px;
}
</style>


#set($bodyattr="class='easyui-layout' style='border:0px;#if($single)width:610px #else width:800px #end;height:480px;margin-left:5px;margin-right:5px;margin-top:5px; padding:0 5px 3px 0;'")
##<div style="padding:0px 0px;width:650px;height:410px;">
    <div id="tb">
    <div>
    <form id="queryForm">
       <table class="tb2 default-table">
            <tr>
                #parse("$query")
                <td style="width:180px">
                <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="formSerach()" title="查询车辆"></a>
##                <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-remove" onclick="reset()">重置</a>
                </td>
##                <td>
##                <div style="position: absolute;right: 12px;top: 10px;">
##                <a href="javascript:;" class="easyui-linkbutton" plain="true" iconcls="icon-ok" onclick="doselect()">确定</a>
##                <a href="javascript:;" class="easyui-linkbutton" plain="true" iconcls="icon-redo" onclick="doclose()">取消</a></div>
##                </td>
            </tr>
        </table>
    </form>
    </div>
##    <form id="dataForm">
##        <div style="background:#fff;overflow:auto;width:600px;height:45px;border:solid 1px;margin:5px auto;padding:5px;border:solid 1px rgb(149,184,231)">
##            <div ms-controller="selectedShow">
##                <div ms-repeat="selectedSet" style="display:inline">
##                    <span>[{{$val.rownumber}}]{{$val[$val.showName]}}&emsp;&emsp;</span>
##                </div>
##            </div>
##        </div>
##    </form>
    </div>
     #*
        $single :是否单选
        $showSelfRowNum=true，则显示自定义序号
    *#
    <table id="peopleTable" class="easyui-datagrid" style="width:100%;height:420px;"
               data-options="pageList:[10,20],pageSize:10,toolbar:'#tb',fitColumns:true,#if($single)singleSelect:true,#end #if(!$showSelfRowNum)rownumbers:true,#end selectOnCheck:true,pagination:true,collapsible:false,url:'$link.getContextURL()$url'">
            <thead>
            <tr>
                #if(!$single)<th data-options="field:'id',checkbox:true"></th>#end
                #parse("$tablehead")
            </tr>
            </thead>
        </table>
    </table>
</div>

<div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
    <div class="bottom-but-dialog">
        <ul>
            <li><a id="saveTemp" onclick="doselect()" class="new-but">选择</a></li>
            <li><a id="back" onclick="doclose()" class="new-but">取消</a></li>
        </ul>
    </div>
</div>
#@script()
<script src="$link.getContextURL()/lib/avalon/avalon.js"></script>
<script>
    $(document).ready(function() {
        if (top.setSelectDialogFrameDialogTitle) {
            top.setSelectDialogFrameDialogTitle("$!{selectDialogTitle}");
        }
    });

    function formSerach() {
        var f = $("#queryForm").serializeArray();
        var obj ={};
        for(var i = 0;i< f.length;i++){
            obj[f[i].name] = f[i].value;
        }
        $('#peopleTable').datagrid('reload',obj);
        return false;
    }

    function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }

    function doclose() {
        if (top.closeSelectDialogFrameDialog) {
            top.closeSelectDialogFrameDialog();
        }
        return false;
    }


    // 回车事件
    document.onkeydown = function(e){
        var ev = document.all ? window.event : e;
        if(ev.keyCode==13) {
              formSerach();
         }
    }

    //选择操作
    var vm = avalon.define({
        $id: "selectedShow",
        selectedSet:{}
    });
    var objSet={};
    $("#peopleTable").datagrid({
        rowStyler: function(index,row){
                  row.rowNum=index+1;//自定义序列号
        },
        onSelect:function(index,row){
            var opt = $('#peopleTable').datagrid('options');
            var rownumber = (opt.pageNumber - 1) * opt.pageSize + index + 1;
            var showName = "$showName";
            #if($single)
                objSet["obj"] = row;
                objSet["obj"].rownumber = rownumber;
                objSet["obj"].showName = showName;
            #else
                objSet[row["$idName"]] = row;
                objSet[row["$idName"]].index = index;
                var opt = $('#peopleTable').datagrid('options');
                objSet[row["$idName"]].rownumber = rownumber;
                objSet[row["$idName"]].showName = showName;
            #end
            vm.selectedSet=objSet;
            avalon.scan();
        },
        onSelectAll:function(rows){
            #if(!$single)
                for(var i = 0;i<rows.length;i++){
                    var opt = $('#peopleTable').datagrid('options');
                    var index = $("#peopleTable").datagrid("getRowIndex",rows[i]);
                    var rownumber = (opt.pageNumber - 1) * opt.pageSize + index + 1;
                    objSet[rows[i]["$idName"]] = rows[i];
                    objSet[rows[i]["$idName"]].index = index;
                    objSet[rows[i]["$idName"]].rownumber = rownumber;
                    objSet[rows[i]["$idName"]].showName = "$showName";
                }
            #end
            vm.selectedSet=objSet;
            avalon.scan();
        },
        onUnselectAll:function(rows){
            for(var i = 0;i<rows.length;i++){
                delete objSet[rows[i]["$idName"]];
            }
            vm.selectedSet=objSet;
            avalon.scan();
        },
        onUnselect:function(index,row){
            delete objSet[row["$idName"]];
            vm.selectedSet=objSet;
            avalon.scan();
        },
        onLoadSuccess:function(data){
            $.each(data.rows,function(i,o){
                  var sl = objSet[o["$idName"]];
                  if(sl){
                     $('#peopleTable').datagrid('selectRow',sl.index);
                  }
            });
        }
    });
    //选择
    function doselect() {
        var map = avalon.vmodels.selectedShow.selectedSet;
        var rows = [];
        for(o in map){
            regx = /^(\$|hasOwnProperty|_)/;
            if(!regx.test(o)){
                rows.push(map[o]);
            }
        }
        if (rows.length >0) {
            #if(!$single)
              top.okSelectDialogFrameDialog(rows);
            #else
              top.okSelectDialogFrameDialog(rows[0]);

            #end
        } else {
            alert("请先选择数据。");
        }
        return false;
    }
</script>
<style>
div[ms-controller]{
    display:none;
}
</style>
#end