<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                        </tr>
                        <tr align="center">
                            <td class="bg-grey" align="right" width="120px">文件标题</td>
                            <td  align="left" class="bg-white">
                                $!{esc.html($!{obj.title})}
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px">柜位号</td>
                            <td  align="left" class="bg-white">
								$!{esc.html($!{obj.counterNoName})}
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px">案卷类型</td>
                            <td  align="left" class="bg-white">
								$!{esc.html($!{obj.archTypeName})}
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px">案卷名</td>
                            <td  align="left" class="bg-white">
								$!{esc.html($!{obj.archName})}
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px">案卷号</td>
                            <td  align="left" class="bg-white">
								$!{esc.html($!{obj.archNo})}
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px">介质类型</td>
                            <td  align="left" class="bg-white">
								$!{esc.html($!{obj.mediumTypeName})}
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right">年份</td>
                            <td align="left" class="bg-white">
								$!{esc.html($!{obj.archYear})}
                            </td>
                        </tr>
						<tr align="center">
                          <td class="bg-grey" align="right">保留日期</td>
                          <td align="left" class="bg-white">
							$!{date.format('yyyy-MM-dd',$!{obj.retentionDate})}
                          </td>
                        </tr>
						<tr align="center">
                          <td class="bg-grey" align="right">立卷日期</td>
                          <td align="left" class="bg-white">
							$!{date.format('yyyy-MM-dd',$!{obj.createDate})}
                          </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right">排序号</td>
                            <td align="left" class="bg-white">
								$!{esc.html($!{obj.orderNum})}
                            </td>
                        </tr>
                        <tr align="center">
                          <td class="bg-grey" align="right">备注</td>
                          <td align="left" class="bg-white">
                            <textarea name="remark" class="easyui-validatebox textareaborder" data-options="validType:'maxLength[250]'" readonly style="width:95%;height:80px;resize:none;" >$!{esc.html($!{obj.remark})}</textarea>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
            <div class="bottom-but-dialog">
                <ul>
                    <li><a id="back" onclick="back()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        $('#editWindow').window('close');
    }
</script>
#end
