<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <input name="id" type="hidden" id="id" value="$!{obj.id}"/>
				<input type="hidden" id="total" value=""/>
				<input type="hidden" id="day" value=""/>
				<input type="hidden" id="hour" value=""/>
                <table class="table-edit">
                    ## 隐藏行  用于控制表格样式
                    <tr>
                        <td class="fix_td_title" style="width:120px;">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    #*<tr>
                        <td class="bg-grey"><span><font color=red>*</font></span>类型</td>
                        <td class="bg-white" colspan="3">
                        #formradio("deadlineType" "$!obj.deadlineType" $dict.DeadlineType "3")
                        </td>
                    </tr>*#
					<tr>
						<td class="bg-grey"><span>总限办时间</span></td>
                        <td class="bg-white">
                            <span id="totalExpireDay"></span>
                        </td>
                        <td class="bg-grey"><span>剩余时间</span></td>
                        <td class="bg-white">
        					<span id="remainingTime"></span>
                        </td>
                    </tr>
					<tr>
                        <td class="bg-grey"><span><font color=red>*</font></span>类型</td>
                        <td class="bg-white" colspan="3">
                        #formradio("documentType" "$!obj.documentType" $dict.RemoteDocSwapType "0")
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey"><span><font color=red>*</font></span>限时办结要求</td>
                        <td class="bg-white" id="deadlineType" colspan="3">
							#if("0"==$!obj.documentType || !$!obj.documentType)
							<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>
							<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>
							<label><input type="radio" class="easyui-validatebox" #if('4' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="4"/>普通一类  </label>
							<label><input type="radio" class="easyui-validatebox" #if('5' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="5"/>普通二类  </label>
							<label><input type="radio" class="easyui-validatebox" #if('6' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="6"/>普通三类  </label>
							#else
							<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>
							<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>
							<label><input type="radio" class="easyui-validatebox" #if('3' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="3"/>普通  </label>
							#end
						</td>
                    </tr>
                    <tr>
						<td class="bg-grey"><span><font color=red>*</font></span>环节</td>
                        <td class="bg-white" colspan="3">
                            <input type="text" id="nodeNames" name="nodeNames" data-options="required:true" style="width:80%" class="easyui-textbox" readonly value="$!{obj.node.nodeName}"/>
                            <input type="hidden" id="nodeId" name="nodeId" data-options="required:true"  value="$!{obj.nodeId}"/>
                            <a id="selectCurNodeDialog" href="javascript:;" iconcls="icon-search" plain="true"
                               callback=fnSelectCurNodeCallback class="easyui-linkbutton" select-single-node-dialog ></a>
                        </td>
                    </tr>
                    <tr id="dayAndHourBox">
						<td class="bg-grey"><span><font color=red>*</font></span>限办天数</td>
                        <td class="bg-white">
        					<input style="width:50px;" name="expireDay" id="expireDay" max="365" min="0" data-options="required:true" class="easyui-numberbox" value="$!{obj.expireDay}">天
                        </td>
						<td class="bg-grey"><span><font color=red>*</font></span>限办小时</td>
                        <td class="bg-white">
        					<input style="width:50px;" name="expireHour" id="expireHour" max="23" min="0" data-options="required:true" class="easyui-numberbox" value="$!{obj.expireHour}">小时
                        </td>
                    </tr>
                    <tr id="earlyWarnBox">
						<td class="bg-grey">预警天数</td>
                        <td class="bg-white">
        					<input style="width:50px;" name="earlyWarnDay" id="earlyWarnDay" max="365" min="0" class="easyui-numberbox" value="$!{obj.earlyWarnDay}">天
                        </td>
						<td class="bg-grey">预警小时</td>
                        <td class="bg-white">
        					<input style="width:50px;" name="earlyWarnHour" id="earlyWarnHour" max="23" min="0" class="easyui-numberbox" value="$!{obj.earlyWarnHour}">小时
                        </td>
					</tr>
					<tr id="minuteBox" style="display:none;">
						<td class="bg-grey"><span><font color=red>*</font></span>限办分钟</td>
                        <td class="bg-white">
        					<input style="width:50px;" name="expireMinute" id="expireMinute" max="2000" min="0" class="easyui-numberbox" value="$!{obj.expireMinute}">分钟
                        </td>
                        <td class="bg-grey">预警分钟</td>
                        <td class="bg-white">
        					<input style="width:50px;" name="earlyWarnMinute" id="earlyWarnMinute" max="2000" min="0" class="easyui-numberbox" value="$!{obj.earlyWarnMinute}">分钟
                        </td>
                    </tr>
                    <tr id="promptBox" style="display:none;">
						<td class="bg-white" colspan="4"><font style="color:red;font-size:15px">注：环节历时<span id="totalWarnDay"></span>开始预警</font></td>
					</tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="save()" class="new-but">保存</a></li>
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
	var _baseUrl = '$link.getContextURL()';
	
    $(function(){
	
		initRemoteDocSwapTypeRadio();
		initDeadlineTypeRadio();
		//类型按钮初始化效果
		if('1'=="$!obj.deadlineType"){
			$("#minuteBox").show();
			$("#dayAndHourBox").hide();
			$("#earlyWarnBox").hide();
			$('#expireDay').numberbox({   
        			required:false
            });
			$('#expireHour').numberbox({   
        			required:false
            });
			$('#expireMinute').numberbox({   
        			required:true
            });
		}else{
			$("#minuteBox").hide();
			$("#dayAndHourBox").show();
			$("#earlyWarnBox").show();
			$('#expireDay').numberbox({   
        			required:true
            });
			$('#expireHour').numberbox({   
        			required:true
            });
			$('#expireMinute').numberbox({   
        			required:false
            });
		}
		
			checkExpireDayAndRemainingTime();
    })

	
	//类型变化时改变 限时办结要求
	function initRemoteDocSwapTypeRadio(){
		$('input[name="documentType"]').on('click',function(){
					 var type = $(':radio[name="documentType"]:checked').val();
					 $("#emergencyLevel").html('');
					 var str = '';
					 if(1 == type){
        				 str += '<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>';
        				 str += '<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>';
        				 str += '<label><input type="radio" class="easyui-validatebox" #if('3' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="3"/>普通  </label>';
						 $("#deadlineType").html(str);
    					 $('input[name="deadlineType"][value=3]').click();
					 }else{
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('4' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="4"/>普通一类  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('5' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="5"/>普通二类  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('6' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="6"/>普通三类  </label>';
						 $("#deadlineType").html(str);
    					 $('input[name="deadlineType"][value=4]').click();
					 }
					 initDeadlineTypeRadio();
                });
				
	}
	
    //限时办结要求按钮切换效果
	function initDeadlineTypeRadio(){
		$(":radio[name='deadlineType']").click(function(){
			
			checkExpireDayAndRemainingTime();
			
			if("1"==$(this).val()){
				$("#minuteBox").show();
				$("#dayAndHourBox").hide();
				$("#earlyWarnBox").hide();
				$("#earlyWarnDay").numberbox("setValue","");
				$("#earlyWarnHour").numberbox("setValue","");
				$("#expireDay").numberbox("setValue","");
        	   	$('#expireDay').numberbox({   
        			required:false
                });
				$("#expireHour").numberbox("setValue","");
        	   	$('#expireHour').numberbox({   
        			required:false
                });
				$('#expireMinute').numberbox({   
        			required:true
                });
				$("#promptBox").hide();
			}else{
				$("#minuteBox").hide();
				$("#dayAndHourBox").show();
				$("#earlyWarnBox").show();
				$("#earlyWarnMinute").numberbox("setValue","");
				$("#expireMinute").numberbox("setValue","");
        	   	$('#expireMinute').numberbox({   
        			required:false
                });
        	   	$('#expireDay').numberbox({   
        			required:true
                });
        	   	$('#expireHour').numberbox({   
        			required:true
                });
			}
    	});
	}

    //返回
    function back() {
        $('#editWindow').window('close');
    }

	//保存
    function save(){
        if($("#editForm").form('validate')) {
			var documentType = $(":radio[name='documentType']:checked").val();
			var deadlineType = $(":radio[name='deadlineType']:checked").val();
			var nodeId = $("#nodeId").val();
			var id = $("#id").val();
			
			if(repeatInfoCheck(documentType,deadlineType,nodeId,id)){
				return false;
			}
			
			if(expireHourValidate()){
				return false;
			}
			
            top.CC.loading("正在保存数据!");
            $.post("$link.getContextURL()/system/nodeExpireDate/save.json",$("#editForm").serialize(),function(result){
                top.CC.loaded();
                if(result.id){
                    $('#id').val(result.id);
                    $('#dg').datagrid('reload');
                    $('#editWindow').window('close');
                    top.CC.messager({
                        title:'提示',
                        msg:'保存成功！'
                    });
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }

	//单选节点对话框
    $("a[select-single-node-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = "$link.getContextURL()/workflow/select/selectSingleNodeClassify";
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
	
	// 单选当前节点选择回调
    function fnSelectCurNodeCallback(obj){
        $('#nodeNames').textbox('setValue', obj.nodeName);
        $('#nodeId').val(obj.id);
    }

	function repeatInfoCheck(documentType,deadlineType,nodeId,id){
		var result = false;
		jQuery.ajax({
            url:"$link.getContextURL()/system/nodeExpireDate/checkRepeatInfo.json",
            data:{
                documentType: documentType,
                deadlineType: deadlineType,
				nodeId:nodeId,
				id:id
            },
            type:"post",
            async:false,
            dataType:"text",
            success:function(data) {
				if(data=="true"){
					top.CC.messager({ title:'提示',msg: "同一类型、同一限时办结要求、同一环节只能有一个限办时间设置！" });
					result = true;
				}
				
            }
        });
		
		return result;
	}
	
	//获取总限办时间
	function getTotalExpireDay(documentType,deadlineType){
		jQuery.ajax({
            url:"$link.getContextURL()/system/nodeExpireDate/getExpireDay.json",
            data:{
                documentType: documentType,
                deadlineType: deadlineType
            },
            type:"post",
            async:false,
            dataType:"text",
            success:function(data) {
				if(data>0){
					$("#totalExpireDay").html(data + "天");
				}else{
					$("#totalExpireDay").html("无");
				}
				
            }
        });
		
	}
	
	//获取剩余时间
	function getRemainingTime(documentType,deadlineType){
		var id = "$!{obj.id}";
		jQuery.ajax({
            url:"$link.getContextURL()/system/nodeExpireDate/getRemainingTime.json",
            data:{
                documentType: documentType,
                deadlineType: deadlineType,
				id:id
            },
            type:"post",
            async:false,
            dataType:"text",
            success:function(data) {
				if(data!='-1'){
    				if("1" == deadlineType){
    					$("#remainingTime").html(data + "分钟");
    					//设置限时分钟的最大值
    					$("#expireMinute").numberbox({
                            max:parseInt(data)
                        });
    				}else{
    					var day = Math.floor(data / 24);
                        var hour = Math.round(data - day * 24);
    					$("#remainingTime").html(day + "天" + hour + "小时");
    					//设置限时天数的最大值
    					$("#expireDay").numberbox({
                            max:parseInt(day)
                        });
    					$("#day").val(day);
    					$("#hour").val(hour);
    				}
				}else{
					$("#remainingTime").html("无");
				}
            }
        });
		
	}
	
	//根据类型和限办要求获取总限办时间和剩余时间
	function checkExpireDayAndRemainingTime(){
		var documentType = $(":radio[name='documentType']:checked").val();
		var deadlineType = $(":radio[name='deadlineType']:checked").val();
		getTotalExpireDay(documentType,deadlineType);
		getRemainingTime(documentType,deadlineType);
	}
	
	//限办小时验证大小
	function expireHourValidate(){
		var result = false;
		var expireDay = $("#expireDay").numberbox("getValue");
		var expireHour = $("#expireHour").numberbox("getValue");
		var day = $("#day").val();
		var hour = $("#hour").val();
		if(expireDay == day){
			if(expireHour>hour){
				$("#expireHour").numberbox("setValue","");
				top.CC.messager({ title:'提示',msg: "限办时间设置不能大于剩余时间！" });
					result = true;
			}
		}
		return result;
	}
	
	$(document).ready(function() {
	
		if('1'=="$!obj.deadlineType"){
			if($.trim("$!obj.earlyWarnMinute") != ""){
				$("#promptBox").show();
				var minute = "$!obj.expireMinute" - "$!obj.earlyWarnMinute";
				$("#totalWarnDay").html(minute + "分钟");
			}
		}else{
			if($.trim("$!obj.earlyWarnHour") != "" || $.trim("$!obj.earlyWarnDay") != ""){
				$("#promptBox").show();
				if($.trim("$!obj.earlyWarnHour") != "" && $.trim("$!obj.earlyWarnDay") != ""){
					var day = "$!obj.expireDay" - "$!obj.earlyWarnDay";
					var hour = "$!obj.expireHour" - "$!obj.earlyWarnHour";
					$("#totalWarnDay").html(day + "天" + hour + "时");
				}else if($.trim("$!obj.earlyWarnHour") != "" || $.trim("$!obj.earlyWarnDay") == ""){
					var day = "$!obj.expireDay";
					var hour = "$!obj.expireHour" - "$!obj.earlyWarnHour";
					$("#totalWarnDay").html(day + "天" + hour + "时");
				}else if($.trim("$!obj.earlyWarnDay") != "" || $.trim("$!obj.earlyWarnHour") == ""){
					var day = "$!obj.expireDay" - "$!obj.earlyWarnDay";
					var hour = "$!obj.expireHour";
					$("#totalWarnDay").html(day + "天" + hour + "时");
				}else if($.trim("$!obj.earlyWarnDay") == "" && $.trim("$!obj.earlyWarnHour") == ""){
					$("#promptBox").hide();
				}
			}
		}
		
		$('#earlyWarnMinute').numberbox({
      		onChange: function (newValue, oldValue) {
				var expireMinute = $("#expireMinute").numberbox("getValue");
				var warnMinute = $("#earlyWarnMinute").numberbox("getValue");
				if($.trim(expireMinute) != "" && expireMinute>=warnMinute){
					$("#promptBox").show();
					var minute = expireMinute-warnMinute;
					$("#totalWarnDay").html(minute + "分钟");
				}else if(expireMinute<warnMinute){
					$("#earlyWarnMinute").numberbox("setValue","");
					$("#expireMinute").numberbox("setValue","");
					$("#promptBox").hide();
					top.CC.messager({ title:'提示',msg: "预警时间设置不能大于限办时间！" });
				}else{
					$("#promptBox").hide();
				}
	  		}
    	});
		
		$('#expireMinute').numberbox({
      		onChange: function (newValue, oldValue) {
				var expireMinute = $("#expireMinute").numberbox("getValue");
				var warnMinute = $("#earlyWarnMinute").numberbox("getValue");
				if($.trim(warnMinute) != "" && expireMinute>=warnMinute){
					$("#promptBox").show();
					var minute = expireMinute-warnMinute;
					$("#totalWarnDay").html(minute + "分钟");
				}else if(expireMinute<warnMinute){
					$("#earlyWarnMinute").numberbox("setValue","");
					$("#expireMinute").numberbox("setValue","");
					$("#promptBox").hide();
					top.CC.messager({ title:'提示',msg: "预警时间设置不能大于限办时间！" });
				}else{
					$("#promptBox").hide();
				}
	  		}
    	});
		
		$('#earlyWarnDay').numberbox({
      		onChange: function (newValue, oldValue) {
				var expireDay = $("#expireDay").numberbox("getValue");
				var earlyWarnDay = $("#earlyWarnDay").numberbox("getValue");
				var expireHour = $("#expireHour").numberbox("getValue");
				var earlyWarnHour = $("#earlyWarnHour").numberbox("getValue");
				if($.trim(expireDay) != "" && expireDay>=earlyWarnDay){
					$("#promptBox").show();
					var day = expireDay-earlyWarnDay;
					var hour = expireHour-earlyWarnHour;
					$("#totalWarnDay").html(day + "天" + hour + "时");
				}else if(expireDay<earlyWarnDay){
					$("#earlyWarnDay").numberbox("setValue","");
					$("#expireDay").numberbox("setValue","");
					$("#promptBox").hide();
					top.CC.messager({ title:'提示',msg: "预警时间设置不能大于限办时间！" });
				}
	  		}
    	});
		
		$('#expireDay').numberbox({
      		onChange: function (newValue, oldValue) {
				var expireDay = $("#expireDay").numberbox("getValue");
				var earlyWarnDay = $("#earlyWarnDay").numberbox("getValue");
				var expireHour = $("#expireHour").numberbox("getValue");
				var earlyWarnHour = $("#earlyWarnHour").numberbox("getValue");
				if($.trim(earlyWarnDay) != "" && expireDay>=earlyWarnDay){
					$("#promptBox").show();
					var day = expireDay-earlyWarnDay;
					var hour = expireHour-earlyWarnHour;
					$("#totalWarnDay").html(day + "天" + hour + "时");
				}else if(expireDay<earlyWarnDay){
					$("#earlyWarnDay").numberbox("setValue","");
					$("#expireDay").numberbox("setValue","");
					$("#promptBox").hide();
					top.CC.messager({ title:'提示',msg: "预警时间设置不能大于限办时间！" });
				}
	  		}
    	});
		
		$('#earlyWarnHour').numberbox({
      		onChange: function (newValue, oldValue) {
				var expireDay = $("#expireDay").numberbox("getValue");
				var earlyWarnDay = $("#earlyWarnDay").numberbox("getValue");
				var expireHour = $("#expireHour").numberbox("getValue");
				var earlyWarnHour = $("#earlyWarnHour").numberbox("getValue");
				if($.trim(expireHour) != "" && expireHour>=earlyWarnHour){
					$("#promptBox").show();
					var day = expireDay-earlyWarnDay;
					var hour = expireHour-earlyWarnHour;
					$("#totalWarnDay").html(day + "天" + hour + "时");
				}else if(expireHour<earlyWarnHour){
					$("#earlyWarnHour").numberbox("setValue","");
					$("#expireHour").numberbox("setValue","");
					$("#promptBox").hide();
					top.CC.messager({ title:'提示',msg: "预警时间设置不能大于限办时间！" });
				}
	  		}
    	});
		
		$('#expireHour').numberbox({
      		onChange: function (newValue, oldValue) {
				var expireDay = $("#expireDay").numberbox("getValue");
				var earlyWarnDay = $("#earlyWarnDay").numberbox("getValue");
				var expireHour = $("#expireHour").numberbox("getValue");
				var earlyWarnHour = $("#earlyWarnHour").numberbox("getValue");
				if($.trim(earlyWarnHour) != "" && expireHour>=earlyWarnHour){
					$("#promptBox").show();
					var day = expireDay-earlyWarnDay;
					var hour = expireHour-earlyWarnHour;
					$("#totalWarnDay").html(day + "天" + hour + "时");
				}else if(expireHour<earlyWarnHour){
					$("#earlyWarnHour").numberbox("setValue","");
					$("#expireHour").numberbox("setValue","");
					$("#promptBox").hide();
					top.CC.messager({ title:'提示',msg: "预警时间设置不能大于限办时间！" });
				}
	  		}
    	});
	});
</script>
#end
