<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <input name="id" type="hidden" id="id" value="$!{obj.id}"/>
                <table class="table-edit">
                    ## 隐藏行  用于控制表格样式
                    <tr>
                        <td class="fix_td_title" style="width:120px;"></td>
                        <td class="fix_td_data">  </td>
                    </tr>
                    <tr>
                        <td class="bg-grey"><span><font color=red>*</font></span>类型</td>
                        <td class="bg-white">
                        #formradio("documentType" "$!obj.documentType" $dict.RemoteDocSwapType "0")
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey"><span><font color=red>*</font></span>限时办结要求</td>
                        <td class="bg-white" id="deadlineType">
							#if("0"==$!obj.documentType || !$!obj.documentType)
							<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>
							<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>
							<label><input type="radio" class="easyui-validatebox" #if('4' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="4"/>普通一类  </label>
							<label><input type="radio" class="easyui-validatebox" #if('5' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="5"/>普通二类  </label>
							<label><input type="radio" class="easyui-validatebox" #if('6' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="6"/>普通三类  </label>
							#else
							<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>
							<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>
							<label><input type="radio" class="easyui-validatebox" #if('3' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="3"/>普通  </label>
							#end
						</td>
                    </tr>
                    <tr id="dayAndHourBox">
						<td class="bg-grey"><span><font color=red>*</font></span>限办天数</td>
                        <td class="bg-white">
        					<input style="width:50px;" name="expireDay" id="expireDay" max="365" min="1" data-options="required:true" class="easyui-numberbox" value="$!{obj.expireDay}">天
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="save()" class="new-but">保存</a></li>
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';

    $(function(){
	
		initRemoteDocSwapTypeRadio();
    })

	//类型变化时改变 限时办结要求
	function initRemoteDocSwapTypeRadio(){
		$('input[name="documentType"]').on('click',function(){
					 var type = $(':radio[name="documentType"]:checked').val();
					 $("#emergencyLevel").html('');
					 var str = '';
					 if(1 == type){
        				 str += '<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>';
        				 str += '<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>';
        				 str += '<label><input type="radio" class="easyui-validatebox" #if('3' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="3"/>普通  </label>';
						 $("#deadlineType").html(str);
    					 $('input[name="deadlineType"][value=3]').click();
					 }else{
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('1' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="1"/>特急  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('2' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="2"/>急件  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('4' == $!{obj.deadlineType} || !$!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="4"/>普通一类  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('5' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="5"/>普通二类  </label>';
    					 str += '<label><input type="radio" class="easyui-validatebox" #if('6' == $!{obj.deadlineType}) checked #end data-options="required:true" name="deadlineType" value="6"/>普通三类  </label>';
						 $("#deadlineType").html(str);
    					 $('input[name="deadlineType"][value=4]').click();
					 }
					 
                });
				
	}
	

    //返回
    function back() {
        $('#editWindow').window('close');
    }

	//保存
    function save(){
        if($("#editForm").form('validate')) {
			var deadlineType = $(":radio[name='deadlineType']:checked").val();
			var documentType = $(":radio[name='documentType']:checked").val();
			var id = $("#id").val();
			
			if(repeatInfoCheck(deadlineType,documentType,id)){
				return false;
			}
			
            top.CC.loading("正在保存数据!");
            $.post("$link.getContextURL()/system/deadLineType/save.json",$("#editForm").serialize(),function(result){
                top.CC.loaded();
                if(result.id){
                    $('#id').val(result.id);
                    $('#dg').datagrid('reload');
                    $('#editWindow').window('close');
                    top.CC.messager({
                        title:'提示',
                        msg:'保存成功！'
                    });
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }

	function repeatInfoCheck(deadlineType,documentType,id){
		var result = false;
		jQuery.ajax({
            url:"$link.getContextURL()/system/deadLineType/checkRepeatInfo.json",
            data:{
                deadlineType: deadlineType,
				documentType:documentType,
				id:id
            },
            type:"post",
            async:false,
            dataType:"text",
            success:function(data) {
				if(data=="true"){
					top.CC.messager({ title:'提示',msg: "同一类型、同一限时办结要求只能有一个设置！" });
					result = true;
				}
				
            }
        });
		
		return result;
	}
</script>
#end
