<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                      <td class="fix_td_title">&nbsp;</td>
                      <td class="fix_td_data">&nbsp;</td>
                      <td class="fix_td_title">&nbsp;</td>
                      <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right">标题</td>
                      <td class="bg-white" colSpan="3" align="left">
                        $!{esc.html($!{notice.title})}
                      </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right">发布范围</td>
                      <td class="bg-white" align="left">
                        #if('0' == $!{notice.publishType.key}) 单位公告 #end
                        #if('1' == $!{notice.publishType.key}) 部门公告 #end
                      </td>
                      <td class="bg-grey" align="right">显示方式</td>
                      <td class="bg-white" align="left">
                        #if('0' == $!{notice.displayType.key}) 普通 #end
                        #if('1' == $!{notice.displayType.key}) 置顶 #end
                      </td>
                    </tr>
##                    <tr align="center">
##                      <td class="bg-grey" align="right">起草人</td>
##                      <td class="bg-white" align="left">
##                        #if($!{createName}) $!{createName} #else $!{currUser.userName} #end
##                      </td>
##                      <td class="bg-grey" align="right">发布部门</td>
##                      <td class="bg-white" align="left">
##                        #if($notice && $notice.publishDept) $lookup.sysdepartment[$!{notice.publishDept.Id}].deptName #end
##                      </td>
##                    </tr>
                    <tr align="center">
                        <td class="bg-grey" align="right">内容</td>
                        <td class="bg-white" colSpan="3"  valign="top"  >
                        <textarea class="ckeditor" id="noticeContent" readonly name="noticeContent" cols="" style="resize:none;width:99%;">$!{esc.html($!{notice.content})}</textarea>
                        <script>
                            CKEDITOR.on('instanceReady', function(ev) {
                                ev.editor.setReadOnly(true);
                            });
                        </script>
                        </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right">录入时间</td>
                      <td class="bg-white" align="left">
                        $!date.format('yyyy-MM-dd HH:mm', $!notice.createDate)
                      </td>
                      <td class="bg-grey" align="right">发布时间</td>
                      <td class="bg-white" align="left">
                        $!date.format('yyyy-MM-dd HH:mm', $!notice.publishDate)
                      </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right">附件</td>
                      <td class="bg-white" colSpan="3" align="left" attachId="$!{attach.attachId}">
                        #formfilemulty("attach", "", "", "", $!{attachMap.get("$notice.id")},"#defaultDownloadUrl('sysattach')", false, "#defaultUploadUrl('sysattach')",false)
                      </td>
                    </tr>
                </table>
           </form>
        </div>
        <div data-options="region:'south'"  class="bottom-h" height="52px">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
<style>.cke_top{display:none !important;}</style>