<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="bg-grey">标题</td>
                      <td class="bg-white" colspan="3">
                        $!{esc.html($!{news.title})}
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">发布范围</td>
                      <td class="bg-white">
                        $!{news.publishType.value}
                      </td>
                      <td class="bg-grey">显示方式</td>
                      <td class="bg-white">
                        $!{news.displayType.value}
                      </td>
                    </tr>
                    <tr id="publishDepTr">
                      <td class="bg-grey">部门</td>
                      <td class="bg-white" colspan="3">
                        $!{esc.html($!{news.publishDept.deptName})}
                      </td>
                    </tr>
					<tr>
						<td class="bg-grey">新闻类型</td>
                        <td class="bg-white">
							$!{news.newsType.value}
                        </td>
						<td class="bg-grey">作者</td>
                        <td class="bg-white">
							$!{esc.html($!{news.author})}
                        </td>
                    <tr>
                    <tr>
                        <td class="bg-grey">内容</td>
                        <td colSpan="3" class="bg-white"  valign="top"  >
                            <textarea class="ckeditor" id="newsContent" readonly name="newsContent" cols="" style="resize:none;width:99%;">$!{news.content}</textarea>
                            <script>
                                CKEDITOR.on('instanceReady', function(ev) {
                                    ev.editor.setReadOnly(true);
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">录入时间</td>
                      <td class="bg-white">
                        $!date.format('yyyy-MM-dd HH:mm',$!{news.createDate})
                      </td>
                      <td class="bg-grey">发布时间</td>
                      <td class="bg-white"  class="bg-white" >
                        $!date.format('yyyy-MM-dd HH:mm',$!{news.publishDate})
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">附件</td>
                      <td colSpan="3" class="bg-white" attachId="$!{news.id}">
                        #formfilemulty("attach", "", "", "", $!{attachMap.get("$news.id")},"#defaultDownloadUrl('newsattach')", false, "#defaultUploadUrl('newsattach')", false)
                      </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){
        CKEDITOR.replace('newsContent', { height: '310px'});
    })


    //返回
    function back() {
        top.CC.addTab({title:'新闻管理',url:'$link.getContextURL()/oa/news/list'});
        top.CC.closeTab('新闻编辑');
    }
     
</script>
##<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
##<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
<style>.cke_top{display:none !important;}</style>
