<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tr align="center">
                      <td class="bg-grey" align="right" width="120"><span><font color=red>*</font></span>模版名称</td>
                      <td class="bg-white" align="left">
                        <input name="id" type="hidden" id="id" value="$!{temp.id}"/>
                        <input id="deptId" name="deptId" type="hidden" value="$!{temp.deptId}"/>
                        <input id = "templateName" style="width:99%;" name="templateName" data-options="required:true,validType:'maxLength[45]'" class="easyui-textbox" value="$!{esc.html($!{temp.templateName})}"/>
                      </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right">模版附件</td>
                      <td  class="bg-white" align="left" attachId="$!{temp.id}">
                        #formsendfilemulty("attach", "", "", "", $!{attachMap.get("$temp.id")},"#defaultDownloadUrl('sysattach')", true, "#defaultUploadUrl('sysattach')",true)
					  </td>
				 
                    </tr>
                   <tr align="center">
                      <td class="bg-grey" align="right" width="120">备注</td>
                      <td  align="left" class="bg-white">
                         <textarea id="remark" name="remark" cols=""  class="easyui-validatebox textareaborder" data-options="validType:'maxLength[90]'" style="resize:none;width:99%;height:60px;">$!{esc.html($!{temp.remark})}</textarea>
                      </td>
                  </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'"  class="bottom-h" height="52px">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="save()" class="new-but">保存</a></li>
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){
        $("#templateName").textbox("textbox").focus();
    })

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.addTab({title:'发文模板',url:'$link.getContextURL()/doc/template/list'});
        top.CC.closeTab('发文模板编辑');
    }



    //保存
    function save(){
        if($("#editForm").form('validate')) {
           var svalue=$("#attach").val();
           if(typeof(svalue) == "undefined"||svalue==""){
                top.CC.messager({
                        title:'提示',
                        msg:'请上传一个模板附件！'
                    });
                return;
           }else{
              var s= svalue.split(",");//以逗号作为分隔字符串
              if(s.length>1){
                   top.CC.messager({
                        title:'提示',
                        msg:'只能上传一个模板！'
                    });
                    return;
                }

           }

            top.CC.loading("保存中，请稍后...");
            $.post("$link.getContextURL()/doc/template/save.json",$("#editForm").serialize(),function(result){
                  top.CC.loaded();
                  if(result.id){
                    $('#id').val(result.id);
                        top.CC.addTab({title:'发文模板',url:'$link.getContextURL()/doc/template/list'});
                        top.CC.closeTab('发文模板编辑');
                        top.CC.messager({
                            title:'提示',
                            msg:'保存成功！'
                        });
                  }else{
                    top.CC.loaded();
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
        }
    }


</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
