<div>
        <form id="dateConfigForm">
            <input type="hidden" name="selfFesDateList" value='$!{selfFesDateList}' id="self-fes-date">
            <input type="hidden" name="selfWorkDateList" value='$!{selfWorkDateList}' id="self-work-date">
        </form>
        <table cellpadding="0" cellspacing="8" border="0" style="width: 100%">
            <tbody>
            <tr>
                <td align="center" colspan="4">
                                节假日设置<span style="color:red;">(ie 兼容模式下不可用)</span>
                    <span style="font-size: 10px;">(周一至周五是否放假,周末是否加班)</span>
                </td>
            </tr>
            </tbody>
        </table>
    <div style="auto-kal" id="kal-fes">

    </div>
</div>
	<form id="workDateForm" method="post">
        <input type="hidden" id="festivalDateJson" name="festivalDateJson" value=""/>
        <input type="hidden" id="extraDateJson" name="extraDateJson" value=""/>
    </form>
#@script()
<script type="text/javascript" src="lib/kalendae/kalendae.standalone.js"></script>
<script type="text/javascript" src="lib/json_parse.js"></script>
<link href="lib/kalendae/kalendae.css" rel="stylesheet" type="text/css">
<script>
    //节假日
    var kal_fes;
    //加班日
    var kal_work;
    var _dateFmt = 'YYYY-MM-DD';
    var clsMap = {};
    var clkYearMap = {};
    $(function () {
        var curDate = new Date();
        var curYear = curDate.getFullYear();
        //选中的日期列表
        var selectedDate=[];
        var selfFesDateList = json_parse($("#self-fes-date").val());
        var selfWorkDateList = json_parse($("#self-work-date").val());
        //修改周末选中样式
        if (selfWorkDateList && selfWorkDateList.length > 0) {
            for (var i = 0; i < selfWorkDateList.length; i++) {
                clsMap[selfWorkDateList[i]] = 'week-selected';
            }
            selectedDate = selectedDate.concat(selfWorkDateList);
        }
        if (selfFesDateList && selfFesDateList.length >0) {
            selectedDate = selectedDate.concat(selfFesDateList);
        }
        if(selectedDate.length==0){
            selectedDate = null;
        }
        kal_fes = new Kalendae({
            attachTo: 'kal-fes',
            weekStart: 1,
            viewStartDate: curYear + '-01-01',
            format: _dateFmt,
            titleFormat: 'YYYY , MMMM',
            months: 12,
            mode: 'multiple',//多选
            dateClassMap: clsMap,
            selected: selectedDate
        });
        //选中日期之前
        kal_fes.subscribe('date-clicked', function (pickDate) {
            var weekDay = pickDate.format('dd');
            if (curYear > pickDate.format('YYYY')) {
				top.CC.messager({
                        title:'提示',
                        msg:'请选择大于' + curYear + '年的数据。'
                    });
                return false;
            }
        });
        //选中日期之后
        kal_fes.subscribe('change', function (pickDate) {
            var weekDay = pickDate.format('dd');
            clkYearMap[pickDate.format('YYYY')]=[];
            if (weekDay == '日' || weekDay == '六') {
                if (kal_fes.isSelected(pickDate)) {
                    clsMap[pickDate.format(_dateFmt)] = 'week-selected';
                } else {
                    clsMap[pickDate.format(_dateFmt)] = '';
                }
            }
        });
        kal_fes.subscribe('view-changed', function (date) {
        });
    });
	
	
	//保存数据
    function saveSelectedWorkDate() {
        //选中的放假日期列表
        var fesMap=copyKey(clkYearMap);
        //选中的加班日期列表
        var workMap = copyKey(clkYearMap);
        var selectedDate=kal_fes.getSelectedAsDates();
        for(var i=0;i<selectedDate.length;i++){
            var _day = selectedDate[i].getDay();
            var _dateFmt = formatDate(selectedDate[i]);
            if(_day == 0 || _day == 6){
                //周末
                var _workList = workMap[selectedDate[i].getFullYear()]||[];
                _workList.push(_dateFmt);
                workMap[selectedDate[i].getFullYear()]=_workList;
            }else{
                //周一至周五
                var _fesList = fesMap[selectedDate[i].getFullYear()]||[];
                _fesList.push(_dateFmt);
                fesMap[selectedDate[i].getFullYear()]=_fesList;
            }
        }
        var festivalDateJson = JSON.stringify(fesMap);
        var extraDateJson = JSON.stringify(workMap);
		$("#festivalDateJson").val(festivalDateJson);
		$("#extraDateJson").val(extraDateJson);
		
		top.CC.loading("正在保存数据!");
        $.post("$link.getContextURL()/remotedocswap/statistic/saveSelfWorkDate.json",$("#workDateForm").serialize(),function(result){
            top.CC.loaded();
            if(result.id){
                top.CC.messager({
                    title:'提示',
                    msg:result.success
                });
                $('#dg').datagrid('reload');
            }else{
                top.CC.messager({
                    title:'提示',
                    msg:result.error
                });
            }
        });
    }

    function formatDate(date) {
        //一月从0开始
        var mm = date.getMonth() + 1;
        var dd = date.getDate();

        return [date.getFullYear(),
            (mm>9 ? '' : '0') + mm,
            (dd>9 ? '' : '0') + dd
        ].join('-');
    };

    function copyKey(obj){
        var result={};
        for(var key in obj){
            result[key]=[];
        }
        return result;
    }
</script>
#end