<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a  onclick="formSerach();"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">刷新数据</a>
        <a  onclick="reloadWorkDay();"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">重新获取工作日</a>
    </div>
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg" data-options="nowrap:false" style="width:99%;">
            <thead>
            <tr>
				<th style="width:33%" data-options="field:'fromDate'">日期（从）</th>
                <th style="width:20%" data-options="field:'workDays'">天数</th>
				<th style="width:33%" data-options="field:'toDate'">日期（到）</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
#parse("doc/remotedocswap/crud.js.vm")
#@script()
<script type="text/javascript">

	var _baseUrl = '$link.getContextURL()/remotedocswap/statistic';
    var _listJsonUrl = '/listWorkDay.json';

    $(function () {
		var _datagrid = $("#dg");
		
		//初始化datagrid
        _datagrid.datagrid({
            loadFilter: datagridHtmlEncode, // 防js注入
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:false, //不可换行
            rownumbers:true,//行号
            singleSelect:true,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:50,//每页记录数
            pageList:[50,100],//可选每页记录数
            url:_baseUrl + (_listJsonUrl || '/list.json')//获取数据的url

        });
    })
    
	//刷新数据
    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }
	 
	//重新获取工作日
    function reloadWorkDay(){
        top.CC.loading("正在获取数据!");
        $.post("$link.getContextURL()/remotedocswap/statistic/getReloadWorkDay.json",'',function(result){
            top.CC.loaded();
            if(result.id){
                top.CC.messager({
                    title:'提示',
                    msg:result.success
                });
                $('#dg').datagrid('reload');
            }else{
                top.CC.messager({
                    title:'提示',
                    msg:result.error
                });
            }
        });
    }
</script>
#end
