<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" >
        <div id="docTab" class="easyui-tabs tabs-trapezoid" fit="true" border="false">
			<div title="工作日数据">
    			 #parse("doc/remotedocswap/statistic/config/workDayList.vm")
				 #set($isSave = true)
        	</div>
            <div title="工作日配置">
				#parse("doc/remotedocswap/statistic/config/configWorkDate.vm")
				#set($isSave = false)
            </div>
        </div>
    </div>
	<div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
			<li id="isSave"><a onclick="saveSelectedWorkDate()" class="new-but">保存</a></li>
			<li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
	</div>
</div>

 
#@script()
<script type="text/javascript">
    $('#docTab').tabs({
    onSelect:function(title){
		if("工作日配置"==title){
			$("#isSave").show();
		}else{
			$("#isSave").hide();
		}
    }
});
</script>
 
#end
