<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/pubaffairs/car.css"/>
<div id="receiveContainers">
	<div class="receive_table">
		<table cellspacing="0" cellpadding="0" >
			<tr>
				<th colspan="2">用车存根</th>
				<th colspan="4">广西-东盟食品药品安全检验检测中心派车单</th>
			</tr>
			<tr class="noPadding">
				<td style="width:100px">申请时间：</td>
        		<td style="width: 227px;vertical-align: middle;" class="wordLT"><span>$date.format('yyyy年MM月dd日',$!{obj.createDate})</span></td>
        		<td style="width:100px">申请时间：</td>
        		<td style="width: 227px;vertical-align: middle;" class="wordLT"><span>$date.format('yyyy年MM月dd日',$!{obj.createDate})</span></td>
        		<td colspan="2" style="width:48px">$!{esc.html($!{obj.week})}</td>
			</tr>
			<tr class="noPadding">
        		<td style="width:100px">申请人：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.creatorName})}</span></td>
        		<td style="width:100px">申请部门：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.deptName})}</span></td>
        		<td style="width:100px">申请人：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.creatorName})}</span></td>
			</tr>
			<tr class="noPadding">
        		<td style="width:100px">用车时间：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$date.format('yyyy年MM月dd日mm分',$!{obj.beginTime})</span></td>
        		<td colspan="1" style="width:100px">用车时间：</td>
        		<td colspan="3" class="wordLT" style="vertical-align: middle;"><span>$date.format('yyyy年MM月dd日HH时mm分',$!{obj.beginTime}) 至 $date.format('yyyy年MM月dd日HH时mm分',$!{obj.endTime})</span></td>
			</tr>
			<tr class="noPadding">
        		<td style="width:100px">用车理由：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.reason})}</span></td>
        		<td colspan="1" style="width:100px">用车理由：</td>
        		<td colspan="3" class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.reason})}</span></td>
			</tr>
			<tr class="noPadding">
        		<td style="width:100px">到达地点：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.rentalPlace})}</span></td>
        		<td colspan="1" style="width:100px">地点：</td>
        		<td colspan="3" class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.rentalPlace})}</span></td>
			</tr>
			<tr class="noPadding">
        		<td style="width:100px">车号：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.carNumber})}</span></td>
        		<td style="width:161px">办公室派遣车号：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.carNumber})}</span></td>
        		<td style="width:100px">司机：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.driver})}</span></td>
			</tr>
			<tr class="noPadding">
        		<td style="width:100px">司机：</td>
        		<td class="wordLT" style="vertical-align: middle;"><span>$!{esc.html($!{obj.driver})}</span></td>
        		<td colspan="1" style="width:100px">办公室领导：</td>
        		<td colspan="3" class="wordLT" style="vertical-align: middle;">
					<span>
						#foreach($data in $opinionList)
    						#if("$!data.curNode.nodeName" == "办公室领导审批")
    							<span>$!{esc.html($!{data.apprOpinion})}</span>
    							<ul class="span_content_date">
    								<li><span>$!{data.approver.userName}</span></li>
    								<li><span>$!date.format('yyyy年MM月dd日',$!{data.apprTime})</span></li>
    							</ul>
    							<div style="clear:both"></div>
    						#end
    					#end
					</span>
				</td>
			</tr>
			<tr class="noPadding">
        		<td style="width:100px">审批领导：</td>
        		<td class="wordLT" style="vertical-align: middle;">
					<span>
						#foreach($data in $opinionList)
    						#if("$!data.curNode.nodeName" == "科室审核")
    							<span>$!{esc.html($!{data.apprOpinion})}</span>
    							<ul class="span_content_date">
    								<li><span>$!{data.approver.userName}</span></li>
    								<li><span>$!date.format('yyyy年MM月dd日',$!{data.apprTime})</span></li>
    							</ul>
    							<div style="clear:both"></div>
    						#end
    					#end
					</span>
				</td>
        		<td colspan="1" style="width:100px">审批领导：</td>
        		<td colspan="3" class="wordLT" style="vertical-align: middle;">
					<span>
						#foreach($data in $opinionList)
    						#if("$!data.curNode.nodeName" == "科室审核")
    							<span>$!{esc.html($!{data.apprOpinion})}</span>
    							<ul class="span_content_date">
    								<li><span>$!{data.approver.userName}</span></li>
    								<li><span>$!date.format('yyyy年MM月dd日',$!{data.apprTime})</span></li>
    							</ul>
    							<div style="clear:both"></div>
    						#end
    					#end
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>
