<div class="easyui-layout" fit="true">
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:0;">
        <form id = "editForm"  method = "post">
            <input type = "hidden" name = "archId" value="$!{archId}" />
        </form>
        <form id="queryFormBorrow">
           <table class="tb2 default-table" id="tb" style="width:100%;">
                <tr>
                    <th align="center">借阅人</th>
                    <td align="left">
                        <input name="$qc.like('borrowUserName')" id="borrowUserName" class="easyui-textbox" type="text" style="width:80%;"/>
                    </td>
                    <th align="center">经办人</th>
                    <td align="left">
                        <input name="$qc.like('handleUserName')" id="handleUserName" class="easyui-textbox" type="text" style="width:80%;"/>
                    </td>
					<th align="center">档案状态</th>
                    <td align="left">
                        <select name="$qc.equal('archStatus')" id="archStatus" class="easyui-combobox" data-options="required:true,editable:false" panelheight="auto" style="width:70%;">
							#formoption("$!{obj.archStatus}" $dict.BorrowStatus)
                        </select>
                        
                    </td>
					<th align="center">借阅时间</th>
                    <td align="left">
						<input style="width:100px;" name="$qc.greaterThanOrEqualTo('borrowDate')" class="easyui-datebox" value="$!{firstDay}" data-options="editable:false">
							至
						<input style="width:100px;" name="$qc.lessThanOrEqualTo('borrowDate')" class="easyui-datebox" value="$!{lastDay}" data-options="editable:false">
                    </td>
					<th align="center">归还时间</th>
                    <td align="left">
						<input style="width:100px;" name="$qc.greaterThanOrEqualTo('returnDate')" class="easyui-datebox" value="$!{firstDay}" data-options="editable:false">
							至
						<input style="width:100px;" name="$qc.lessThanOrEqualTo('returnDate')" class="easyui-datebox" value="$!{lastDay}" data-options="editable:false">
						<a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="formSearch()" title="查询"></a>
                    </td>
                </tr>
            </table>
        </form>
        <table id="tg-select" data-options="nowrap:false" style="width:99%;"  >
            <thead>
            <tr>
                <th style="width:10%" data-options="field:'borrowUserName'">借阅人</th>
                <th style="width:10%" data-options="field:'handleUserName'">经办人</th>
                <th style="width:11%" data-options="field:'borrowDateShow',sortable:true">借阅时间</th>
				<th style="width:11%" data-options="field:'returnDateShow',sortable:true">归还时间</th>
				<th style="width:8%" data-options="field:'archStatus'">档案状态</th>
                <th style="width:34%" data-options="field:'borrowReason'">借阅原因</th>
                <th style="width:14%" data-options="field:'createTimeShow',sortable:true">操作时间</th>
            </tr>
            </thead>
        </table>
        </table>
    </div>
    <div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
    <div class="bottom-but-dialog">
        <ul>
            <li><a id="close" onclick="doClose()" class="new-but">关闭</a></li>
        </ul>
    </div>
</div>
</div>
#@script()
<script type="text/javascript">

    $(document).ready(function(){
        $("#tg-select").datagrid({
            loadFilter: datagridHtmlEncode,
            fitColumns:false,//列宽自适应
            fit:true,//自适应
            nowrap:false, //不可换行
            rownumbers:true,//行号
            singleSelect:true,//单选
            toolbar:'#queryFormBorrow',//工具条
            pagination:true,//显示分页工具条
            pageSize:10,//每页记录数
            pageList:[10,20],//可选每页记录数
            url:'$link.getContextURL()/doc/archives/selectBorrowArch.json?archId=$!{archId}'//获取数据的url
            ##url:'$link.getContextURL()/doc/archives/selectArch.json'//获取数据的url
        });
     });

    function doClose(){
        $('#detailBorrowWindow').window('close');
    }

    function formSearch() {
        var f = $("#queryFormBorrow").serializeArray();
        var obj ={};
        for(var i = 0;i< f.length;i++){
            obj[f[i].name] = f[i].value;
        }
        $('#tg-select').datagrid('reload',obj);

    }

    function reset(){
        var _qf = $("#queryFormBorrow");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
</script>
#end