<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>标题</td>
  <td class="bg-white" colspan="3">
    <input style="width:99%;" id="title"  name="title" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{esc.html($!{obj.title})}" />
  </td>
</tr>
<input type="hidden" name="flowId" id="flowId" value="$!{obj.flowId}"/>
<tr>
  <td class="bg-grey" ><span><font color=red>*</font></span>来文单位</td>
  <td class="bg-white" colspan="3">
    <input style="width:90%;" id="sendUnit" name="sendUnit" data-options="required:true,validType:'maxLength[100]'" class="easyui-textbox" value="$!{obj.sendUnit}"/>
  </td>
</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>请示事项</td>
  <td colSpan="3" class="bg-white">
    <textarea class="textareaborder easyui-validatebox" data-options="required:true,validType:'maxLength[1000]'" id="suggestion" name="suggestion" maxLength="240" cols="" style="resize:none;width:98%;height:30px;">$!{obj.suggestion}</textarea>
  </td>
</tr>
<tr>
  <td class="bg-grey">备注</td>
  <td colSpan="3" class="bg-white">
    <textarea class="textareaborder" id="remark" name="remark" maxLength="240" cols="" style="resize:none;width:98%;height:30px;">$!{obj.remark}</textarea>
  </td>
</tr>



#if("$!newOperate"=="1" || "$!obj.status"=="0")

<tr>
  <td colSpan="4" class="bg-white" style="text-align:center">报送信息</td>
  <input name="feedBackFlag" value="true" type="hidden"/>
</tr>
<tr>
  <td class="bg-grey">类型</td>
  <td colSpan="3" class="bg-white">
		#formradio("documentType" "$!obj.documentType" $dict.RemoteDocSwapType "0")
  </td>
</tr>
<tr>
  <td class="bg-grey">密级</td>
  <td class="bg-white">
	非涉密
  </td>
  <td class="bg-grey">紧急程度</td>
  <td class="bg-white">
	<input type="hidden" name="emergencyLevel" id="eme_lv" value="3">
    <input style="width:99%;" id="emergencyLevelName" name="emergencyLevel" editable="false" class="easyui-textbox" value="无"/>
  </td>
</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>来文单位简称</td>
  <td class="bg-white">
  #formradio("printOrgAbb" "$!obj.unitSimple" $dict.SendUnitSimpleName "区内来文" "" "" "style='color:red;'")
  </td>
  <td class="bg-grey"><span><font color=red>*</font></span>印发日期</td>
  <td class="bg-white">
  <input id="printDate" name="printDate" class="easyui-datebox" #if(${obj.id}) value="$!{obj.printDate}" #else value="$!{date.get('yyyy-MM-dd')}" #end data-options="required:true,editable:false" />
  </td>
</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>联系人</td>
  <td class="bg-white">
  <input style="width:99%;" id="typist"  name="typist" data-options="required:true,validType:'maxLength[20]'" class="easyui-textbox" value="$!{esc.html($!{obj.typist})}" />
  </td>
  <td class="bg-grey"><span><font color=red>*</font></span>联系电话</td>
  <td class="bg-white">
  <input style="width:99%;" id="telephone"  name="telephone" data-options="required:true,validType:'maxLength[50]'" class="easyui-textbox" value="$!{esc.html($!{obj.telephone})}" />
  </td>
</tr>

#end


<tr>
  <td class="bg-grey">附件</td>
  <td colspan="3" class="bg-white">
        ##附件id
      <input id="attach" name="attach" type="hidden" value=""/>
      <div class="filelistmulti" id="file-list-c">
          <a class="easyui-linkbutton btn-file-up" icon="icon-add" plain="true" select-type="otherFile" uploadurl="#defaultUploadUrl('interequestattach')" swfurl="$!{link.getContextPath()}/js/Moxie.swf">
              添加附件
          </a>
          <div id="other-file-c">

          </div>
      </div>
  </td>
</tr>


#@script()
<script type="text/javascript">
	$(function(){
		
    })
	
</script>
#end