<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/doc/receivefile.css"/>
<div id="receiveContainer">
  <table cellspacing="0" cellpadding="0" class="content">
    <tbody>
      <tr>
        <th class="title" style="font-family: '华文中宋'!important;">$!{obj.createrDept.deptName}文件处理笺</th>
      </tr>
      <tr>
        <td><table width="100%" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td class="title4" >
                ## 收文号：<span> $!{esc.html($!{obj.fileCode})}</span>
              </td>
              <td ></td>
              <td class="title4" style="text-align:right;">
                <span>
                  #if(${obj.receiveDate})$date.format('yyyy',$!{obj.receiveDate})#end&nbsp;<font color="red" class="title4">年</font>
                  #if(${obj.receiveDate})$date.format('MM',$!{obj.receiveDate})#end&nbsp;<font color="red" class="title4">月</font>
                  #if(${obj.receiveDate})$date.format('dd',$!{obj.receiveDate})#end&nbsp;<font color="red" class="title4">日</font>
                </span>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      ## <tr class="row3" style="height:60px;">
      ##   <td class="row_border"><table width="100%" height="100%;" cellspacing="0" cellpadding="0">
      ##       <tbody>
      ##         <tr">
      ##           <td valign="top" class="title2" >来文单位：
      ##            <span>$!{esc.html($!{obj.sendUnit})}</span>
      ##           </td>
      ##           <td class="title2 row_leftborder" style="width:20px;text-align:center;">密级</td>
      ##           <td class="row_leftborder" style="width:60px;text-align:center;"><span>$!{obj.dense.value}</span></td>
      ##           <td class="title2 row_leftborder" style="width:20px;text-align:center;">份数</td>
      ##           <td class="row_leftborder" style="width:60px;text-align:center;"><span>$!{obj.copies}</span></td>
      ##         </tr>
      ##       </tbody>
      ##     </table></td>
      ## </tr>
      <tr class="row3" style="height:60px;">
        <td valign="top" class="row_border" ><table width="100%" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td valign="top" class="title2">文件名称：
               <span>$!{esc.html($!{obj.title})}</span>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr class="row3" style="height:150px;">
        <td valign="top" class="row_no_topborder"><table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style="height: 20px;" class="title2">拟办意见：<br/>
                ##拟办意见只显示最后一个
                  #foreach($data in $op_nibans)
                    #if("$!{data.apprOpinion}"!="")
                    <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center;">
                      <li><span>$!{data.approver.userName}</span></li>
                      <li>
                        <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
                      </li>
                    </ul>
                    <div style="clear:both"></div>
                    #end
                  #end
                </td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr class="row3" style="height:150px;">
        <td valign="top" class="row_no_topborder">
            <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style="height: 20px;" class="title2">分管领导批示:<br/>
                  #foreach($data in $op_deputyLeader)
                    <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center;">
                      <li><span>$!{data.approver.userName}</span></li>
                      <li>
                        <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
                      </li>
                    </ul>
                    <div style="clear:both"></div>
                  #end
                </td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr class="row5">
        <td valign="top" class="row_no_topborder" style="height:150px">
            <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style="height: 20px;" class="title2">领导批示:<br/>
                   #foreach($data in $op_leaderRead)
                    <span>$!{esc.html($!{data.apprOpinion})}</span>
                     <ul style="float:right; padding:5px 0; text-align:center;">
                      <li><span>$!{data.approver.userName}</span></li>
                      <li>
                        <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
                      </li>
                    </ul>
                    <div style="clear:both"></div>
                  #end
                </td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr class="row3" style="height:150px;">
        <td valign="top" class="row_no_border_topOrRight row_no_topborder"><table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style="height: 20px;" class="title2">处理结果：<br/>
                  #foreach($data in $op_results)
                    <span>$!{esc.html($!{data.apprOpinion})}</span>
                     <ul style="float:right; padding:5px 0; text-align:center;">
                      <li><span>$!{data.approver.userName}</span></li>
                      <li>
                        <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
                      </li>
                    </ul>
                    <div style="clear:both"></div>
                  #end
                  #foreach($data in $op_backs)
                    <span>【退回】&nbsp;$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:15px 0; text-align:center;">
                      <li><span>$!{data.approver.userName}</span></li>
                      <li>
                        <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
                      </li>
                    </ul>
                    <div style="clear:both"></div>
                  #end
                </td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr class="row3" style="height:120px;">
        <td valign="top" class="row_no_border_topOrRight row_no_topborder"><table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style="height: 20px;" class="title2">部门意见：<br/>
                </td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr class="row3" style="height:120px;">
        <td valign="top" class="row_no_border_topOrRight row_no_topborder"><table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style="height: 20px;" class="title2">备注：<br/>
                  <span>$!{esc.html($!{obj.remark})}</span>
                </td>
              </tr>
            </tbody>
          </table></td>
      </tr>
    </tbody>
  </table>
  </table>

</div>
