@charset "utf-8";
/* CSS Document */

#receiveContainers li {list-style-type:none;}
#receiveContainers .leave_table {width: 1050px; text-align: center; margin:0 auto}
#receiveContainers .leave_table table {width: 100%; border-collapse: collapse;}
#receiveContainers .leave_table table tr th {font-size: 28px;font-weight: bold;color: #000;height: 60px;line-height: 60px;padding-top: 10px;font-family: '宋体'!important;}
#receiveContainers .leave_table table tr {height: 50px;}
#receiveContainers .leave_table table td {border: 1px solid black;padding: 8px 4px;color: #000;font-size: 20px;font-family: '仿宋'!important;}
#receiveContainers .leave_table table td span{font-size: 17px;}
#receiveContainers .leave_table table .wordLT {text-align: left;vertical-align: top;font-weight: normal;font-size: 17px;font-family: none;color: #000;}
#receiveContainers .leave_table table .noPadding td {padding-top: 0;padding-bottom: 0;}
#receiveContainers .leave_table table .span_opinion {float:left;border: 0;color: #000;font-size: 20px;font-family: '仿宋'!important; padding-top: 5px;padding-left: 5px;}
#receiveContainers .leave_table table .span_content {float:left;border: 0;color: #000;font-size: 17px;padding-top: 5px;padding-left: 5px;}
#receiveContainers .leave_table table .span_content_date {float:right;margin-right: 10px;list-style:none;}

