<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <input id="creatorId" name="creatorId" type="hidden" #if($camera) value="$!{camera.creatorId}" #else value="$!{currUser.id}" #end/>
                <input name="id" type="hidden" id="id" value="$!{camera.id}"/>
                <input id="status" name="status" type="hidden" value="$!{camera.status}"/>
                <table class="table-edit" title="视频编辑">
                    ## 隐藏行  用于控制表格样式
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="bg-grey"><span><font color=red>*</font></span>标题</td>
                      <td class="bg-white" colspan="3">
                        <input style="width:100%;" id="title" name="title" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{esc.html($!{camera.title})}"/>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey"><span><font color=red>*</font></span>发布范围</td>
                      <td class="bg-white">
                        <label><input type="radio" class="easyui-validatebox" checked #if('0' == $!{camera.publishType.key}) checked #end data-options="required:true" name="publishType" value="0"/>单位&nbsp;</label>
                        <label><input type="radio" class="easyui-validatebox" #if('1' == $!{camera.publishType.key}) checked #end data-options="required:true" name="publishType" value="1"/>部门</label>
                      </td>
                      <td class="bg-grey"><span><font color=red>*</font></span>显示方式</td>
                      <td class="bg-white">
                        <label><input type="radio" name="displayType" value="0" checked #if('0' == $!{camera.displayType.key}) checked #end/>普通&nbsp;</label>
                        <label><input type="radio" name="displayType" value="1" #if('1' == $!{camera.displayType.key}) checked #end/>置顶</label>
                      </td>
                    </tr>
                    <tr id="publishDepTr">
                      <td class="bg-grey"><span><font color=red>*</font></span>接收部门</td>
                      <td class="bg-white" colspan="3">
						<input id="publishDepId" name="publishDepId" type="hidden" #if('' == "$!{camera.publishDept.id}") value="$!{currUser.department.id}" #else value="$!{camera.publishDept.id}" #end />
                        <input id="department" name="department" data-options="required:true" style="width:300px;" class="easyui-textbox" readonly #if('' == "$!{camera.publishDept.deptName}") value="$!{esc.html($!{currUser.department.deptName})}" #else value="$!{esc.html($!{camera.publishDept.deptName})}" #end />
                        <a id="selectDepDialog" href="javascript:;" iconcls="icon-search" plain="true"
                            callback=fnSelectDepCallback class="easyui-linkbutton" select-dialog="$link.getContextURL()/select/Dep/selectDepTree"></a>
                      </td>
                    </tr>
					<tr>
						<td class="bg-grey"><span><font color=red>*</font></span>视频类型</td>
                        <td class="bg-white">
                            #formradio("cameraType" "$!{camera.cameraType}" $dict.CameraType "0")
                        </td>
						<td class="bg-grey"><span><font color=red>*</font></span>作者</td>
                        <td class="bg-white">
                            <input style="width:99%;" name="author" class="easyui-textbox" data-options="required:true" value="$!{esc.html($!{camera.author})}"/>
                        </td>
					</tr>
                    <tr>
                        <td class="bg-grey">备注</td>
                        <td colSpan="3" class="bg-white"  valign="top"  >
							<textarea name="content" class="easyui-validatebox textareaborder" data-options="validType:'maxLength[500]'" style="width:99%;height:40px;resize:none;" >$!{esc.html($!{camera.content})}</textarea>
						</td>
                    </tr>
                    <tr>
                      <td class="bg-grey">录入时间</td>
                      <td class="bg-white">
                        <input id="createDate" name="createDate" type="hidden" value="$!{camera.createDate}"/>
                        #if ($camera)
                        $!date.format('yyyy-MM-dd HH:mm',$!camera.createDate)
                        #else
                        $!date.format('yyyy-MM-dd HH:mm',$!createTime)
                        #end
                      </td>
                      <td class="bg-grey">发布时间</td>
                      <td class="bg-white"  class="bg-white" >
                        <input id="publishDate" name="publishDate" type="hidden" value="$!{camera.publishDate}"/>
                        $!date.format('yyyy-MM-dd HH:mm',$!camera.publishDate)
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">视频上传</td>
                      <td colSpan="3" class="bg-white" attachId="$!{camera.id}">
                        #formcamerafilemulty("attach", "", "", "", $!{attachMap.get("$camera.id")},"#defaultDownloadUrl('cameraattach')", true, "#defaultUploadUrl('cameraattach')",true)
                      </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    #if($power.checkShowMenu("视频暂存","/oa/camera/saveTemp.json"))<li><a onclick="saveTemp()" class="new-but">暂存</a></li>#end
                    #if($power.checkShowMenu("视频发布","/oa/camera/save.json"))<li><a onclick="publish()" class="new-but">发布</a></li>#end
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){


        #if('1' != $!{camera.publishType.key})
        $("#publishDepTr").hide();
        #end

        $('#department').textbox('disableValidation');

        // 绑定发布范围的选择
        $(':radio[name="publishType"]').on('change', function (e) {
            var chkVal = $(':radio[name="publishType"]:checked').val();
            if (chkVal == "0") {// 单位视频
                $("#publishDepTr").hide();
                $('#department').textbox('disableValidation');
                //$('#department').textbox('setValue', '');
                //$('#publishDepId').val('');
            } else if (chkVal == "1") {// 部门视频
                $("#publishDepTr").show();
                $('#department').textbox('enableValidation');
            }
        });
    })

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.addTab({title:'视频管理',url:'$link.getContextURL()/oa/camera/list'});
        top.CC.closeTab('视频编辑');
    }

    function publish(){
        if($("#editForm").form('validate')) {
            top.CC.loading("正在保存数据!");
            $.post("$link.getContextURL()/oa/camera/save.json",$("#editForm").serialize(),function(result){
                top.CC.loaded();
                if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'发布成功！'
                    });
                    top.CC.addTab({title:'视频管理',url:'$link.getContextURL()/oa/camera/list'});
                    top.CC.closeTab('视频编辑');
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }

    //暂存
    function saveTemp(){
        if($("#editForm").form('validate')) {
            top.CC.loading("正在保存数据!");
            $.post("$link.getContextURL()/oa/camera/saveTemp.json",$("#editForm").serialize(),function(result){
                top.CC.loaded();
                if(result.id != ""){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'暂存成功！'
                    });
                      back();
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function fnSelectDepCallback(obj){
        $("#department").textbox('setValue',obj.text);
        $("#publishDepId").val(obj.id);
    }
</script>
##<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
##<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
