<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/doc/sendfile.css"/>
<div id="sendContainer" class="wrapper">
    <div class="header">
        <ul>
            <li>
                <label>密级和期限 : </label>
                <span>$!{esc.html($!{obj.dense.value})}</span>
            </li>
            <li style="float: right;">
                <label>办理时限要求: </label>
                <span>$!date.format(' yyyy年MM月dd日止', $!{obj.expiryDate})</span>
            </li>
            <li style="float: none;">
                <label>紧 急 程 度:</label>
                <span>$!{obj.urgencyLevel.value}</span>
            </li>
        </ul>
    </div>
    <div class="h1">广西食品药品监督管理局文件</div>
    <div class="orNum">
        <span class="text-two">$!{esc.html($!{obj.docCode})}</span>&nbsp(
        <input class="text-the" checked="checked" disabled="disabled" type="checkbox" name="">不编号) 
    </div>
    <div class="issue minH">
        <div class="left">
            <label>签发:</label>
            <p>
              #foreach($data in $op_issues)
                $!{esc.html($!{data.apprOpinion})}
                [$!{data.approver.userName} &nbsp;&nbsp; $!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})]
              #end
			</p>
            <div class="line"></div>
        </div>
        
        <div class="right">
            <label>会签:</label>
            <p>
              #foreach($data in $depLetterReceivers)
                #if("${data.status}"=="1")未签收#elseif("$!{data.status}"=="2")已签收#else$!{esc.html($!{data.content})}#end
                [$!{data.receiverDept.deptName} &nbsp; #if("${data.status}"=="3")$!date.format('yyyy-MM-dd HH:mm',$!{data.reversionDate})#end]<br>
              #end
			</p>
        </div>
    </div>
    <div class="issue examine">
        <div class="left">
            <label>会办审核:</label>
            <p>
			</p>
            <div class="line"></div>
        </div>
        <div class="right">
            <label>法律审核:</label>
            <p style="border-bottom:1px solid #FF0000;">&nbsp;</p>
            <label>密级审核:</label>
            <p style="min-height:20px;">&nbsp;</p>
        </div>
    </div>
    <div class="issue office">
        <div class="left">
            <label>办公室审核:</label>
            <p>
          #foreach($data in $op_director)
            $!{esc.html($!{data.apprOpinion})}
            [$!{data.approver.userName} &nbsp;&nbsp;  $!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})]
          #end
			</p>
            <div class="line"></div>
        </div>
        <div class="right">
            <label>公文形式:</label>
            <div><input type="checkbox" name="official-form" checked="checked" disabled="disabled">党组文件
                <input type="checkbox" name="official-form" disabled="disabled">党组函
                <input type="checkbox" name="official-form" disabled="disabled">局文件
                <input type="checkbox" name="official-form" disabled="disabled">局函
                <input type="checkbox" name="official-form" disabled="disabled">公告
                <input type="checkbox" name="official-form" disabled="disabled">通告
                <input type="checkbox" name="official-form" disabled="disabled">纪要
                <input type="checkbox" name="official-form" disabled="disabled">办公室文件
                <input type="checkbox" name="official-form" disabled="disabled">办公室函
            </div>
        </div>
    </div>
    <div class="issue minH">
        <div class="left">
            <label>主办单位和拟稿人:</label>
            <p>
              $!{esc.html($!{obj.createInfo})}
              &nbsp;&nbsp; $!date.format('yyyy-MM-dd HH:mm',$!{obj.createDate})
			</p>
            <div class="line"></div>
        </div>
        <div class="right">
            <label>处室领导审核:</label>
            <p>测试</p>
        </div>
    </div>
    <div class="issue file-title">
        <div class="left">
            <label>文件标题:</label>
            <p>$!{esc.html($!{obj.title})}</p>
        </div>
    </div>
    <div class="issue file-title">
        <div class="left">
            <label>主送:</label>
            <p>$!{esc.html($!{obj.mainSend})}</p>
        </div>
    </div>
    <div class="issue file-title send">
        <div class="left">
            <label>分送:</label>
            <p>$!{esc.html($!{obj.reportSend})}</p>
        </div>
    </div>
    <div class="issue file-title send">
        <div class="left">
            <label>抄送:</label>
            <p>$!{esc.html($!{obj.copySend})}</p>
        </div>
    </div>
    <div class="issue file-title public-attr">
        <div class="left">
            <label>公开属性: </label>
            <input type="checkbox" name="official-form" #if("$!{obj.openFlag}"=="1")checked="checked"#end disabled="disabled">公开
            <input type="checkbox" name="official-form" #if("$!{obj.openFlag}"=="2")checked="checked"#end disabled="disabled">依申请公开
            <input type="checkbox" name="official-form" #if("$!{obj.openFlag}"=="3")checked="checked"#end disabled="disabled">不公开
        </div>
    </div>
    <div class="footer">
        <p>纸质文件印刷份数：<span>$!{obj.copies}</span>份</p>
    </div>
</div>
	
	
  


##    <td class="title2">分管领导<br/>审&nbsp;&nbsp;&nbsp;核<br>意&nbsp;&nbsp;&nbsp;见</td>
##      #foreach($data in $op_branchLeader)
##        <span>$!{esc.html($!{data.apprOpinion})}</span>
##          <li><span>$!{data.approver.userName}</span></li>
##            <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
##      #end
##    </td>
	  
##    <td class="title2">核&nbsp;&nbsp;&nbsp;稿</td>
##      #if( ${msNode} )
##        <span>$!{msNode.dealer.department.unitDept.deptName}：$!{msNode.dealer.userName}</span>
##        <span>$!date.format('yyyy-MM-dd HH:mm',$!{msNode.dealTime})</span>
##      #end
##    </td>

##    <td class="title2">备&nbsp;&nbsp;&nbsp;注</td>
##      #if("$!{esc.html($!{obj.remark})}"!="")
##      <span>$!{esc.html($!{obj.remark})}</span><br/>
##      #end
##      #foreach($data in $op_backs)
##        <span>【退回】&nbsp;$!{esc.html($!{data.apprOpinion})}</span>
##        <ul style="float:right; padding:15px 0; text-align:center;">
##          <li><span>$!{data.approver.userName}</span></li>
##          <li>
##            <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
##          </li>
##        </ul>
##        <div style="clear:both"></div>
##      #end
##    </td>

