##<tr>
##  <td class="bg-grey">拟稿信息</td>
##  <td class="bg-white" colspan="3">
##    <textarea class="textareaborder" id="createInfo" name="createInfo" style="resize:none;width:99%;height:50px;">#if(!${obj.id})#if($!{user.currentUser.department.unitId})$!{lookup.sysdepartment[$!{user.currentUser.department.unitId}].deptName}：#end $!{user.currentUserName}#else$!{esc.html($!{obj.createInfo})}#end</textarea>
##  </td>
##</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>类型</td>
  <td class="bg-white">
		#formradio("documentType" "$!obj.documentType" $dict.RemoteDocSwapType "0")
  </td>
  <td class="bg-grey"><span><font color=red>*</font></span>密级</td>
  <td class="bg-white" >
    #formradio("dense" "$!obj.dense" $dict.DenseType "3")
  </td>
</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>公文形式</td>
  <td class="bg-white" colspan="3">
    #formradio("docCate" "$!obj.docCate" $dict.DocCate "1")
  </td>
</tr>

<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>公文标题</td>
  <td class="bg-white" colspan="3">
    <input style="width:100%;" id="title" name="title" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{obj.title}"/>
  </td>
</tr>
<tr>
   #*<td class="bg-grey"><span><font color=red>*</font></span>选择流程</td>
   <td class="bg-white">
	#if($!{obj.status} == "0")
    <select name="flowId" id="flowId" class="easyui-combobox" data-options="editable:false,validType:{selectValid:' '}" panelheight="auto" style="width:170px;">
      <option value="">&nbsp;</option>
    #foreach($flow in $flowList)
      <option value="$flow.id" #if("$flow.id"=="$!obj.flowId") selected #end>$flow.flowName</option>
    #end
    </select>
	#elseif($!{curNode} && $!{curNode.flow})
	<input type="hidden" name="flowId" id="flowId" value="$!{curNode.flowId}">
	$!{curNode.flow.flowName}
	#end
  </td>
  *#
  <input type="hidden" name="flowId" id="flowId" value="$!{obj.flowId}"/>
  <td class="bg-grey">紧急程度</td>
  <td class="bg-white" colspan="3">
	<input type="hidden" name="urgencyLevel" id="eme_lv" value="3">
    <input style="width:100%;" id="emergencyLevelName" name="emergencyLevel" editable="false" class="easyui-textbox" value="无"/>
  </td>
</tr>
<tr>
   <td class="bg-grey">限时办结要求</td>
   <td class="bg-white">
   <div style="float:left;padding-right: 20px;"  id="emergencyLevel">
		<label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="1" #if("1"=="$!{obj.deadlineType}") checked #end/>特急&nbsp;</label>
        <label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="2" #if("2"=="$!{obj.deadlineType}") checked #end/>急件</label>
        <label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="4" #if("4"=="$!{obj.deadlineType}" || ""=="$!{obj.deadlineType}") checked #end/>普通一类</label>
        <label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="5" #if("5"=="$!{obj.deadlineType}") checked #end/>普通二类</label>
        <label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="6" #if("6"=="$!{obj.deadlineType}") checked #end/>普通三类</label>
        <label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="7" #if("7"=="$!{obj.deadlineType}") checked #end/>其它</label>
		
   </div>
   </td>
   <td class="bg-grey"><span><font color=red>*</font></span>公文时限要求</td>
   <td class="bg-white" >
		<div id="ltday1" style="float:left; witdh:60px; display:block">
		<input style="width:50px;" id="limitDay"  name="limitDay" editable="false" data-options="validType:'integer',onChange:showworktime" class="easyui-textbox"  value="">
        &nbsp;个工作日&nbsp;
        <span id="receiveFileDisplayLimitTime" style="color:red; font-weight: bold;"></span>
		<input id="expiryDate1" name="expiryDate" type="hidden" value="$!{obj.expiryDate}"/>
  		</div>

		<div id="ltday2" style="float:left; witdh:200px; display:none">
		<div id="ltday3" style="float:left; witdh:200px;">
		<input style="width:100px;" id="expiryDate" name="expiryDateOther" class="easyui-datebox"  data-options="required:true,editable:false" value="$!{obj.expiryDate}"/>
		</div>
		<span id="ddd" ><input type="checkbox" id="ss" name="ss"  onClick="setLimit(this);"/>无限时要求</span>
		</div>
  </td>
</tr>
 
<tr style="display:none;" id="nodeExpireSet">
  <td class="bg-grey">环节限办</td>
   <td class="bg-white" colspan="3">
   #formradio("nodeExpire" "" $dict.YesNo "0")
   <span id="nodeExpireBox" style="display:none;">
   <input id="nodeIds" name="nodeIds" value="" type="hidden"/>
   <input id="nodeExpireMinutes" name="nodeExpireMinutes" value="" type="hidden"/>
   <a class="easyui-linkbutton l-btn-plain-search"
	iconCls="icon-edit" plain="true" onclick ="installNodeExpire('2')">环节限办时间设置</a>
	</span>
   </td>
</tr>

#if("$!opflag" == "deal" && !${funcList.contains("N1")})## 是处理页面非拟稿环节
#if("$!{curNode.editFlag.key}"=="2")## 可编辑文号
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>发文字号</td>
  <td class="bg-white" colspan="3">
    <input type="hidden" id="docCode" name="docCode" value="$!{obj.docCode}"/>
 
    <select name="docCode1" id="docCode1" class="easyui-combobox" panelheight="auto" data-options="required:true,editable:false,valueField:'codeName',textField:'codeName',width:100">  
 	</select>&nbsp;[&nbsp;
	 
    <select name="docCode2" id="docCode2" class="easyui-combobox" data-options="editable:false" panelheight="auto" style="width:60px;">
      <option value="$!{date.getYear()}" #if("!{docCode2}"=="$!{date.getYear()}") selected="selected" #end>$!{date.getYear()}</option>
      #set( $lastYear = ${date.getYear()} - 1 )
      <option value="$!{lastYear}" #if("!{docCode2}"=="$!{lastYear}") selected="selected" #end>$!{lastYear}</option>
    </select>&nbsp;]&nbsp;
    <input type="text" id="docCode3" value="$!{docCode3}" class="easyui-textbox" data-options="required:true" style="width:80px;"/>号
	<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit"
        plain="true" onclick="createDocCode('发文')" style="cursor:pointer">生成字号</a>
  </td>
</tr>
#end
<tr>
	<td class="bg-grey">打印份数</td>
	<td class="bg-white" colspan="3">
		<input style="width:140px;" id="copies"  name="copies" min="0" max="999"  class="easyui-numberbox" value="$!{obj.copies}" /> &nbsp;份&nbsp;
	</td>
</tr>
#end

<tr>
  <td class="bg-grey">上报签发人</td>
  <td class="bg-white" colspan="3">
    <input style="width:99%;" id="typist"  name="typist"  class="easyui-textbox" value="$!{esc.html($!{obj.typist})}" />
  </td>
  #*<td class="bg-grey"><span><font color=red>*</font></span>公文时限要求</td>
  <td class="bg-white" >
    <input style="width:140px" id="limitStr"  name="limitStr" class="easyui-textbox"  value="$!{obj.limitStr}">
    （填：某月某日前报送）
    <span id="ddd" ><input type="checkbox" id="ss" name="ss"  onClick="setLimit(this);"/>无限时要求</span>

  </td>
  *#
</tr>
<tr>
  <td class="bg-grey">主题词</td>
  <td class="bg-white">
    <input style="width:99%;" id="keyword"  name="keyword"  class="easyui-textbox" value="$!{esc.html($!{obj.keyword})}" />
  </td>
  <td class="bg-grey">拟稿人</td>
  <td class="bg-white" >
    $!obj.creatorName
  </td>
</tr>
<tr>
    <td class="bg-grey"><span><font color=red>*</font></span>主送</td>
    <td colspan="3" class="bg-white">
    <textarea class="easyui-validatebox textareaborder" data-options="required:true" id="mainSend" name="mainSend" maxLength="240" cols="" style="resize:none;width:99%;height:50px;">$!{esc.html($!{obj.mainSend})}</textarea>
    </td>
</tr>
 <tr>
    <td class="bg-grey">抄报</td>
    <td colspan="3"  class="bg-white">
    <textarea class="textareaborder" id="reportSend" name="reportSend" maxLength="240" cols="" style="resize:none;width:99%;height:50px;">$!{esc.html($!{obj.reportSend})}</textarea>
    </td>
</tr>
<tr>
    <td class="bg-grey">抄送</td>
    <td colspan="3"  class="bg-white">
    <textarea class="textareaborder" id="copySend" name="copySend" maxLength="240" cols="" style="resize:none;width:99%;height:50px;">$!{esc.html($!{obj.copySend})}</textarea>
    </td>
</tr>
<tr>
    <td class="bg-grey">正文</td>
    <td colspan="3" class="bg-white">
        <div class="filelistmulti" id="sel-doc-c">
            <a class="easyui-linkbutton btn-file-up" icon="icon-add" plain="true" select-type="mainFile" uploadurl="#defaultUploadUrl('docSend')" swfurl="$!{link.getContextPath()}/js/Moxie.swf">
                添加正文
            </a>
            <div>
                <span id="doc-file-c">

                </span>
                <span id="pdf-file-c">

                </span>
            </div>
        </div>
    </td>
</tr>
<tr>
  <td class="bg-grey">附件</td>
  <td colspan="3" class="bg-white">
        ##附件id
      <input id="attach" name="attach" type="hidden" value=""/>
      <div class="filelistmulti" id="file-list-c">
          <a class="easyui-linkbutton btn-file-up" icon="icon-add" plain="true" select-type="otherFile" uploadurl="#defaultUploadUrl('docSendAttach')" swfurl="$!{link.getContextPath()}/js/Moxie.swf">
              添加附件
          </a>
          <div id="other-file-c">

          </div>
      </div>
  </td>
</tr>
#parse("doc/receivefile/inner/expirydate.js.vm")
#@script()
<script type="text/javascript">

	$(function(){
		//类型和限时办结联动效果
		initEmergencyLevelRadio();
		initRemoteDocSwapTypeRadio();
		//类型回填
		#if("0"=="$!{obj.documentType}" || ""=="$!{obj.documentType}") 
			$('input[name="documentType"][value=0]').click();
		#else
			$('input[name="documentType"][value="$!{obj.documentType}"]').click();
		#end
		
		//环节限办 按钮切换事件
		$(":radio[name='nodeExpire']").click(function(){
			if("1"==$(this).val()){
				$("#nodeExpireBox").show();
			}else{
				$("#nodeExpireBox").hide();
				$("#nodeIds").val('');
				$("#nodeExpireDates").val('');
			}
    	});
		
    })

#if("$!opflag" == "deal" && !${funcList.contains("N1")})## 是处理页面非拟稿环节

  // 检查来文字号是否重复
  function checkDocCode(docCode) {
    $.post('$link.getContextURL()/doc/event/checkDocCode.json', {id:'$!{obj.id}', docCode:docCode, fileType:'发文'}, function(result) {
      if (result.success) {
        //top.CC.messager({ title:'提示',msg:result.success });
      } else {
        top.CC.messager({ title:'提示',msg:result.error });
		$('#docCode3').textbox('setValue','');
      }
    });
  }

	var isFirstInit = "true";
  $(document).ready(function() {
    //检查docCode1
    $('#docCode1').textbox({
      onChange: function (newValue, oldValue) {
        var docCode2 = $('#docCode2').combobox('getValue');
        var docCode3 = $('#docCode3').textbox('getValue');
        if ($.trim(newValue) != "" && $.trim(docCode3) != "") {// 不为空才设置文号
          var docCode = newValue + "[" + docCode2 + "]" + docCode3 + "号";
          checkDocCode(docCode);
        }
      }
    });
    // 检查docCode3
    $('#docCode3').textbox({
      onChange: function (newValue, oldValue) {
        var docCode1 = $('#docCode1').textbox('getValue');
        var docCode2 = $('#docCode2').combobox('getValue');
        if ($.trim(docCode1) != "" && $.trim(newValue) != "") {// 不为空才设置文号
          var docCode = docCode1 + "[" + docCode2 + "]" + newValue + "号";
          checkDocCode(docCode);
        }
      }
    });

	//公文形式点击事件，动态修改发文文号
	$("input[name=docCate]").click(function(){
        	var url = '$link.getContextURL()/doc/doccode/getCodeNameByDocCate.json?docCate=' + $(this).val();
        	$('#docCode1').combobox('reload', url);
			isFirstInit = "true";
	});
 
    $('#docCode1').combobox({  
        onLoadSuccess :function(){
        	var val = $('#docCode1').combobox("getData");
            if(""!=val){
				if("true" == isFirstInit){
            		$('#docCode1').combobox('select',val[0].codeName);
				}else{
					$('#docCode1').combobox('select',"$!{docCode1}");
				}
            }else{
            	$('#docCode1').combobox('select','--请选择--');
            }
        }
    });

	//新建发文时，默认触发公文形式第一个按钮点击事件
	//编辑发文时，触发对应形式的按钮点击事件
	if(""== "$!obj.docCate"){
    	$('input[name="docCate"]:eq(0)').click();
	}else{
	 	$('input[name="docCate"][value="$!obj.docCate"]').click();
		isFirstInit = "false";
	}
	
  });
#end
	
$
.extend(
        $.fn.validatebox.defaults.rules,
        {
            // select即选择框的验证
            selectValid : {
                validator : function(value, param) {
					alert("value:"+param);
					alert("param:"+param);
                    if (value.trim() == param[0].trim()) {
                        return false;
                    } else {
                        return true;
                    }
                },
                message : '请选择'
            }
            
        });

</script>
#end