<div id="cc_layout" class="easyui-layout" fit="true" >
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-statistics',plain:true" onclick="researchOpen()">统计</a>
        <i></i>
        <a onclick="top.CC.closeCurTab()" class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>

    <div class="cc-tableWrap" data-options="region:'center',border:false"  style="width:350px;padding:5px;">
        <table id="dg" style="width:99%;">
            <thead>
                <tr>
                    <th style="width:25%" data-options="field:'deptName'">部门</th>
                    <th style="width:8%" data-options="field:'totalFiles'">档案总数</th>
					<th style="width:8%" data-options="field:'stockTotal'">在库总数</th>
                    <th style="width:8%" data-options="field:'borrowTotal'">外借数量</th>
                    <th style="width:8%" data-options="field:'destroyTotal'">销毁数量</th>
                    <th style="width:15%" data-options="field:'operate',align:'center',formatter:operaterFormatter,width:50">统计图</th>
                </tr>
            </thead>
        </table>
        <div class="cc-operateColum">
        <a  href='javascript:;' class="easyui-linkbutton" iconCls="icon-search"
            plain="true" onclick="columnChart('__uname__', '__dataStr__')">直方图</a>
        <a  href='javascript:;' class="easyui-linkbutton" iconCls="icon-search"
            plain="true" onclick="pieChart('__uname__', '__dataStr__')">饼图</a>
        </div>
    </div>
    <div  data-options="region:'center',border:false" style="padding:5px;">
    </div>
    <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="统计条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:520px;height:200px;padding:20px 10px; background-color:#f4f4f4;display:none">
        <form id="queryForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                </tr>
                    <td style="text-align: right;width:30%;">部门：</td>
                    <td style="width:70%;">
                        <input type="hidden" id="depId" name="$qc.like('depId')" value="$!{depId}"/>
                        <input type="text" id="deptName" name="deptName" value="$!{deptName}" style="width:250px;" class="easyui-textbox"/>
                        <a id="selectDepDialog" href="javascript:;" plain="true" iconcls="icon-search"
                            callback=fnSelectDepCallback class="easyui-linkbutton" select-dialog="$link.getContextURL()/select/Dep/selectDepTree"></a>
                    </td>
                </tr>
            </table>
         </form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    </div>

</div>

#parse("doc/archives/docstatis/crud.js.vm")
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()/doc/archives/statis';
    var _listJsonUrl = '/list.json';

    function researchOpen(){
        $('#searchDialog').css('display','block');
        $('#searchDialog').window('center');
        $('#searchDialog').window('open');
    }

    function restatis(){
         var _f = $("#form");
        _f.form("clear");
        reset();
        formSerach();
    }

    function operaterFormatter(value,row,index){
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html()
            .replace(new RegExp("__uname__",'gm'),row.deptName)
            .replace(new RegExp("__dataStr__",'gm'),row.dataStr);
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    // 跳转到直方图
    function columnChart(uname, dataStr){
		top.CC.addTab({title:'统计图',url:"$link.getContextURL()/doc/archives/statis/statColumnStatistical?userName="+encodeURI(uname)+"&dataStr="+encodeURI(dataStr)});
    }

    // 跳转到饼图
    function pieChart(uname, dataStr){
        top.CC.addTab({title:'办理情况饼图',url:"$link.getContextURL()/doc/archives/statis/statPieStatistical?userName="+encodeURI(uname)+"&dataStr="+encodeURI(dataStr)});
    }

    // 办理人统计图按钮显示
    function dealerCount(value,row,index){
        var btnCol = "<button href='javascript:;' class='easyui-linkbutton' iconCls='icon-search' plain='true' onclick='columnDiagram("+value+")'>直方图</button>" ;
        var btnPie = "<button href='javascript:;' class='easyui-linkbutton' iconCls='icon-search' plain='true' onclick='pieDiagram("+value+")'>饼图</button>" ;
        return btnCol +"&nbsp;&nbsp;"+ btnPie;
    }

<!-----------------------选择部门-------------------------------->
     function fnSelectDepCallback(obj){
        $("#depId").val(obj.id);
        $("#deptName").textbox('setText',obj.text);
     }


    //选择对话框
    $("#selectDepDialog").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
</script>
<script src="lib/highcharts-4.2.3/js/highcharts.js" type="text/javascript"></script>
<script src="js/exporting.js" type="text/javascript"></script>
#end