#set($signDocList=$!{feedBackMap.get("2")})
#if($signDocList)
<div>
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">签收信息</div></td>
        </tr>
    </table>
</div>
    #foreach($feedBack in $signDocList)
	<table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
            <tr>
              <td class="bg-grey">签收部门</td>
              <td class="bg-white">
    			$!{feedBack.signerDeptName}
              </td>
    		   <td class="bg-grey">签收人</td>
              <td class="bg-white">
    			$!{feedBack.signerName}
              </td>
            </tr>
			<tr>
              <td class="bg-grey">签收时间</td>
              <td class="bg-white" colspan="3">
    			$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedBack.signDate})
              </td>
            </tr>
    		<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
    			$!{feedBack.contactName}
              </td>
    		   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
    			$!{feedBack.contactPhone}
              </td>
            </tr>
          </tbody>
      </table>
    #end
#end

#set($feedbackList=$!{feedBackMap.get("3")})
#if($feedbackList)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">办结反馈</div></td>
        </tr>
    </table>
</div>
    #foreach($feedback in $feedbackList)
    <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
            <tr>
              <td class="bg-grey">处理结果</td>
              <td class="bg-white">
    			$!{feedback.feedbackType.value}
              </td>
    		   <td class="bg-grey">处理意见</td>
              <td class="bg-white">
    			$!{feedback.reason}
              </td>
            </tr>
			<tr>
              <td class="bg-grey">办结时间</td>
              <td class="bg-white" colspan="3">
    			$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedback.createTime})
              </td>
            </tr>
    		<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
    			$!{feedback.contactName}
              </td>
    		   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
    			$!{feedback.contactPhone}
              </td>
            </tr>
          </tbody>
      </table>
	 
    #end
#end

#set($undoDocList=$!{feedBackMap.get("4")})
#if($undoDocList)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">撤销</div></td>
        </tr>
    </table>
</div>
    #foreach($feedBack in $undoDocList)
		<table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
            <tr>
              <td class="bg-grey">撤销时间</td>
              <td class="bg-white" colspan="3">
    			$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedBack.undoTime})
              </td>
            </tr>
    		<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
    			$!{feedBack.contactName}
              </td>
    		   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
    			$!{feedBack.contactPhone}
              </td>
            </tr>
         
          </tbody>
      </table>
    #end
#end

#set($invalidDocList=$!{feedBackMap.get("5")})
#if($invalidDocList)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">作废</div></td>
        </tr>
    </table>
</div>
    #foreach($feedBack in $invalidDocList)
    	<table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
            <tr>
              <td class="bg-grey">作废时间</td>
              <td class="bg-white" colspan="3">
    			$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedBack.invalidTime})
              </td>
            </tr>
    		<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
    			$!{feedBack.contactName}
              </td>
    		   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
    			$!{feedBack.contactPhone}
              </td>
            </tr>
         
          </tbody>
      </table>
    #end
#end

#set($feedbackList1=$!{feedBackMap.get("6")})
#if($feedbackList1)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">办结反馈</div></td>
        </tr>
    </table>
</div>
    #foreach($feedback in $feedbackList1)
    <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
            <tr>
              <td class="bg-grey">处理结果</td>
              <td class="bg-white">
    			$!{feedback.feedbackType.value}
              </td>
    		   <td class="bg-grey">不办理原因</td>
              <td class="bg-white">
    			$!{feedback.reason}
              </td>
            </tr>
			<tr>
              <td class="bg-grey">办结时间</td>
              <td class="bg-white" colspan="3">
    			$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedback.createTime})
              </td>
            </tr>
    		<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
    			$!{feedback.contactName}
              </td>
    		   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
    			$!{feedback.contactPhone}
              </td>
            </tr>
          </tbody>
      </table>
	 
    #end
#end


#set($feedbackList2=$!{feedBackMap.get("7")})
#if($feedbackList2)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">办结反馈</div></td>
        </tr>
    </table>
</div>
    #foreach($feedback in $feedbackList2)
    <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
            <tr>
              <td class="bg-grey">处理结果</td>
              <td class="bg-white">
    			$!{feedback.feedbackType.value}
              </td>
    		   <td class="bg-grey">转阅件原因</td>
              <td class="bg-white">
    			$!{feedback.reason}
              </td>
            </tr>
			<tr>
              <td class="bg-grey">办结时间</td>
              <td class="bg-white" colspan="3">
    			$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedback.createTime})
              </td>
            </tr>
    		<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
    			$!{feedback.contactName}
              </td>
    		   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
    			$!{feedback.contactPhone}
              </td>
            </tr>
          </tbody>
      </table>
	 
    #end
#end

#set($toReadDocList=$!{feedBackMap.get("8")})
#if($toReadDocList)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">传阅</div></td>
        </tr>
    </table>
</div>
    #foreach($feedBack in $toReadDocList)
        <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
            <tr>
              <td class="bg-grey">传阅对象</td>
              <td class="bg-white">
        		$!{feedBack.docReadBody}
              </td>
              <td class="bg-grey">传阅时间</td>
              <td class="bg-white">
        		$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedBack.createTime})
              </td>
            </tr>
        	<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
        		$!{feedBack.contactName}
              </td>
        	   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
        		$!{feedBack.contactPhone}
              </td>
            </tr>
         
          </tbody>
        </table>
    #end
#end

#set($fileDocList=$!{feedBackMap.get("9")})
#if($fileDocList)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">归档</div></td>
        </tr>
    </table>
</div>
    #foreach($feedBack in $fileDocList)
        <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
              <tbody>
                <tr>
                  <td class="bg-grey">归档时间</td>
                  <td class="bg-white" colspan="3">
            		$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedBack.createTime})
                  </td>
                </tr>
            	<tr>
                  <td class="bg-grey">联系人</td>
                  <td class="bg-white">
            		$!{feedBack.contactName}
                  </td>
            	   <td class="bg-grey">联系电话</td>
                  <td class="bg-white">
            		$!{feedBack.contactPhone}
                  </td>
                </tr>
             
              </tbody>
        </table>
    #end
#end

#set($returnDocList=$!{feedBackMap.get("10")})
#if($returnDocList)
<div >
    <table cellpadding="0" cellspacing="0" style="height:32px;width: 100%">
        <tr>
            <td colspan="6"><div style="text-align: center">退文</div></td>
        </tr>
    </table>
</div>
    #foreach($feedBack in $returnDocList)
    <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
          <tbody>
			<tr>
              <td class="bg-grey">退回时间</td>
              <td class="bg-white" colspan="3">
    			$!date.format('yyyy-MM-dd HH:mm:ss',$!{feedBack.backTime})
              </td>
            </tr>
			<tr>
              <td class="bg-grey">退回原因</td>
              <td class="bg-white" colspan="3">
				$!{feedBack.reason}
              </td>
            </tr>
    		<tr>
              <td class="bg-grey">联系人</td>
              <td class="bg-white">
    			$!{feedBack.contactName}
              </td>
    		   <td class="bg-grey">联系电话</td>
              <td class="bg-white">
    			$!{feedBack.contactPhone}
              </td>
            </tr>
          </tbody>
      </table>
	 
    #end
#end