<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" >
        <div id="docTab" class="easyui-tabs tabs-trapezoid" fit="true" border="false">
			#if($!{outer.insideId})
				<input id="insideId" type="hidden" value="$!{outer.insideId}"/>
                <div title="办理公文" style="padding:5px;">
    				<div style="border:1px solid #e0e0e0;">
                        #parse("doc/receivefile/inner/swsign.vm")
                        </br>
                    </div>
                <form id="editForm" method="post">
                <input id="id" type="hidden" name="id" value="$!{obj.id}"/>
                <input id="readmans" name="readmans" type="hidden" value=""/>
                <input id="curNodeId" type="hidden" name="curNodeId" value="$!{curNode.nodeId}"/>
                <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                        </tr>
                        <tr id="receiveFilefileTr1" align="left">
                            <td class="bg-grey"  align="right">附件 </td>
                            <td class="bg-white"  colSpan="3" align="left" attachId="$!{obj.id}">
                                #formfilemulty("docFileAttach", "", "", "", $!{docFileAttachMap.get("$obj.id")},"#defaultDownloadUrl('sysattach')", false, "#defaultUploadUrl('sysattach')",false)
                            </td>
                        </tr>
                    </tbody>
                </table>
				#parse("common/table/ccwebdocTable.vm")
                </form>
				</div>
			#end
			<div title="公文详情" style="padding:5px;">
    			<div data-options="region:'center',border:false" class="mynoborder mainborder-Padding">
                <form id="editForm" method="post">
                    <input type="hidden" id="id" name="id" value="$!{outer.id}"/>
                    <table class="table-edit" title="公文详情">
						<tr>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
						</tr>
    					<tr>
                            <td class="bg-grey">公文标题</td>
                            <td class="bg-white" colspan="3">
                                $!{esc.html($!{outer.title})}
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey">公文类型</td>
                            <td class="bg-white">
                                $!{outer.documentType.value}
                            </td>
							<td class="bg-grey">发文字号</td>
                            <td class="bg-white">
                                $!{esc.html($!{outer.docCode})}
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey" style="width:150px;">收文单位</td>
                            <td class="bg-white">
                                $!{esc.html($!{outer.receiveDeptName})}
                            </td>
    						<td class="bg-grey" style="width:150px;">发文单位</td>
                            <td class="bg-white">
                                $!{esc.html($!{outer.senderDeptName})}
                            </td>
                        </tr>
    					<tr>
                            #*<td class="bg-grey" style="width:150px;">限办时间</td>
                            <td class="bg-white">
                                #if($!{outer.limitTime})
                                    <span style="font-weight: bold">$!date.format('yyyy-MM-dd HH:mm:ss',$!{outer.limitTime})</span>
                                    #if($!{outer.envStatus}==0||$!{outer.envStatus}==1||$!{outer.envStatus}==2)
                                        #if($!{outer.calDeadlineDay}&&$!{outer.calDeadlineDay}>=0)
                                            (剩余天数：$!{outer.calDeadlineDay})
                                        #elseif($!{outer.calDeadlineDay}&&$!{outer.calDeadlineDay}<0)
                                            #set($absLimitDay = $!outer.calDeadlineDay*-1)
                                            (超时天数：$!{absLimitDay})
                                        #end
                                    #end
                                #else 无办理时限
                                #end
                            </td>
							*#
                            <td class="bg-grey" style="width:150px;">办结时间</td>
                            <td class="bg-white" colspan="3">
    							$!date.format('yyyy-MM-dd HH:mm:ss',$!{outer.finishTime})
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey" style="width:150px;">公文状态</td>
                            <td class="bg-white">
                                $!{outer.status.value}
                            </td>
                            <td class="bg-grey" style="width:150px;">发送时间</td>
                            <td class="bg-white">
    							$!date.format('yyyy-MM-dd HH:mm:ss',$!{outer.sendTime})
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey" style="width:150px;">紧急程度</td>
                            <td class="bg-white">
                                $!{outer.urgencyLevel.value}
                            </td>
                            <td class="bg-grey" style="width:150px;">密&nbsp;&nbsp;级</td>
                            <td class="bg-white">
    							非涉密
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey">签收人</td>
                            <td class="bg-white">
                                $!{esc.html($!{outer.signerName})}
                            </td>
                            <td class="bg-grey">签收日期</td>
                            <td class="bg-white">
                                $!date.format('yyyy-MM-dd HH:mm:ss',$!{outer.signDate})
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-grey">附件</td>
                            <td colspan="3" class="bg-white" attachId="$!{outer.fileId}">
                                #formfilemulty("attach", "", "", "", $!{attachMap.get("$outer.fileId")},"#defaultDownloadUrl('sysattach')", false, "#defaultUploadUrl('sysattach')",false)
                            </td>
                        </tr>
                    </table>
                </form>
            	</div>
        	</div>
    
            <div title="反馈情况">
				#parse("doc/outer/feedbackDetail.vm")
            </div>
		    #if($!{outer.insideId})
			<div title="办理过程" data-options="href:'$link.getContextURL()/workflow/event/getTasklist?entityId=$!{outer.insideId}'">
            </div>
            #end
        </div>
    </div>
	<div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
            #if($!{outer.receiveDeptId}==$!{currUser.department.id})##接收
				##不属于撤销 、 作废 、 不办理 、退文，并且没有insideId的公文显示 转内部公文 按钮
                #if(($!{outer.status}!=4&&$!{outer.status}!=5&&$!{outer.status}!=6&&$!{outer.status}!=10)&&!$!{outer.insideId})
    				<li><a onclick="sendDocSwapInner('$!{outer.id}')" class="new-but">转内部公文</a></li>
                #end
				#if($!{outer.status}==2)
                    #if($!{outer.documentType}==1)
    					<li><a onclick="toReadEnvelope('$!{outer.id}')" class="new-but">阅件反馈</a></li>
                    #else
    					##<li><a onclick="sendContentInfo('$!{outer.id}')" class="new-but">正文反馈</a></li>
    					<li><a onclick="sendFinishInfo('$!{outer.id}')" class="new-but">办结反馈</a></li>
                    #end
                    ##转入内部后不能退回
                    #if(!$!{outer.insideId})
    					<li><a onclick="returnOuterDoc('$!{outer.id}')" class="new-but">退回</a></li>
                    #end
				#end
                
			#elseif($!{outer.senderDeptId}==$!{currUser.department.id})##发送
                #if($!{outer.status}==1)##未签收
    				<li><a onclick="undo('$!{outer.id}')" class="new-but">撤销</a></li>
    				<li><a onclick="invalid('$!{outer.id}')" class="new-but">作废</a></li>
    				##<li><a onclick="feedBackDialog('$!{outer.id}')" class="new-but">修改时限</a></li>
                #end
			#end
			<li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
	</div>
</div>
</div>


<div id="editWindow" class="easyui-window" title="撤销" style="width:700px;height:220px;padding:5px"
    data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
	
	//撤销
    function undo(id){
		$('#editWindow').panel({title:"撤销"});
		$('#editWindow').panel('resize',{
            width: 600,
            height: 200
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=undo');
    }
	
    //作废
    function invalid(id){
		$('#editWindow').panel({title:"作废"});
		$('#editWindow').panel('resize',{
            width: 600,
            height: 200
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=invalid');
    }
	
	//转内部公文
	function sendDocSwapInner(id){
		top.CC.addTab({title:'转内部公文',url:'$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=sendInner'});
        top.CC.closeTab('公文详情');
	}
	
	 //阅件传阅
    function toReadEnvelope(id){
        $('#editWindow').panel({title:"阅件传阅"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 220
        });
		$('#editWindow').window('open');
		
		//根据insideId是否为空判断是已签收还是公文办理，便于反馈后返回页面判断
		if(null !=$("#insideId").val()){
			$('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?returnType=docDoing&id=' + id +  '&type=toRead');
		}else{
			$('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=toRead');
		}
    }
	
	//办结反馈
	function sendFinishInfo(id){
		$('#editWindow').panel({title:"办结反馈"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 250
        });
		$('#editWindow').window('open');
		
		//根据insideId是否为空判断是已签收还是公文办理，便于反馈后返回页面判断
		if(null !=$("#insideId").val()){
			$('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?returnType=docDoing&id=' + id +  '&type=sendFinish');
		}else{
			$('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=sendFinish');
		}
	}
	
	//退回
    function returnOuterDoc(id){
		$('#editWindow').panel({title:"退回"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 250
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=return');

    }
</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
