<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" >
		<div data-options="region:'center',border:false" class="mynoborder mainborder-Padding">
        <form id="editForm" method="post">
            <input type="hidden" id="id" name="id" value="$!{obj.id}"/>
            <table class="table-edit" title="签收详情">
				<tr>
                    <td class="fix_td_title" style="width:120px;">&nbsp;</td>
                    <td class="fix_td_data">&nbsp;</td>
                    <td class="fix_td_title">&nbsp;</td>
                    <td class="fix_td_data">&nbsp;</td>
                </tr>
				<tr>
                    <td class="bg-grey">公文标题</td>
                    <td class="bg-white" colspan="3">
                        $!{esc.html($!{obj.title})}
                    </td>
                </tr>
				<tr>
					<td class="bg-grey" style="width:150px;">来文单位</td>
                    <td class="bg-white">
                        $!{esc.html($!{obj.senderDeptName})}
                    </td>
					<td class="bg-grey" style="width:150px;">收文单位</td>
                    <td class="bg-white">
                        $!{esc.html($!{obj.receiveDeptName})}
                    </td>
                </tr>
				<tr>
					<td class="bg-grey" style="width:150px;">发送人</td>
                    <td class="bg-white">
						$!{obj.senderName}
                    </td>
					<td class="bg-grey" style="width:150px;">发送时间</td>
                    <td class="bg-white">
                        $!date.format('yyyy-MM-dd HH:mm:ss',$!{obj.sendTime})
                    </td>
                </tr>
				<tr>
					<td class="bg-grey" style="width:150px;">发文字号</td>
                    <td class="bg-white">
                        $!{esc.html($!{obj.docCode})}
                    </td>
                    <td class="bg-grey" style="width:150px;">政务公开方式</td>
                    <td class="bg-white">
                        $!{obj.openFlag.value}
                    </td>
                </tr>
				<tr>
                    <td class="bg-grey" style="width:150px;">紧急程度</td>
                    <td class="bg-white">
                        $!{obj.urgencyLevel.value}
                    </td>
                    <td class="bg-grey" style="width:150px;">密级</td>
                    <td class="bg-white">
						$!{obj.dense.value}
                    </td>
                </tr>
				<tr>
                    <td class="bg-grey">备注</td>
                    <td class="bg-white" colspan="3">
                        $!{esc.html($!{obj.remark})}
                    </td>
                </tr>
                <tr>
                    <td class="bg-grey">附件</td>
                    <td colspan="3" class="bg-white" attachId="$!{obj.fileId}">
                        #formfilemulty("attach", "", "", "", $!{attachMap.get("$obj.fileId")},"#defaultDownloadUrl('sysattach')", false, "#defaultUploadUrl('sysattach')",false)
                    </td>
                </tr>
            </table>
        </form>
    	</div>
    </div>
	<div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
				#if($!{obj.status}==1)
					<li><a onclick="signSend('$!{obj.id}')" class="new-but">签收</a></li>
					<li><a onclick="returnOuterDoc('$!{obj.id}')" class="new-but">退回</a></li>
				#end
				<li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
	</div>
</div>

<div id="editWindow" class="easyui-window" title="签收" style="width:700px;height:220px;padding:5px"
    data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
	
	//签收
    function signSend(id){
		$('#editWindow').panel({title:"签收"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 220
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=sign');
  
    }
	
	//退回
    function returnOuterDoc(id){
		$('#editWindow').panel({title:"退回"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 250
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/doc/outer/detailFeedBackPage?id=' + id +  '&type=return');

    }
 
</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
