<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            <a  class="easyui-linkbutton" plain="true" onclick="unlock()" iconCls="icon-unlock" >解锁</a>
            <i></i>
            <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
                 class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
            <a  onclick="top.CC.closeCurTab()"
                class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg" style="width:100%;">
                <thead>
                <tr>
                    <th field="ck" data-options="checkbox:true"></th>
                    <th data-options="field:'userName',width:15">姓名</th>
                    <th data-options="field:'deptName',width:20">部门名称</th>
                    <th data-options="field:'account',width:15">登录账号</th>
                    <th data-options="field:'sex',width:5">性别</th>
                    <th data-options="field:'mobile',width:15,editor:'text',editor:'text'">移动电话</th>
                    <th data-options="field:'email',width:14,editor:'text',editor:'text'">电子信箱</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div  id="searchDialog" class="easyui-dialog  dialog-tc  query-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:500px;height:230px;padding:20px 10px; background-color:#f4f4f4;display:none;">
            <form id="queryForm">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="text-align: right">姓名：</td>
                        <td><input id="userName" style="width:350px;" name="$qc.like('userName')" class="easyui-textbox" /></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">所属部门：</td>
                        <td>
                            <input class="easyui-textbox" id="dep" name="$qc.like('department.deptName')" style="width:350px" />
                        </td>
                    </tr>
                </table>
             </form>
            <div id="bnts" style="top:0px; height:25px; width:auto;">
                <a class="new-but" onclick="formSerach()">确定</a>
                <a class="new-but" onclick="reset()">重置</a>
            </div>
        </div>
    </div>
</div>
<div id="editWindow" class="easyui-window" title="设置" style="width:450px;height:350px;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#@script()
<script type="text/javascript">
    $(function () { // 给查询dialog中的input 绑定回车事件
        $('#userName').textbox('textbox').keydown(function (e) {
            if (e.keyCode == 13) {
               formSerach();
            }
        });
        $('#dep').textbox('textbox').keydown(function (e) {
            if (e.keyCode == 13) {
               formSerach();
            }
        });
    })

    var _baseUrl = '$link.getContextURL()';
    var _listJsonUrl = '/system/user/listLock.json';

    function unlock(){
            var rows = $("#dg").datagrid("getChecked");
            if(rows && rows.length > 0){
                $.messager.confirm('警告','确定将这些用户解锁吗?',function(r){
                    if (r){
                        var ids = "";
                        for(var i=0;i<rows.length;i++){
                            if(i==rows.length-1){
                                ids += rows[i].id;
                            }else{
                                ids += rows[i].id + ",";
                            }
                        }
                        $.post(_baseUrl + '/system/user/dealUnLock.json',{ids:ids},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload'); // reload the user data
                                top.CC.messager({ // show error message
                                    title: '成功',
                                    msg: '解锁成功!'
                                });
                            } else {
                                top.CC.messager({ // show error message
                                    title: '错误',
                                    msg: result.error
                                });
                            }
                        },'json');
                    }
                });
            } else {
                top.CC.messager({
                    title: '错误',
                    msg: '请先选择一条数据！'
                });
            }

        }


    function fnDemoSelectDepCallback(obj){
        $("#dep").textbox("setValue",obj.depName);
    }


     $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-remove']",_querForm);
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
        if(_btnClear){
            _btnClear.on('click',reset);
        }

        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }

        function formSerach() {
            _datagrid.datagrid('reload');
        }
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }


        //初始化datagrid
        _datagrid.datagrid({
            loadFilter: datagridHtmlEncode, // 防js注入
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:false,
            rownumbers:true,//行号
            singleSelect:false,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:_baseUrl + (_listJsonUrl || '/list.json'),//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function fnSelectDepQueryCallback(obj){
        $('#dep').textbox('setValue',obj.id);
        $('#dep').textbox('setText',obj.text);
    }


    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
</script>
#end
#parse("common/easyui/operatorcolumn.js.vm")