<div class="fix-top">
 <table style="border-collapse: collapse;">
   <tr>
     <td style="vertical-align: top;">
        <div class="fix-top-todo backlog" style="float:left;">

            <div>
                <div class="work-title">
                    #if("$!{model.status}" == "block")
                     #set($picture = "work-icon-up.png")
                    #else
                     #set($picture = "work-icon-down.png")
                    #end
                    #if($dict.userprofile.get($!{user.currentUserId}))
                     <img src="$link.getContextURL()/themes/$!dict.userprofile.get($!{user.currentUserId})/images/$picture" title="点击此处收缩/展开此模块" onclick="displayModelToggle(this)"/>
                   #else
                    <img src="$link.getContextURL()/themes/default/images/$picture" title="点击此处收缩/展开此模块" onclick="displayModelToggle(this)">
                   #end
                    <h4>
                   <a href="javascript:;">待办事项</a>
                     ## <font color="red">(3)</font>
                     </h4>
                </div>

                <ul class="block backlog-ul">
                    #if($!{taskContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'})">待办公文</a><span >($!{taskContentList.total})</span></li>
					#end
					#if($!{passreadContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'内部请示',url:'$link.getContextURL()/doc/interequest/tasklist'})">内部请示</a><span >(${passreadContentList.total})</span></li>
                    #end
                    #if(${readContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'待阅公文',url:'$link.getContextURL()/doc/event/readlist'})">待阅公文</a><span >(${readContentList.total})</span></li>
                    #end
                    #if($!{meetContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'我的会议',url:'$link.getContextURL()/oa/meeting/attendee/list'})">我的会议</a><span >(${meetContentList.total})</span></li>
                    #end
                    #if($!{notReadMailContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'我的邮件',url:'$link.getContextURL()/oa/mail/inbox/list'})">我的邮件</a><span >(${notReadMailContentList.total})</span></li>
                    #end
                    #if($!{tripContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'个人行程',url:'$link.getContextURL()/oa/schedule/myschedule'})">个人行程</a><span >(${tripContentList.total})</span></li>
					#end
					
					
					#if($!{carContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'车辆申请审核',url:'$link.getContextURL()/pubaffairs/car/list'})">车辆申请审核</a><span >(${carContentList.total})</span></li>
					#end
					#if($!{leaveContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'休假审核',url:'$link.getContextURL()/pubaffairs/leave/query'})">休假审核</a><span >(${leaveContentList.total})</span></li>
                    #end
					#if($!{repairContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'故障审核',url:'$link.getContextURL()/pubaffairs/repair/list'})">故障审核</a><span >(${repairContentList.total})</span></li>
					#end
					#if($!{mealContentList.total} > 0)
                    #set($hasPending = true)
                    <li><a href="javascript:;" onclick="top.CC.addTab({title:'订餐审核',url:'$link.getContextURL()/pubaffairs/trip/query'})">订餐审核</a><span >(${mealContentList.total})</span></li>
					#end
					
					
                    #if(!$hasPending)
                        <p class="backlog-p">当前无待办事项</p>
                    #end
                </ul>

            </div>
        </div>
        </td>
        <td style="vertical-align: top;">
        <div class="fix-top-notice" style="float:right;">
            <div>
                <div class="work-title">
                    #if("$!{model.status}" == "block")
                     #set($picture = "work-icon-up.png")
                    #else
                     #set($picture = "work-icon-down.png")
                    #end
                    #if($dict.userprofile.get($!{user.currentUserId}))
                     <img src="$link.getContextURL()/themes/$!dict.userprofile.get($!{user.currentUserId})/images/$picture" title="点击此处收缩/展开此模块" onclick="displayModelToggle(this)"/>
                   #else
                    <img src="$link.getContextURL()/themes/default/images/$picture" title="点击此处收缩/展开此模块" onclick="displayModelToggle(this)">
                   #end
                    <h4>
                        <a href="javascript:;" onclick="top.CC.addTab({title:'公告查询',url:'$link.getContextURL()/oa/notice/query'})" title="点击进入公告查询">通知公告</a>
                        #if($!{noticeContentList.total} > 0) <font color="red">($!{noticeContentList.total})</font> #end
                    </h4>
                    <div></div>
                    <a href="javascript:;" onclick="top.CC.addTab({title:'公告查询',url:'$link.getContextURL()/oa/notice/query'})" class="more" title="更多"></a>
                </div>
                <ul style="display:$!{model.status}">
                    #foreach($notice in $noticeContentList.rows)
                    <li>
                        <a href="javascript:;" onclick="top.CC.addTab({title:'公告详情',url:'$link.getContextURL()/oa/notice/detail?id=$!notice.id'})" title="$!notice.title">$!notice.title</a>
                        <span>$!date.format('yyyy-MM-dd', $!notice.publishDate)</span>
                    </li>
                    #if($velocityCount == 5) #break #end
                    #end
                </ul>
            </div>
        </div>
        </td>
        </tr>
        </table>
    </div>