<div class="drag-item" displayModels="mailContent">
    <div class="work-title">
        #if("$!{model.status}" == "block")
        #set($picture = "work-icon-up.png")
        #else
        #set($picture = "work-icon-down.png")
        #end
        #if($dict.userprofile.get($!{user.currentUserId}))
        <img src="$link.getContextURL()/themes/$!dict.userprofile.get($!{user.currentUserId})/images/$picture" title="点击此处收缩/展开此模块" onclick="displayModelToggle(this)"/>
        #else
        <img src="$link.getContextURL()/themes/default/images/$picture" title="点击此处收缩/展开此模块" onclick="displayModelToggle(this)"/>
        #end
        <h4>
            <a href="javascript:;" onclick="top.CC.addTab({title:'收件箱',url:'$link.getContextURL()/oa/mail/inbox/list'})" title="点击进入收件箱">收件箱</a>
            #if($!{mailContentList.total} > 0) <font color="red">($!{mailContentList.total})</font> #end
        </h4>
        <div class="drag-handle-area"></div>
        <a href="javascript:;" class="model-shut" title="移除此模块" onclick="removeModels(this)"></a>
        <a href="javascript:;" onclick="top.CC.addTab({title:'收件箱',url:'$link.getContextURL()/oa/mail/inbox/list'})" class="more" title="更多"></a>
    </div>
    <ul style="display:$!{model.status}">
        #foreach($mail in $mailContentList.rows)
        <li>
            <a href="javascript:;" onclick="top.CC.addTab({title:'查看邮件',url:'$link.getContextURL()/oa/mail/inbox/detail?incId=$!mail.id'})" title="$!mail.title">
				#if($!mail.incepterStatus.key == '0')
	                <img src='images/notRead.png'/>
	            #else
	                <img src='images/read.png'/>
	            #end
				$!mail.title
			</a>
            <span>$!date.format('yyyy-MM-dd', $!mail.sendDate)</span>
        </li>
        #if($velocityCount == 5) #break #end
        #end
    </ul>
</div>
