<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" class="mynoborder">
        <div id="docTab" class="easyui-tabs" style="width:99%;" fit="true">
            <div title="公文传阅内容" style="padding:5px;">
                <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="bg-grey">标题</td>
                        <td colspan="3"  class="bg-white">
                            $!{esc.html($!{docread.docTitle})}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">文号</td>
                        <td colspan="3"  class="bg-white">
                            $!{docread.docNumber}
                        </td>
                    </tr>
                    #if("$!{docread.docFileId}"!="")
                    <tr>
                        <td class="bg-grey">关联公文</td>
                        <td class="bg-white" colspan="3">
                            <a class="text12" style="color:blue;" href ="javascript:void(0);" onclick="showFileDetail('$!{docread.docFileId}','$!{docread.docFile.fileType.key}')">《$!{esc.html($docread.docFile.title)}》</a>
                        </td>
                    </tr>
                    #end
                    <tr>
                        <td class="bg-grey">传阅类型</td>
                        <td class="bg-white">
                            $!{docread.docPropertyId.value}
                        </td>
                        <td class="bg-grey">文种</td>
                        <td class="bg-white">
                            $!{docread.docCate.value}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">接收人</td>
                        <td colspan="3"  class="bg-white">
                            $!{readManNames}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">备注</td>
                        <td colspan="3"  class="bg-white">
                            $!{esc.html($!{docread.remark})}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">附件</td>
                        <td colspan="3"  class="bg-white">
                            #formfilemulty("attach", "", "", "", $!{attachMap.get("$docread.id")},"#defaultDownloadUrl('docreadattach')", false, "#defaultUploadUrl('docreadattach')",false)
                        </td>
                    </tr>
                </table>
            </div>
            <div title="公文传阅记录"  style="overflow:auto;padding:5px;">
                <table class="table-edit" cellSpacing="1" cellpadding="5">
                    <thead>
                        <tr>
                            <td class="bg-grey" style="text-align:center" width="5%">序号</td>
                            <td class="bg-grey" style="text-align:center" width="15%">送阅人</td>
                            <td class="bg-grey" style="text-align:center">阅读意见</td>
                            <td class="bg-grey" style="text-align:center" width="15%">回复时间</td>
                            <td class="bg-grey" style="text-align:center" width="15%">签收时间</td>
                        </tr>
                    </thead>
                    <tbody>
                    #foreach($data in $docread.docReadReceivess)
                        <tr>
                            <td class="bg-white" style="text-align:center">$velocityCount</td>
                            <td class="bg-white" style="text-align:left">$!{data.receiverName}</td>
                            <td class="bg-white" style="text-align:left">$!{data.opinion}</td>
                            <td class="bg-white" style="text-align:center">$!date.format("yyyy-MM-dd HH:mm",$!{data.opinionTime})</td>
                            <td class="bg-white" style="text-align:center">$!date.format("yyyy-MM-dd HH:mm",$!{data.readTime})</td>
                        </tr>
                     #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div data-options="region:'south'"  class="bottom-h">
        <div class="bottom-but">
            <ul>
                <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
#@script()
<script type="text/javascript">
function showFileDetail(id, fileType) {
    var url = "$link.getContextURL()/doc/archives/detailFile?id=" + id;
    top.CC.addTab({title:(fileType=="1"?'收文详情':'发文详情'),url:url});
}
</script>
#end
