<div  class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit"  width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>标题</td>
                      <td class="bg-white" align="left">
                        <input name="id" type="hidden" id="id" value="$!{docread.id}"/>
                        <input id="status" name="status" type="hidden" value="$!{docread.status}"/>
                        <input id = "docTitle" style="width:99%;" name="docTitle" data-options="required:true,validType:'maxLength[250]'" class="easyui-textbox" value="$!{esc.html($!{docread.docTitle})}"/>
                      </td>
                      <td class="bg-grey" align="right">来文单位</td>
                      <td class="bg-white" align="left">
                         <input style="width:99%;" name="sendUnit" class="easyui-textbox" value="$!{docread.sendUnit}" data-options="validType:'maxLength[100]'"/>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey" align="right">文号</td>
                      <td class="bg-white" align="left">
                         <input style="width:99%;" name="docNumber" class="easyui-textbox" value="$!{docread.docNumber}" data-options="validType:'maxLength[100]'"/>
                      </td>
                      <td class="bg-grey" align="right">转来文签收</td>
                      <td class="bg-white" align="left">
                         <label><input type="radio" name="toSigned" #if(!${docread.toSigned.key} || ${docread.toSigned.key} == 0 ) checked #end value="0"/> 否</label>&nbsp;&nbsp;
                         <label><input type="radio" name="toSigned" #if(${docread.toSigned.key} == 1 ) checked #end value="1"/> 是</label>
                      </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right" width="120px">传阅类型</td>
                      <td  class="bg-white" align="left" >
                       <select name="docPropertyId" id="docPropertyId" class="easyui-combobox" data-options="editable:false" panelheight="auto" >
                            <option selected value=""></option>
                                #formoption($!{docread.docPropertyId} $dict.DocProperty)
                        </select>
                      </td>
                      <td class="bg-grey" align="right" width="120px">文种</td>
                      <td class="bg-white" align="left">
                        <select name="docCate" id="docCate" class="easyui-combobox" data-options="editable:false" panelheight="auto" >
                            <option selected value=""></option>
                                #formoption($!{docread.docCate} $dict.doccate)
                        </select>
                      </td>
                    </tr>
                    <tr align="center">
                        <td class="bg-grey" align="right"><span><font color=red>*</font></span>接收人</td>
                        <td width="99%" colSpan="3"  class="bg-white" align="left">
                            <input style = "width:85%" name="readManNames" id="readManNames" class="easyui-textbox" readonly value="$!{readManNames}"/>
                            <input id="readMan" name="readMan" type="hidden" value="$!docread.readMan" />
                            <a id="selectDepDialog"   href="javascript:;" iconcls="icon-search" plain="true"
                                callback=fnSelectMansCallback class="easyui-linkbutton" mans-dialog></a>
                        </td>
                    </tr>
                    <tr align="center">
                         <td class="bg-grey" align="right">备注</td>
                         <td width="99%" colSpan="3"  class="bg-white" align="left">
                            <textarea class="easyui-validatebox textareaborder" data-options="validType:'maxLength[495]'" id="remark" name="remark" cols="" style="resize:none;width:99%;height:100px;">$!{esc.html($!{docread.remark})}</textarea>
                         </td>
                    </tr>
                    <tr align="center">
                        <td class="bg-grey" align="right">附件</td>
                        <td colSpan="3" class="bg-white" align="left" attachId="$!{docread.id}">
                            #formfilemulty("attach", "", "", "", $!{attachMap.get("$docread.id")},"#defaultDownloadUrl('docreadattach')", true, "#defaultUploadUrl('docreadattach')",true)
                        </td>
                  </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
                <li><a id="saveTemp" onclick="saveTemp()" class="new-but">暂存</a></li>
                <li><a id="publish" onclick="publish()" class="new-but">发送</a></li>
                <li><a id="back" onclick="back()" class="new-but">关闭</a></li>
            </ul>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){
        $("#docTitle").textbox("textbox").focus();
    })

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.closeCurTab();
    }

    //发送
    function publish(){
        if($("#editForm").form('validate')) {
           if($("#readMan").val() != ""){
           top.CC.loading("发送中，请稍后...");
            $.post("$link.getContextURL()/doc/docread/save.json",$("#editForm").serialize(),function(result){
                  top.CC.loaded();
                  if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'发送成功！'
                    });
                      var title = top.CC.getCurTab().panel('options').title;
                      top.CC.addTab({title:'已发公文传阅',url:'$link.getContextURL()/doc/docread/publishlist'});
                      top.CC.closeTab(title);
                  }else{
                    top.CC.loaded();
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
          }else{
                top.CC.messager({
                    title:'提示',
                    msg:'请选择接收人!'
                });
          }
        }
    }

    //暂存
    function saveTemp(){
        if($("#editForm").form('validate')) {
                top.CC.loading("暂存中，请稍后...");
                $.post("$link.getContextURL()/doc/docread/saveTemp.json",$("#editForm").serialize(),function(result){
                      if(result.id){
                        top.CC.loaded();
                        $('#id').val();
                        top.CC.messager({
                            title:'提示',
                            msg:'暂存成功！'
                        })
                        var title = top.CC.getCurTab().panel('options').title;
                        top.CC.addTab({title:'待发公文传阅',url:'$link.getContextURL()/doc/docread/createdlist'});
                        top.CC.closeTab(title);
                      }else{
                        top.CC.loaded();
                        top.CC.messager({
                            title:'提示',
                            msg:'服务器连接不上'
                        });
                      }
                });
        }
    }


     //选择对话框
    $("a[mans-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var readMan = $('#readMan').val();
            var title ="选择接收人";
##            var _url = "$link.getContextURL()/select/group/selectgroup?userIds="+readMan+"&title="+title;
            var _url = "$link.getContextURL()/select/selectmansClassify?userIds="+readMan;
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

     // 人员选择回调
    function fnSelectMansCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var i=0 ; i < obj.length; i++ ){
            userIds += obj[i].id + ",";
            userNames += obj[i].dataText + ","
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#readManNames').textbox('setValue', userNames);
        $('#readMan').val(userIds);
    }

</script>
#end
