#set($bodyattr="class='easyui-layout' style='border:0px'")
<div class="cc-tableWrap" data-options="region:'center',border:false">
<table id="dg" title="人员列表" style="width:100%;">
    <thead>
    <tr>
        <th data-options="field:'userName',width:20,editor:'text'">姓名</th>
        <th data-options="field:'departmentName',width:40">部门名称</th>
        <th data-options="field:'sex',align:'center',width:5">性别</th>
        <th data-options="field:'account',width:20">登录账号</th>
        <th data-options="field:'mobile',width:20,editor:'text',editor:'text'">移动电话</th>
        <th data-options="field:'regDate',align:'center',width:20">注册日期</th>
        <th data-options="field:'email',align:'center',width:20">email</th>
    </tr>
    </thead>
</table>
</div>

#@script()
<script type="text/javascript">
$(document).ready(function(){
    var _datagrid = $('#dg');
    var editIndex = undefined;
    _datagrid.datagrid({
        fitColumns:true,//列宽自适应
        fit:true,//自适应
        rownumbers:true,//行号
        singleSelect:true,//单选
        pagination:true,//显示分页工具条
        url:'crud/list.json',//获取数据的url
        onClickRow: onClickRow,//单击事件
    });
    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if (_datagrid.datagrid('validateRow', editIndex)){
            _datagrid.datagrid('endEdit', editIndex);
            editIndex = undefined;
            _save();
            return true;
        } else {
            return false;
        }
    }
    function onClickRow(index){
        if (editIndex != index){
            if (endEditing()){
                _datagrid.datagrid('selectRow', index)
                    .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                _datagrid.datagrid('selectRow', editIndex);
            }
        }
    }
##    function append(){
##        if (endEditing()){
##            editIndex = _datagrid.datagrid('getRows').length-1;
##            _datagrid.datagrid('selectRow', editIndex).datagrid('beginEdit', editIndex);
##        }
##    }
##    function removeit(){
##        if (editIndex == undefined){return}
##        _datagrid.datagrid('cancelEdit', editIndex).datagrid('deleteRow', editIndex);
##        editIndex = undefined;
##    }
##    function accept(){
##        if (endEditing()){
##            _datagrid.datagrid('acceptChanges');
##        }
##    }
##    function reject(){
##        _datagrid.datagrid('rejectChanges');
##        editIndex = undefined;
##    }

    function _save(){
        var rows = _datagrid.datagrid('getChanges');
        if(rows){
             $.post("$link.getContextURL()/crud/edittablesave.json",rows[0],function(json){
            });
        }
    }
});
</script>
#end