<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
			<form id="sendContainer">
			<div style="padding-bottom:10px;padding-top:20px;text-align:center;" >
				<img src="" style="margin:0 auto" id="demo"/>
            </div>
			</form >
        </div>
        <div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
            <div class="bottom-but-dialog">
                <ul>
                    <li><a id="back" onclick="back()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
	
	document.getElementById('demo').src = './images/QRcode/qrcode.jpg' + '?' + Math.random()
	
    //返回
    function back() {
        $('#QRcodeWindow').window('close');
    }
	
	HKEY_Root = "HKEY_CURRENT_USER";
	HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";

	//网页打印时清空页眉页脚
	function pagesetup_null(){
		try{
  			var RegWsh = new ActiveXObject("WScript.Shell");
  			HKEY_Key="header";
 	 		RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
  			HKEY_Key="footer";
  			RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
		}catch(e){
			
		}
	}
 	//打印
	function doPrint() {
  		try{
    		if (document.all) { // IE
      			pagesetup_null();
    		}
    		if ($.browser.msie) {
      			$('#sendContainer').printArea({
        			mode: 'popup'
      			});
    		} else {
      			$('#sendContainer').printArea({
       				mode: 'popup',
        			popClose: true
      			});
    		}
 	 	} catch(e) {
    		alert(e.message);
    		return;
  		}
	}
	
</script>
<script type="text/javascript" src="lib/jqprint/jquery.PrintArea.js"></script>
#end
