html{
    background: whitesmoke;
}
body{
    margin: 0;
}
.GooFlow_work{
    float:none;
    margin:auto;
    overflow: hidden;
}
#demo{
    width: 100%;
    border:0;
}
.GooFlow_work_inner{
    margin: auto;
}
svg{
    background: whitesmoke;
}
.GooFlow .item_mark td,.GooFlow .ico{
    cursor: default;
}