<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
  <div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false" class="mynoborder">
      <form id="editForm" method="post">
        ##<input type="hidden" name="flowStatus" #if($obj.id) value="$!{obj.flowStatus.key}" #else value="1" #end/>
        <table class="table-edit">
          <tr>
            <td class="fix_td_title">&nbsp;</td>
            <td class="fix_td_data">&nbsp;</td>
          </tr>
          <tr>
            <td class="bg-grey"><span><font color=red>*</font></span>流程编号</td>
            <td class="bg-white">
            <input style="width:90%;" id="flowId" name="id" data-options="required:true,validType:['SN','SNLength[3]']" class="easyui-textbox" value="#if($!{esc.html($!{obj.id})})$!{esc.html($!{obj.id})}#else$!{serialNumber}#end"/>
            </td>
          </tr>
          <tr>
            <td class="bg-grey"><span><font color=red>*</font></span>流程名称</td>
            <td class="bg-white">
            <input style="width:90%;" name="flowName" data-options="required:true" validType="length[1,100]" class="easyui-textbox" value="$!{esc.html($!{obj.flowName})}"/>
            </td>
          </tr>
		  <tr>
			<td class="bg-grey"><font color=red>*</font></span>流程级别</td>
			<td class="bg-white">
				##<select style="width:30%;" name="flowLevel" id="flowLevel" class="easyui-combobox"  data-options="required:true,editable:false,validType:{selectValid:' '}" panelheight="auto" >
					##formoption("$!{obj.flowLevel}" $dict.AdministrativeLevel)
                ##</select>
				#formradio("flowLevel" "$!obj.flowLevel" $dict.AdministrativeLevel "1")
            </td>
          </tr>
		  <tr>
		  	<td class="bg-grey"><font color=red>*</font></span>流程类别</td>
			<td class="bg-white">
				#formradio("flowSort" "$!obj.flowSort" $dict.FlowSort "0")
            </td>
          </tr>
		  <tr id="docFlowType">
			<td class="bg-grey"><span><font color=red>*</font></span>流程分类</td>
			<td class="bg-white">
				<select style="width:100px;" name="flowType" id="flowType1" class="easyui-combobox" data-options="required:true,editable:false," panelheight="auto">
					#set($arr = [1, 2, 3, 5])
					##formoptionexcept("$!{obj.flowType}" $dict.WfBusinessType $!{docFlowTypeList})
					#formoptioncontain("$!{obj.flowType}" $dict.WfBusinessType $arr)
                </select>
            </td>
          </tr>
		  <tr style="display:none;" id="otherFlowType">
			<td class="bg-grey"><span><font color=red>*</font></span>流程分类</td>
			<td class="bg-white">
				<select style="width:100px;" name="otherFlowType" id="flowType2" class="easyui-combobox" data-options="required:true,editable:false" panelheight="auto">
					#set($arr = [1, 2, 3, 5])
					#formoptionexcept("$!{obj.flowType}" $dict.WfBusinessType $arr)
                </select>
            </td>
          </tr>
		  <tr>
            <td class="bg-grey">父流程</td>
            <td class="bg-white">
                <select name="parentFlowId" id="parentFlowId" class="easyui-combobox" data-options="editable:false,validType:{selectValid:' '},valueField:'id',textField:'flowName'" panelheight="auto" style="width:90%;">
                    <option value="">无</option>
                    #foreach($flow in $flowList)
                       <option value="$flow.id" #if("$!{obj.parentFlowId}" == "$flow.id")selected#end>$flow.flowName</option>
                    #end
                </select>
            </td>
          </tr>
		  <tr>
			<td class="bg-grey">通用流程</td>
			<td class="bg-white">
				#formradio("shareFlag" "$!{obj.shareFlag}" $dict.YesNo "1")
            </td>
          </tr>
		  <tr #if($!{obj.shareFlag}=='1' || "$!{obj.shareFlag}" == "") style="display:none;" #end id="is_selectDept">
            <td class="bg-grey">选择单位或部门</td>
            <td class="bg-white">
    			##<input type="text" id="deptName" style="width:300px" class="easyui-textbox" readonly value="#if($!{obj.deptId})$lookup.sysdepartment[$!{obj.deptId}].deptName #end"/>
                ##<input type="hidden" id="deptId" name="deptId" data-options="required:true"  value="$!{obj.deptId}"/>
                ##<a id="selectNodeDeptsDialog" href="javascript:;" iconcls="icon-search" plain="true"
                ##   callback=fnSelectNodeDeptCallback class="easyui-linkbutton" select-dept-dialog ></a>
				<input type="text" id="flowDeptNames" name="flowDeptNames" style="width:300px" class="easyui-textbox" readonly value="$!{flowDeptNames}"/>
                <input type="hidden" id="flowDeptIds" name="flowDeptIds" data-options="required:true"  value="$!{flowDeptIds}"/>
                <a id="selectNodeDeptsDialog" href="javascript:;" iconcls="icon-search" plain="true"
                   callback=fnSelectFlowDeptsCallback class="easyui-linkbutton" select-depts-dialog ></a>
            </td>
          </tr>
		  <tr>
			<td class="bg-grey">是否启用</td>
			<td class="bg-white">
                #formradio("flowStatus" "$!{obj.flowStatus}" $dict.EnableStatus "1")
            </td>
          </tr>
		  ##用于判断新建id是否重复
		  <input type="hidden" name="isNewFlow" id="isNewFlow" value="">
        </table>
      </form>
    </div>
    <div data-options="region:'south'" class="bottom-h">
      <div class="bottom-but">
        <ul>
          <li><a onclick="doSave()" class="new-but">保存</a></li>
          <li><a onclick="$('#editWindow').window('close')" class="new-but">关闭</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
#@script()

<script type="text/javascript">


    $(document).ready(function(){
    	if("$!{obj.flowSort}" != "" && "$!{obj.flowSort}" == "1"){
			$("#docFlowType").hide();
			$("#otherFlowType").show();
		}else{
			$("#docFlowType").show();
			$("#otherFlowType").hide();
		}
    });

	//设置流程类别radio点击事件
	$(function(){ 
		$('input[name="flowSort"]').on('click',function(){
    		if("0"==$(this).val()){
				$("#docFlowType").show();
				$("#otherFlowType").hide();
    		}else{
    			$("#docFlowType").hide();
				$("#otherFlowType").show();
    		}
    	});
	}); 

	$(function(){
		//通用流程点击事件，动态隐藏'选择单位或部门'
    	$('input[name="shareFlag"]').on('click',function(){
    		if("1"==$(this).val()){
    			$("#is_selectDept").hide();
    		}else{
    			$("#is_selectDept").show();
    		}
    	});
		
		//流程级别点击事件，动态过滤父流程
    	$('input[name="flowLevel"]').on('click',function(){
            	var url = '$link.getContextURL()/workflow/flow/getParentFlowByFlowLevel.json?flowLevel=' + $(this).val() + "&flowId=" + "$!{obj.id}";
            	$('#parentFlowId').combobox('reload', url);
				$('#parentFlowId').combobox('select','无');

				//清空已选的部门
                $('#flowDeptIds').val('');
                $('#flowDeptNames').textbox('setValue','');
    	});

	});
	
    function checkFormat(){
        $.post('$link.getContextURL()/common/serial/freeCheckFormat.json',{ownerName:"WfFlow",serialNumber:$("#flowId").val()},function(result){
            if(result.success){
                top.CC.messager({title:"提示",msg:"流程编号"+result.success});
                $("#flowId").textbox('textbox').focus();
            }else if(result.error){
                top.CC.messager({title:"提示",msg:result.error});
            }
        });
    }

    function doSave() {
	  if($("#editForm").form('validate')) {
	  	if("$!{obj.id}"){
			$("#isNewFlow").val("0");//编辑
		}else{
			$("#isNewFlow").val("1");//新增
		}
		//如果通用流程选择了否，则需要选择单位或部门
		var shareFlag = $('input[name="shareFlag"]:checked');
	  	if (shareFlag.val()==0&&!$('#flowDeptIds').val()){
            top.CC.messager({title:"提示",msg:'请选择单位或部门'});
	  	    return;
        }
	  	top.CC.loading('保存中...');
          $.post('$link.getContextURL()/workflow/flow/save.json', $('#editForm').serialize(), function(result) {
            top.CC.loaded();
            if (result.success) {
              top.CC.messager({ title:'提示', msg:'保存成功！' });
              $('#editWindow').window('close');
                _datagrid.datagrid('reload');
            } else {
              top.CC.messager({ title:'提示', msg:'操作失败！' + result.error });
            }
        });
	  }
    }

	//多选部门对话框
    $("a[select-depts-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = "$link.getContextURL()/select/Dep/selectdepbylevel?showParent=true&selected="+$("#flowDeptIds").val() + "&level=" + $('input:radio[name="flowLevel"]:checked').val(); //已选的可能加载不出来
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

     // 多选部门回调
    function fnSelectFlowDeptsCallback(obj){
		var ids = "";
		var deptNames = "";
		for(var i=0;i<obj.length;i++){
			if(i == obj.length-1){
    			ids += obj[i].id;
    			deptNames += obj[i].name;
			}else{
    			ids += obj[i].id+',';
    			deptNames += obj[i].name+'，';
			}
		}
        $('#flowDeptNames').textbox('setValue', deptNames);
        $('#flowDeptIds').val(ids);

    }
</script>
#end
