<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
  <div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false">
      <table class="table-edit" style="margin-bottom:0px;">
        <tr>
          <td class="bg-white" >流程名称：$esc.html($!{obj.flowName})（$!{obj.id}）</td>
        </tr>
      </table>
    </div>
    <div data-options="region:'center',border:false" class="cc-tableWrap mynoborder">
      <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
         <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="linkNode()">添加环节</a>
         <i></i>
         <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
         ##<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
         ##<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" plain="true">停用</a>
      </div>
      <table id="dg" class="easyui-datagrid" data-options="nowrap:false,fit:true,rownumbers:true,singleSelect:true">
        <thead>
        <tr>
          <th style="width:70px" data-options="field:'id'">环节ID</th>
          <th style="width:200px" data-options="field:'nodeName',formatter:detailUrl">环节名称</th>
          ##<th style="width:220px" data-options="field:'nextNodeIds'">下一环节</th>
          ##<th style="width:180px" data-options="field:'backNodeIds'">退回环节</th>
          ##<th style="width:70px" data-options="field:'submitNodeId'">提交环节</th>
          <th style="width:70px" data-options="field:'subflowId'">子流程ID</th>
          <th style="width:120px" data-options="field:'funcBtns'">功能按钮</th>
          <th style="width:100px" data-options="field:'editFlag'">编辑类型</th>
          <th style="width:80px" data-options="field:'docEditable'">公文可编辑</th>
          ##<th style="width:80px" data-options="field:'opearte'">操作</th>
        </tr>
        </thead>
		#*
        <tbody>
        #foreach($data in $nodeList)
          ## #if("$!{data.nodeId}"!="N0000")
          <tr>
            <td>$!{data.id}</td>
            <td>$!esc.html($!{data.nodeName})</td>
            ##<td>$!{data.nextNodeIds}</td>
            ##<td>$!{data.backNodeIds}</td>
            ##<td>$!{data.submitNodeId}</td>
            <td>$!{data.subflowId}</td>
            <td>$!{data.funcBtns}</td>
            <td>$!{data.editFlag.value}</td>
            <td>$!{data.docEditable.value}</td>
            <td><a href='javascript:;' class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="doEdit('$!{data.id}')">设置</a></td>
          </tr>
          ## #end
		#end
        </tbody>
		*#
      </table>
    </div>
  </div>
</div>
## 弹窗
<div id="editNodeWindow" class="easyui-dialog" style="width:550px;padding-bottom:5px;"
        data-options="closed:true,modal:false,minimizable:false,maximizable:false,collapsible:false,shadow:false,top:45,onBeforeOpen:beforeDialogOpen">
</div>
#@script()
<script type="text/javascript">
	var _datagrid = $("#dg");
	var _baseUrl = '$link.getContextURL()';
	var _listJsonUrl = '/workflow/flow/listNode.json?flowId=$!{obj.id}';
	$(function(){
		//初始化datagrid
        _datagrid.datagrid({
            fitColumns:false,//列宽自适应
            fit:true,//自适应
            nowrap:false, //不可换行
            rownumbers:true,//行号
            singleSelect:true,//单选
            idField:'id',
            url:_baseUrl + (_listJsonUrl || '/listNode.json?flowId=$!{obj.id}')//获取数据的url
            
        });
	});

    // 配置
    function doEdit(id) {
        var url = "$link.getContextURL()/workflow/node/edit?id=" + id;
        top.CC.addTab({ title:'节点配置',url:url });
    }

    //新节点
    function linkNode(){
		_datagrid.datagrid('clearSelections');
		openEditWindow();
    }
	
	//打开编辑窗口
	function openEditWindow(index){
		//_datagrid.datagrid('clearSelections');
		var sendId = "";
		var url = ""
		if(index){
			_datagrid.datagrid("selectRow",index);
			var row = _datagrid.datagrid("getSelected");
			url = "$link.getContextURL()/workflow/node/edit?id="+row.id;
			$('#editNodeWindow').window('setTitle', '编辑环节');
		}else{
			url = "$link.getContextURL()/workflow/node/new?flowId=$!{obj.id}";
			$('#editNodeWindow').window('setTitle', '新增环节');
		}
		$('#editNodeWindow').window('open');
        $('#editNodeWindow').window('refresh',url);
	}

	function detailUrl(value,row,index) {
        var html = "";
        html += "<a href='javascript:;' class='font-titlecolor' onclick='openEditWindow(\""+index+"\")'>"+value+"</a>";
        return html;
    }
	
	function detailRow(nodeId){
		
	}
	
	// 在窗口打开之前调整窗口位置
    var _first_open = true; // 第一次打开需要多减40,否则底部按钮会被挡住（我也不知道为啥）
    var beforeDialogOpen = function() {
        var dialog = $('#editNodeWindow');
        var windowWidth = $(window).width();
        var dialogWidth = dialog.width();
        var left = windowWidth - dialogWidth;

        var windowHeight = $(window).height();
        var dialogHeight = windowHeight - 45;

        // 判断是否已打开， 首次打开则多减40，否则底部按钮会被挡住（╮(╯▽╰)╭）
        if (!dialog.is(":visible")) {
            dialogHeight -= 40;
        }
        dialog.panel('resize',{height: dialogHeight});
        dialog.panel('move', {left: left});
    }
</script>
#end
