<div>
        <label for="$!__id" class="form-fill-label">$!__title</label>
        #if($!__uploadable == "true")
        <a id="$!__id"  type="plupload$!{__name}" class="easyui-linkbutton" icon="icon-add" plain=true href="javascript:;" #if($__uploadurl)uploadurl="$!__uploadurl"#end>添加附件</a>
        <br/>
        #end
        <div class="$!__class filelistmulti">
            #foreach($attach in $__attachList)
             #set($url = "$!__downloadurl" + "?id=$attach.id")
             #set($attachIds = "$!attachIds" + ",$!attach.id")
           <span class="upload">
             <div class="uploadedfile">
                <a target="_blank" href="$url" title="点击下载:$!{esc.html($attach.trueName)}">$!{esc.html($attach.trueName)}</a>
				#set($fileSize = $!{attach.fileSize}/1024)
                <span>($!fileSize kb)</span>
             </div>
             <div class="uploadafter">
             #if($!__deleteable == "true")
                <a id="$attach.id" class="easyui-linkbutton" icon="icon-remove" plain=true  onclick="removeAttach$!{__name}(this)" href="javascript:;">删除</a>
             #end
             </div>
           </span>
           <br/>
            #end
        </div>
        #if("$!attachIds" != "")
        #set($attachIds = $attachIds.substring(1,$attachIds.length()))
        <input type="hidden" id="$!__name" name="$!__name" value="$!{esc.html($attachIds)}"/>
        #else
        <input type="hidden" id="$!__name" name="$!__name" value="$!{esc.html($!__value)}"/>
        #end
</div>

#@script()

<script type="text/javascript">

$(document).ready(function() {
    $('a[type="plupload$!{__name}"]').each(function(){
        var _this=$(this);
        var _thisdom = _this.get(0);
        var _thisurl = _this.attr("uploadurl") || "$!{link.getContextPath()}/plupload/upload.json";
        var _max_file_size = _this.attr("maxfilesize") || '1000mb';
        var _mime_types = _this.attr("mimetypes") || '[{"title":"word文档", "extensions":"doc,docx"}]';
        _mime_types = eval(_mime_types);

        var _filelistdom = $(".filelistmulti", _thisdom.parentNode).get(0);

        var _targetinput = $("input[type='hidden']", _thisdom.parentNode);

        var uploader = new plupload.Uploader({
                runtimes : 'html5,flash',

                browse_button : _thisdom,
                container : _thisdom.parentNode,

                url : _thisurl,

                multi_selection:false,
                chunk_size : "1mb",

                filters : {
                    max_file_size : _max_file_size,
                    mime_types : _mime_types,
					prevent_duplicates : true
                },

                // Flash settings
                flash_swf_url : '$!{link.getContextPath()}/lib/plupload/Moxie.swf',

                preinit : {
                    UploadFile: function(up, file) {
                        up.setOption('multipart_params', {fileid: file.id})
                    }
                },

                init : {
                    PostInit : function() {
                        //_filelistdom.innerHTML = '';
                    },
                    FilesAdded : function(up, files) {
                        plupload.each(files, function(file) {
                        var s = '<span class="upload" id="' + file.id + '" fileidobj><div  class="uploadedfile">' + file.name
                                    + ' </div><div class="uploadafter"><a icon="icon-remove" plain=true  onclick="removeAttach$!{__name}(this)" href="javascript:;">删除</a>(' + plupload.formatSize(file.size) + ')<b></b></div></span><br/>';
##                            var s = '<span id="' + file.id + '" fileidobj><div  class="uploadedfile">' + file.name
##                                    + ' </div><div class="uploadafter"><a icon="icon-remove" plain=true  onclick="removeAttach$!{__name}(this)" href="javascript:;">删除</a>(' + plupload.formatSize(file.size) + ')<b></b></div></span><br/>';
                            $(_filelistdom).append(s);
                            if (up.state == plupload.STOPPED) {
                                up.refresh();
                                up.start();
                            }
                        });
                    },
                    UploadProgress : function(up, file) {
                        if (document.getElementById(file.id)){
                            var d = $('div.uploadafter',$('#' + file.id)).get(0);
                            var b = $('b',d).get(0);
                            $(b).html('<span>' + file.percent + '%</span>');
                        }
                    },
                    FileUploaded: function(up, file, info) {
                        if (info && (info.status == "200")) {
                            var message='<span>上传完毕</span>';
                            if (info.response) {
                                var data = JSON.parse(info.response);
                                if (data.error) {
                                    message=null;
                                    _filelistdom.innerHTML = '上传失败！' + data.error;
                                } else {
                                    if (data.id) {
                                        var _value = _targetinput.attr('value');
                                        var _del = document.getElementById(file.id).getElementsByTagName('a')[0];
                                        $(_del).attr('id',data.id);
                                        $(_del).linkbutton({});
                                        if(_value !== ""){
                                            _value += "," + data.id;
                                        }else{
                                            _value = data.id;
                                        }
                                        _targetinput.attr('value', _value);
                                    }
                                }
                            }

                            if (message && document.getElementById(file.id)){
                                var d = $('div.uploadafter',$('#' + file.id)).get(0);
                                var b = $('b',d).get(0);
                                $(b).html(message);
                            }
                        } else {
                        }
                    },
                    Error : function(up, err) {
                        if (plupload.FILE_SIZE_ERROR == err.code) {
                            alert("选择的文件大小为 " + plupload.formatSize(err.file.size) + " ，超过了最大上传文件大小 " + _max_file_size + " 的限制。");
                        }else if(plupload.FILE_DUPLICATE_ERROR == err.code){
							alert("不能重复上传文件：" +  err.file.name);
						} else {
                            _filelistdom.innerHTML = err.message;
                        }
                    }
                }
            });

            uploader.init();

           _filelistdom.removeFile = function (id) {
                var file = uploader.getFile(id);
                if (file) {
                    uploader.removeFile(file);
                }
            }
    });
});


function removeAttach$!{__name}(obj){
   var _obj = $(obj);
   var id = _obj.attr("id");
   if (!id) {
     var fileid = _obj.parents("[fileidobj]").attr("id");
     var filelistdom = _obj.parents(".filelistmulti").get(0);
     filelistdom.removeFile(fileid);
   }

   var _span = _obj.parent().parent();
   var _br = _span.next();


   if (id) {
     var _input = $("input[name='$!__name']", _span.parent().parent());
     var _vlaueSet = _input.val().split(",");
     if(_vlaueSet.length > 1){
         for(var i in _vlaueSet){
              if(id == _vlaueSet[i]){_vlaueSet.splice(i,1);}
         }
         _input.val(_vlaueSet);
     }else{
         _input.val("");
     }
   }

   _span.remove();
   _br.remove();

   return false;
}
</script>
<style>
.filelistmulti{
    display: block;
    float: left;
    line-height:25px;
    width: 100%;
}
.uploadedfile{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}
.uploadafter{
    display: inline-block;
    float: right;
    width: 20%;
}
</style>
#end
