
.icon-adjust
     {
    background: url('../green/icons_Custom/icon-adjust.png') no-repeat center center;
      }
.icon-edit
     {
    background: url('../green/icons_Custom/icon-edit.png') no-repeat center center;
      }
.icon-share,.icon-redo
     {
    background: url('../green/icons_Custom/icon-share.png') no-repeat center center;
      }
.icon-asterisk
     {
    background: url('../green/icons_Custom/icon-asterisk.png') no-repeat center center;
      }
.icon-envelope
     {
    background: url('../green/icons_Custom/icon-envelope.png') no-repeat center center;
      }
.icon-share-alt
     {
    background: url('../green/icons_Custom/icon-share-alt.png') no-repeat center center;
      }
.icon-ban-circle
     {
    background: url('../green/icons_Custom/icon-ban-circle.png') no-repeat center center;
      }
.icon-envelope-alt
     {
    background: url('../green/icons_Custom/icon-envelope-alt.png') no-repeat center center;
      }
.icon-map-marker
     {
    background: url('../green/icons_Custom/icon-map-marker.png') no-repeat center center;
      }
.icon-exchange
     {
    background: url('../green/icons_Custom/icon-exchange.png') no-repeat center center;
      }
.icon-minus,.icon-remove
     {
    background: url('../green/icons_Custom/icon-minus.png') no-repeat center center;
      }
  .icon-save
 {
background: url('../green/icons_Custom/icon-save.png') no-repeat center center;
  }
    .icon-filter
 {
background: url('../green/icons_Custom/icon-filter.png') no-repeat center center;
  }

.icon-exclamation-sign
     {
    background: url('../green/icons_Custom/icon-exclamation-sign.png') no-repeat center center;
      }
.icon-minus-sign
     {
    background: url('../green/icons_Custom/icon-minus-sign.png') no-repeat center center;
      }
.icon-signin
     {
    background: url('../green/icons_Custom/icon-signin.png') no-repeat center center;
      }
.icon-beaker
     {
    background: url('../green/icons_Custom/icon-beaker.png') no-repeat center center;
      }
.icon-external-link
     {
    background: url('../green/icons_Custom/icon-external-link.png') no-repeat center center;
      }
.icon-lightbulb,.icon-tip
     {
    background: url('../green/icons_Custom/icon-lightbulb.png') no-repeat center center;
      }
.icon-bell
     {
    background: url('../green/icons_Custom/icon-bell.png') no-repeat center center;
      }
.icon-move
     {
    background: url('../green/icons_Custom/icon-move.png') no-repeat center center;
      }
.icon-book
     {
    background: url('../green/icons_Custom/icon-book.png') no-repeat center center;
      }
.icon-ok
     {
    background: url('../green/icons_Custom/icon-ok.png') no-repeat center center;
      }
.icon-bookmark
     {
    background: url('../green/icons_Custom/icon-bookmark.png') no-repeat center center;
      }
.icon-ok-circle
     {
    background: url('../green/icons_Custom/icon-ok-circle.png') no-repeat center center;
      }
.icon-pencil
     {
    background: url('../green/icons_Custom/icon-pencil.png') no-repeat center center;
      }
.icon-briefcase
     {
    background: url('../green/icons_Custom/icon-briefcase.png') no-repeat center center;
      }
.icon-folder-close
     {
    background: url('../green/icons_Custom/icon-folder-close.png') no-repeat center center;
      }
.icon-picture,.icon-large-picture
     {
    background: url('../green/icons_Custom/icon-picture.png') no-repeat center center;
      }
.icon-calendar
     {
    background: url('../green/icons_Custom/icon-calendar.png') no-repeat center center;
      }
.icon-folder-open
     {
    background: url('../green/icons_Custom/icon-folder-open.png') no-repeat center center;
      }
.icon-plus,.icon-add
     {
    background: url('../green/icons_Custom/icon-plus.png') no-repeat center center;
      }
.icon-plus-sign
     {
    background: url('../green/icons_Custom/icon-plus-sign.png') no-repeat center center;
      }
.icon-print
     {
    background: url('../green/icons_Custom/icon-print.png') no-repeat center center;
      }
.icon-check
     {
    background: url('../green/icons_Custom/icon-check.png') no-repeat center center;
      }
.icon-pushpin
     {
    background: url('../green/icons_Custom/icon-pushpin.png') no-repeat center center;
      }
.icon-check-empty
     {
    background: url('../green/icons_Custom/icon-check-empty.png') no-repeat center center;
      }
.icon-certificate
     {
    background: url('../green/icons_Custom/icon-certificate.png') no-repeat center center;
      }
.icon-circle
     {
    background: url('../green/icons_Custom/icon-circle.png') no-repeat center center;
      }
.icon-question-sign,.icon-help
     {
    background: url('../green/icons_Custom/icon-question-sign.png') no-repeat center center;
      }
.icon-circle-blank
     {
    background: url('../green/icons_Custom/icon-circle-blank.png') no-repeat center center;
      }
.icon-trash
     {
    background: url('../green/icons_Custom/icon-trash.png') no-repeat center center;
      }
.icon-cloud-download
     {
    background: url('../green/icons_Custom/icon-cloud-download.png') no-repeat center center;
      }
.icon-random
     {
    background: url('../green/icons_Custom/icon-random.png') no-repeat center center;
      }
.icon-cloud-upload
     {
    background: url('../green/icons_Custom/icon-cloud-upload.png') no-repeat center center;
      }
.icon-refresh,.icon-reload
     {
    background: url('../green/icons_Custom/icon-refresh.png') no-repeat center center;
      }
.icon-bar-chart,.icon-large-chart
     {
    background: url('../green/icons_Custom/icon-bar-chart.png') no-repeat center center;
      }

.icon-remove,.icon-cancel
     {
    background: url('../green/icons_Custom/icon-remove.png') no-repeat center center;
      }
.icon-upload
     {
    background: url('../green/icons_Custom/icon-upload.png') no-repeat center center;
      }
.icon-cog
     {
    background: url('../green/icons_Custom/icon-cog.png') no-repeat center center;
      }
.icon-remove-circle,.icon-clear
     {
    background: url('../green/icons_Custom/icon-remove-circle.png') no-repeat center center;
      }
.icon-upload-alt
     {
    background: url('../green/icons_Custom/icon-upload-alt.png') no-repeat center center;
      }
.icon-remove-sign,.icon-no
     {
    background: url('../green/icons_Custom/icon-remove-sign.png') no-repeat center center;
      }
.icon-man
     {
    background: url('../green/icons_Custom/icon-user.png') no-repeat center center;
      }
.icon-home
     {
    background: url('../green/icons_Custom/icon-home.png') no-repeat center center;
      }
.icon-comment
     {
    background: url('../green/icons_Custom/icon-comment.png') no-repeat center center;
      }
.icon-info-sign
     {
    background: url('../green/icons_Custom/icon-info-sign.png') no-repeat center center;
      }
.icon-reorder
     {
    background: url('../green/icons_Custom/icon-reorder.png') no-repeat center center;
      }
.icon-comment-alt
     {
    background: url('../green/icons_Custom/icon-comment-alt.png') no-repeat center center;
      }
.icon-key
     {
    background: url('../green/icons_Custom/icon-key.png') no-repeat center center;
      }
.icon-reply,.icon-undo
     {
    background: url('../green/icons_Custom/icon-reply.png') no-repeat center center;
      }
.icon-volume-off
     {
    background: url('../green/icons_Custom/icon-volume-off.png') no-repeat center center;
      }
.icon-resize-horizontal
     {
    background: url('../green/icons_Custom/icon-resize-horizontal.png') no-repeat center center;
      }
.icon-volume-down
     {
    background: url('../green/icons_Custom/icon-volume-down.png') no-repeat center center;
      }
.icon-resize-vertical
     {
    background: url('../green/icons_Custom/icon-resize-vertical.png') no-repeat center center;
      }
.icon-warning-sign
     {
    background: url('../green/icons_Custom/icon-warning-sign.png') no-repeat center center;
      }
.icon-wrench
     {
    background: url('../green/icons_Custom/icon-wrench.png') no-repeat center center;
      }
.icon-zoom-in
     {
    background: url('../green/icons_Custom/icon-zoom-in.png') no-repeat center center;
      }
.icon-download
     {
    background: url('../green/icons_Custom/icon-download.png') no-repeat center center;
      }
.icon-lock
     {
    background: url('../green/icons_Custom/icon-lock.png') no-repeat center center;
      }
.icon-zoom-out
     {
    background: url('../green/icons_Custom/icon-zoom-out.png') no-repeat center center;
      }
.icon-download-alt
     {
    background: url('../green/icons_Custom/icon-download-alt.png') no-repeat center center;
      }
.icon-unlock
     {
    background: url('../green/icons_Custom/icon-unlock.png') no-repeat center center;
      }
.icon-search
     {
    background: url('../green/icons_Custom/icon-search.png') no-repeat center center;
      }
.icon-file
     {
    background: url('../green/icons_Custom/icon-file.png') no-repeat center center;
      }
.icon-table
     {
    background: url('../green/icons_Custom/icon-table.png') no-repeat center center;
      }
.icon-file-alt
     {
    background: url('../green/icons_Custom/icon-file-alt.png') no-repeat center center;
      }
.icon-cut
     {
    background: url('../green/icons_Custom/icon-cut.png') no-repeat center center;
      }
.icon-copy
     {
    background: url('../green/icons_Custom/icon-copy.png') no-repeat center center;
      }
.icon-paste
     {
    background: url('../green/icons_Custom/icon-paste.png') no-repeat center center;
      }
.icon-undo
     {
    background: url('../green/icons_Custom/icon-undo.png') no-repeat center center;
      }
.icon-paper-clip
     {
    background: url('../green/icons_Custom/icon-paper-clip.png') no-repeat center center;
      }
.icon-repeat
     {
    background: url('../green/icons_Custom/icon-repeat.png') no-repeat center center;
      }
.icon-angle-left
     {
    background: url('../green/icons_Custom/icon-angle-left.png') no-repeat center center;
      }
.icon-angle-right
     {
    background: url('../green/icons_Custom/icon-angle-right.png') no-repeat center center;
      }
.icon-double-angle-left
     {
    background: url('../green/icons_Custom/icon-double-angle-left.png') no-repeat center center;
      }
.icon-double-angle-right
     {
    background: url('../green/icons_Custom/icon-double-angle-right.png') no-repeat center center;
      }
.icon-angle-up
     {
    background: url('../green/icons_Custom/icon-angle-up.png') no-repeat center center;
      }
.icon-angle-down
     {
    background: url('../green/icons_Custom/icon-angle-down.png') no-repeat center center;
      }
.icon-double-angle-up
     {
    background: url('../green/icons_Custom/icon-double-angle-up.png') no-repeat center center;
      }
.icon-double-angle-down
     {
    background: url('../green/icons_Custom/icon-double-angle-down.png') no-repeat center center;
      }
.icon-fullscreen
     {
    background: url('../green/icons_Custom/icon-fullscreen.png') no-repeat center center;
      }
.icon-resize-full
     {
    background: url('../green/icons_Custom/icon-resize-full.png') no-repeat center center;
      }
.icon-resize-small
     {
    background: url('../green/icons_Custom/icon-resize-small.png') no-repeat center center;
      }
.icon-phone
     {
    background: url('../green/icons_Custom/icon-phone.png') no-repeat center center;
      }
.icon-sendmsg
     {
    background: url('../green/icons_Custom/icon-sendmsg.png') no-repeat center center;
      }
.icon-arrow-right
     {
    background: url('../green/icons_Custom/icon-arrow-right.png') no-repeat center center;
      }
.icon-arrow-left,.icon-back
     {
    background: url('../green/icons_Custom/icon-arrow-left.png') no-repeat center center;
      }
.icon-arrow-up
     {
    background: url('../green/icons_Custom/icon-arrow-up.png') no-repeat center center;
      }
.icon-time
     {
    background: url('../green/icons_Custom/icon-time.png') no-repeat center center;
      }
.icon-take-ctf
     {
    background: url('../green/icons_Custom/icon-take-ctf.png') no-repeat center center;
      }
.icon-quit-small
     {
    background: url('../green/icons_Custom/icon-quit-small.png') no-repeat center center;
      }

/*树结构图标更改开始*/
.tree-folder {
  background: url('../green/icons_Custom/icon-folder-close.png') no-repeat center center;
  padding-left:0px;
}
.tree-folder-open {
  background: url('../green/icons_Custom/icon-folder-open.png') no-repeat center center;
}
.tree-file {
  background: url('../green/icons_Custom/icon-file-alt.png') no-repeat center center;
}
/*弹出窗口*/
