@charset "utf-8";

    .styles {
        background: #93bd3e;
        width: 220px;
    }

    .layout-expand-west .panel-header {
        background: #93bd3e!important;
    }

    .layout-expand-west .panel-header,
    .layout-expand-west .panel-body {
        border: 0;
        background-color: #93bd3e;
    }

    .layout-expand-west .panel-tool a:hover {
        background-color: #93bd3e;
    }

    .cctree a:hover {
        background-color: #a4ce4f!important;
    }


