<?xml version="1.0" encoding="utf-8" ?>
<E_officialdocument>
    <jhsbxx>
        <xxzyID>$!{envelopeContent.resourceIden}</xxzyID>
        <ywlsh>$!{envelopeContent.envelopeUuid}</ywlsh>
        <letterid>$!{envelopeContent.letterId}</letterid>
        <ywlx>$!{envelopeContent.bussinessType}</ywlx>
#if($!{envelope.envelopeType}=="5")
        <mj>3</mj>
#else
        <mj></mj>
#end
        <jjcd>$!{envelopeContent.emergencyLevel}</jjcd>
        <qqf>$!{envelopeContent.sendOrg}</qqf>
        <fkf>$!{envelopeContent.feedbackOrg}</fkf>
        <jhdx>
        #if(${xmlReceiveFlag} == "3")
        ##            纸质公文--fsf jsf 固定
            <fsf>007566461</fsf>
            <fssj>$!{envelope.sendTimeFmt}</fssj>
            <jsf>123456789</jsf>
        #else
        ##            电子公文
            <fsf>$!{envelopeContent.feedbackOrg}</fsf>
            <fssj>$!{envelope.sendTimeFmt}</fssj>
            <jsf>$!{envelopeContent.sendOrg}</jsf>
        #end
        </jhdx>
        <jhzt>$!{envelopeContent.conStatus}</jhzt>
#if($!{envelope.envelopeType}=="5"||$!{envelope.envelopeType}=="6")
        <fkyqbsf>B</fkyqbsf>
#else
        <fkyqbsf>Z</fkyqbsf>
#end
        <fksjyq></fksjyq>
        <aqxxx>$!{envelopeContent.digitalSignature}</aqxxx>
    </jhsbxx>
    <jhztxx>
#if($!{envelope.documentType}=="1")
        <swhz>
            <qsbm>$!{envelope.signerDeptName}</qsbm>
            <qsr>$!{envelope.signerName}</qsr>
            <qssj>$!{envelope.signDate}</qssj>
            <lxr>$!{envelopeContent.contactName}</lxr>
            <lxdh>$!{envelopeContent.contactPhone}</lxdh>
        </swhz>
#else
        #if($!{envelope.envelopeType}=="6")
        <bjxx>
            <lxr>$!{envelopeContent.contactName}</lxr>
            <lxfs>$!{envelopeContent.contactPhone}</lxfs>
            <bzsj>$!{envelopeContent.finishTime}</bzsj>
            <bzsm>$!{envelopeContent.finishMemo}</bzsm>
        </bjxx>
        #elseif($!{envelope.envelopeType}=="5")
    <dzgw type="2">
            <fh>$!{envelopeContent.numIden}</fh>
            <mj>非涉密</mj>
            <bmqx></bmqx>
            <jjcd>$!{envelopeContent.emergencyLevel.value}</jjcd>
            <fwjg>$!{envelopeContent.sendOrgName}</fwjg>
            <fwwh>$!{envelopeContent.docNumber}</fwwh>
            <qfr>$!{envelopeContent.signSendMan}</qfr>
            <bt>$!{envelopeContent.title}</bt>
            <zsjg>$!{envelopeContent.mainSend}</zsjg>
            <zw></zw>
            <fjsm></fjsm>
            <cwrq>$!{envelopeContent.docFileTimeFmt}</cwrq>
            <dzyz>$!{envelopeContent.digitalSeal}</dzyz>
            <fz>$!{envelopeContent.linkScript}</fz>
            <gkfs>$!{envelopeContent.publishType.value}</gkfs>
            <cs>$!{envelopeContent.copySend}</cs>
            <yfjg>$!{envelopeContent.printOrg}</yfjg>
            <yfrq>$!{envelopeContent.printDateFmt}</yfrq>
            <ewtm>$!{envelopeContent.twoDimensionCode}</ewtm>
            <lxr>$!{envelopeContent.contactName}</lxr>
            <lxdh>$!{envelopeContent.contactPhone}</lxdh>
            <dzgwbswj>
                <bswjwjm>$!{envelopeContent.gdFileDoc.trueName}</bswjwjm>
                <bswjgssm>$!{envelopeContent.gdFileDoc.affixSuffix}</bswjgssm>
                <bswjwjt></bswjwjt>
            </dzgwbswj>
            <dzgwbswj>
                <bswjwjm>$!{envelopeContent.gwFileDoc.trueName}</bswjwjm>
                <bswjgssm>$!{envelopeContent.gwFileDoc.affixSuffix}</bswjgssm>
                <bswjwjt></bswjwjt>
            </dzgwbswj>
            <dzgwbswj>
                <bswjwjm>$!{envelopeContent.tifFileDoc.trueName}</bswjwjm>
                <bswjgssm>$!{envelopeContent.tifFileDoc.affixSuffix}</bswjgssm>
                <bswjwjt></bswjwjt>
            </dzgwbswj>
#foreach($_attach in $!{envelopeContent.remoteDocSwapAttachs})
#if("$!{_attach.remoteAttachType}" == "other")
            <gwfj>
                <fjwjm>$!{_attach.trueName}</fjwjm>
                <fjgssm></fjgssm>
            </gwfj>
#end
#end
        </dzgw>
        #else
    <dzgw type="2">
    ##份号
        <fh>$!{envelopeContent.numIden}</fh>
    ##密级
        <mj>非涉密</mj>
        <bmqx></bmqx>
    ##紧急程度
        <jjcd>$!{envelopeContent.emergencyLevel.value}</jjcd>
    ##发文单位
        <fwjg>$!{envelopeContent.sendOrgName}</fwjg>
    ##发文文号
        <fwwh>$!{envelopeContent.docNumber}</fwwh>
    ##签发人
        <qfr>$!{envelopeContent.signSendMan}</qfr>
    ##标题
        <bt>$!{envelopeContent.title}</bt>
    ##主送机关
        <zsjg>$!{envelopeContent.mainSend}</zsjg>
    ##正文
        <zw></zw>
    ##附件说明
        <fjsm></fjsm>
    ##成文日期
        <cwrq></cwrq>
    ##电子印章
        <dzyz></dzyz>
    ##附注
        <fz>$!{envelopeContent.linkScript}</fz>
    ##公开方式
        <gkfs>$!{envelopeContent.publishType.value}</gkfs>
    ##抄送
        <cs>$!{envelopeContent.copySend}</cs>
    ##印发机关
        <yfjg>$!{envelopeContent.printOrg}</yfjg>
    ##印发日期
        <yfrq>$!{envelopeContent.printDateFmt}</yfrq>
    ##二维条码
        <ewtm>$!{envelopeContent.twoDimensionCode}</ewtm>
    ##联系人
        <lxr>$!{envelopeContent.contactName}</lxr>
    ##联系电话
        <lxdh>$!{envelopeContent.contactPhone}</lxdh>
        <dzgwbswj>
            <bswjwjm>$!{envelopeContent.gdFileDoc.trueName}</bswjwjm>
            <bswjgssm>$!{envelopeContent.gdFileDoc.affixSuffix}</bswjgssm>
            <bswjwjt></bswjwjt>
        </dzgwbswj>
        <dzgwbswj>
            <bswjwjm>$!{envelopeContent.gwFileDoc.trueName}</bswjwjm>
            <bswjgssm>$!{envelopeContent.gwFileDoc.affixSuffix}</bswjgssm>
            <bswjwjt></bswjwjt>
        </dzgwbswj>
        <dzgwbswj>
            <bswjwjm>$!{envelopeContent.tifFileDoc.trueName}</bswjwjm>
            <bswjgssm>$!{envelopeContent.tifFileDoc.affixSuffix}</bswjgssm>
            <bswjwjt></bswjwjt>
        </dzgwbswj>
#set($hasAttach = false)
#if($!{envelopeContent.remoteDocSwapAttachs})
    #foreach($_attach in $!{envelopeContent.remoteDocSwapAttachs})
    #if($!{_attach.remoteAttachType} == "other")
        #set($hasAttach = true)
        <gwfj>
            <fjwjm>$!{_attach.trueName}</fjwjm>
            <fjgssm></fjgssm>
            <fjwjt>
            </fjwjt>
        </gwfj>
    #end
    #end
#end
#if(!$hasAttach)
        <gwfj>
            <fjwjm></fjwjm>
            <fjgssm></fjgssm>
            <fjwjt>
            </fjwjt>
        </gwfj>
#end
        </dzgw>
        #end
#end
    </jhztxx>
</E_officialdocument>

