<?xml version="1.0" encoding="utf-8" ?>
<E_officialdocument>
    <jhsbxx>
        <xxzyID>$!{envelopeContent.resourceIden}</xxzyID>
        <ywlsh>$!{envelopeContent.envelopeUuid}</ywlsh>
        <letterid>$!{envelopeContent.letterId}</letterid>
        <ywlx>xgsx</ywlx>
        <mj>3</mj>
        <jjcd>$!{envelopeContent.emergencyLevel}</jjcd>
        <qqf>$!{envelopeContent.sendOrg}</qqf>
        <fkf>$!{envelopeContent.feedbackOrg}</fkf>
        <jhdx>
            <fsf>$!{envelopeContent.sendOrg}</fsf>
            <fssj>$!{envelope.sendTimeFmt}</fssj>
            <jsf>$!{envelopeContent.feedbackOrg}</jsf>
        </jhdx>
        <jhzt>$!{envelopeContent.status}</jhzt>
        <fkyqbsf>$!{envelopeContent.feedbackFlag}</fkyqbsf>
        <fksjyq >Z</fksjyq>
        <aqxxx>$!{envelopeContent.digitalSignature}</aqxxx>
    </jhsbxx>
    <jhztxx>
        <xgsx>
            <lxr>$!{envelopeContent.contactName}</lxr>
            <lxdh>$!{envelopeContent.contactPhone}</lxdh>
            <fksjyq type="$!{envelope.deadlineType}">$!{envelope.limitTimeFmt}</fksjyq>
            <cgsj>$!{envelope.modifyDeadlineTimeFmt}</cgsj>
            <jjcd>$!{envelopeContent.emergencyLevel.value}</jjcd>
        </xgsx>
    </jhztxx>
</E_officialdocument>

