<?xml version="1.0" encoding="utf-8" ?>
<E_officialdocument>
    <jhsbxx>
        <xxzyID>$!{envelopeContent.resourceIden}</xxzyID>
        <ywlsh>$!{envelopeContent.envelopeUuid}</ywlsh>
        <letterid>$!{envelopeContent.letterId}</letterid>
        <ywlx>syxx</ywlx>
        <mj>3</mj>
        <jjcd>$!{envelopeContent.emergencyLevel}</jjcd>
        <qqf>$!{envelopeContent.sendOrg}</qqf>
        <fkf>$!{envelopeContent.feedbackOrg}</fkf>
        <jhdx>
        #if(${xmlReceiveFlag} == "3")
        ##            纸质公文--fsf jsf 固定
            <fsf>007566461</fsf>
            <fssj>$!{envelope.sendTimeFmt}</fssj>
            <jsf>123456789</jsf>
        #else
        ##            电子公文
            <fsf>$!{envelopeContent.feedbackOrg}</fsf>
            <fssj>$!{envelope.sendTimeFmt}</fssj>
            <jsf>$!{envelopeContent.sendOrg}</jsf>
        #end
        </jhdx>
        <jhzt>B</jhzt>
        <fkyqbsf>Z</fkyqbsf>
        <fksjyq ></fksjyq>
        <aqxxx>$!{envelopeContent.digitalSignature}</aqxxx>
    </jhsbxx>
    <jhztxx>
        <syxx>
            <sydx>$!{envelopeContent.docReadBody}</sydx>
            <sysj>$!{envelopeContent.docReadTimeFmt}</sysj>
            <lxr>$!{envelopeContent.contactName}</lxr>
            <lxdh>$!{envelopeContent.contactPhone}</lxdh>
        </syxx>
    </jhztxx>
</E_officialdocument>

