<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
                  <input type="hidden" id="id" name="id" value="$!{obj.id}"/>
                  <input type="hidden" id="folderId" name="folderId" value="$!{folderId}"/>
                  <input type="hidden" id="fileName" name="fileName" value="$!{esc.html($!obj.fileName)}"/>
                  <tbody>
                    <tr>
                      <td class="fix_td_title">&nbsp;</td>
                      <td class="fix_td_data">&nbsp;</td>
                      <td class="fix_td_title">&nbsp;</td>
                      <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr align="center" >
                        <td class="bg-grey">关键词</td>
                        <td class="bg-white" >
                        <input style="width:100%" id="keyword" data-options="validType:'maxLength[250]'" class= "easyui-textbox" name="keyword" value="$!{esc.html($!{obj.keyword})}"/>
                        </td>
                        <td class="bg-grey">上传人</td>
                        <td class="bg-white" >
                            #if($!{createName}) $!{createName} #else $!{currUser.userName} #end
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">所属目录</td>
                        <td colspan="3"  class="bg-white">
                            $!{folder.fullFloderName}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey"><span><font color=red>*</font></span>文件</td>
                        <td colspan="3"  class="bg-white" attachId="$!{obj.id}">#if(!$obj.fileName) 文件大小不能超过100mb! #end
                             #formfilemulty("docsIds", "", "", "", $!{attachMap.get("$obj.id")},"$link.getContextURL()/oa/docs/plupload/download", true, "$link.getContextURL()/oa/docs/plupload/upload.json",true,"","docs")
                        </td>
                    </tr>
                  </tbody>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    #if($power.checkShowMenu("电子文件批量上传保存","/oa/docs/edit/saveAll.json"))<li><a id="save" onclick="save()" class="new-but" >保存</a></li>#end
                    <li><a id="back" onclick="back()" class="new-but" >返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';

    //关闭
    function back() {
        top.CC.addTab({title:'电子文件管理',url:'$link.getContextURL()/oa/docs/list'});
        top.CC.closeTab("文件上传");
    }

    function save(){
        if($("#editForm").form('validate')) {
            var fileDiv = $(".uploadedfile");
            if(!fileDiv || fileDiv.length < 0){
                top.CC.messager({
                    title:'提示',
                    msg:'请上传文件！'
                });
                return;
            }
            top.CC.loading("保存中，请稍后...");
            $.post("$link.getContextURL()/oa/docs/saveAll.json",$("#editForm").serialize(),function(result){
             top.CC.loaded();
                  if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'保存成功！'
                    });
                    top.CC.addTab({title:'电子文件管理',url:'$link.getContextURL()/oa/docs/list'});
                    top.CC.closeTab("文件上传");
                  }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
        }
    }

</script>
#end
