<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/doc/letter.css"/>
<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <div id="noteRevContent"  class="over_muchTab" align="center">
            <div id="sendContainer" style="padding-bottom:10px;">
              <table border="0" cellpadding="0" cellspacing="0" class="content border_topLeft">
                <tbody>
                <div  class="title">部门函件处理笺</div>
                <tr height="40">
                  <td width="120px" class="title2" align="center">发送日期</td>
                  <td width="230px" ><span>$date.format("yyyy年MM月dd日",$!{letter.createDate})</span>&nbsp;</td>
                  <td width="120px" class="title2" align="center">编&nbsp;&nbsp;号</td>
                  <td width="230px" class="border_right">&nbsp;<span>$!{esc.html($!{letter.letterCode})}</span></td>
                </tr>
                <tr height="50" >
                  <td class="title2" align="center">标题</td>
                  <td class="border_right" colspan="3" align="left">&nbsp;<span>$!{esc.html($!{letter.title})}</span></td>
                </tr>
                <tr height="40">
                  <td class="title2" align="center">紧急程度</td>
                  <td align="left"><span>$!{letter.urgencyLevel.value}</span>&nbsp;</td>
                  <td class="title2" align="center" >处理时限</td>
                  <td class="border_right" align="left">&nbsp;<span>$!date.format("yyyy年MM月dd日",$!{letter.expiryDate})</span></td>
                </tr>
                 <tr height="40">
                  <td class="title2" align="center">拟稿人</td>
                  <td align="left"><span>#if($!{letter.creatorId})$lookup.sysuser[$!{letter.creatorId}].userName #end</span>&nbsp;</td>
                  <td class="title2" align="center">承办部门</td>
                  <td class="border_right" align="left">&nbsp;<span>#if($!{letter.creatorDeptId})$lookup.sysdepartment[$!{letter.creatorDeptId}].deptName #end</span></td>
                </tr>
                #if($!{letter.docFile.fileType.key}=="1")
                 <tr  height="150">
                    <td align="center" class="title2">拟办意见</td>
                    <td colspan="3" class="border_right" align="left">
                    #if($op_nibans && $!{op_nibans.size()} > 0)
                      #foreach($op in $op_nibans)
                        <span>$!{esc.html($!{op.apprOpinion})}</span>
                        <ul style="float:right; padding:15px 0; text-align:center;">
                          <li>
                             <span>$!date.format("yyyy-MM-dd HH:mm",$!op.apprTime)</span>
                          </li>
                          #if($op.approverId)
                          <li><span>$lookup.sysuser[$!op.approverId].userName</span></li>
                          #end
                        </ul>
                        <div style="clear:both"></div>
                      #end
                    #end
                    </td>
                </tr>
                #end
                <tr height="100">
                  <td align="center" class="title2">批示意见</td>
                  <td colspan="3" class="border_right" align="left">
                  #if($op_leaders && $!{op_leaders.size()} > 0)
                      #foreach($op in $op_leaders)
                        <span>$!{esc.html($!{op.apprOpinion})}</span>
                        <ul style="float:right; padding:15px 0; text-align:center;">
                          <li>
                             <span>$!date.format("yyyy-MM-dd HH:mm",$!op.apprTime)</span>
                          </li>
                          #if($op.approverId)
                          <li><span>$lookup.sysuser[$!op.approverId].userName</span></li>
                          #end
                        </ul>
                        <div style="clear:both"></div>
                      #end
                    #end
                  </td>
                </tr>
                <tr height="80">
                  <td class="title2" align="center">备&nbsp;&nbsp;&nbsp;&nbsp;注</td>
                  <td colspan="3" class="border_right" align="left">&nbsp;<span>$!{esc.html($!{letter.content})}</span></td>
                </tr>
                <tr height="90">
                  <td class="title2" align="center">接收部门</td>
                  <td colspan="3" class="border_right" align="left">&nbsp;<span>$!{esc.html($!{letter.incepterDept})}</span></td>
                </tr>
                <tr height="180">
                  <td class="title2" align="center">签收及<br/>反馈意见</td>
                  <td colspan="3" class="border_right" align="left">
                    #foreach($data in $!{receivers})
                      #if("$data.receiverDeptId" == "$user.currentUserDepartmentId")
                          #set($currentReceiver = $data)## 设置当前接收人
                      #end
                      #if("$!{user.currentUserDepartmentId}" == "$!{letter.creatorDeptId}" 
                        || "$data.receiverDeptId" == "$user.currentUserDepartmentId")## 发送人可以查看全部
                        <span>
                          #if("$data.status.value" == "未签收" || "$data.status.value" == "已签收")
                            $!{data.status.value}
                          #else
                            $!{data.content}
                            #foreach ($attach in $!{receiverAttachs.get("$data.id")})
                                <br/><a class="text12" target=_blank href="$link.getContextURL()/sysAttach/download?id=$!{attach.id}">$attach.trueName </a>
                            #end
                            #if("$data.status.value" == "已反馈" && "$user.CurrentUser.id" == "$!{letter.creatorId}" && "${letter.docFile.status.value}" != "待归档" && "${letter.docFile.status.value}" != "归档" )
                            <br/><a href="javascript:;" onclick="replenishLetter('$!{data.id}')" plain=true class="easyui-linkbutton" title="补充" data-options="iconCls:'icon-edit'"><!--<span style="font-size: 14px;font-family:'微软雅黑'"></span>--></a>
                            #end
                            #if("$data.status.value" == "需补充")
                            <br/><span style="color:red">补充说明：$!{data.replenish}</span>
                            #end
                          #end
                        </span>
                        <ul style="float:right; padding:15px 0; text-align:center;">
                          <li>
                            <span>
                              #if($data.receiverDeptId)$lookup.sysdepartment[$data.receiverDeptId].deptName #end
                            </span>
                          </li>
                         <li>
                            <span>#if($!{data.reversionDate})$date.format("yyyy-MM-dd HH:mm",$!{data.reversionDate})#else$date.format("yyyy-MM-dd HH:mm",$!{data.receiveDate})#end</span>
                         </li>
                        </ul>
                        <div style="clear:both"></div>
                      #end
                    #end
                  </td>
                </tr>
                <tr height="60">
                  <td class="title2" align="center">公文正文</td>
                  <td colspan="3" class="border_right" align="left">
                  <span>
                    #if($fileMainAttach)
                        <p><a class="text12" target=_blank href="$link.getContextURL()/docfileattach/download?id=$!{fileMainAttach.id}">$!fileMainAttach.trueName</a></p>
                    #end
                  </span></td>
                </tr>
                <tr class="border_bottom" height="60">
                  <td class="title2" align="center" >文件列表</td>
                  <td colspan="3" class="border_right" align="left">
                    <span>
                      #foreach ($attach in $attachs)
                        <p><a class="text12" target=_blank href="$link.getContextURL()/sysAttach/download?id=$!{attach.id}">$!attach.trueName</a></p>
                      #end
                      #foreach ($attach in $fileAttach)
                        <p><a class="text12" target=_blank href="$link.getContextURL()/docfileattach/download?id=$!{attach.id}">$!attach.trueName</a></p>
                      #end
                    </span></td>
                </tr>
                  </tbody>
              </table>
            </div>
            </div>
            #if($currentReceiver && "$currentReceiver.status.value"!="已反馈") 
            <form id="reversionForm">
            <table class="table-edit">
                #if("${letter.docFile.status.value}" == "待归档" || "${letter.docFile.status.value}" == "归档")##相关公文办结后不能再处理函件；如果公文被删除函件也会被删除，这里不考虑删除的情况
                  <tr>
                    <td class="bg-white">
                      <span style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;相关公文已办结，不能再进行反馈。</span>
                    </td>
                  </tr>
                #else
                  <input name="letterId" type="hidden" value="${letter.id}"/>
                  <tr>
                    <td class="bg-grey" width="150px"><span><font color=red>*</font></span>处理意见</td>
                    <td class="bg-white">
                      <textarea  name="content" style="width:100%;height:50px" required=true validType="length[1,500]" class="easyui-validatebox textareaborder">$!{currentReceiver.content}</textarea>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-grey" width="150px">附件</td>
                    <td class="bg-white">
                      #formfilemulty("attachs", "", "", "", $!{receiverAttachs.get("$currentReceiver.id")},"#defaultDownloadUrl('sysattach')", true, "#defaultUploadUrl('sysattach')",true)
                    </td>
                  </tr>
                #end
            </table>
            </form>
            #end
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    #if($currentReceiver && "$currentReceiver.status.value"!="已反馈" && "${letter.docFile.status.value}" != "待归档" && "${letter.docFile.status.value}" != "归档" )##相关公文办结后不能再处理函件；如果公文被删除函件也会被删除，这里不考虑删除的情况
                      <li><a onclick="reversionLetter()" class="new-but">反馈</a></li>
                    #end
                    <li><a onclick="doLetterToDoc('$!{letter.id}','$!{currentReceiver.id}')" class="new-but">转收文</a></li>
                    <li><a onclick="doPrint()" class="new-but">打印</a></li>
                    <li><a onclick="doBack()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="replenishDialog" class="easyui-dialog" title="反馈补充" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:500px;height:220px;padding:10px;display:none">
    <form id="replenishForm">
        <table width="100%" class="table-edit">
            <tr>
                <input name="receiveId" type="hidden" />
                <td align="right"  class="bg-grey" style="width:100px"><span><font color=red>*</font></span>补充说明</td>
                <td  class="bg-white">
                    <textarea  name="replenish" style="width:345px;height:60px" required=true validType="length[1,500]" class="easyui-validatebox textareaborder"></textarea>
                </td>
            </tr>
        </table>
     </form>
    <div id="bnts" style="top:0px; height:25px; width:auto;">
        <a class="new-but" onclick="replenish()">确定</a>
        <a class="new-but" onclick="$('#replenishDialog').window('close')">取消</a>
    </div>
</div>
#@script()
<script type="text/javascript">
function doBack() {
  var title = top.CC.getCurTab().panel('options').title;
  top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'});
  top.CC.closeTab(title);
}
function reversionLetter(){
    if($("#reversionForm").form("validate")){
        $.post("$link.getContextURL()/doc/letter/saveReversion.json",$("#reversionForm").serialize(),function(result){
            if(result.id){
                top.CC.messager({title:"提示",msg:"反馈成功。"});
                window.location = "$link.getContextURL()/doc/letter/detail?id=$!{letter.id}";
            }else{
                top.CC.messager({title:"提示",msg:"反馈失败。"});
            }
        });
    }
}
function replenishLetter(id){
    $("#replenishForm input[name='receiveId']").val(id);
    $("#replenishDialog").window("center").window("open").show();
}

function replenish(){
    if($("#replenishForm").form("validate")){
        $.post("$link.getContextURL()/doc/letter/saveReplenish.json",$("#replenishForm").serialize(),function(result){
            if(result.id){
                top.CC.messager({title:"提示",msg:"操作成功。"});
                window.location = "$link.getContextURL()/doc/letter/detail?id=$!{letter.id}";
            }else{
                top.CC.messager({title:"提示",msg:"操作失败。"});
            }
        });
    }
}

// 函件转收文
function doLetterToDoc(id, receiverId) {
  $.messager.confirm('提示','确定要转收文继续办理吗？',function (r) {
    if (r) {
      top.CC.loading('操作中...');
      $.post('$link.getContextURL()/doc/event/dealLetterToDoc', {id:id, receiverId:receiverId}, function(result) {
        top.CC.loaded();
        if (result.id) {
          top.CC.messager({ title: '提示', msg: '操作成功！'});
          var url = "$link.getContextURL()/doc/receivefile/edit?id=" + result.id;
          top.CC.addTab({ title: '收文登记', url: url });
        } else {
          top.CC.messager({ title: '提示', msg: result.error });
        }
      });
    }
  });
}

HKEY_Root = "HKEY_CURRENT_USER";
HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";

//网页打印时清空页眉页脚
function pagesetup_null(){
try{
  var RegWsh = new ActiveXObject("WScript.Shell");
  HKEY_Key="header";
  RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
  HKEY_Key="footer";
  RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
}catch(e){
}
}
 //打印
function doPrint() {
  try{
    if (document.all) { // IE
      pagesetup_null();
    }
    if ($.browser.msie) {
      $('#sendContainer').printArea({
        mode: 'popup'
      });
    } else {
      $('#sendContainer').printArea({
        mode: 'popup',
        popClose: true
      });
    }
  } catch(e) {
    alert(e.message);
    return;
  }
}
</script>
<script type="text/javascript" src="lib/jqprint/jquery.PrintArea.js"></script>
#end
