 <div class="easyui-layout1" data-options="fit:true " >
    <div class="cc-tableWrap1" data-options="region:'center',border:false" style="padding:5px;">
        <table id="app_apply_tab1" class="table-edit"  cellSpacing="1" cellpadding="5">
        <tbody>
        <tr>
          <td class="bg-grey" style="text-align:center" width="3%">序号</td>
          <td class="bg-grey" style="text-align:center" width="25%">会办单位</td>
          <td class="bg-grey" style="text-align:center">会办意见</td>
          <td class="bg-grey" style="text-align:center" width="12%">发送日期</td>
          <td class="bg-grey" style="text-align:center" width="12%">反馈时间</td>
          ## <td class="bg-grey" style="text-align:center" width="12%">状态</td>
        </tr>
        #foreach( $data in $list)
        <tr>
          <td class="bg-white" style="text-align:center">$velocityCount</td>
          <td class="bg-white" style="text-align:left">$!{data.receiverDept.deptName}</td>
          <td class="bg-white" style="text-align:left">
            #if("$!{data.status.key}" == "1") 未签收 #elseif("$!{data.status.key}" == "2") 已签收 #else $!{esc.html($!{data.content})} #end
            #if($!{data.attachs.size()} > 0)
              #foreach( $attach in $!{data.attachs} )
                <br/><a class="text12" style="color:blue;" target=_blank href="$link.getContextURL()/sysAttach/download?id=$!{attach.id}">$attach.trueName</a>
              #end
            #end
          </td>
          <td class="bg-white" style="text-align:center">$!date.format('yyyy-MM-dd', $!{data.receiveDate})</td>
          <td class="bg-white" style="text-align:center">$!date.format('yyyy-MM-dd HH:mm', $!{data.reversionDate})</td>
          ##<td class="bg-white" style="text-align:center">$!{data.status.value}</td>
        </tr>
        #end
      </tbody>
        </table>
    </div>
</div>

