<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-trash" onclick="trash()"
                    plain="true">移到垃圾箱</a>
            <i></i>
            <a  onclick="top.CC.closeCurTab()"
                         class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg"  data-options="nowrap:false" style="width:100%;">
                <thead>
                    <tr>
                        <th field="ck" data-options="checkbox:true"></th>
                        <th style="width:5" data-options="field:'attachFlag',formatter:attFlag"><img src='images/attach.png'/></th>
                        <th style="width:80%" data-options="field:'title',formatter:detailUrl">主题</th>
                        <th style="width:14%" data-options="field:'saveDateShow'">保存时间</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

#parse("common/easyui/operatorcolumn.js.vm")
#parse("oa/mail/crud.js.vm")
#@script()
<script type="text/javascript">


    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        $('#dg').datagrid("selectRow",index);
        var row = $('#dg').datagrid("getSelected");
        var url;
        url = "$link.getContextURL()/oa/mail/drafts/detail?id=" + row.id ;

        top.CC.addTab({title:'查看邮件',url:url});
    }

    var _baseUrl = '$link.getContextURL()/oa/mail/drafts';
    var _listJsonUrl = '/list.json';

    function attFlag(value,row,index){
        if(value == '有附件') {
            return "<img src='images/attach.png'/>";
        }
    }

    //移到到垃圾箱
    function trash(){
        var rows = $("#dg").datagrid("getChecked");
        if(rows && rows.length > 0){
            $.messager.confirm('警告','确定删除这些信件吗?',function(r){
                if (r){
                    var ids = "";
                    for(var i=0;i<rows.length;i++){
                        if(i==rows.length-1){
                            ids += rows[i].id;
                        }else{
                            ids += rows[i].id + ",";
                        }
                    }
                    $.post("$link.getContextURL()/oa/mail/drafts/dealTrash.json",{mailIds:ids},function(result){
                          if(result.id){
                            $('#dg').datagrid('reload');
                            $('#dg').datagrid('uncheckAll');
                            top.CC.messager({
                                title:'提示',
                                msg:'邮件已删除!'
                            });
                          }else{
                            top.CC.messager({
                                title:'提示',
                                msg:'服务器连接不上'
                            });
                          }
                    });
                }
            });
        } else {
            top.CC.messager({
                title: '错误',
                msg: '请选择至少一条数据!'
            });
        }
    }
</script>
#end