<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
					<tr>
                      <td colSpan="4" class="bg-white" style="text-align:center">收到公文时的短信设置</td>
                    </tr>
                    <tr>
                      <td class="bg-grey-title" colspan="2">配置值</td>
                      <td class="bg-grey-title" style="width:80px;">操作</td>
                      <td class="bg-grey-title" >配置说明</td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("swap_signer_jy+sendMsg"))
						#set($userNames = "")
						#if($config.configValue.length()>0) 
							#set($valueList = "")
							#set($valueList = $config.getConfigValueList())
                            #foreach($value in $valueList)
    						   #set($userNames = $userNames + $lookup.SysUser[$!value].userName + ',')
    						#end
    						#set($length = $userNames.length() - 1)
    						#set($userNames = $userNames.substring(0,$length))
						#end
						<input style="width:99%;" id="swap_signer_jy_names" value="$!{userNames}" class="easyui-textbox"  editable="false" />
					    <input id="swap_signer_jy_ids" name="configValue" type="hidden" value="$!{config.configValue}" />
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a mans-dialog callback=fnSwapSignerJyIdsCallback dir="swap_signer_jy" class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">选择人员</a>
					  </td>
                      <td class="bg-white">
							机要室接收到限时公文时的短信接收人,为空则不发送短信。
					  </td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("swap_signer_bgs+sendMsg"))
						#set($userNames = "")
						#if($config.configValue.length()>0) 
							#set($valueList = "")
							#set($valueList = $config.getConfigValueList())
                            #foreach($value in $valueList)
    						   #set($userNames = $userNames + $lookup.SysUser[$!value].userName + ',')
    						#end
    						#set($length = $userNames.length() - 1)
    						#set($userNames = $userNames.substring(0,$length))
						#end
						<input style="width:99%;" id="swap_signer_bgs_names" value="$!{userNames}" class="easyui-textbox"  editable="false" />
					    <input id="swap_signer_bgs_ids" name="configValue" type="hidden" value="$!{config.configValue}" />
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a mans-dialog callback=fnSwapSignerBgsIdsCallback dir="swap_signer_bgs" class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">选择人员</a>
					  </td>
                      <td class="bg-white">
							办公室接收到限时公文时的短信接收人,为空则不发送短信。
					  </td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("msgTemplate+sendMsg"))
						<textarea class="easyui-validatebox textareaborder" id="msgTemplate" name="configValue" data-options="validType:'maxLength[200]'" style="resize:none;width:98%;height:50px;">$!{esc.html($!{config.configValue})}</textarea>
  					    <input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a onclick="contentConfig('msgTemplate','1')" title="插入标题" class="easyui-linkbutton">标题</a>
						<a onclick="contentConfig('msgTemplate','2')" title="插入日期" class="easyui-linkbutton">日期</a>
					  </td>
                      <td class="bg-white">
							来文签收时发送短信的模板,为空则不发送短信,如果只设置短信接收人而不设置短信模板也不会发送短信。
							<br>设置时在需要插入标题或限办日期的地方点击标题或日期，会插入#title或#limitTime的标识，发送短信时会替换标题和限办日期。不插入标题或日期则不会替换显示。
					  </td>
                    </tr>
					<tr>
                      <td colSpan="4" class="bg-white" style="text-align:center">错误信息的短信设置</td>
                    </tr>
                    <tr>
                      <td class="bg-grey-title" colspan="2">配置值</td>
                      <td class="bg-grey-title" style="width:80px;">操作</td>
                      <td class="bg-grey-title" >配置说明</td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("errorDataReceiver+sendMsg"))
						#set($userNames = "")
						#if($config.configValue.length()>0) 
							#set($valueList = "")
							#set($valueList = $config.getConfigValueList())
                            #foreach($value in $valueList)
    						   #set($userNames = $userNames + $lookup.SysUser[$!value].userName + ',')
    						#end
    						#set($length = $userNames.length() - 1)
    						#set($userNames = $userNames.substring(0,$length))
						#end
						<input style="width:99%;" id="errorDataReceiver_names" value="$!{userNames}" class="easyui-textbox"  editable="false" />
					    <input id="errorDataReceiver_ids" name="configValue" type="hidden" value="$!{config.configValue}" />
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a mans-dialog callback=fnErrorDataReceiverCallback dir="errorDataReceiver" class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">选择人员</a>
					  </td>
                      <td class="bg-white">
							限时公文后台错误时的短信接收人，短信发送时间和内容由程序决定。
					  </td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("workDayErrorReceiver+sendMsg"))
						#set($userNames = "")
						#if($config.configValue.length()>0) 
							#set($valueList = "")
							#set($valueList = $config.getConfigValueList())
                            #foreach($value in $valueList)
    						   #set($userNames = $userNames + $lookup.SysUser[$!value].userName + ',')
    						#end
    						#set($length = $userNames.length() - 1)
    						#set($userNames = $userNames.substring(0,$length))
						#end
						<input style="width:99%;" id="workDayErrorReceiver_names" value="$!{userNames}" class="easyui-textbox"  editable="false" />
					    <input id="workDayErrorReceiver_ids" name="configValue" type="hidden" value="$!{config.configValue}" />
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a mans-dialog callback=fnWorkDayErrorReceiverCallback dir="workDayErrorReceiver" class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">选择人员</a>
					  </td>
                      <td class="bg-white">
							限时公文工作日获取失败时的短信接收人，短信发送时间和内容由程序决定。
					  </td>
                    </tr>
					<tr>
                      <td colSpan="4" class="bg-white" style="text-align:center">其他短信模板</td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("overtimeSendMsg"))
						<textarea class="easyui-validatebox textareaborder" id="overtimeSendMsg" name="configValue" data-options="validType:'maxLength[200]'" style="resize:none;width:98%;height:50px;">$!{esc.html($!{config.configValue})}</textarea>
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a onclick="contentConfig('overtimeSendMsg','1')" title="插入标题" class="easyui-linkbutton">标题</a>
						<a onclick="contentConfig('overtimeSendMsg','2')" title="插入日期" class="easyui-linkbutton">日期</a>
					  </td>
                      <td class="bg-white">
						<span style="font-weight: bold;">超时短信提醒模板。</span>
						公文超时一天时发送的短信模板，如果不设置短信模板不会发送短信，短信接收人为有公文待办的办理人。 定时发送超时短信或点击轨迹中的“短信催办”按钮触发。
						<br>设置时在需要插入标题或限办日期的地方点击标题或日期，会插入#title或#limitTime的标识，发送短信时会替换标题和限办日期。不插入标题或日期则不会替换显示。
					  </td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("fordoSendMsg"))
						<textarea class="easyui-validatebox textareaborder" id="fordoSendMsg" name="configValue" data-options="validType:'maxLength[200]'" style="resize:none;width:98%;height:50px;">$!{esc.html($!{config.configValue})}</textarea>
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a onclick="contentConfig('fordoSendMsg','1')" title="插入标题" class="easyui-linkbutton">标题</a>
						<a onclick="contentConfig('fordoSendMsg','2')" title="插入日期" class="easyui-linkbutton">日期</a>
					  </td>
                      <td class="bg-white">
    						<span style="font-weight: bold;">待办短信提醒模板。</span>
    						限时公文呈送给下一个人员办理时，发送的短信模板，接收人为公文待办的接收人 。
    						<br>设置时在需要插入标题或限办日期的地方点击标题或日期，会插入#title或#limitTime的标识，发送短信时会替换标题和限办日期。不插入标题或日期则不会替换显示。
					  </td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("signerSendMsg"))
						<textarea class="easyui-validatebox textareaborder" id="signerSendMsg" name="configValue" data-options="validType:'maxLength[200]'" style="resize:none;width:98%;height:50px;">$!{esc.html($!{config.configValue})}</textarea>
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a onclick="contentConfig('signerSendMsg','1')" title="插入标题" class="easyui-linkbutton">标题</a>
						<a onclick="contentConfig('signerSendMsg','2')" title="插入日期" class="easyui-linkbutton">日期</a>
					  </td>
                      <td class="bg-white">
						<span style="font-weight: bold;">公文反馈提醒模板。</span>
						定时发送的短信的模板，在公文限办日期还差一天，当天时分别发送一条短信，接收人为公文的签收人员。
						<br>设置时在需要插入标题或限办日期的地方点击标题或日期，会插入#title或#limitTime的标识，发送短信时会替换标题和限办日期。不插入标题或日期则不会替换显示。
					  </td>
                    </tr>
					<tr>
                      <td class="bg-white"  colspan="2">
						#set($config = "")
						#set($config = $configMap.get("noticeSendMsg"))
						<textarea class="easyui-validatebox textareaborder" id="noticeSendMsg" name="configValue" data-options="validType:'maxLength[200]'" style="resize:none;width:98%;height:50px;">$!{esc.html($!{config.configValue})}</textarea>
						<input name="configId" type="hidden" value="$!{config.id}" />
					  </td>
                      <td class="bg-white-center">
						<a onclick="contentConfig('noticeSendMsg','1')" title="插入标题" class="easyui-linkbutton">标题</a>
						<a onclick="contentConfig('noticeSendMsg','2')" title="插入日期" class="easyui-linkbutton">日期</a>
					  </td>
                      <td class="bg-white">
						<span style="font-weight: bold;">办理短信提醒模板。</span>
						定时发送的短信的模板，在公文限办日期还差一天，当天时分别发送一条短信，接收人为有限办公文待办记录的人员。
						<br>设置时在需要插入标题或限办日期的地方点击标题或日期，会插入#title或#limitTime的标识，发送短信时会替换标题和限办日期。不插入标题或日期则不会替换显示。
					  </td>
                    </tr>
				</table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="save()" class="new-but">保存</a></li>
                    <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){
	
    })

	//发送内容配置
	function contentConfig(id,type){
		var content = $("#" + id).val();
		if("1" == type){
			content+="#title";
		}else{
			content+="#limitTime";
		}
		$("#" + id).val(content);
	}
	
	//选择人员对话框
    $("a[mans-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var dir = $this.attr("dir");
            var userIds = $('#' + dir + "_ids").val();
            if (typeof(userIds) == "undefined") {
                userIds = "";
            }
            var _url = "$link.getContextURL()/oa/mail/select/getIncepters?userIds=" + userIds;
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });


    // 人员选择回调
    function fnSwapSignerJyIdsCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var i = 0; i < obj.length; i++){
            userNames += obj[i].dataText + ",";
            userIds += obj[i].id + ",";
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#swap_signer_jy_names').textbox('setValue', userNames);
        $('#swap_signer_jy_ids').val(userIds);
    }
	
    // 人员选择回调
    function fnSwapSignerBgsIdsCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var i = 0; i < obj.length; i++){
            userNames += obj[i].dataText + ",";
            userIds += obj[i].id + ",";
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#swap_signer_bgs_names').textbox('setValue', userNames);
        $('#swap_signer_bgs_ids').val(userIds);
    }
	
    // 人员选择回调
    function fnErrorDataReceiverCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var i = 0; i < obj.length; i++){
            userNames += obj[i].dataText + ",";
            userIds += obj[i].id + ",";
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#errorDataReceiver_names').textbox('setValue', userNames);
        $('#errorDataReceiver_ids').val(userIds);
    }
	
	// 人员选择回调
    function fnWorkDayErrorReceiverCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var i = 0; i < obj.length; i++){
            userNames += obj[i].dataText + ",";
            userIds += obj[i].id + ",";
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#workDayErrorReceiver_names').textbox('setValue', userNames);
        $('#workDayErrorReceiver_ids').val(userIds);
    }
	
    function save(){
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/remotedocswap/config/save.json",$("#editForm").serialize(),function(result){
                  if(result.id){
                    //$('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'保存成功！'
                    });
                  }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
        }
    }
</script>
#end
<style>
.bg-grey-title{
    text-align: center;
	background-color: #f2f2f2;
	width:30%;
    }
.l-btn-text{
    display: inline-block;
    vertical-align: top;
    width: auto;
    line-height: 24px;
    font-size: 16px;
    padding: 0;
    margin: 0 4px;
}
.table-edit tr td.bg-white-center {
    background-color: #fff;
    text-align: center;
}
</style>