<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            #if("$type" == "send")
            <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" onclick="deleteLetter()" plain="true">删除</a>
            <i></i>
            #end
            <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
                 class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
            <a  onclick="top.CC.closeCurTab()"
                 class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg">
                <thead>
                <tr>
                    <th style="width:28%" data-options="field:'fileName',formatter:fmTitle">公文标题</th>
                    <th style="width:60%" data-options="field:'hitContent'">公文正文</th>
                    <th style="width:10%" data-options="align:'center',field:'ck',formatter:operaterFormatter">操作</th>
                </tr>
                </thead>
            </table>
            <div class="cc-operateColum">
                <a  href='javascript:;' class="easyui-linkbutton" iconCls="icon-search"
                    plain="true" onclick="toDocDetail('__id__')">查看</a>
            </div>
        </div>
        <div id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:500px;height:220px;padding:20px 10px; background-color:#f4f4f4;display:none">
            <form id="queryForm">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right">关键字：</td>
                        <td><input id="title" name="keyword" style="width:350px;" class="easyui-textbox" /></td>
                    </tr>
                    <tr>
                        <td align="right">公文状态：</td>
                        <td>
							<select name="status" class="easyui-combobox" data-options="editable:false" style="width:100px;"
                                panelheight="auto">
        						<option value="" selected>全部</option>
                                <option value="1">在办</option>
                                <option value="2">办结</option>
                    </select>
						</td>
                    </tr>
                </table>
             </form>
            <div id="bnts" style="top:0px; height:25px; width:auto;">
                <a class="new-but" onclick="formSerach()">确定</a>
                <a class="new-but" onclick="reset()">重置</a>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
   function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function addPageCondition(param){
        $.extend(param,getConditions());
    }

    function getConditions(){
        var f = $("#queryForm").serializeArray();
        var searchConditions = {};
        for(var i = 0;i< f.length;i++){
            searchConditions[f[i].name] = f[i].value;
        }
        return searchConditions;
    }

    $(document).ready(function(){
        //初始化datagrid
        $("#dg").datagrid({
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:false,
            rownumbers:true,//行号
            pagination:true,//显示分页工具条
            singleSelect:true,
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:"$link.getContextURL()/doc/lucene/list.json",//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });

    function fmTitle(value,row){
        if(value){
            if(row.fileType == "1"){
                return "<span class='icon-receivefile' title='收文'></span>" + value;
            }else if(row.fileType == "2"){
                return "<span class='icon-sendfile' title='发文'></span>" + value;
            }else{
                return value;
            }    
        }        
    }

    function operaterFormatter(value,row,index){
        return $(".cc-operateColum",$("#dg").parents(".cc-tableWrap")).html()
            .replace(new RegExp("__id__",'gm'),row.fileId)
    }

    function toDocDetail(id){
        if(id){
            var url = "$link.getContextURL()/doc/archives/detailFile?id=" + id;
            top.CC.addTab({title:'公文详情',url:url});
        }
    }

</script>
<style>
.icon-receivefile {
    background: url(./images/doc/icon-received.png) no-repeat center center;
    padding-left: 20px;
}
.icon-sendfile {
    background: url(./images/doc/icon-send.png) no-repeat center center;
    padding-left: 20px;
}
</style>
#end
