#set($returnPage="list")
<div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <!-- <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" plain="true">批量签收</a>
        <i></i>-->
        <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
        <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
      <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg"  data-options="nowrap:false" fit="true">
            <thead>
            <tr>
                <th style="width:25%" data-options="field:'title'">文件标题</th>
                <th style="width:20%" data-options="field:'sendManName'">发送人</th>
                <th style="width:10%" data-options="field:'sendTimeShow'">发送时间</th>
                <th style="width:15%" data-options="field:'opinion'">会签意见</th>
                <th style="width:15%" data-options="field:'status',align:'center'">会签状态</th>
                <th data-options="field:'operate',align:'center',formatter:operaterFormatter,width:100">操作列</th>
            </tr>
            </thead>
        </table>
 <div class="cc-operateColum">
        <a  href='javascript:;' class="easyui-linkbutton" iconCls="icon-edit"
            plain="true" onclick="edit('__fileid__','__id__','__status__')">__name__ </a>
    </div>
    </div>



<div  id="searchDialog" class="easyui-dialog  query-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
     style="width:500px;height:290px;padding:20px 10px; background-color:#f4f4f4;display:none;">
    <form id="queryForm">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="text-align: right">标题：</td>
                <td><input id="title" style="width:350px" name="$qc.like('title')" class="easyui-textbox textbox" /></td>
            </tr>
            <tr>
                <td style="text-align: right">发送人：</td>
                <td>
                    <input id="sendMan" name="$qc.like('sendUser.userName')" class="easyui-textbox"  style="width:350px;" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right">发送时间：</td>
                <td>
                    <input name="$qc.greaterThanOrEqualTo('sendTime')" class="easyui-datebox" value="$!{firstDay}" style="width:150px;" data-options="editable:false">
                    至
                    <input name="$qc.lessThanOrEqualTo('sendTime')" class="easyui-datebox" value="$!{lastDay}" style="width:150px" data-options="editable:false">
                </td>
            </tr>
            <tr>
                #if($type != "query")
                <td style="text-align: right">会签状态：</td>
                <td><select id="status" name="$qc.equal('status')"  style="width:150px;" class="easyui-combobox" data-options="editable:false"
                    panelheight="auto">
                    <option value="">-全部-</option>
                    <option value="0">未签收</option>
                    <option value="1">已签收</option>
                    <option value="2">已回复</option>
                </select></td>
                #end
            </tr>
        </table>
     </form>
    <div id="bnts" style="top:0px; height:25px; width:auto;">
        <a class="new-but" onclick="formSerach()">确定</a>
        <a class="new-but" onclick="reset()">重置</a>
    </div>
</div>
 </div>
#parse("common/easyui/operatorcolumn.js.vm")
#parse("doc/countersign/crud.js.vm")
#@script()
<script type="text/javascript">

        var _baseUrl = '$link.getContextURL()/doc/countersign/';

        var _listJsonUrl = '/list.json';

    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function fnSelectDepCallback(obj){
        $("#department").textbox('setValue',obj.id);
        $("#department").textbox('setText',obj.text);
    }

    function attFlag(value,row,index){
        if(value == '有附件') {
            return "<img src='images/attach.png'/>";
        }
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function operaterFormatter(value,row,index){
        var name = ""
        if("已回复" === row.status){
            name = "详细";
        }else{
            name = "签收";
        }
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html()
            .replace(new RegExp("__fileid__",'gm'),row.fileId).replace(new RegExp("__id__",'gm'),row.id).replace("__status__",row.status).replace("__name__",name);
     }
 function edit(fileid,id,status){
       var url =  "$link.getContextURL()/doc/countersign/dealCounterSign?fileId=" + fileid +"&id=" +id;
       if("已回复" === status){
           top.CC.addTab({title:'会签详情',url:url});
       }else{
          top.CC.addTab({title:'会签办理',url:url});
       }
    }


</script>
#end