<style type="text/css">
<!--
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  line-height: 30px;
}
-->
</style>
#@script()
<script>
// 搜索
function formSerach() {
    var f = $("#queryForm").serializeArray();
    var obj ={};
    for(var i = 0;i< f.length;i++){
        obj[f[i].name] = f[i].value;
    }
    $('#datasDg').datagrid('reload',obj);
    return false;
}
</script>
#end
#set($bodyattr="class='easyui-layout' style='border:0px;#if($dialogWidth) width:$!{dialogWidth}px; #else width:890px; #end #if($dialogHeight) height:$!{dialogHeight}px; #else height:500px; #end margin-left:5px;margin-right:5px;margin-top:5px; padding:0 5px 3px 0; '")
#if($westLayout)
<div class="cc-tableWrap" data-options="region:'west',split:true,collapsible:false" style="#if($westWidth)width:$!{westWidth}px;#else width:230px;#end">
    #parse("$!westLayout")
</div>
#end
<div class="cc-tableWrap" data-options="region:'center',border:true,collapsible:false">
    <form id="queryForm">
       <table class="tb2 default-table" id="tb" style="width:100%;">
            <tr>
                <td align="left">
                    #if($query)#parse("$!query")#end
                    <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="formSerach()" title="点击查询"></a>
                </td>
            </tr>
        </table>
    </form>
    <table id="datasDg" style="width:100%;height:100%;"
               data-options="border:false,pageList:[10],pageSize:10,toolbar:'#queryForm',rownumbers:true, singleSelect: #if($single) true #else false #end,pagination:true,collapsible:false,url:'$link.getContextURL()$!url'">
            <thead>
            <tr>
                #if(!$single)<th field="ck" data-options="checkbox:true"></th>#end
                #parse("$!tablehead")
            </tr>
            </thead>
    </table>
</div>
#if(!$single)
<div class="cc-tableWrap" data-options="region:'east',split:true,collapsible:false" style="width:180px;">
    <table id="selectedData" style="width:100%;height:100%;"
               data-options="fitColumns:true,rownumbers:false,idField:'id',toolbar:'#toolbar2',border:false,singleSelect:true">
            <thead>
            <tr>
                <th data-options="field:'dataText',width:250,autoRowHeight:false,formatter:operaterFormatter" style="line-height: 30px;">已选择</th>
            </tr>
            </thead>
    </table>
    <div class="cc-operateColum" id="delButton" style="height: auto; padding: 5px 0px 5px 5px;">
        <a href='javascript:;' class="easyui-linkbutton delete-button l-btn-plain-remove" plain="true" iconCls="icon-remove" onclick="delMan(getRowIdByDom(this))" style="float: right;"></a>
    </div>
</div>
#end
<div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
    <div class="bottom-but-dialog">
        <ul>
            <li><a id="saveTemp" onclick="doselect()" class="new-but">选择</a></li>
            <li><a id="back" onclick="doclose()" class="new-but">取消</a></li>
        </ul>
    </div>
</div>
#@script()
<style>
## 隐藏datagrid底部分页信息
.pagination-info{display:none}
.pagination-page-list{display:none}
</style>
<script src="$link.getContextURL()/lib/avalon/avalon.js"></script>
<script>
    // 设置dialog标题
    $(document).ready(function() {
        if (top.setSelectDialogFrameDialogTitle) {
            top.setSelectDialogFrameDialogTitle("$!{selectDialogTitle}");
        }
    });

    // 获取row的index
    function getRowIdByDom(dom){

        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }

    // 删除已选人员
    function delMan(index) {
        // 取得ID
        $('#selectedData').datagrid('selectRow', index);
        var delRowId = $('#selectedData').datagrid('getSelected').id;

        // 删除
        $('#selectedData').datagrid('deleteRow', index);
        var rows =  $('#selectedData').datagrid('getRows');
        $('#selectedData').datagrid('loadData',rows);

        // 取消选中 (不知道为什么getRowIndex ID取index 用不了)
        var checkRows = $('#datasDg').datagrid('getChecked');
        if (checkRows && checkRows.length > 0) {
            for (var i = 0; i < checkRows.length; i++) {
                if (checkRows[i].id == delRowId) {
                    $('#datasDg').datagrid('uncheckRow', $('#datasDg').datagrid('getRowIndex', checkRows[i]));
                    break;
                }
            }
        }
    }


    // 关闭
    function doclose() {
        if (top.closeSelectDialogFrameDialog) {
            top.closeSelectDialogFrameDialog();
        }
        return false;
    }

    //选择
    function doselect() {
        var selectRow;
        #if($single)
            var selectRow =  $('#datasDg').datagrid('getSelected'); // 单选
        #else
            var selectRow =  $('#selectedData').datagrid('getRows'); // 多选
        #end
        if (selectRow) {
            top.okSelectDialogFrameDialog(selectRow);
        } else {
            alert("请先选择数据。");
        }
        return false;
    }

    $(document).ready(function(){

        // 回车事件
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                  formSerach();
             }
        }

        $('#datasDg').datagrid({
            onLoadSuccess:function(data){ // 勾选"已选人员"
                var rows = data.rows;
                for (var i = 0; i < rows.length; i++) {
                    #if(!$single)
                    if ($('#selectedData').datagrid('getRowIndex',rows[i].id) > -1) {
                        $(this).datagrid('checkRow',$(this).datagrid('getRowIndex', rows[i]));
                    }
                    #end
                }
            },
            #if(!$single)
            // 多选
            // datagrid点击行事件
            onCheck:function(rowIndex,rowData){
                var obj = {
                            id       : rowData.id,
                            dataText : rowData.$!{dataText}
                          };

                var rows = $('#selectedData').datagrid('getRows');
                // 去重
                if (rows != null && rows.length > 0) {
                    for(var i = 0;i< rows.length;i++){
                        if (obj.id == rows[i].id) {
                            return ;
                        }
                    }
                }
                $('#selectedData').datagrid('appendRow', obj);
            },
            onUncheck:function(rowIndex,rowData){
                var peopleRows = $('#selectedData').datagrid('getRows');
                for(var i = 0; i < peopleRows.length; i++) {
                    if (peopleRows[i].id == rowData.id) {
                        $('#selectedData').datagrid('deleteRow', i);
                        break;
                    }
                }
            },
            onCheckAll:function(rows){
                var selectRows = $('#selectedData').datagrid('getRows');
                for(var i = 0; i < rows.length; i++) {
                    var obj = {
                            id       : rows[i].id,
                            dataText : rows[i].$!{dataText}
                          };
                    if (selectRows != null && selectRows.length > 0) {
                        var containFlag = false;
                        for(var j = 0; j < selectRows.length; j++) {
                           if (obj.id == selectRows[j].id) {
                               containFlag = true;
                               break;
                           }
                        }
                        if (containFlag) {
                           continue;
                        }
                    }
                    $('#selectedData').datagrid('appendRow', obj);
                }
            },
            onUncheckAll:function(rows){
                var peopleRows = $('#selectedData').datagrid('getRows');
                for(var i = 0; i < rows.length; i++) {
                    for(var j = peopleRows.length-1; j >= 0; j--) {
                       if (rows[i].id == peopleRows[j].id) {
                           $('#selectedData').datagrid('deleteRow', j);
                           break;
                       }
                    }
                }
            }
            #end
        });

        #if(!$single)
        $('#selectedData').datagrid({
            #if($selectedDataUrl) url: "$link.getContextURL()$!selectedDataUrl "#end
        });
        #end
    });

    function operaterFormatter(value,row,index){
        return '<span class="value-span">' + value + '</span>' + $('#delButton').html();
    }
</script>
<style>
div[ms-controller]{
    display:none;
}
</style>
#end