<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" >
        <div id="docTab" class="easyui-tabs tabs-trapezoid" fit="true" border="false">
            <div title="用车申请信息" style="padding:5px;">
                <div style="border:1px solid #e0e0e0;">
                    #parse("pubaffairs/car/inner/swsign.vm")
                    </br>
                </div>
                <form id="editForm" method="post">
                    <input id="id" type="hidden" name="id" value="$!{obj.id}"/>
                    <input id="readmans" name="readmans" type="hidden" value=""/>
                    <input id="curNodeId" type="hidden" name="curNodeId" value="$!{curNode.nodeId}"/>
                    <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="fix_td_title">&nbsp;</td>
                                <td class="fix_td_data">&nbsp;</td>
                                <td class="fix_td_title">&nbsp;</td>
                                <td class="fix_td_data">&nbsp;</td>
                            </tr>
							<tr>
                              <td class="bg-grey">附件</td>
                              <td colSpan="3" class="bg-white" attachId="$!{obj.id}">
                                #formfilemulty("attach", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('carAttach')", false, "#defaultUploadUrl('carAttach')",false)
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div title="办理过程" data-options="href:'$link.getContextURL()/workflow/event/getTasklist?entityId=$!{obj.id}'">
            </div>
        </div>
    </div>

    <div data-options="region:'south'" style="height:52px">
        <div class="bottom-but">
            <ul>
                #if("$!{obj.status.key}" == "1")## 在办
					<li><a id="back" onclick="changeTab();doDel()" class="new-but">撤文</a></li>
					<li><a id="back" onclick="changeTab();doBringBack()" class="new-but">取回</a></li>
                #end
                <li><a id="back" onclick="changeTab();doPrint()" class="new-but">打印</a></li>
                <li><a id="back" onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
#@script()
<script type="text/javascript">

    function changeTab() {
        //先主动切换回第一页，以免控件出错
        $("#docTab").tabs('select',0);
    }
	
    // 取回
    function doBringBack() {
        $.messager.confirm('提示','确定要取回申请吗?',function (r) {
            if (r) {
                top.CC.loading('取回中...');
                $.post("$link.getContextURL()/pubaffairs/car/task/dealBringBack", {id:$("#id").val()},function(result){
                    top.CC.loaded();
                    if(result.success){
                        var title = top.CC.getCurTab().panel('options').title;
                        top.CC.addTab({ title:'我的车辆申请',url:'$link.getContextURL()/pubaffairs/car/listCar' });
                        top.CC.messager({ title:'提示', msg:'取回成功！' });
                        top.CC.closeTab(title);
                    }else{
                        top.CC.messager({ title:'提示', msg:result.error });
                    }
                });
            }
        });
    }
    HKEY_Root = "HKEY_CURRENT_USER";
    HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
    
    //网页打印时清空页眉页脚
    function pagesetup_null(){
        try{
            var RegWsh = new ActiveXObject("WScript.Shell");
            HKEY_Key="header";
            RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
            HKEY_Key="footer";
            RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
        }catch(e){
        }
    }
    //打印
    function doPrint() {
        try{
            if (document.all) { // IE
                pagesetup_null();
            }
            if ($.browser.msie) {
                #if("$!{type}" == "6")##车辆申请
                    $('#receiveContainers').printArea({
                        mode: 'popup'
                    });
                #end
            } else {
                #if("$!{type}" == "6")##车辆申请
                    $('#receiveContainers').printArea({
                        mode: 'popup',
                        popClose: true
                    });
                #end
            }
        } catch(e) {
            alert(e.message);
            return;
        }
    }
	
	// 撤文
    function doDel() {
        $.messager.confirm('提示','确定要撤文吗?',function (r) {
            if (r) {
                top.CC.loading('撤文中...');
                $.post("$link.getContextURL()/pubaffairs/car/deleteflow", {id:$("#id").val()},function(result){
                    top.CC.loaded();
                    if(result.success){
                        var title = top.CC.getCurTab().panel('options').title;
                        top.CC.addTab({ title:'我的车辆申请',url:'$link.getContextURL()/pubaffairs/car/listCar' });
                        top.CC.messager({ title:'提示', msg:'撤文成功，申请已删除！' });
                        top.CC.closeTab(title);
                    }else{
                        top.CC.messager({ title:'提示', msg:result.error });
                    }
                });
            }
        });
    }
</script>
<script type="text/javascript" src="lib/jqprint/jquery.PrintArea.js"></script>
#end
