<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
                  style="width:500px;height:290px;padding:20px 10px; background-color:#f4f4f4;display:none;">
                <form id="queryForm">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tb2 default-table" >
                        <tr>
                            <td style="text-align: right">常用短语：</td>
                            <td><input style="width:330px;" id="title" name="$qc.like('phraseName')" class="easyui-textbox" /></td>
                        </tr>
                    </table>
                </form>
                <div id="bnts" style="top:0px; height:25px; width:auto;">
                    <a href="javascript:;" class="new-but" onclick="formSerach()" >查询</a>
                    <a href="javascript:;" class="new-but" onclick="reset()" >重置</a>
                </div>
            </div>

            <div  id="addPhraseDialog" class="easyui-dialog  dialog-tc" title="新增短语" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#phrase-bnts'"
                  style="width:500px;height:290px;padding:20px 10px; background-color:#f4f4f4;display:none;">
                <form id="phraseForm">
                    <input type="hidden" name="smsPhraseId" id="id-phrase-id"/>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tb2 default-table" >
                        <tr>
                            <td style="text-align: right"><span><font color="red">*</font></span>内容：</td>
                            <td><input style="width:400px;height: 70px;" id="id-phrase-name" name="phraseName" data-options="validType:'maxLength[50]',required:true" class="easyui-textbox" multiline="true"/></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><span><font color="red">*</font></span>类型：</td>
                            <td>
                                <select id="id-phrase-type-show" name="smsPhraseTypeShow" data-options="required:true" style="width:400px;"></select>
                                <input type="hidden" name="smsPhraseTypeId" id="id-phrase-type-id"/>
                                <input type="hidden" name="phraseTypeName" id="id-phrase-type-name"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><span><font color="red">*</font></span>排序：</td>
                            <td><input style="width:400px;" id="id-sort-flag" name="sortFlag" data-options="min:0" class="easyui-numberbox"/></td>
                        </tr>
                    </table>
                </form>
                <div id="phrase-bnts" style="top:0px; height:25px; width:auto;">
                    <a href="javascript:;" class="new-but" onclick="savePhrase()" >保存</a>
                </div>
            </div>

            <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" onclick="toAddPhrase()" plain="true">新增</a>

            <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open')" class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>

            <a  onclick="top.CC.closeCurTab()" class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg"  data-options="nowrap:false" style="width:100%;">
                <thead>
                <tr>
                    <th style="width:10%" data-options="field:'phraseTypeName'">短语类型</th>
                    <th style="width:79%" data-options="field:'phraseName'">短语内容</th>
                    <th style="width:10%" data-options="field:'xx',formatter:phraseOpration">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
#parse("common/easyui/operatorcolumn.js.vm")
#@script()
#parse("sms/list-base.js.vm")
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()/sms';
    var _listJsonUrl = '/listphrase.json';
    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function phraseOpration(value,row,index) {
        return '<a onclick="toEditPhrase('+index+')" class="easyui-linkbutton l-btn-plain-search l-btn l-btn-small l-btn-plain"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text"></span><span class="l-btn-icon icon-edit">&nbsp;</span></span></a>&nbsp;&nbsp;&nbsp;<a onclick="toDeletePhrase('+index+')" class="easyui-linkbutton l-btn-plain-search l-btn l-btn-small l-btn-plain"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text"></span><span class="l-btn-icon icon-remove">&nbsp;</span></span></a>';
    }

    function toEditPhrase(rowIndex) {
        var rows = $('#dg').datagrid('getRows');
        var phraseData = rows[rowIndex];
        $("#id-phrase-type-show").combobox('setValue',phraseData.smsPhraseTypeId);
        $("#id-phrase-type-show").combobox('setText',phraseData.phraseTypeName);
        $('#id-phrase-type-name').val(phraseData.phraseTypeName);
        $('#id-phrase-type-id').val(phraseData.smsPhraseTypeId);
        $("#id-phrase-id").val(phraseData.smsPhraseId);

        $("#id-phrase-name").textbox('setValue',phraseData.phraseName);
        $("#id-sort-flag").textbox('setValue',phraseData.sortFlag);

        $('#addPhraseDialog').css('display','block');
        $('#addPhraseDialog').window('center');
        $('#addPhraseDialog').window('open');
    }

    function toAddPhrase() {
        //清空数据
        $("#id-phrase-type-show").combobox('setValue','');
        $("#id-phrase-type-show").combobox('setText','');
        $('#id-phrase-type-name').val('');
        $('#id-phrase-type-id').val('');
        $("#id-phrase-id").val('');
        $("#id-phrase-name").textbox('setValue','');

        var rows = $('#dg').datagrid('getRows');
        $("#id-sort-flag").numberbox('setValue',rows.length+1);

        $('#addPhraseDialog').css('display','block');
        $('#addPhraseDialog').window('center');
        $('#addPhraseDialog').window('open');
    }

    function toDeletePhrase(rowIndex) {
        $.messager.confirm('提示','是否删除短语?',function(r) {
            if (r) {
                var rows = $('#dg').datagrid('getRows');
                var phraseData = rows[rowIndex];
                $.get("$link.getContextURL()/sms/deletephrase.json?phraseId=" + phraseData.smsPhraseId, function (result) {
                    top.CC.loaded();
                    if (result.success) {
                        top.CC.messager({
                            title: '提示',
                            msg: '删除成功'
                        });
                        $('#dg').datagrid('reload');
                    } else {
                        top.CC.messager({
                            title: '提示',
                            msg: '服务器连接不上'
                        });
                    }
                });
            }
        });
    }
    
    //保存短语
    function savePhrase() {
        if ($("#phraseForm").form('validate')) {
            var phraseValue = $("#id-phrase-type-show").combobox('getValue');
            var phraseText = $("#id-phrase-type-show").combobox('getText');
            if (phraseValue != phraseText && phraseValue && /\d/.test(phraseValue)) {
                $('#id-phrase-type-id').val(phraseValue);
            } else {
                $('#id-phrase-type-id').val('');
            }
            $('#id-phrase-type-name').val(phraseText);
            $.post("$link.getContextURL()/sms/savephrase.json", $("#phraseForm").serialize(), function (result) {
                top.CC.loaded();
                if (result.success) {
                    top.CC.messager({
                        title: '提示',
                        msg: '保存成功'
                    });
                    $('#dg').datagrid('reload');
                    $('#addPhraseDialog').window('close');
                } else {
                    top.CC.messager({
                        title: '提示',
                        msg: '服务器连接不上'
                    });
                }
            });
        }
    }

    //
    $(function() {
        $('#id-phrase-type-show').combobox({
            url: '$link.getContextURL()/sms/listtype.json',
            mode: 'remote',
            method: 'post'
        });
    });
</script>
#end