<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <table id="app_apply_tab" class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tbody>
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="bg-grey">
                            <span><font color="red">*</font></span>短信接收人
                        </td>
                        <td class="bg-white">
                            <input id="id-receive-names" class="easyui-textbox" readonly multiline="true" style="width:100%;height:120px;" data-options="required:true"/>
                            <input id="id-receive-data" name="receiveManData" type="hidden"/>

                            <a id="selectDepDialog" title="短信接收人" href="javascript:;" class="easyui-linkbutton">
                                选择内部人员
                            </a>
                            <a id="selectContractDialog" title="短信接收人" href="javascript:;" class="easyui-linkbutton">
                                选择通讯录
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">
                            <span><font color="red">*</font></span>短信内容</td>
                        <td valign="top" class="bg-white">
                            <textarea name="content" id="id-content" class="easyui-validatebox textareaborder" data-options="validType:'maxLength[950]',required:true" style="width:99%;height:80px;resize:none;" ></textarea>
                            <a id="selectPhraseDialog" title="短语" href="javascript:;" class="easyui-linkbutton">
                                选择短语
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">其他设置</td>
                        <td class="bg-white">
                            <label>
                                <input type="checkbox" id="id-reply" name="reqDeliveryReport" value="1"/>需要回复
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>
                                <input type="checkbox" id="id-timing" name="timingSendFlag" value="1" onclick="showOrHideTimePicker()"/>是否定时
                            </label>
                            <label id="id-send-time-picker" style="display: none">
                                <input style="width:160px;" id="id-timing-data" name="timingSendTime" data-options="editable:false" class="easyui-datetimebox"/>
                            </label>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a id="send" onclick="send()" class="new-but">发送</a></li>
                    <li><a id="back" onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';
    //已选内部人员
    var selUserList=[];
    //已选通讯录人员
    var selContactList=[];

    //返回
    function back() {
        top.CC.closeCurTab();
    }

    //发送
    function send() {
        if ($("#editForm").form('validate')) {
            //检查定时发送时间
            var isChecked = $("#id-timing").attr("checked");
            var timeValue = $('#id-timing-data').datetimebox('getValue');
            if (isChecked&&!timeValue){
                top.CC.messager({
                    title: '提示',
                    msg: '请选择定时发送的时间'
                });
                return;
            }
            top.CC.loading("请稍后...");
            $.post("$link.getContextURL()/sms/savesms.json", $("#editForm").serialize(), function (result) {
                top.CC.loaded();
                if (result.success) {
                    $('#id').val(result.id);
                    top.CC.messager({
                        title: '提示',
                        msg: '发送成功'
                    });
                    top.CC.addTab({title: '短信查询', url: '$link.getContextURL()/sms/listsent'});
                    top.CC.closeTab('短信发送');
                } else {
                    top.CC.messager({
                        title: '提示',
                        msg: '服务器连接不上'
                    });
                }
            });
        }
    }

    $(function () {
        //选择内部人员
        $("#selectDepDialog").click(function () {
            var $this =$(this);
            var userIds = [];
            for (var i=0;i<selUserList.length;i++){
                userIds.push(selUserList[i].id);
            }
            var _url = "$link.getContextURL()/sms/select/userdialog?userIds=" + userIds.join(",");
            var _callback_fn = window["selectInnerMansCallback"];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        });
        //选择通讯录
        $("#selectContractDialog").click(function () {
            var $this =$(this);
            var dataIds = [];
            for (var i=0;i<selContactList.length;i++){
                dataIds.push(selContactList[i].id);
            }
            var _url = "$link.getContextURL()/sms/select/contactdialog?dataIds=" + dataIds.join(",");
            var _callback_fn = window["selectContactCallback"];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        });
        //选择短语
        $("#selectPhraseDialog").click(function () {
            var $this =$(this);
            var dataIds = ""
            var _url = "$link.getContextURL()/sms/select/phrasedialog";
            var _callback_fn = window["selectPhraseCallback"];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        });
    });


    //选择内部人员回调
    function selectInnerMansCallback(userData) {
        selUserList=userData||[];
        showSelectedData();
    }

    //通讯录选择回调
    function selectContactCallback(userData) {
        selContactList=userData||[];
        showSelectedData();
    }

    //显示已选的人员信息
    function showSelectedData() {
        var dataList=[];
        var nameList=[];
        for (var i=0;i<selUserList.length;i++){
            if (!selUserList[i].mobile){
                selUserList[i].mobile='';
            }
            nameList.push(selUserList[i].dataText+"("+(selUserList[i].mobile||'无手机号')+")");
            //需要提交的数据，字符串格式-手机号:人员姓名:人员id
            dataList.push(selUserList[i].mobile+":"+selUserList[i].dataText+":"+selUserList[i].id);
        }
        for (var i=0;i<selContactList.length;i++){
            if (!selContactList[i].mobile){
                selContactList[i].mobile='';
            }
            nameList.push(selContactList[i].dataText+"("+(selContactList[i].mobile||'无手机号')+")");
            //需要提交的数据，字符串格式-手机号:人员姓名:（id为空)
            dataList.push(selContactList[i].mobile+":"+selContactList[i].dataText+":");
        }
        $('#id-receive-names').textbox('setValue', nameList.join(","));
        $("#id-receive-data").val(dataList.join(","));
    }

    //勾选定时发送
    function showOrHideTimePicker() {
        var isChecked = $("#id-timing").attr("checked");
        if (isChecked){
            $("#id-send-time-picker").show();
        }else{
            $("#id-send-time-picker").hide();
            $('#id-timing-data').datetimebox('setValue','');
        }
    }

    //选择短语回调
    function selectPhraseCallback(phraseData) {
        $("#id-content").val(phraseData.phraseName);
    }
</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type = "text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
</style>