<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <input name="id" id="id" type="hidden" value="$!{obj.id}"/>
				<input name="createTime" type="hidden" id="createTime" value="$!{obj.createTime}"/>
				<input id="creatorId" name="creatorId" type="hidden" #if($!{obj.creatorId}) value="$!{obj.creatorId}" #else value="$!{currUser.id}" #end/>
				<input name="deptId" type="hidden" id="deptId" #if($!{obj.deptId}) value="$!{obj.deptId}" #else value="$!{dept.id}" #end/>
				<input name="status" type="hidden" id="status" value="$!{obj.status}"/>
				<input name="mealUserId" type="hidden" id="mealUserId" value="$!{obj.mealUserId}"/>
				<input name="mealUserName" type="hidden" id="mealUserName" value="$!{obj.mealUserName}"/>
				<input name="mealDeptId" type="hidden" id="mealDeptId" value="$!{obj.mealDeptId}"/>
				<input name="mealDeptName" type="hidden" id="mealDeptName" value="$!{obj.mealDeptName}"/>
				<input name="checkId" type="hidden" id="checkId" value="$!{obj.checkId}"/>
				<table class="table-edit" title="订餐编辑">
                    ## 隐藏行  用于控制表格样式
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
					<tr>
						<td class="bg-grey">用餐人姓名</td>
						<td class="bg-white">
							$!{esc.html($!{obj.mealUserName})}
						</td>
						<td class="bg-grey"><span><font color=red>*</font></span>用餐类型</td>
						<td class="bg-white">
							#formradio("mealType" "$!{obj.mealType}" $dict.MealType "0")
						</td>
                    </tr>
					<tr>
						<td class="bg-grey"><span><font color=red>*</font></span>用餐时间</td>
						<td class="bg-white">
							<input id = "mealDate" name="mealDate" class="easyui-datebox" data-options="editable:false,required:true" value="$!{obj.mealDate}"/>
						</td>
						<td class="bg-grey"><span><font color=red>*</font></span>用餐地点</td>
						<td class="bg-white">
							#formradio("mealPlace" "$!{obj.mealPlace}" $dict.MealPlace "0")
						</td>
					</tr>
					<tr align="center">
						<td class="bg-grey">申请人</td>
						<td class="bg-white">
							$!{esc.html($!{currUser.userName})}
						</td>
						<td class="bg-grey">申请部门</td>
						<td class="bg-white">
							$!{esc.html($!{dept.deptName})}
						</td>
					</tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="save()" class="new-but">保存</a></li>
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){
		
    })

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
		var title = top.CC.getCurTab().panel('options').title;
        top.CC.closeTab(title);
    }

    //保存
    function save(){
        if($("#editForm").form('validate')) {
            top.CC.loading("正在保存数据!");
            $.post("$link.getContextURL()/pubaffairs/meal/save.json",$("#editForm").serialize(),function(result){
                top.CC.loaded();
                if(result.id != ""){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'保存成功！'
                    });
          			var title = top.CC.getCurTab().panel('options').title;
          			top.CC.addTab({title:'预约订餐', url:'$link.getContextURL()/pubaffairs/meal/list'})
          			top.CC.closeTab(title);
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }

	
	// 日期变动事件
    var dateChange = function(newValue, oldValue) {
        var startDate = $('#beginTime').datetimebox('getValue');
        var endDate = $('#endTime').datetimebox('getValue');
		
		startDate=startDate.replace('-', '/');//为了兼容IE
		endDate=endDate.replace('-', '/');//为了兼容IE
		var date = new Date(endDate).getTime() - new Date(startDate).getTime();   //时间差的毫秒数
		
        if (startDate && endDate && (date>0)) {
			
			var startHours=new Date(startDate).getHours();
			var endHours=new Date(endDate).getHours();
			
			var countDay=0;
			if(startHours < 12){
				if(endHours < 12){
					countDay=1.5;
				}else{
					countDay=2;
				}
			}else{
				if(endHours < 12){
					countDay=1;
				}else{
					countDay=1.5;
				}
			}
			var days=Math.round(date/(1000*60*60*24));
			//比较两个时间是否是同一天
			var startDays=new Date(startDate).toLocaleDateString();
			var	endDays=new Date(endDate).toLocaleDateString();
			days=days-1+countDay;
			//var days=Math.abs(date/(1000*60*60*24));
			//days=days.toFixed(2);
			$('#leavetimes').text(days);
            $('#leaveDay').val(days);
			debugger;
			if(days<1 || days==1){//一天
				var flowId = "F007";
				$('#flowId').val(flowId);
    		}else{//大于一天
				var flowId = "F008";
				$('#flowId').val(flowId);
    		}
        }else{
			//top.CC.messager({ title:'提示', msg:"结束时间要大于开始时间！" });
		}
    }
</script>
#end
