<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/doc/listicon.css"/>
<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
		<a href="javascript:;" id="add" class="easyui-linkbutton" iconCls="icon-add" plain="true">新增</a>
		<a href="javascript:;" id="edit" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
		<a href="javascript:;" id="remove" class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-remove" plain="true">删除</a>
        <i></i>
        <a onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
            class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
        <a onclick="top.CC.closeCurTab()"
            class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>

    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg" data-options="nowrap:false" style="width:99%;">
            <thead>
                <tr>
					<th field="ck" data-options="checkbox:true"></th>
					<th style="width:10%" data-options="field:'mealUserName',formatter:detailUrl">姓名</th>
					<th style="width:20%" data-options="field:'mealDeptName'">部门</th>
                    <th style="width:10%" data-options="field:'mealPlace'">用餐地点</th>
					<th style="width:10%" data-options="field:'mealType'">用餐类型</th>
        			<th style="width:10%" data-options="field:'mealDateShow'">用餐日期</th>
					<th style="width:10%" data-options="field:'status',formatter:statusShow">状态</th>
                </tr>
            </thead>
        </table>
    
        <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
			style="width:500px;height:260px;padding:20px 10px; background-color:#f4f4f4;display:none;">
    	<form id="queryForm">
    		<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="right">用餐时间：</td>
					<td align="left" colspan="3">
						<input name="$qc.greaterThanOrEqualTo('m.mealDate')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
							至
						<input name="$qc.lessThanOrEqualTo('m.mealDate')" class="easyui-datebox" data-options="editable:false" style="width:160px;">
                 	</td>
            	</tr>
				<tr>
					<td align="right">用餐地点：</td>
					<td align="left">
						<select name="$qc.equal('m.mealPlace')" class="easyui-combobox" data-options="editable:false" style="width:110px;"
							panelheight="auto">
							#formoption("" $dict.MealPlace)
						</select>
					</td>
				</tr>
				<tr>
					<td align="right">状态：</td>
					<td align="left">
						<select name="$qc.equal('m.status')" class="easyui-combobox" data-options="editable:false" style="width:110px;"
							panelheight="auto">
							#set($arr = [1, 2])
							#formoptioncontain("" $dict.CarStatus $arr)
						</select>
					</td>
				</tr>
    		</table>
    	</form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    	</div>
    </div>
    <div id="editWindow" class="easyui-window" title="设置" style="width:450px;height:80%;padding:5px"
            data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
    </div>
</div>
#parse("common/easyui/operatorcolumn.js.vm")
#parse("common/button/control.js.vm")
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
    var _listJsonUrl = '/pubaffairs/meal/list.json';
	var _newJsonUrl = '/pubaffairs/meal/new';
	var _delJsonUrl = '/pubaffairs/meal/delete.json';
	var _editJsonUrl = '/pubaffairs/meal/edit?id=';
	
	<!-----------------------选择部门-------------------------------->
     function fnSelectDepCallback(obj){
        $("#depId").val(obj.id);
        $("#deptName").textbox('setText',obj.text);
     }


    //选择对话框
    $("#selectDepDialog").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
	

     $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-remove']",_querForm);
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
        if(_btnClear){
            _btnClear.on('click',reset);
        }

        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }

        function formSerach() {
            _datagrid.datagrid('reload');
        }
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }
		
		//工具条操作
        var _btnAdd = $("[iconCls='icon-add']",_toolbar);
        var _btnDelete = $("[iconCls='icon-remove']",_toolbar);
        var _btnEdit = $("[iconCls='icon-edit']",_toolbar);
        if(_btnAdd){
            _btnAdd.on("click",add);
        }
        if(_btnDelete){
            _btnDelete.on("click",del);
        }
        if(_btnEdit){
            _btnEdit.on("click",edit);
        }

        function edit(){
            var rows = $("#dg").datagrid("getChecked");
            if(rows){
                if (rows.length < 1) {
                    top.CC.messager({
                        title: '提示',
                        msg: '请选择要修改的数据!'
                    });
                } else if (rows.length > 1) {
                    top.CC.messager({
                        title: '提示',
                        msg: '每次只能修改一条数据!'
                    });
                } else {
                    if (rows[0].status == "办结") {
                        top.CC.messager({
                            title: '提示',
                            msg: '不能修改已办结的预约订餐!'
                        });
                        return;
                    }
                    var mealId = rows[0].id;
                    var url = _baseUrl + _editJsonUrl + mealId;
                    top.CC.addTab({title:'订餐编辑',url:url});
                }

            } else {
                top.CC.messager({
                    title: '提示',
                    msg: '服务器连接不上!'
                });
            }

        }
        function del(){
            var rows = $("#dg").datagrid("getChecked");
            if(rows && rows.length > 0){
                $.messager.confirm('警告','确定删除这些数据吗?',function(r){
                    if (r){
                        var ids = "";
                        for(var i=0;i<rows.length;i++){
                            if(i==rows.length-1){
                                ids += rows[i].id;
                            }else{
                                ids += rows[i].id + ",";
                            }
							
							if (rows[i].status == "办结") {
                                top.CC.messager({
                                    title: '提示',
                                    msg: '不能删除已办结的预约订餐!'
                                });
                                return;
                            }
							
							
                        }
                        top.CC.loading("正在删除数据!");
                        $.post(_baseUrl + (_delJsonUrl || '/delete.json'),{ids:ids},function(result){
                            top.CC.loaded();
                            if (result.success){
                                $('#dg').datagrid('reload'); // reload the user data
                                top.CC.messager({ // show error message
                                    title: '成功',
                                    msg: '删除成功!'
                                });
                            } else {
                                top.CC.messager({ // show error message
                                    title: '提示',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            } else {
                top.CC.messager({
                    title: '提示',
                    msg: '请选择至少一条数据进行删除!'
                });
            }

        }

        function add(){
            var url = _baseUrl + (_newJsonUrl || '/new');
            top.CC.addTab({title:'新增订餐',url:url});
        }

        //初始化datagrid
        _datagrid.datagrid({
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:false,
            rownumbers:true,//行号
            singleSelect:false,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:_baseUrl + (_listJsonUrl || '/runninglist.json'),//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            if($("#editForm").form('validate')){
                var dfn = top.window.openSelectDialogFrameDialog;
            }else{
                return false;
            }
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

	function detailUrl(value,row) {
        return "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
    }
	
	function detailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
        var url = "$link.getContextURL()/pubaffairs/meal/detail?id="+row.id;
		top.CC.addTab({title:'订餐详情', url:url});
    }
	
	function statusShow(value,row) {
		if($.trim(row.status) == "暂存"){
            return "<font color='blue'>"+value+"</font>";
		}else if($.trim(row.status) == "在办"){
			return "<font color='red'>"+value+"</font>";
		}else{
			return "<font color='black'>"+value+"</font>";
		}
    }
	
</script>
#end