<!-- <style>
*{ font-size:14px;}
body{ background:#fff;font-family:"Microsoft Yahei",sans-serif!important;padding:5px 5px 0px!important;  box-sizing: border-box;}
.no_bottom {
    border-bottom: 0px;
}
.form_tab{
    background-color:#95B8E7;  width: 100%;
    }
.form_tab td{
    background-color:#fff;
    }
.form_tab .form_gray_unit{background-color:#ecf3ff;  font-weight:;}
.margin_top_5{margin-top:5px;}


.panel-header1 {
  background-color: #E0ECFF;
  background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
  background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
  background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
  background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
  border-color: #95B8E7;
  padding: 5px;
  position: relative;
  border-width: 1px;
  border-style: solid;
}
.panel-title1{
      font-size: 12px;
  font-weight: bold;
  color: #0E2D5F;
  height: 16px;
  line-height: 16px;
   /* background: url('images/blocks.gif') no-repeat;*/
    }
  .fixed_box a:hover{
    border: 1px solid #196aeb;
  color: #ffffff;
  background-color: #4186f6;
  background-image: -moz-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#3078eb));
  background-image: -webkit-linear-gradient(top, #4d90fe, #3078eb);
  background-image: -o-linear-gradient(top, #4d90fe, #3078eb);
  background-image: linear-gradient(to bottom, #4d90fe, #3078eb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff3078eb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #3078eb;
  background-color: #3078eb \9;}
  .fixed_box{position:fixed;bottom:0px;width:100%;height:48px; padding:7px 30px; background-color: #fff;border: 1px solid #666666;z-index:1000;  box-sizing: border-box;right:0;}
.fixed_box a{float:right;  padding: 5px 14px;border: 1px solid #3079ed;
  color: #ffffff;  text-decoration: none;
  background-color: #4b8cf7;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);text-shadow: 0 1px rgba(0, 0, 0, 0.1);  font-size: 14px; line-height: normal;  border-radius: 5px;margin-left:12px;}
</style>
 -->