<?xml version="1.0" encoding="utf-8"?>
<E_officialdocument>
  <jhsbxx>
    <xxzyID>dzgw</xxzyID>
    <ywlsh>$!{envelopeContent.envelopeUuid}</ywlsh>
    <letterid>$!{envelopeContent.letterId}</letterid>
    <ywlx>dzgw</ywlx>
    <mj>3</mj>
    <jjcd>$!{envelopeContent.emergencyLevel}</jjcd>
    <qqf>007566461</qqf>
    <fkf>123456789</fkf>
    <jhdx>
      <fsf>007566461</fsf>
      <jsf>123456789</jsf>
      <fssj>$!{envelope.sendTimeFmt}</fssj>
    </jhdx>
    <jhzt>A</jhzt>
    <fkyqbsf>B</fkyqbsf>
    <fksjyq type="$!{envelope.deadlineType}">$!{envelope.limitTimeFmt}</fksjyq>
    <aqxxx>
    </aqxxx>
  </jhsbxx>
  <jhztxx>
    <dzgw type="$!{envelope.documentType}">
      <fh>$!{envelopeContent.numIden}</fh>
      <mj>非涉密</mj>
      <bmqx></bmqx>
      <jjcd>$!{envelopeContent.emergencyLevel.value}</jjcd>
      <fwjg type="$!{envelopeContent.printOrgAbb}">$!{envelope.senderAncestorName}</fwjg>
      #if($!envelopeContent.docNumber)
        #set($docNum = $!envelopeContent.docNumber.replace("［","〔").replace("］","〕").replace("号",""))
<fwwh>$!docNum</fwwh>
        #else
<fwwh>〔〕</fwwh>
      #end
      <qfr>$!{envelopeContent.signSendMan}</qfr>
      <bt>$!{envelopeContent.title}</bt>
      <zsjg>$!{envelopeContent.mainSend}</zsjg>
      <zw></zw>
      <fjsm></fjsm>
      <cwrq>$!{envelope.sendTimeFmt}</cwrq>
      <dzyz></dzyz>
      <fz>$!{envelopeContent.linkScript}</fz>
      <gkfs>$!{envelopeContent.publishType.value}</gkfs>
      <cs>$!{envelopeContent.copySend}</cs>
      <yfjg>$!{envelopeContent.printOrg}</yfjg>
      <yfrq>$!{envelopeContent.printDateFmt}</yfrq>
      <ewtm>$!{envelopeContent.twoDimensionCode}</ewtm>
      <lxr>$!{envelopeContent.contactName}</lxr>
      <lxdh>$!{envelopeContent.contactPhone}</lxdh>
      <dzgwbswj>
        <bswjwjm>
        </bswjwjm>
        <bswjgssm>
        </bswjgssm>
        <bswjwjt>
        </bswjwjt>
      </dzgwbswj>
      <dzgwbswj>
        <bswjwjm>
        </bswjwjm>
        <bswjgssm>
        </bswjgssm>
        <bswjwjt>
        </bswjwjt>
      </dzgwbswj>
      <dzgwbswj>
        <bswjwjm>
        </bswjwjm>
        <bswjgssm>
        </bswjgssm>
        <bswjwjt>
        </bswjwjt>
      </dzgwbswj>
      #set($hasAttach = false)
#if($!{envelopeContent.remoteDocSwapAttachs})
      #foreach($_attach in $!{envelopeContent.remoteDocSwapAttachs})
      #if($!{_attach.remoteAttachType} == "other")
        #set($hasAttach = true)
      <gwfj>
        <fjwjm>$!{_attach.trueName}</fjwjm>
        <fjgssm></fjgssm>
        <fjwjt>
        </fjwjt>
      </gwfj>
      #end
      #end
#end
#if(!$hasAttach)
  <gwfj>
        <fjwjm></fjwjm>
        <fjgssm></fjgssm>
        <fjwjt>
        </fjwjt>
      </gwfj>
#end
    </dzgw>
  </jhztxx>
</E_officialdocument>
