<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" class="mynoborder" style="min-height:320px;">
        <form id="editForm" method="post">
            <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
              <tbody>
              <tr>
                  <td class="bg-grey" align="right">所属平台</td>
                  <td class="bg-white" class="bg-white" align="left" colspan="8">
                      <select  class="easyui-combobox" editable=false name="appPlatform" id="id-app-platform" style="width:300px;">
                          #foreach($platformKey in $dict.appplatform.keySet())
                              <option value="$!{platformKey}" #if("$!{platformKey}" == "$!{obj.appPlatform}") selected #end>$dict.appplatform.get("$platformKey")</option>
                          #end
                      </select>
                      <input type="hidden" name="id" id="apk-info-id">
                  </td>
              </tr>
              <tr id="id-android-apk">
                  <td class="bg-grey" align="right">选择APK文件</td>
                  <td class="bg-white" align="left" colspan="8">
                      <div style="color:blue;">apk文件命名需符合规范（安装包名_{版本号_MD5后8位}.apk）</div>
                      <label for="upload-btn" class="form-fill-label"></label>
                      <a id="upload-btn" type="plupload" class="btn btn-success" href="javascript:;" uploadurl="$!{link.getContextPath()}/appmanage/plupload/upload.json">浏览...</a>
                      <p class="filelist"></p>
                      <p class="help-block"></p>
                  </td>
              </tr>
                <tr align="center">
                    <td class="bg-grey" align="right"><span><font color=red>*</font></span>包名</td>
                    <td class="bg-white" align="right" colspan="8">
                        <input style="width:100%;" id="apk-p-name" class="easyui-textbox" data-options="required:true,validType:'maxLength[50]'" name="packageName" value=""/>
                    </td>
                </tr>
                <tr align="center">
                    <td class="bg-grey" align="right"><span><font color=red>*</font></span>版本号</td>
                    <td class="bg-white" align="right" colspan="8">
                        <div style="color:blue;">版本号格式为 x.y.z , x,y增长则强制更新，z增长不强制更新</div>
                        <input style="width:100%;" id="apk-ver" class="easyui-textbox" data-options="required:true,validType:'maxLength[20]'" name="appVersion" value=""/>
                    </td>
                </tr>
                <tr align="center">
                    <td class="bg-grey" align="right"><span><font color=red>*</font></span>描述</td>
                    <td class="bg-white" align="right" colspan="8">
                        <textarea id="apk-desc" name="packageScript" class="easyui-validatebox textareaborder" data-options="required:true,validType:'maxLength[250]'" style="resize:none;width:99%;"></textarea>
                    </td>
                </tr>
                <input type="hidden" name="updateFlag" value="0"/>
##                <tr align="center">
##                    <td class="bg-grey" align="right">更新标识</td>
##                    <td class="bg-white" align="right" colspan="8">
##                        <select name="updateFlag" class="easyui-combobox" data-options="editable:false" style="width:150px;" panelheight="auto">
##                            #formoption($!{obj.status} $dict.appupdateflag)
##                        </select>
##                    </td>
##                </tr>
                <tr align="center">
                    <td class="bg-grey" align="right">是否有效</td>
                    <td class="bg-white" align="right" colspan="8">
                        <select name="status" class="easyui-combobox" data-options="editable:false" style="width:150px;" panelheight="auto">
                            #formoption($!{obj.status} $dict.isvalid)
                        </select>
                    </td>
                </tr>
              </tbody>
            </table>
        </form>
    </div>

    <div data-options="region:'south'"  class="bottom-h" height="52px">
        <div class="bottom-but">
            <ul>
                <li><a onclick="saveApkInfo()" class="new-but">提交</a></li>
                <li><a onclick="back()" class="new-but">返回</a></li>
            </ul>
        </div>
    </div>
</div>


#@script()
<script type="text/javascript">

    function saveApkInfo() {
        if ($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/appmanage/updateapk.json",$("#editForm").serialize(),function(result){
                if(result.success == "1"){
                    top.CC.messager({
                        title:'成功',
                        msg:'保存成功！'
                    });
                    window.location.href='$link.getContextURL()/appmanage/apklist';
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:result.message
                    });
                }
            });
        }
    }

    function back() {
        window.history.go(-1);
    }

    //文件选择控件
    $('a[type="plupload"]').each(function(){
        var _this=$(this);
        var _thisdom = _this.get(0);

        var _thisurl = _this.attr("uploadurl") ;
        var _max_file_size = '50mb';

        var _mime_types = eval('[{"title":"可选文件", "extensions":"apk"}]');

        var _filelistdom = $(".filelist", _thisdom.parentNode).get(0);

        var uploader = new plupload.Uploader({
            runtimes : 'html5,flash',
            browse_button : _thisdom,
            container : _thisdom.parentNode,
            url : _thisurl,
            multi_selection:false,
            chunk_size : "1mb",
            filters : {
                max_file_size : _max_file_size,
                mime_types : _mime_types
            },
            // Flash settings
            flash_swf_url : '$!{link.getContextPath()}/js/Moxie.swf',

            preinit : {
                UploadFile: function(up, file) {
                    up.setOption('multipart_params', {fileid: file.id})
                }
            },

            init : {
                PostInit : function() {
                    //_filelistdom.innerHTML = '';
                },

                FilesAdded : function(up, files) {
                    plupload.each(files, function(file) {
                        _filelistdom.innerHTML = '<span id="' + file.id + '">' + file.name
                                + ' (' + plupload.formatSize(file.size) + ') <b></b></span>';
                        if (up.state == plupload.STOPPED) {
                            up.refresh();
                            up.start();
                        }
                    });
                },

                UploadProgress : function(up, file) {
                    if (document.getElementById(file.id))
                        document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>'
                                + file.percent + "%</span>";
                },
                FileUploaded: function(up, file, info) {
                    if (info && (info.status == "200")) {
                        var message='<span>上传完毕</span>';

                        if (info.response&&info.response.indexOf("success")!=-1) {
                            var data = JSON.parse(info.response);
                            var apkInfo = JSON.parse(data.id);

                            if (data.error||apkInfo.success =="0" ) {
                                message=null;
                                var errMsg=data.error||apkInfo.message;
                                _filelistdom.innerHTML = '上传失败！' + errMsg;
                            } else {
                                if (apkInfo.data) {
                                    console.log(apkInfo.data);
                                    $("#apk-info-id").val(apkInfo.data.id);
                                    $("#apk-p-name").textbox("setValue",apkInfo.data.packageName);
                                    $("#apk-ver").textbox("setValue",apkInfo.data.version);
                                }
                            }
                        } else {
                            message=null;
                            _filelistdom.innerHTML = '上传失败！';
                        }

                        if (message && document.getElementById(file.id))
                            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = message;

                    } else {
                    }
                },
                Error : function(up, err) {
                    if (plupload.FILE_SIZE_ERROR == err.code) {
                        alert("选择的文件大小为 " + plupload.formatSize(err.file.size) + " ，超过了最大上传文件大小 " + _max_file_size + " 的限制。");
                    } else {
                        _filelistdom.innerHTML = err.message;
                    }
                }
            }
        });

        uploader.init();
    });

    $("#id-app-platform").combobox({

        onChange: function (newVal,oldVal) {
            if (newVal=='1'){
                $("#id-android-apk").show();
            }else if(newVal=='2'){
                $("#id-android-apk").hide();
            }
        }

    });
</script>
#end