#@script()
<script>

	var str = top.CC.getCurTab()["0"].innerHTML;
	var src = $(str).get(0).src;
	
	$(function () {
		getButtonPower();
    })	

	
	//获取按钮显示方式(新增、编辑、删除)
	function getButtonPower(){
		var data = parseQueryString(src);
		jQuery.ajax({
            //url:"$link.getContextURL()/system/power/getButtonPower.json",
            data:data,
            type:"post",
            async:false,
            dataType:"json",
            success:function(powerList) {
				if (powerList && powerList.length > 0) {
                    for (var i = 0; i < powerList.length; i++) {
                        if ('新增' == powerList[i].buttonType) {
    						if('不显示' == powerList[i].showType){
								$('#add').hide();
							}else if('灰色显示' == powerList[i].showType){
								$('#add').linkbutton('disable');
							}else{
								$('#add').show();
							}
                           
                        }else if ('编辑' == powerList[i].buttonType) {
    						if('不显示' == powerList[i].showType){
								$('#edit').hide();
							}else if('灰色显示' == powerList[i].showType){
								$('#edit').linkbutton('disable');
							}else{
								$('#edit').show();
							}
                           
                        }else if ('删除' == powerList[i].buttonType) {
    						if('不显示' == powerList[i].showType){
								$('#remove').hide();
							}else if('灰色显示' == powerList[i].showType){
								$('#remove').linkbutton('disable');
							}else{
								$('#remove').show();
							}
                           
                        }
                    }
                }
            }
        });
	}
	
	//截取url后面的参数
	function parseQueryString(url){
		var params={};
		var arr=url.split("?");
		var arr1 = '';
		if(arr.length>1){
			arr1=arr[1].split("&");
		}
		for(var i=0;i<arr1.length;i++){
			arr2=arr1[i].split('=');  
                   
			if(!arr2[1]){
				params[arr2[0]]='true';  
			}else{
                if(params[arr2[0]]){
					var arr3=[params[arr2[0]]];  
                    arr3.push(arr2[1]);  
                    params[arr2[0]] = arr3;  
                }else{
                    params[arr2[0]]=decodeURI(arr2[1]);  
                }  
            }  
		}  
        return params;
	}  
	
</script>
#end
