<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>便函标题</td>
  <td class="bg-white" colspan="3">
    <input style="width:100%;" id="title" name="title" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{obj.title}"/>
  </td>
</tr>
<tr>
	<input type="hidden" name="flowId" id="flowId" value="$!{obj.flowId}"/>
   #*<td class="bg-grey"><span><font color=red>*</font></span>选择流程</td>
   <td class="bg-white">
	#if($!{obj.status} == "0")
    <select name="flowId" id="flowId" class="easyui-combobox"  data-options="editable:false,validType:{selectValid:' '}" panelheight="auto" style="width:170px;">
      <option value="">&nbsp;</option>
    #foreach($flow in $flowList)
      <option value="$flow.id" #if("$flow.id"=="$!obj.flowId") selected #end>$flow.flowName</option>
    #end
    </select>
	#elseif($!{curNode} && $!{curNode.flow})
	$!{curNode.flow.flowName}
	#end
  </td>
  *#
  <td class="bg-grey">公文字号</td>
  <td class="bg-white" colspan="3">
    <input id="docCode" name="docCode" value="$!{obj.docCode}" type="hidden"/>
    ##<input type="text" style="width:80px;" id="docCode1" name="docCode1" class="easyui-textbox" data-options="validType:'maxLength[10]'" value="$!{docCode1}"/>&nbsp;[&nbsp;

    <select name="docCode1" id="docCode1" class="easyui-combobox" data-options="editable:false"  panelheight="auto" style="width:155px;">
         <option value="" #if("" == "$!{docCode1}") selected #end ></option>
         #foreach( $data in $!{codeList} )
         <option value="$!{data.codeName}" #if("$!{data.codeName}" == "$!{docCode1}") selected #end >$!{data.codeName}</option>
         #end
    </select>&nbsp;[&nbsp;

    <select name="docCode2" id="docCode2" class="easyui-combobox" data-options="editable:false" panelheight="auto" style="width:60px;">
      <option value="$!{date.getYear()}" #if("!{docCode2}"=="$!{date.getYear()}") selected="selected" #end>$!{date.getYear()}</option>
      #set( $lastYear = ${date.getYear()} - 1 )
      <option value="$!{lastYear}" #if("!{docCode2}"=="$!{lastYear}") selected="selected" #end>$!{lastYear}</option>
    </select>&nbsp;]&nbsp;
    <input type="text" style="width:80px;" id="docCode3" name="docCode3" class="easyui-textbox" data-options="validType:'maxLength[10]'" value="$!{docCode3}"/>号
	<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit"
        plain="true" onclick="createDocCode('便函')" style="cursor:pointer">生成字号</a>
  </td>
</tr>

<tr>
  <td class="bg-grey">签发人</td>
  <td class="bg-white">
    <input style="width:99%;" id="typist"  name="typist"  class="easyui-textbox" value="$!{esc.html($!{obj.typist})}" />
  </td>
  <td class="bg-grey">拟稿人</td>
  <td class="bg-white" >
      #if($!{obj.creatorName})
          $!{obj.creatorName}
      #else
          $!currUser.userName
      #end
  </td>
</tr>

<tr>
  <td class="bg-grey">附件</td>
  <td colspan="3" class="bg-white">
        ##附件id
      <input id="attach" name="attach" type="hidden" value=""/>
      <div class="filelistmulti" id="file-list-c">
          <a class="easyui-linkbutton btn-file-up" icon="icon-add" plain="true" select-type="otherFile" uploadurl="#defaultUploadUrl('simpleFileAttach')" swfurl="$!{link.getContextPath()}/js/Moxie.swf">
              添加附件
          </a>
          <div id="other-file-c">

          </div>
      </div>
  </td>
</tr>
#parse("doc/receivefile/inner/expirydate.js.vm")
#@script()
<script type="text/javascript">
  function showworktime(newValue, oldValue){
    var day =newValue;
    ##替换非数字
    day=day.replace(/\D/g,"");
    if (day== ""|| day =="0") {
      $("#sendExpiryDateDay").val("");
      $("#sendFileDisplayLimitTime").text("");
      $("#sendExpiryDate").val("");
      return false;
    }
    jQuery.ajax({
      url:"$link.getContextURL()/doc/event/getNewLimitTime.json",
      data:{
        limitDay: day
      },
      type:"post",
      async:false,
      dataType:"text",
      success:function(data) {
        $("#sendExpiryDate").val(data);
        var value = data.substr(0, data.indexOf(' ')).split("-");
        var displayLimitTime = "";
        displayLimitTime = value[0] + "年" + value[1] + "月" + value[2] + "日";
        $("#sendFileDisplayLimitTime").text(" 至  " + displayLimitTime);
      }
    });
  }

  function setLimit(ck){
    if(ck.checked) {
       $("#limitStr").textbox("setValue","无时限要求");
    } else {
       $("#limitStr").textbox("setValue","");
    }
  }

#if("$!opflag" == "deal" && !${funcList.contains("N1")})## 是处理页面非拟稿环节

  // 检查来文字号是否重复
  function checkDocCode(docCode) {
    $.post('$link.getContextURL()/doc/event/checkDocCode.json', {id:'$!{obj.id}', docCode:docCode, fileType:'发文'}, function(result) {
      if (result.success) {
        //top.CC.messager({ title:'提示',msg:result.success });
      } else {
        top.CC.messager({ title:'提示',msg:result.error });
		$('#docCode3').textbox('setValue','');
      }
    });
  }


  $(document).ready(function() {
    //检查docCode1
    $('#docCode1').textbox({
      onChange: function (newValue, oldValue) {
        var docCode2 = $('#docCode2').combobox('getValue');
        var docCode3 = $('#docCode3').textbox('getValue');
        if ($.trim(newValue) != "" && $.trim(docCode3) != "") {// 不为空才设置文号
          var docCode = newValue + "[" + docCode2 + "]" + docCode3 + "号";
          checkDocCode(docCode);
        }
      }
    });
    // 检查docCode3
    $('#docCode3').textbox({
      onChange: function (newValue, oldValue) {
        var docCode1 = $('#docCode1').textbox('getValue');
        var docCode2 = $('#docCode2').combobox('getValue');
        if ($.trim(docCode1) != "" && $.trim(newValue) != "") {// 不为空才设置文号
          var docCode = docCode1 + "[" + docCode2 + "]" + newValue + "号";
          checkDocCode(docCode);
        }
      }
    });


  });
#end
</script>
#end