<form id="queryForm">
    <table class="tb2 default-table">
        <tr>
            <th>姓名 $lookup.SysUserAccount["cbk"].userName</th>
            <td><input id="userName" name="$qc.like('userName')" class="easyui-textbox" />
            <a href="javascript:;" callback=fnDemoSelectManCallback class="easyui-linkbutton" select-dialog="$link.getContextURL()/select/selectmanSingle">...</a></td>
            <th style="text-align: center">所属部门</th>
            <td>
                <input id="dep" name="$qc.equal('id')" readOnly="true" class="easyui-textbox"/>
                <a href="javascript:;" callback=fnDemoSelectDepCallback class="easyui-linkbutton" select-dialog="$link.getContextURL()/selectDep/selectDepSingle">...</a></td>
            </td>
            <th>注册日期</th>
            <td><input name="$qc.greaterThanOrEqualTo('regDate')" style="width: 100px;"
                class="easyui-datebox" data-options="sharedCalendar:'#cc'">
            </td>
            <th>至</th>
            <td><input name="$qc.lessThanOrEqualTo('regDate')" style="width: 100px;"
                class="easyui-datebox" data-options="sharedCalendar:'#cc'">
            </td>
            <th style="text-align: center">性别</th>
            <td><select name="$qc.equal('sex')" class="easyui-combobox"
                style="width: 50px" panelheight="auto">
                #formoption("" $dict.sex)
            </select>
            </td>
            <td><a href="javascript:;" class="easyui-linkbutton l-btn-plain-remove" plain="true"
                iconCls="icon-search" onclick="formSerach()">查询</a> <a
                href="javascript:;" class="easyui-linkbutton" plain="true"
                iconCls="icon-remove" onclick="reset()">重置</a></td>
        <tr></tr>
    </table>
    <div id="cc" class="easyui-calendar"></div>
</form>