@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
ul{ list-style-type:none}
img{ border:none}
a{ color:#333; text-decoration:none; font-family:"微软雅黑", "宋体"; font-size:14px;}
.clear{ clear:both;}
.tips{position: absolute;top:0;left: 98px;width:297px;height:105px;  background:url(../images/tips-bg.png) no-repeat;padding-top: 10px; z-index: 1px;}
.tips p{font-size:14px; font-family:"微软雅黑", "宋体";color:#9b5e31;line-height: 28px;}
.tips img{ padding: 0 10px; }
.tips table{width: 220px;padding-left: 10px;}
.tips table tr td{ vertical-align: text-top; }
