<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <input name="id" type="hidden" value="$!{obj.id}">
                <table class="table-edit" title="回复" width="100%" border="0" cellspacing="1" cellpadding="0">
                  <tbody>
                    <tr align="center" id="et1" width="120">
                      <td class="bg-grey" align="right">收件人</td>
                      <td align="left" width="90%" class="bg-white">
                        <input id="status" name="status" type="hidden" value="$!{obj.status}"/>
                        $!{obj.addressName}
                        <input id="manAddress" name="manAddress" type="hidden" value="$!obj.address" />
                        <input id="manAddressNames" name="manAddressNames" type="hidden" value="$!obj.addressName" />
                        <input id="emailType" name="emailType" type="hidden" value="1" />
                      </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right"><span><font color=red>*</font></span>标题</td>
                      <td align="left" class="bg-white">
                        <input style="width:95%;" name="title" data-options="required:true" class="easyui-textbox" value="$!{obj.title}"/>
                      </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right">消息提示</td>
                      <td align="left" class="bg-white">
                        <label><input type="checkbox" id="receiptFlag" name="receiptFlag" value="1" checked />已读回执</label>
                      </td>
                    </tr>
                    <tr align="center">
                        <td class="bg-grey" align="right">内容</td>
                        <td valign="top" class="bg-white">
                        <input id="content" name="content" type="hidden"/>
                        <textarea class="ckeditor" id="mailContent" name="mailContent" cols="" style="resize:none;width:95%;">$!{obj.content}</textarea>
                        </td>
                    </tr>
                    <tr align="center">
                      <td class="bg-grey" align="right">附件</td>
                      <td align="left" attachId="$!obj.id" class="bg-white">
                        #formfilemultyemail("attachIds", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('emAttach')", true, "#defaultUploadUrl('emAttach')",true,"","","", "cc") ## "cc"为可拖拽区域的dom id
                      </td>
                    </tr>
                  </tbody>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
           <div class="bottom-but">
                <ul>
                       <li> <a id="send" onclick="send()"               class="new-but">发送</a></li>
                      <li>  <a id="back" onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
                <ul>
            </div>
        </div>
    </div>
</div>

#@script()
<script type="text/javascript">
    $(function(){
        CKEDITOR.replace('mailContent', { height: '340px'});
    });

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.closeCurTab();
    }

    //发送
    function send(){
        var value = CKEDITOR.instances.mailContent.getData();
        $('#content').val(value);
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/oa/mail/send.json",$("#editForm").serialize(),function(result){
                  if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'邮件发送成功!'
                    });
                    top.CC.addTab({title:'发件箱',url:'$link.getContextURL()/oa/mail/sendbox/list'});
                    top.CC.closeTab('写邮件');
                  }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
        }
    }

    //草稿
    function drafts(){
        var value = CKEDITOR.instances.mailContent.getData();
        $('#content').val(value);
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/oa/mail/saveDrafts.json",$("#editForm").serialize(),function(result){
                  if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'保存成功！该邮件已存入草稿箱。'
                    });
                    top.CC.addTab({title:'草稿箱',url:'$link.getContextURL()/oa/mail/drafts/list'});
                    top.CC.closeTab('写邮件');
                  }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
        }
    }

    // 绑定邮件类型radio选中事件
    $(function(){
        emailTypeChange();
        $("input[name=emailType]").click(function(){
            emailTypeChange();
        });
    });
    function emailTypeChange(){
        switch($("input[name=emailType]:checked").attr("id")){
            case "emailType1":
                // 个人邮件
                $('#et1').show();
                $('#et2').hide();
                break;
            case "emailType2":
                // 科室邮件
                $('#et2').show();
                $('#et1').hide();
                break;
            default:
                break;
        }
    }


    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

     // 人员选择回调
    function fnSelectMansCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var key = 0; key < obj.length; key++){
            userNames += obj[key].dataText + ",";
            userIds += obj[key].id + ",";
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#manAddressNames').textbox('setValue', userNames);
        $('#manAddress').val(userIds);
    }


    // 部门选择回调
    function fnSelectDepCallback(obj){
        var unitIds = "";
        var unitNames = "";
        for (var key = 0; key < obj.length; key++){
            unitIds += obj[key].id + ",";
            unitNames += obj[key].text + ","
        }
        unitIds = unitIds.substring(0,unitIds.length-1);
        unitNames = unitNames.substring(0,unitNames.length-1);
        $('#unitAddress').val(unitIds);
        $('#unitAddressNames').textbox('setValue',unitNames);
    }
</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
#parse("common/easyui/crud.js.vm")
