<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
             <a  class="easyui-linkbutton" plain="true" onclick="top.CC.refreshTab('已部署流程')" iconCls="icon-refresh" >刷新</a>
             <a  onclick="top.CC.closeCurTab()" class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg" title="" style="width:100%;">
                <thead>
                <tr>
                    <th data-options="field:'name',width:40">流程名称</th>
                    <th data-options="field:'category',width:40">流程分类</th>
                    <th data-options="field:'id',width:40,editor:'text'">流程定义ID</th>
                    <th data-options="field:'key',width:30">流程KEY</th>
                    <th data-options="field:'deploymentId',width:15">部署ID</th>
                    ##<th data-options="field:'resourceName',width:30">xml名称</th>
                    ##<th data-options="field:'diagramResourceName',width:30">png名称</th>
                    <th data-options="field:'operate',align:'center',formatter:operaterFormatter,width:30">操作列</th>
                </tr>
                </thead>
            </table>
            <div class="cc-operateColum">
                <a  href='javascript:;' class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-edit"
                    plain="true" onclick="editAuth('__defId__')">设置权限</a>
                <a  href='javascript:;' class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-remove"
                    plain="true" onclick="del(__deployId__, '__defId__')">删除</a>
            </div>
        </div>
    </div>
</div>

#parse("common/easyui/operatorcolumn.js.vm")
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
    var _listJsonUrl = '/workflow/process/list.json';
    var _delJsonUrl = '/workflow/process/delete';
    
    function editAuth(id){
        var url = '$link.getContextURL()/doc/nodesetting/nodelist?procDefId='+id
        top.CC.addTab({title:'流程权限设置',url:url});
    }

    function del(deployId, defId){
        $.messager.confirm('警告','确定删除该流程吗? 所有该流程相关的实例数据将全部被删除！' + defId, function(r){
            if (r){
                $.post(_baseUrl + _delJsonUrl, {deployId:deployId,procDefId:defId}, function(result){
                    if (result.success){
                        $('#dg').datagrid('reload'); // reload the user data
                    } else {
                        $.messager.show({ // show error message
                            title: '错误',
                            msg: result.errorMsg
                        });
                    }
                },'json');
            }
        });
    }

    function operaterFormatter(value,row,index){
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html().replace(new RegExp("__deployId__",'gm'),row.deploymentId).replace(new RegExp("__defId__",'gm'),row.id);
     }

     $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-remove']",_querForm);
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
        if(_btnClear){
            _btnClear.on('click',reset);
        }

        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }

        function formSerach() {
            _datagrid.datagrid('reload');
        }
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }


        //初始化datagrid
        _datagrid.datagrid({
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:false,
            rownumbers:true,//行号
            singleSelect:true,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:_baseUrl + (_listJsonUrl || '/list.json'),//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            if($("#editForm").form('validate')){
                var dfn = top.window.openSelectDialogFrameDialog;
            }else{
                return false;
            }
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

</script>
#end
