<script type="text/javascript" src='js/html/jquery.outerhtml.js'> </script>
<script type="text/javascript" src='js/qtip/jquery.qtip.pack.js'> </script>
<link href="js/qtip/jquery.qtip.min.css" rel="stylesheet" type="text/css"/>

<style >
.ui-corner-all-12, .ui-corner-top-12, .ui-corner-left-12, .ui-corner-tl-12 {
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius: 12px;
    -khtml-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
}

.ui-corner-all-12, .ui-corner-top-12, .ui-corner-right-12, .ui-corner-tr-12 {
    -moz-border-radius-topright: 12px;
    -webkit-border-top-right-radius: 12px;
    -khtml-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
}

.ui-corner-all-12, .ui-corner-bottom-12, .ui-corner-left-12, .ui-corner-bl-12 {
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -khtml-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.ui-corner-all-12, .ui-corner-bottom-12, .ui-corner-right-12, .ui-corner-br-12 {
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -khtml-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
</style>


<div id="workflowTraceDialog"><img src=""></img>
	<div id="processImageBorder"></div>
</div>


<script >

    // 获取图片资源
    var imageUrl = "workflow/resource/process-instance?pid=$!{pid}&type=image";
    $.getJSON('workflow/process/trace?pid=$!{pid}', function(infos) {

        var positionHtml = "";
		

        // 生成图片
        var varsArray = new Array();
        $.each(infos, function(i, v) {

			//alert(i);

 			var $positionDiv = $('<div/>', {
                'class': 'activity-attr'
            }).css({
                position: 'absolute',
                left: (v.x + 10),
                top: (v.y + 9),
                width: (v.width - 2),
                height: (v.height - 2),
                backgroundColor: 'black',
                opacity: 0,
                zIndex: $.fn.qtip.zindex - 1
            });
			
            // 节点边框
            var $border = $('<div/>', {
                'class': 'activity-attr-border'
            }).css({
                position: 'absolute',
                left: (v.x + 10),
                top: (v.y + 9),
                width: (v.width - 4),
                height: (v.height - 3),
                zIndex: $.fn.qtip.zindex - 2
            });

            if (v.currentActiviti) {
                $border.addClass('ui-corner-all-12').css({
                    border: '3px solid red'
                });
            }
            positionHtml += $positionDiv.outerHTML() + $border.outerHTML();
			
			//alert(positionHtml);
			
            varsArray[varsArray.length] = v.vars;
        });

		$('#workflowTraceDialog img').attr('src', imageUrl);
        $('#workflowTraceDialog #processImageBorder').html(positionHtml);

		
        // 设置每个节点的data
        $('#workflowTraceDialog .activity-attr').each(function(i, v) {
            $(this).data('vars', varsArray[i]);
        });

        $('#workflowTraceDialog').css('padding', '0.2em');
        $('#workflowTraceDialog .ui-accordion-content').css('padding', '0.2em').height($('#workflowTraceDialog').height() - 75);

        // 此处用于显示每个节点的信息，如果不需要可以删除
        $('.activity-attr').qtip({
            content: function() {
                var vars = $(this).data('vars');
                var tipContent = "<table class='need-border'>";
                $.each(vars, function(varKey, varValue) {
                    if (varValue) {
                        tipContent += "<tr><td class='label'>" + varKey + "</td><td>" + varValue + "<td/></tr>";
                    }
                });
                tipContent += "</table>";
                return tipContent;
            },
            position: {
                at: 'bottom left',
                adjust: {
                    x: 3
                }
            }
        });
        // end qtip

    });	
	
	
</script>