<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
				<input name="ids" id="ids" type="hidden" value="$!{ids}"/>
                <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>借阅人</td>
                            <td  align="left" class="bg-white">
                                <input  id = "borrowUserName" style="width:99%;" name="borrowUserName" data-options="required:true" class="easyui-textbox"/>
                            </td>
                        </tr>
						<tr align="center">
                          <td class="bg-grey" align="right"><span><font color=red>*</font></span>借阅时间</td>
                          <td align="left" class="bg-white">
                            <input  id = "borrowDate" name="borrowDate" class="easyui-datebox" data-options="editable:false,required:true"/>
                          </td>
                        </tr>
                        <tr align="center">
                          <td class="bg-grey" align="right">借阅原因</td>
                          <td align="left" class="bg-white">
                            <textarea name="borrowReason" class="easyui-validatebox textareaborder" data-options="validType:'maxLength[250]'" style="width:95%;height:80px;resize:none;" ></textarea>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
            <div class="bottom-but-dialog">
                <ul>
                    <li><a id="saveTemp" onclick="save()" class="new-but">确认</a></li>
                    <li><a id="back" onclick="back()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        $('#editWindow').window('close');
    }
    //保存
    function save(){
        if($("#editForm").form('validate')) {
        	top.CC.loading("保存中，请稍后...");
            $.post("$link.getContextURL()/doc/archives/borrow/saveBorrowArch.json",$("#editForm").serialize(),function(result){
            	top.CC.loaded();
             	if(result.id){
                	$('#id').val(result.id);
                    $('#dg').datagrid('reload');
                    $('#editWindow').window('close');
                  	top.CC.messager({
                    	title:'提示',
                        msg:'保存成功！'
                   	});
					var title = top.CC.getCurTab().panel('options').title;
					top.CC.addTab({ title:'归档后管理', url:'$link.getContextURL()/doc/archives/archivedlist'});
                   	top.CC.closeTab(title);
              	}else{
                   	top.CC.messager({
                       	title:'提示',
                       	msg:'服务器连接不上'
                   	});
            	}
            });
        }
    }
	
</script>
#end
