<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>文电名称</td>
  <td class="bg-white" colspan="3">
    <input style="width:99%;" id="title"  name="title" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{esc.html($!{envelope.title})}" />
  </td>
</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>来文日期</td>
  <td class="bg-white" >
    <input style="width:100px;" id="receiveDate" name="receiveDate" class="easyui-datebox"  value="$!{envelope.sendTime}" data-options="required:true,editable:false" />
  </td>
  <td class="bg-grey"><span><font color=red>*</font></span>收文分类</td>
  <td class="bg-white" >
    ##<label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="0"  #if("0"=="$!{obj.sncodeType}" || ""=="$!{obj.sncodeType}") checked #end  />zhyyyy-nnnn</label>
    ##<label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="1" #if("1"=="$!{obj.sncodeType}") checked #end/>yyyy-nnnn</label>
	#if($!{isJy} == "0")
    <label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="0"  #if("0"=="$!{obj.sncodeType}" || ""=="$!{obj.sncodeType}") checked #end  />zhyyyy-nnnn</label>
    <label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="1" #if("1"=="$!{obj.sncodeType}") checked #end/>yyyy-nnnn</label>
	#else
	<label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="2"  #if("2"=="$!{obj.sncodeType}" || ""=="$!{obj.sncodeType}") checked #end  />JYyyyy-nnnn</label>
	#end
  </td>
</tr>
<tr>
	<td class="bg-grey"><span><font color=red>*</font></span>限办日期</td>
	<td class="bg-white">
		<input style="width:100px;" id="expiryDate" name="expiryDate" value="$!{envelope.limitTime}" class="easyui-datebox"  data-options="required:true,editable:false" />
		#if($!{envelope.limitTime})
            #if($!{envelope.envStatus}==0||$!{envelope.envStatus}==1||$!{envelope.envStatus}==2)
                #if($!{envelope.calDeadlineDay}&&$!{envelope.calDeadlineDay}<0)
                    #set($absLimitDay = $!envelope.calDeadlineDay*-1)
					<span style="color: red;">提示：公文已过期：$!{absLimitDay}天，请及时办理。</span>
                #end
    		#end
		#end
   </td>
   <td class="bg-grey"><span><font color=red>*</font></span>选择流程</td>
   <td class="bg-white">
    <select name="flowId" id="flowId" class="easyui-combobox" data-options="required:true,editable:false,validType:{selectValid:' '}" panelheight="auto" style="width:170px;">
      <option value="">&nbsp;</option>
    #foreach($flow in $flowList)
      <option value="$flow.id" #if("$flow.id"=="$!{obj.flowId}") selected #end>$flow.flowName</option>
    #end
    </select>
  </td>
</tr>
#if($!{envelope.deadlineType} == '7')##限时办结转内部公文时，如果紧急程度不是其他，环节限办时间以初始化的数值为准，否则就提供环节限办时间设置进行操作
<tr>
  <td class="bg-grey">环节限办</td>
   <td class="bg-white" colspan="3">
   #formradio("nodeExpire" "" $dict.YesNo "0")
   <span id="nodeExpireBox" style="display:none;">
   <input id="nodeIds" name="nodeIds" value="" type="hidden"/>
   <input id="nodeExpireMinutes" name="nodeExpireMinutes" value="" type="hidden"/>
   <a class="easyui-linkbutton l-btn-plain-search"
	iconCls="icon-edit" plain="true" onclick ="installNodeExpire()">环节限办时间设置</a>
	</span>
   </td>
</tr>
#end
<tr>
  <td class="bg-grey" >来文单位</td>
  <td class="bg-white">
	<input name="sendUnit" value="$!{envelope.senderAncestorName}" type="hidden"/>
	$!{esc.html($!{envelope.senderAncestorName})}
  </td>
  <td class="bg-grey">来文字号</td>
  <td class="bg-white">
    <input name="docCode" value="$!{envelopeContent.docNumber}号" type="hidden"/>
     $!{esc.html($!{envelopeContent.docNumber})}
  </td>
</tr>
<tr>
  <td class="bg-grey">文电摘要</td>
  <td colSpan="3" class="bg-white">
    <textarea class="textareaborder easyui-validatebox" data-options="validType:'maxLength[1000]'" id="digest" name="digest" maxLength="240" cols="" style="resize:none;width:98%;height:60px;">$!{obj.digest}</textarea>
  </td>
</tr>
<tr>
  <td class="bg-grey">处理意见</td>
  <td colSpan="3" class="bg-white">
    <textarea class="textareaborder easyui-validatebox" data-options="validType:'maxLength[1000]'" id="suggestion" name="suggestion" maxLength="240" cols="" style="resize:none;width:98%;height:30px;">$!{obj.suggestion}</textarea>
  </td>
</tr>
<tr>
  <td class="bg-grey">备注</td>
  <td colSpan="3" class="bg-white">
    <textarea class="textareaborder" id="remark" name="remark" maxLength="240" cols="" style="resize:none;width:98%;height:30px;">$!{obj.remark}</textarea>
  </td>
</tr>

<tr>
   <td class="bg-grey">附件</td>
   <td colSpan="3"  class="bg-white" attachId="$!{obj.id}">
    #formfilemulty("attach", "", "", "", $!{sysAttachList},"#defaultDownloadUrl('sysattach')", true, "#defaultUploadUrl('sysattach')",true)
  </td>
</tr>


#@script()
<script type="text/javascript">

  $(document).ready(function() {
		
		//环节限办 按钮切换事件
		$(":radio[name='nodeExpire']").click(function(){
			if("1"==$(this).val()){
				$("#nodeExpireBox").show();
			}else{
				$("#nodeExpireBox").hide();
				$("#nodeIds").val('');
				$("#nodeExpireMinutes").val('');
			}
    	});
		
		
	});
	
	//环节限办时间设置
  function installNodeExpire(){
    var flowId = $('#flowId').combobox('getValue');
  	var expiryDate = $("#expiryDate").textbox("getValue");
  	var nodeIds = $("#nodeIds").val();
  	var nodeExpireMinutes = $("#nodeExpireMinutes").val();
  	var _callbackname = 'fnNodeExpireCallback';
	var _url = "$link.getContextURL()/doc/nodeExpireDate/editNodeExpireDate?expiryDate=" + expiryDate + "&flowId=" + flowId +"&nodeExpireMinutes=" + nodeExpireMinutes + "&nodeIds=" + nodeIds + "&flowType=1";
	var _callback_fn = window[_callbackname];
    var dfn = top.window.openSelectDialogFrameDialog;
    if (typeof dfn === "function") {
        dfn(_url, _callback_fn);
    }
    return false;
  }
  
  ////环节限办时间设置回调函数
  function fnNodeExpireCallback(obj){
    if(obj){
      var nodeIds = obj.nodeIds;
      var nodeExpireMinutes = obj.nodeExpireMinutes;
	  $("#nodeIds").val(nodeIds);
	  $("#nodeExpireMinutes").val(nodeExpireMinutes);
    }
  }
</script>
#end