<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>文电名称</td>
  <td class="bg-white" colspan="3">
    <input style="width:99%;" id="title"  name="title" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{esc.html($!{obj.title})}" />
  </td>
</tr>
<tr>
	<td class="bg-grey"><span><font color=red>*</font></span>来文日期</td>
	<td class="bg-white" >
		<input id="receiveDate" name="receiveDate" class="easyui-datebox" #if(${obj.id}) value="$!{obj.receiveDate}" #else value="$!{date.get('yyyy-MM-dd')}" #end data-options="required:true,editable:false" />
	</td>
	<td class="bg-grey"><span><font color=red>*</font></span>收文分类</td>
	<td class="bg-white" >
	
	#if($!{isJy} == "1")
		<label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="2"  #if("2"=="$!{obj.sncodeType}" || ""=="$!{obj.sncodeType}") checked #end  />JYyyyy-nnnn</label>
	#else
		<label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="0"  #if("0"=="$!{obj.sncodeType}" || ""=="$!{obj.sncodeType}") checked #end  />zhyyyy-nnnn</label>
		<label><input type="radio" id="sncodeType"  class="easyui-validatebox"  data-options="required:true" name="sncodeType" value="1" #if("1"=="$!{obj.sncodeType}") checked #end/>yyyy-nnnn</label>
	#end
	</td>
</tr>

<tr>
   <td class="bg-grey">限时办结要求</td>
   <td class="bg-white" colspan="3">
		<div style="float:left;padding-right: 20px;"  id="emergencyLevel">
			<label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="1" #if("1"=="$!{obj.deadlineType}") checked #end/>特急&nbsp;</label>
			<label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="2" #if("2"=="$!{obj.deadlineType}") checked #end/>急件</label>
			<label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="4" #if("4"=="$!{obj.deadlineType}" || ""=="$!{obj.deadlineType}") checked #end/>普通一类</label>
			<label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="5" #if("5"=="$!{obj.deadlineType}") checked #end/>普通二类</label>
			<label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="6" #if("6"=="$!{obj.deadlineType}") checked #end/>普通三类</label>
			<label><input type="radio" class="easyui-validatebox" data-options="required:true" name="deadlineType" value="7" #if("7"=="$!{obj.deadlineType}") checked #end/>其它</label>
		</div>
		<div id="ltday1" style="float:left; witdh:60px; display:block">
			<input style="width:50px;" id="limitDay"  name="limitDay" editable="false" data-options="validType:'integer',onChange:showworktime" class="easyui-textbox"  value="">
				&nbsp;个工作日&nbsp;
			<span id="receiveFileDisplayLimitTime" style="color:red; font-weight: bold;"></span>
			<input id="expiryDate1" name="expiryDate" type="hidden" value="$!{obj.expiryDate}"/>
  		</div>

		<div id="ltday2" style="float:left; witdh:200px; display:none">
			<div id="ltday3" style="float:left; witdh:200px;">
				<input style="width:100px;" id="expiryDate" name="expiryDateOther" class="easyui-datebox"  data-options="editable:false" />
			</div>
				##<input style="width:100px;" id="expiryDate" name="expiryDate" class="easyui-datebox"  data-options="required:true,editable:false" />
		</div>
   </td>
</tr>

<input type="hidden" name="flowId" id="flowId" value="$!{obj.flowId}"/>
<tr style="display:none;" id="nodeExpireSet">
  <td class="bg-grey">环节限办</td>
   <td class="bg-white" colspan="3">
   #formradio("nodeExpire" "" $dict.YesNo "0")
   <span id="nodeExpireBox" style="display:none;">
   <input id="nodeIds" name="nodeIds" value="" type="hidden"/>
   <input id="nodeExpireMinutes" name="nodeExpireMinutes" value="" type="hidden"/>
   <a class="easyui-linkbutton l-btn-plain-search"
	iconCls="icon-edit" plain="true" onclick ="installNodeExpire('1')">环节限办时间设置</a>
	</span>
   </td>
</tr>
<tr>
  <td class="bg-grey" ><span><font color=red>*</font></span>来文单位</td>
  <td class="bg-white">
    <input style="width:90%;" id="sendUnit" name="sendUnit" data-options="required:true,validType:'maxLength[100]'" class="easyui-textbox" value="$!{obj.sendUnit}"/>
   ### <a href="javascript:;" iconcls="icon-search" plain="true" id="selectIncepterDept" class="easyui-linkbutton"
    ##  callback=fnSelectDepCallback select-dialog="$link.getContextURL()/selectDep/selectDep?single=true" title="选择部门"></a>
  </td>
  <td class="bg-grey">来文字号</td>
  <td class="bg-white">
    <input id="docCode" name="docCode" value="$!{obj.docCode}" type="hidden"/>
    ##<input type="text" style="width:80px;" id="docCode1" name="docCode1" class="easyui-textbox" data-options="validType:'maxLength[10]'" value="$!{docCode1}"/>&nbsp;[&nbsp;

    <select name="docCode1" id="docCode1" class="easyui-combobox" panelheight="auto" style="width:155px;">
         <option value="" #if("" == "$!{docCode1}") selected #end ></option>
         #foreach( $data in $!{codeList} )
         <option value="$!{data.codeName}" #if("$!{data.codeName}" == "$!{docCode1}") selected #end >$!{data.codeName}</option>
         #end
    </select>&nbsp;[&nbsp;

    <select name="docCode2" id="docCode2" class="easyui-combobox" data-options="editable:false" panelheight="auto" style="width:60px;">
      <option value="$!{date.getYear()}" #if("!{docCode2}"=="$!{date.getYear()}") selected="selected" #end>$!{date.getYear()}</option>
      #set( $lastYear = ${date.getYear()} - 1 )
      <option value="$!{lastYear}" #if("!{docCode2}"=="$!{lastYear}") selected="selected" #end>$!{lastYear}</option>
    </select>&nbsp;]&nbsp;
    <input type="text" style="width:80px;" id="docCode3" name="docCode3" class="easyui-textbox" data-options="validType:'maxLength[10]'" value="$!{docCode3}"/>号
	<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit"
        plain="true" onclick="createDocCode('收文')" style="cursor:pointer">生成字号</a>
  </td>
</tr>
##<tr>
##  <td class="bg-grey">文电摘要</td>
##  <td colSpan="3" class="bg-white">
##    <textarea class="textareaborder easyui-validatebox" data-options="validType:'maxLength[1000]'" id="digest" name="digest" maxLength="240" cols="" style="resize:none;width:98%;height:60px;">$!{obj.digest}</textarea>
##  </td>
##</tr>
<tr>
  <td class="bg-grey">处理意见</td>
  <td colSpan="3" class="bg-white">
    <textarea class="textareaborder easyui-validatebox" data-options="validType:'maxLength[1000]'" id="suggestion" name="suggestion" maxLength="240" cols="" style="resize:none;width:98%;height:30px;">$!{obj.suggestion}</textarea>
  </td>
</tr>
##<tr>
##  <td class="bg-grey">备注</td>
##  <td colSpan="3" class="bg-white">
##    <textarea class="textareaborder" id="remark" name="remark" maxLength="240" cols="" style="resize:none;width:98%;height:30px;">$!{obj.remark}</textarea>
##  </td>
##</tr>


##隐藏限时办结纸质公文内容，东盟OA暂时不需要
#*
#if("$!newOperate"=="1" || "$!obj.status"=="0")

<tr>
  <td colSpan="4" class="bg-white" style="text-align:center">报送信息</td>
  <input name="feedBackFlag" value="true" type="hidden"/>
</tr>
<tr>
  <td class="bg-grey">密级</td>
  <td class="bg-white">
	非涉密
  </td>
  <td class="bg-grey">紧急程度</td>
  <td class="bg-white">
	<input type="hidden" name="emergencyLevel" id="eme_lv" value="3">
    <input style="width:99%;" id="emergencyLevelName" name="emergencyLevel" editable="false" class="easyui-textbox" value="无"/>
  </td>
</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>来文单位简称</td>
  <td class="bg-white">
  #formradio("printOrgAbb" "$!obj.printOrgAbb" $dict.SendUnitSimpleName "区内来文" "" "" "style='color:red;'")
  </td>
  <td class="bg-grey"><span><font color=red>*</font></span>印发日期</td>
  <td class="bg-white">
  <input id="printDate" name="printDate" class="easyui-datebox" #if(${obj.id}) value="$!{obj.printDate}" #else value="$!{date.get('yyyy-MM-dd')}" #end data-options="required:true,editable:false" />
  </td>
</tr>
<tr>
  <td class="bg-grey"><span><font color=red>*</font></span>联系人</td>
  <td class="bg-white">
  <input style="width:99%;" id="typist"  name="typist" data-options="required:true,validType:'maxLength[20]'" class="easyui-textbox" value="$!{esc.html($!{obj.typist})}" />
  </td>
  <td class="bg-grey"><span><font color=red>*</font></span>联系电话</td>
  <td class="bg-white">
  <input style="width:99%;" id="telephone"  name="telephone" data-options="required:true,validType:'maxLength[50]'" class="easyui-textbox" value="$!{esc.html($!{obj.telephone})}" />
  </td>
</tr>

#end
*#
<tr>
  <td class="bg-grey">附件</td>
  <td colspan="3" class="bg-white">
        ##附件id
      <input id="attach" name="attach" type="hidden" value=""/>
      <div class="filelistmulti" id="file-list-c">
          <a class="easyui-linkbutton btn-file-up" icon="icon-add" plain="true" select-type="otherFile" uploadurl="#defaultUploadUrl('docReceiveAttach')" swfurl="$!{link.getContextPath()}/js/Moxie.swf">
              添加附件
          </a>
          <div id="other-file-c">

          </div>
      </div>
  </td>
</tr>
#parse("doc/receivefile/inner/expirydate.js.vm")
#@script()
<script type="text/javascript">

    $(function(){
    	//类型和限时办结联动效果
    	initEmergencyLevelRadio();
    	initRemoteDocSwapTypeRadio();
    	//类型回填
    	#if("$!{obj.documentType}"=="0" || "$!{obj.documentType}"=="")
    		$('input[name="documentType"][value=0]').click();
    	#else
    		$('input[name="documentType"][value="$!{obj.documentType}"]').click();
    	#end
    
    	//环节限办 按钮切换事件
    	$(":radio[name='nodeExpire']").click(function(){
    		if("1"==$(this).val()){
    			$("#nodeExpireBox").show();
    		}else{
    			$("#nodeExpireBox").hide();
    			$("#nodeIds").val('');
    			$("#nodeExpireMinutes").val('');
    		}
    	});
    	
    	
    })
	
  // 检查来文字号是否重复
	function checkDocCode(docCode) {
		$.post('$link.getContextURL()/doc/event/checkDocCode.json', {id:'$!{obj.id}',docCode:docCode, fileType:'收文'}, function(result) {
			if (result.success) {
				//top.CC.messager({ title:'提示',msg:result.success });
			} else {
				top.CC.messager({ title:'提示',msg:result.error });
				$('#docCode3').textbox('setValue','');
				
			}
		});
      }

  $(document).ready(function() {
    //检查docCode1
    $('#docCode1').textbox({
      onChange: function (newValue, oldValue) {
        var docCode2 = $('#docCode2').combobox('getValue');
        var docCode3 = $('#docCode3').textbox('getValue');
        if ($.trim(newValue) != "" && $.trim(docCode3) != "") {// 不为空才设置文号
          var docCode = newValue + "[" + docCode2 + "]" + docCode3 + "号";
          checkDocCode(docCode);
        }
      }
    });
    // 检查docCode3
    $('#docCode3').textbox({
      onChange: function (newValue, oldValue) {
        var docCode1 = $('#docCode1').textbox('getValue');
        var docCode2 = $('#docCode2').combobox('getValue');
        if ($.trim(docCode1) != "" && $.trim(newValue) != "") {// 不为空才设置文号
          var docCode = docCode1 + "[" + docCode2 + "]" + newValue + "号";
          checkDocCode(docCode);
        }
      }
    });
  });

</script>
#end