<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/doc/receivefile.css"/>
<div id="receiveContainers">
 <div class="receive_table">
  #*<table cellspacing="0" cellpadding="0" >

      <tr>
         <th colspan="4">广西食品药品监督管理局文件处理111笺</th>
     </tr>

      <tr class="noBorder noPadding" style="height:18px;">
        <td colspan="4">
            <div class="minTitle">
                <span style="width: 370px;text-indent: 86px;">#if(${obj.receiveDate})$date.format('yyyy年MM月dd日',$!{obj.receiveDate})#end</span>
                <span>自然编号：</span>
                <span>$!{obj.sncode}</span>
            </div>
        </td>
      </tr>

       <tr class="noPadding">
            <td style="width:80px">来文单位</td>
            <td style="width: 227px;vertical-align: middle;" class="wordLT"><span style="font-weight:bold;">$!{esc.html($!{obj.sendUnit})}</span></td>
            <td style="width:80px">文电编号</td>
            <td style="width:200px;vertical-align: middle;" class="wordLT"><span style="font-weight:bold;">$!{obj.docCode}</span></td>
       </tr>

        <tr class="noPadding">
            <td colspan="1">文电名称</td>
            <td colspan="3" class="wordLT" style="vertical-align: middle;"><span style="font-weight:bold;">$!{esc.html($!{obj.title})}</span></td>
        </tr>

      <tr style="height: 200px;">
        <td colspan="1" class="td_narrow"><div>拟 办 意 见</div></td>
        <td colspan="3" class="wordLT">
             ###foreach($data in $op_nibans)
               ## <span>$!{esc.html($!{data.apprOpinion})}</span>
               ## <ul style="float:right; padding:5px 0; text-align:center;">
               ##  <li><span>$!{data.approver.userName}</span></li>
                ##  <li>
                 ##   <span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span>
                ##  </li>
               ## </ul>

                <span>$!{esc.html($!{obj.suggestion})}</span>
                <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
                  <li><span>$!{obj.creatorName}</span></li>
                  <li>
                    <span>$!date.format('yyyy-MM-dd HH:mm',$!{obj.createDate})</span>
                  </li>
                </ul>
                <div style="clear:both"></div>
             ## #end
          </td>
      </tr>

      <tr style="height: 150px;">
        <td colspan="1" class="td_narrow"><div>办 公 室 领 导 批 示</div></td>
          <td colspan="3" class="wordLT">
            #foreach($data in $opinionList)
            #if("$!data.curNode.nodeName" == "办公室领导批示")
               <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
                     <li><span>$!{data.approver.userName}</span></li>
                      <li><span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span></li>
                    </ul>
              <div style="clear:both"></div>
            #end
            #end
          </td>
      </tr>

      <tr style="height: 150px;">
         <td colspan="1" class="td_narrow"><div>经 办 处  室 办 理 情 况</div></td>
         <td colspan="3" class="wordLT">
            #foreach($data in $opinionList)
            #if("$!data.curNode.nodeName" == "各处室办理" || "$!data.curNode.nodeName" == "处室领导审核")
               <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
                     <li><span>$!{data.approver.userName}【$!{data.approver.department.deptName}】</span></li>
                      <li><span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span></li>
                    </ul>
              <div style="clear:both"></div>
            #end
            #end
         </td>
      </tr>

      <tr style="height: 150px;">
         <td colspan="1" class="td_narrow"><div>局 领 导 批 示</div></td>
         <td colspan="3" class="wordLT">
            #foreach($data in $opinionList)
            #if("$!data.curNode.nodeName" == "局领导批示")
               <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
                     <li><span>$!{data.approver.userName}</span></li>
                      <li><span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span></li>
                    </ul>
              <div style="clear:both"></div>
            #end
            #end
         </td>
       </tr>

       <tr style="height: 90px;">
          <td colspan="1" class="td_narrow"><div>备 注</div></td>
            <td colspan="3" class="wordLT">
               <span>$!{esc.html($!{obj.remark})}</span>
            </td>
       </tr>
   </table>
   *#
   <table cellspacing="0" cellpadding="0" >

      <tr>
         <th colspan="4">广西-东盟食品药品安全检验检测中心文件处理笺</th>
     </tr>

      <tr class="noBorder noPadding" style="height:18px;">
        <td colspan="4">
            <div class="minTitle">
                <span style="width: 370px;text-indent: 86px;">#if(${obj.receiveDate})$date.format('yyyy年MM月dd日',$!{obj.receiveDate})#end</span>
                <span>自然编号：</span>
                <span>$!{obj.sncode}</span>
            </div>
        </td>
      </tr>

       <tr class="noPadding">
            <td style="width:80px">来文单位</td>
            <td style="width: 227px;vertical-align: middle;" class="wordLT"><span style="font-weight:bold;">$!{esc.html($!{obj.sendUnit})}</span></td>
            <td style="width:80px">文电编号</td>
            <td style="width:200px;vertical-align: middle;" class="wordLT"><span style="font-weight:bold;">$!{obj.docCode}</span></td>
       </tr>

        <tr class="noPadding">
            <td colspan="1">文电名称</td>
            <td colspan="3" class="wordLT" style="vertical-align: middle;"><span style="font-weight:bold;">$!{esc.html($!{obj.title})}</span></td>
        </tr>

      <tr style="height: 200px;">
        <td colspan="1" class="td_narrow"><div>拟 办 意 见</div></td>
        <td colspan="3" class="wordLT">
                <span>$!{esc.html($!{obj.suggestion})}</span>
                <ul style="float:right; padding:5px 0; text-align:center; list-style-type:none;">
                  <li><span>$!{obj.creatorName}</span></li>
                  <li>
                    <span>$!date.format('yyyy-MM-dd HH:mm',$!{obj.createDate})</span>
                  </li>
                </ul>
                <div style="clear:both"></div>
             ## #end
	            #foreach($data in $opinionList)
		            #if("$!data.curNode.nodeName" == "部门审核")
		               <span>$!{esc.html($!{data.apprOpinion})}</span>
		                    <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
								<li><span>$!{data.approver.userName}</span></li>
								<li><span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span></li>
		                    </ul>
		              <div style="clear:both"></div>
		            #end
	            #end
          </td>
      </tr>

	  <tr style="height: 150px;">
        <td colspan="1" class="td_narrow"><div>中 心 领 导 批 示</div></td>
          <td colspan="3" class="wordLT">
            #foreach($data in $opinionList)
            #if("$!data.curNode.nodeName" == "中心领导批办")
               <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
                     <li><span>$!{data.approver.userName}</span></li>
                      <li><span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span></li>
                    </ul>
              <div style="clear:both"></div>
            #end
            #end
          </td>
      </tr>
      <tr style="height: 150px;">
         <td colspan="1" class="td_narrow"><div>分 管 领 导 批 示</div></td>
         <td colspan="3" class="wordLT">
             #foreach($data in $opinionList)
            #if("$!data.curNode.nodeName" == "分管领导审核")
               <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
                     <li><span>$!{data.approver.userName}</span></li>
                      <li><span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span></li>
                    </ul>
              <div style="clear:both"></div>
            #end
            #end
         </td>
       </tr>

       <tr style="height: 90px;">
          <td colspan="1" class="td_narrow"><div>文件处理情况</div></td>
            <td colspan="3" class="wordLT">
               #foreach($data in $opinionList)
            #if("$!data.curNode.nodeName" == "个人承办" || "$!data.curNode.nodeName" == "科长审核" || "$!data.curNode.nodeName" == "科员承办")
               <span>$!{esc.html($!{data.apprOpinion})}</span>
                    <ul style="float:right; padding:5px 0; text-align:center; list-style:none;">
                     <li><span>$!{data.approver.userName}</span></li>
                      <li><span>$!date.format('yyyy-MM-dd HH:mm',$!{data.apprTime})</span></li>
                    </ul>
              <div style="clear:both"></div>
            #end
            #end
            </td>
       </tr>
   </table>
 </div>
</div>
