<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
  <div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false" class="mynoborder">
      <form id="editForm" method="post">
		<table class="table-edit">
          <tr>
            <td class="fix_td_title">&nbsp;</td>
            <td class="fix_td_data">&nbsp;</td>
          </tr>
          <tr>
            <td class="bg-grey"><span><font color=red>*</font></span>所属流程</td>
            <td class="bg-white">
				#if("$!{flow.id}" != "")
				   #set($curFlowId="${flow.id}")
				   #set($curFlowName="${flow.flowName}")
				   #set($flowLevel="${flow.flowLevel}")
				#elseif("$!{obj.flowId}" != "")
				   #set($curFlowId="${obj.flowId}")
				   #set($curFlowName="${obj.flow.flowName}")
				   #set($flowLevel="${obj.flow.flowLevel}")
				#end
				<input type="hidden" name="flowId" id="flowId" value="${curFlowId}"/>
				##用于判断新建id是否重复
				<input type="hidden" id="isNewNode" name="isNewNode" value="">
				<span>${curFlowName}（${curFlowId}）</span>
            </td>
          </tr>
          <tr>
            <td class="bg-grey">环节编号</td>
            <td class="bg-white">
              <input style="width:80%;" id="id" name="id"  class="easyui-textbox" value="#if($!{esc.html($!{obj.id})})$!{esc.html($!{obj.id})}#else$!{newId}#end" data-options="required:true,validType:['SN','SNLength[4]']"/>
            </td>
          </tr>
          <tr>
            <td class="bg-grey">环节名称</td>
            <td class="bg-white">
              <input style="width:80%;" id="myNodeName"  class="easyui-textbox" value="$!{esc.html($!{obj.nodeName})}" data-options="required:true"/>
            </td>
          </tr>
          <tr>
            <td class="bg-grey">环节KEY</td>
            <td class="bg-white">
              <input style="width:80%;" id="nodeKey" name="nodeKey"  class="easyui-textbox" value="$!{esc.html($!{obj.nodeKey})}"/>
            </td>
          </tr>

          <tr>
            <td class="bg-grey">下一环节</td>
            <td class="bg-white">
                <input type="text" id="nextNodeNames" name="nextNodeNames" style="width:80%" class="easyui-textbox" readonly value="$!{nextNodeNames}"/>
                <input type="hidden" id="nextNodeIds" name="nextNodeIds" value="$!{nextNodeIds}"/>
                <a id="selectNextNodeDialog" href="javascript:;" iconcls="icon-search" plain="true"
                   callback=fnSelectNextNodeCallback class="easyui-linkbutton" select-nodes-dialog ></a>
            </td>
          </tr>
          <tr>
            <td class="bg-grey">退回环节</td>
            <td class="bg-white">
                <input type="text" id="backNodeNames" name="backNodeNames" style="width:80%" class="easyui-textbox" readonly value="$!{backNodeNames}"/>
                <input type="hidden" id="backNodeIds" name="backNodeIds"  value="$!{backNodeIds}"/>
                <a id="selectBackNodeDialog" href="javascript:;" iconcls="icon-search" plain="true"
                   callback=fnSelectBackNodeCallback class="easyui-linkbutton" select-nodes-dialog ></a>
            </td>
          </tr>
          <tr>
            <td class="bg-grey">自动提交环节</td>
            <td class="bg-white">
                <input type="text" id="submitNodeName" name="submitNodeName" style="width:80%" class="easyui-textbox" readonly value="$!{submitNodeName}"/>
                <input type="hidden" id="submitNodeId" name="submitNodeId" value="$!{submitNodeId}"/>
                <a id="selectSubmitNodeDialog" href="javascript:;" iconcls="icon-search" plain="true"
                   callback=fnSelectSubmitNodeCallback class="easyui-linkbutton" select-single-node-dialog ></a>
            </td>
          </tr>

          <tr>
            <td class="bg-grey">子流程ID</td>
            <td class="bg-white">
                ##<input type="text" id="subflowId" name="subflowId" value="$!{obj.subflowId}"/>
                <input style="width:80%;" id="subflowId" name="subflowId"  class="easyui-textbox" readonly value="$!{esc.html($!{obj.subflowId})}"/>
                <a id="selectSubFlowIdDialog" href="javascript:;" iconcls="icon-search" plain="true"
                   callback=fnSelectSubFlowIdCallback class="easyui-linkbutton" select-single-subflowId-dialog ></a>
            </td>
          </tr>
		  <tr>
            <td class="bg-grey">环节类型</td>
            <td class="bg-white">
               ##formradio("nodeType" "$!obj.nodeType" $dict.WfNodeType "1")
			   #foreach($nodeType in $dict.WfNodeType.keySet())
				#if($nodeType != "0" && $nodeType != "8" && $nodeType != "9")
					<label style="display:inline-block;" >
				        <input type="radio" name="nodeType" id="nodeType" value="$!{esc.html($!{nodeType})}" #if($!{obj.nodeType} == $nodeType) checked #elseif(!$!{obj.nodeType} && $nodeType == "1") checked #end />$!{esc.html($!{dict.WfNodeType.get($nodeType)})}&nbsp;&nbsp;
				    </label>
				#end
			   #end
            </td>
          </tr>
          <tr>
            <td class="bg-grey">功能按钮</td>
            <td class="bg-white">
                <input type="hidden" id="funcBtns" name="funcBtns" value="$!{obj.funcBtns}"/>
				#set($ops = $dict.WfFuncButton)
				#foreach($option in $ops.keySet())
				    <label style="display:inline-block;" >
				        <input type="checkbox" name="btns$option" id="btns$option" value="$!{esc.html($!{option})}" #if($!funcList.contains("$!{option}")) checked="checked" #end />$!{esc.html($!{ops.get($!option)})}&nbsp;&nbsp;
				    </label>
				#end
			</td>
          </tr>
          <tr>
            <td class="bg-grey">办结条件</td>
            <td class="bg-white">
               #formradio("endCond" "$!obj.endCond" $dict.WfEndCond "1")
            </td>
          </tr>
          <tr>
            <td class="bg-grey">编辑类型</td>
            <td class="bg-white">
               #formradio("editFlag" "$!obj.editFlag" $dict.WfEditFlag "0")
            </td>
          </tr>
          <tr>
            <td class="bg-grey">是否允许编辑</td>
            <td class="bg-white">
               #formradio("docEditable" "$!obj.docEditable" $dict.YesNo "0")
            </td>
          </tr>
          <tr>
            <td class="bg-grey">本环节预选待办人</td>
            <td class="bg-white">
                <input id="receiverIds" name="receiverIds" type="hidden" value="$!{obj.receiverIds}"/>
                <input style="width:80%;" id="receiverNames"  readonly value="$!{receiverNames}" class="easyui-textbox"/>
                <a id="selectMansDialog" href="javascript:;" iconcls="icon-search" plain="true"
                   callback=fnSelectMansCallback class="easyui-linkbutton" mans-dialog title="本环节预选待办人"></a>
            </td>
          </tr>
          <tr>
            <td class="bg-grey">本环节可办理部门<br>（留空表示全部）</td>
            <td class="bg-white">
                <input type="text" id="nodeDeptNames" name="nodeDeptNames" style="width:80%" class="easyui-textbox" readonly value="$!{nodeDeptNames}"/>
                <input type="hidden" id="nodeDeptIds" name="nodeDeptIds" data-options="required:true"  value="$!{nodeDeptIds}"/>
                <a id="selectNodeDeptsDialog" href="javascript:;" iconcls="icon-search" plain="true"
                   callback=fnSelectNodeDeptsCallback class="easyui-linkbutton" select-depts-dialog ></a>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div data-options="region:'south'" class="bottom-h">
      <div class="bottom-but">
        <ul>
          <li><a onclick="doSave()" class="new-but">保存</a></li>
          <li><a onclick="back()" class="new-but">关闭</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
#@script()
<script type="text/javascript">

    //保存
    function doSave() {
		if($("#editForm").form('validate')){
			if("$!{obj.id}"){
				$("#isNewNode").val("0")//编辑
			}else{
				$("#isNewNode").val("1")//新增
			}
			var checked = $("input[type='checkbox']:checked");
    		var ids = "";
    		checked.each(function(){
    		  ids += $(this).val() + ",";
    		});
    
            if (ids.length > 1) {
              ids = ids.substring(0, ids.length-1);
            }
            $("#funcBtns").val(ids);
    
    		//用nodeName作为id和name，JQ弹窗会有冲突
    		var myNodeName = $("#myNodeName").val();
    		
            top.CC.loading('保存中...');
            $.post('$link.getContextURL()/workflow/node/save.json', $('#editForm').serialize()+'&nodeName='+myNodeName, function(result) {
                top.CC.loaded();
                if (result.success) {
                  top.CC.messager({ title:'提示', msg:'保存成功！' });
                    back();
                } else {
                	top.CC.messager({ title:'提示', msg:'操作失败！' + result.error });
                }
            });
		}
    }

    //返回，关闭窗口
    function back(){
		$("#dg").datagrid("reload");
        $("#editNodeWindow").window('close');
    }

//**********************************选择节点*******************************

     //单选节点对话框
    $("a[select-single-node-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = "$link.getContextURL()/workflow/select/selectSingleNodeClassify?flowId="+$("#flowId").val();
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

     // 单选当前节点选择回调
    function fnSelectCurNodeCallback(obj){
        $('#nodeNames').textbox('setValue', obj.nodeName);
        $('#nodeId').val(obj.id);
    }

     // 单选自动提交节点选择回调
    function fnSelectSubmitNodeCallback(obj){
        $('#submitNodeName').textbox('setValue', obj.nodeName);
        $('#submitNodeId').val(obj.id);
    }

     // 多选下一步节点选择回调
    function fnSelectNextNodeCallback(obj){
		var ids = "";
		var nodeNames = "";
		for(var i=0;i<obj.length;i++){
			if(i == obj.length-1){
    			ids += obj[i].id;
    			nodeNames += obj[i].dataText;
			}else{
    			ids += obj[i].id+',';
    			nodeNames += obj[i].dataText+'，';
			}
		}
        $('#nextNodeNames').textbox('setValue', nodeNames);
        $('#nextNodeIds').val(ids);
    }

     // 多选退回节点选择回调
    function fnSelectBackNodeCallback(obj){
		var ids = "";
		var nodeNames = "";
		for(var i=0;i<obj.length;i++){
			if(i == obj.length-1){
    			ids += obj[i].id;
    			nodeNames += obj[i].dataText;
			}else{
    			ids += obj[i].id+',';
    			nodeNames += obj[i].dataText+'，';
			}
		}
        $('#backNodeNames').textbox('setValue', nodeNames);
        $('#backNodeIds').val(ids);
    }

     //多选节点对话框
    $("a[select-nodes-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
			var selectedIds = $this.prev().val();
            var _callbackname = $this.attr("callback");
            var _url = "$link.getContextURL()/workflow/select/selectNodesClassify?flowId="+$("#flowId").val()+"&selectedIds="+selectedIds;

            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

//***************************选择部门、人员***************************
     //多选部门对话框
    $("a[select-depts-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = "$link.getContextURL()/select/Dep/selectdepbylevel?showParent=true&selected="+$("#nodeDeptIds").val() + "&level=" + $flowLevel; //已选的可能加载不出来
            //var _url = "$link.getContextURL()/select/Dep/selectDepsSelected";
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

     // 多选部门回调
    function fnSelectNodeDeptsCallback(obj){
		var ids = "";
		var deptNames = "";
		for(var i=0;i<obj.length;i++){
			if(i == obj.length-1){
    			ids += obj[i].id;
    			deptNames += obj[i].name;
			}else{
    			ids += obj[i].id+',';
    			deptNames += obj[i].name+'，';
			}
		}
        $('#nodeDeptNames').textbox('setValue', deptNames);
        $('#nodeDeptIds').val(ids);

    }

    //多选人员
    $("a[mans-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var manAddress = $('#receiverIds').val();
            var _url = "$link.getContextURL()/select/selectmansClassify?userIds="+manAddress;
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    //多选人员回调
    function fnSelectMansCallback(obj){
        var receiverNames = "";
        var receiverIds = "";
        for (var i=0 ; i < obj.length ; i++ ){
            receiverNames += obj[i].dataText + ",";
            receiverIds += obj[i].id + ",";
        }
        receiverNames = receiverNames.substring(0,receiverNames.length-1);
        receiverIds = receiverIds.substring(0,receiverIds.length-1);
        $('#receiverNames').textbox('setValue', receiverNames);
        $('#receiverIds').val(receiverIds);
    }
	
	
	//单选子流程对话框
    $("a[select-single-subflowId-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = "$link.getContextURL()/workflow/select/selectSubFlowClassify?flowId="+$("#flowId").val();
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

     // 单选子流程选择回调
    function fnSelectSubFlowIdCallback(obj){
        $('#subflowId').textbox('setValue', obj.id);
        ##$('#subflowId').val(obj.id);
    }
</script>
#end
