#@script()
<script>
    //全局变量覆盖：_baseUrl，_delJsonUrl,_newJsonUrl,_editJsonUrl,_listJsonUrl
    $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-undo']",_querForm);
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
        if(_btnClear){
            _btnClear.on('click',reset);
        }
        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }
        function formSerach() {
            _datagrid.datagrid('reload');
        }
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }

        //工具条操作
        var _btnAdd = $("[iconCls='icon-add']",_toolbar);
        var _btnDelete = $("[iconCls='icon-remove']",_toolbar);
        var _btnEdit = $("[iconCls='icon-edit']",_toolbar);
        if(_btnAdd){
            _btnAdd.on("click",add);
        }
        if(_btnDelete){

        }
        if(_btnEdit){
            _btnEdit.on("click",edit);
        }

        function edit(){
            var row = $("#dg").datagrid("getSelected");
            if(row){
                if (row.status != "暂存") {
                    top.CC.messager({
                        title: '提示',
                        msg: '只能编辑暂存状态的文档!'
                    });
                    return;
                }

                var url = _baseUrl + (_editJsonUrl || '/edit?id=' + row.id);
                top.CC.addTab({title:'收文拟办',url:url});

            } else {
                top.CC.messager({
                    title: '提示',
                    msg: '请选择文档!'
                });
            }
        }



        function add(){
            var url = _baseUrl + (_newJsonUrl || '/new');
              top.CC.addTab({title:'收文拟办',url:url});
        }

        //初始化datagrid
        _datagrid.datagrid({
            fitColumns:false,//列宽自适应
            fit:true,//自适应
            nowrap:false, //不可换行
            rownumbers:true,//行号
            singleSelect:true,//单选
            idField:'id',
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:_baseUrl + (_listJsonUrl || '/list.json'),//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });
    var _baseUrl, _delJsonUrl, _newJsonUrl, _editJsonUrl, _listJsonUrl, _detailJsonUrl;

    //行内操作的方法，编辑、详情
    var _datagrid = $("#dg");
    var _toolbar = $("#tb");
    function operaterFormatter(value,row,index){
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html();
    }
    function getRowIdByDom(dom){

        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }
    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
        var url;
        if (row.status == "暂存") {
            url = "$link.getContextURL()/doc/receivefile/edit?id="+row.id;
            top.CC.addTab({title:'收文拟办',url:url});
        } else {
            url = "$link.getContextURL()/doc/archives/detailFile?id="+row.id+"&tid";
            top.CC.addTab({title:'收文详情',url:url});
        }
    }

    function detailUrl(value,row) {
        return "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
    }

</script>
#end