<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
	<div id="cc" class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center'" class="mynoborder">
			#parse("doc/receivefile/inner/data_edit.vm")
		</div>
		<div data-options="region:'south'" class="bottom-h">
			<div class="bottom-but">
				<ul>
					#if("$!{obj.status}"=="0" || "$!{obj.status}"=="")
					#if($!{obj.id})
						<li><a id="saveTemp" onclick="doDel()" class="new-but">删除</a></li>
					#end
					<li><a id="saveTemp" onclick="saveTemp('$!{docpath}/$!{docname}')" class="new-but">保存</a></li>
					#end
					<li><a id="publish" onclick="selectFlows()" class="new-but">呈送</a></li>
					<li><a id="back" onclick="back()" class="new-but">关闭</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="selNodesWindow" class="easyui-window" title="提交到下一环节" style="width:350px;height:330px;padding:5px"
			data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
	</div>
	<div id="docWindow" class="easyui-window" title="正文" style="width:600px;height:500px;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:true,collapsible:false">
	</div>
	#parse("selectdialog/selectFlows.vm")
</div>

#@script()
<script type="text/javascript">
  var _baseUrl = '$link.getContextURL()';

  var selNodeId = "";

  //返回
  function back() {
  	$.messager.confirm('提示','关闭将不保存编辑内容，是否要关闭？',function (r) {
       if(r){
	      top.CC.closeCurTab();
	   }
    });
  }

  //暂存
  function saveTemp(file){
    //if(!window.goldgrid.isIEBrowser()){
    //  alert("很抱歉，在非IE内核浏览器下无法提交公文，请使用IE8+以上浏览器进行操作！");
    //  return;
    //}

    //先主动切换回第一页，以免控件出错
    $("#docTab").tabs('select',0);

    // 设置来文字号
    setDocCode();
    setExpired();

    if($("#editForm").form('validate')) {

      top.CC.loading('保存中...');
      $.post("$link.getContextURL()/doc/event/saveTemp.json",$("#editForm").serialize(),function(result){
        top.CC.loaded();
        if(result.success){
          $('#id').val(result.object.id);
          top.CC.messager({ title:'提示', msg:result.message });
          var title = top.CC.getCurTab().panel('options').title;
          top.CC.addTab({title:'暂存公文',url:'$link.getContextURL()/doc/event/listTmp'});
          top.CC.closeTab(title);
        }else{
          top.CC.messager({ title:'提示', msg:result.message });
        }
      });
    }
  }

   function openDoc(){
        $('#docWindow').window('open');
        $('#docWindow').window('refresh',"$link.getContextURL()/doc/event/editDocFirst?type=receive&docpath=$!{docpath}&docname=$!{docname}&id=$!{obj.id}");
    }

	//选择环节-------------------------------------------------------------------------------------------
   function openNodes(){
       var flowId = $("#flowId").val();
	   if($("#editForm").form('validate')) {
	   		hideWebOffice('WebOffice2009');
	        $('#selNodesWindow').window('open');
	        $('#selNodesWindow').window('refresh',"$link.getContextURL()/workflow/event/getNextNodes?startflow=1&nodeId=N101&flowId=" + flowId);
	   }
   }

  function setExpired() {
      if ($("#expiryDate").val() != "") {
          $("#expiryDate").val($("#expiryDate").val() + " 23:59:59");
      }
  }

  // 提交-------------------------------------------------------------------------------------------
  function start() {
    //先主动切换回第一页，以免控件出错
    $("#docTab").tabs('select',0);
    // 设置来文字号
    setDocCode();
    setExpired();
    if($("#editForm").form('validate')) {
      var nodeId = selNodeId;
      var flowId = $("#flowId").val();
      var _callbackname = "fnSelectMansCallback";
      var _url = "$link.getContextURL()/workflow/event/selectNextTask?flowId=" + flowId + "&nodeId=" + nodeId;
      var _callback_fn = window[_callbackname];
      var dfn = top.window.openSelectDialogFrameDialog;
      if (typeof dfn === "function") {
        dfn(_url, _callback_fn);
      }
    }
  }
  //-----------------------------------------------------------------------------------------------

  // 删除
  function doDel() {
    $.messager.confirm('提示','确定要删除公文吗?',function (r) {
       if(r){
	      top.CC.loading("删除中...");
	      $.post("$link.getContextURL()/doc/event/deleteflow", {id:$("#id").val()},function(result){
	        top.CC.loaded();
	        if(result.success){
	          var title = top.CC.getCurTab().panel('options').title;
	          top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
	          top.CC.messager({ title:'提示', msg:'删除成功！' });
	          top.CC.closeTab(title);
	        }else{
	          top.CC.messager({ title:'提示', msg:result.error });
	        }
	      });
	   }
    });
  }

  function fnSelectMansCallback(obj){
    

    //写入下一环节
    $('#nextNodeId').val(obj.nextNode);
    //写入下一环节的办理人（多个用逗号分开）
    $('#nextDealers').val(obj.userIds);

    // 提交，启动流程
    top.CC.loading('呈送中...');
    $.post("$link.getContextURL()/doc/event/dealStartflow",$("#editForm").serialize(),function(result){
      top.CC.loaded();
      if(result.success){
        top.CC.messager({ title:'提示', msg:'公文呈送成功！' });
        var title = top.CC.getCurTab().panel('options').title;
        top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
        top.CC.closeTab(title);
      }else{
        top.CC.messager({ title:'提示', msg:result.message });
      }
    });
  }

  // 设置来文字号
  function setDocCode() {
    //var docCode1 = $('#docCode1').textbox('getValue');
    var docCode1 = $('#docCode1').combo('getText');
    var docCode2 = $('#docCode2').combobox('getValue');
    var docCode3 = $('#docCode3').textbox('getValue');
    if ($.trim(docCode1) != "" && $.trim(docCode3) != "") {// 不为空才设置文号
      var docCode = docCode1 + "[" + docCode2 + "]" + docCode3 + "号";
      $('#docCode').val(docCode);
    }
  }

  $('#title').focus();

</script>
#end

