<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        ## <a href="javascript:;" class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-remove" plain="true" onclick="del()">删除</a>
        ## <i></i>
        <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
        <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg" data-options="nowrap:false" style="width:99%;">
            <thead>
            <tr>
                <th style="width:35%" data-options="field:'title',formatter:signeddetailUrl">文件名称</th>
                <th style="width:20%" data-options="field:'sendDep'">来文单位</th>
                <th style="width:10%" data-options="field:'signerName'">签收人</th>
                <th style="width:10%" data-options="field:'signerDeptName'">签收部门</th>
                <th style="width:10%" data-options="field:'receiveDateShow'">来文日期</th>
                <th style="width:10%" data-options="field:'signDateShow'">签收日期</th>
            </tr>
            </thead>
        </table>
    </div>
    <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
         style="width:500px;height:320px;padding:20px 10px; background-color:#f4f4f4;display:none">
        <form id="queryForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="text-align: right">文件名称：</td>
                    <td><input id="title" name="$qc.like('title')" style="width:350px;" class="easyui-textbox" /></td>
                </tr>
                <tr>
                    <td style="text-align: right">来文单位：</td>
                    <td>
                      <input id="title" name="$qc.like('sendDep')" style="width:350px;" class="easyui-textbox" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">来文日期：</td>
                    <td>
                        <input name="$qc.greaterThanOrEqualTo('receiveDate')" class="easyui-datebox" value="$!{firstDay1}" data-options="editable:false" style="width:150px;">
                        至
                        <input name="$qc.lessThanOrEqualTo('receiveDate')" class="easyui-datebox" value="$!{lastDay1}" data-options="editable:false" style="width:150px;">
                    </td>
                </tr>
                <tr>

                     <td style="text-align: right">签收日期：</td>
                    <td>
                        <input name="$qc.greaterThanOrEqualTo('signDate')" class="easyui-datebox" value="$!{firstDay2}" data-options="editable:false" style="width:150px;">
                        至
                        <input name="$qc.lessThanOrEqualTo('signDate')" class="easyui-datebox" value="$!{lastDay2}" data-options="editable:false" style="width:150px;">
                    </td>
                </tr>
            </table>
         </form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    </div>
</div>
#parse("doc/receivefile/crud.js.vm")
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()/doc/docsigned/';
     var _listJsonUrl = '/listSigned.json';

    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });



    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function signeddetailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
        var url;
        url = "$link.getContextURL()/doc/docsigned/detail?id="+row.id;
       top.CC.addTab({title:'来文签收详情',url:url});

    }
    function signeddetailUrl(value,row) {
        return "<a href='javascript:;' class='font-titlecolor' onclick='signeddetailRow(getRowIdByDom(this))'>"+value+"</a>";
    }

     function del(){
            var rows = $("#dg").datagrid("getChecked");
            if(rows && rows.length > 0){
                $.messager.confirm('警告','确定删除此条签收吗?',function(r){
                    if (r){
                        var ids = "";
                        for(var i=0;i<rows.length;i++){
                            if(i==rows.length-1){
                                ids += rows[i].id;
                            }else{
                                ids += rows[i].id + ",";
                            }
                        }
                        $.post('$link.getContextURL()/doc/docsigned/delete.json',{ids:ids},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload'); // reload the user data
                                $('#dg').datagrid('uncheckAll');
                                top.CC.messager({ // show error message
                                    title: '成功',
                                    msg: result.success
                                });
                            } else {
                                top.CC.messager({ // show error message
                                    title: '错误',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            } else {
                top.CC.messager({
                    title: '错误',
                    msg: '请选择至少一条数据进行删除!'
                });
            }

        }
</script>
#end