 <div class="easyui-layout1" data-options="fit:true " >
    <div class="cc-tableWrap1" data-options="region:'center',border:false" style="padding:5px;">
        <table id="app_apply_tab1" class="table-edit"  cellSpacing="1" cellpadding="5">
            <tbody>
        <tr>
          <td class="bg-grey" style="text-align:center" width="3%">序号</td>
          <td class="bg-grey" style="text-align:left" width="12%">环节名称</td>
          <td class="bg-grey" style="text-align:left" width="8%">发送人</td>
          <td class="bg-grey" style="text-align:left">经办人</td>
          <td class="bg-grey" style="text-align:left" width="12%">送达时间</td>
          <td class="bg-grey" style="text-align:left" width="12%">完成时间</td>
          <td class="bg-grey" style="text-align:left" width="15%">历时</td>
          ##<td class="bg-grey" style="text-align:left" width="12%">环节限办时间</td>
          <td class="bg-grey" style="text-align:left" width="14%">总剩余天数</td>
          <td class="bg-grey" style="text-align:center" width="8%">状态</td>
        </tr>
        #foreach( $node in $nodeList)
        <tr align="left">
          <td class="bg-white" style="text-align:center">$velocityCount</td>
          <td class="bg-white" >$!{node.curNode.nodeName}</td>
          <td class="bg-white" >$!{node.preDealer.userName}</td>
          <td class="bg-white" >
            #if(${node.dealerId})
            ${lookup.sysuser[$!{node.dealerId}].userName}【$!{node.dealer.department.deptName}】
            #else
            $!{node.dealDept.deptName}
            #end
          </td>
          <td class="bg-white" style="text-align:left">$!date.format('yyyy-MM-dd HH:mm', $!{node.arrivalTime})</td>
          <td class="bg-white" style="text-align:left">$!date.format('yyyy-MM-dd HH:mm', $!{node.dealTime})</td>
          <td class="bg-white" style="text-align:left">
			#set( $day = $!{node.duration} / (24 * 60 * 60))
            #set( $hour = ($!{node.duration} - ($day * 24 * 60 * 60)) / (60 * 60) )
            #set( $min = ($!{node.duration} - ($day * 24 * 60 * 60) - ($hour * 60 * 60)) / 60 )

              #if($!{node.nodeExpiryMinute})
                  #set( $expiryDay = $!{node.nodeExpiryMinute} / (24 * 60 ))
                  #set( $expiryHour = ($!{node.nodeExpiryMinute} - ($expiryDay * 24  * 60)) / 60 )
                  #set( $expiryMin = ($!{node.nodeExpiryMinute} - ($expiryDay * 24 * 60) - ($expiryHour * 60) ))
              #else
                  #set( $expiryDay = 0)
                  #set( $expiryHour = 0)
                  #set( $expiryMin = 0)
              #end

            <font>
            #if($day > 0) $day 天 #end
            #if($hour > 0) $hour 时 #end
            #if($min >= 0) $min 分 #end
                <br>
                #if($expiryDay>0||$expiryHour>0||$expiryMin>0)
                    [限办时间:
                    #if($expiryDay > 0) $expiryDay 天 #end
                    #if($expiryHour > 0) $expiryHour 时 #end
                    #if($expiryMin > 0) $expiryMin 分 #end
                    ]
                #else
                    [无限办时间]
                #end
            </font>

          </td>
		  ##<td class="bg-white" style="text-align:left">$!{node.nodeExpiryMinute}</td>
          <td class="bg-white" style="text-align:left">
          #if("$!{node.dealTime}" == "")
            #set( $day1 = $!{node.leftDays} / (24 * 60 * 60))
            #if($day1 > 0) $day1 天 #end
            #set( $hour1 = ($!{node.leftDays} - ($day1 * 24 * 60 * 60)) / (60 * 60) )
            #if($hour1 > 0) $hour1 时 #end
            #set( $min1 = ($!{node.leftDays} - ($day1 * 24 * 60 * 60) - ($hour1 * 60 * 60)) / 60 )
			#if($min1 > 0) $min1 分 #end

			#if($!{node.flowInst.expiryDate})
			<br>
			[
			$!date.format('yyyy-MM-dd HH:mm:ss', $!{node.flowInst.expiryDate})
			]
			#end
          #end
          </td>
          <td class="bg-white" style="text-align:center">
            #if($!{node.instStatus.key}=="0")
                #if($!{node.nodeExpiryMinute}&&$!{node.nodeExpiryMinute} <= $!{node.duration}/60)
                ##在办超时
                    <img src="images/doc/fordo-expire.gif" style="width:20px;" title="超时未办结">
                    <font style="color:red;">
                        $!{node.instStatus.value}
                    </font>
                #elseif($!{node.nodeExpiryMinute}-$!{node.nodeWarnMinute} <= $!{node.duration}/60 && $!{node.duration}/60 < $!{node.nodeExpiryMinute})
                    ##预警
                    <img src="images/doc/fordo-warn.gif" style="width:20px;" title="即将超时">
                        $!{node.instStatus.value}
                #else
                ##在办未超时
                    $!{node.instStatus.value}
                #end
            #elseif($!{node.instStatus.key}=="1")
                #if($!{node.nodeExpiryMinute}&&$!{node.nodeExpiryMinute} <= $!{node.duration}/60)
                ##超时办结
                    <img src="images/doc/fordo-expire.png" style="width:20px;" title="超时办结">
                    <font style="color:red;">
                        $!{node.instStatus.value}
                    </font>
                #else
                ##未超时办结
                    $!{node.instStatus.value}
                #end
            #else
                $!{node.instStatus.value}
            #end
          </td>
        </tr>
        #end
      </tbody>
        </table>

    </div>

</div>

