#if(!$exception)
#set($exception=$request.getAttribute('javax.servlet.error.exception'))
#end
#if($exception)
<center><font color=red>系统执行出现问题</font></center>
${exception.printStackTrace()}
#begintab()

    #@tablayout()

        #@tabheadlayout("myTab1")
            #tabtitle("问题描述", "active")
            #tabtitle("详细信息", "normal")
        #end

        #@tabcontentlayout()
            #@tabcontent()
<br/>
<b>系统执行出现问题,问题信息如下：</b><br/>
<div>
$!{exception.message}
</div>
            #end

            #@tabcontent()
<pre>
#foreach($__stacktrace in $!{exception.getStackTrace()})
$__stacktrace
#end
</pre>
            #end
        #end

    #end

#endtab()
#else

<br/>
<center><h2><font color=red>系统执行发生问题</font></h2></center>
<br/>
<center><h3>请联系系统管理员反映情况</h3></center>
#end
