#@script()
<script>
    //全局变量覆盖：_baseUrl，_delJsonUrl,_newJsonUrl,_editJsonUrl,_listJsonUrl

    //对页面的条件查询/查询的function()方法
    $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-undo']",_querForm);
		
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
		
        if(_btnClear){
            _btnClear.on('click',reset);
        }
		
        function addPageCondition(param){
            $.extend(param,getConditions());
        }
		
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }
		
        function formSerach() {
            _datagrid.datagrid('reload');
        }
		
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }

        //初始化datagrid
        _datagrid.datagrid({
            loadFilter: datagridHtmlEncode, // 防js注入
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:true, //不可换行
            rownumbers:true,//行号
            singleSelect:false,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
			#if($query)
			url:_baseUrl + '/querylist.json',
			#else
            url:_baseUrl + (_listJsonUrl || '/list.json'),//获取数据的url
			#end
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件

        });
    });
    var _baseUrl, _delJsonUrl, _newJsonUrl, _editJsonUrl, _listJsonUrl, _detailJsonUrl;

    //行内操作的方法，编辑、详情
    var _datagrid = $("#dg");
    var _toolbar = $("#tb");
	
    function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }
	
    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
        var url;
		if($.trim(row.status)=='暂存'){
			url = "$link.getContextURL()/pubaffairs/leave/edit?id="+row.id;
		}else{
			url = "$link.getContextURL()/pubaffairs/leave/detail?id="+row.id;
		}
        top.CC.addTab({title:'假期申请详情',url:url});
    }
	
    function detailUrl(value,row) {
		value=new Date(parseInt(value));
		value=value.format("yyyy-MM-dd HH:mm");
        return "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
    }

	function dateFormate(value,row){
        var begin = new Date(parseInt(value));
		begin=begin.format("yyyy-MM-dd HH:mm");
		
		var end=new Date(parseInt(row.endTime))
		end=end.format("yyyy-MM-dd HH:mm");
        return begin+"&nbsp;至&nbsp;"+end;
    }
	
	function dateFormat(value,row){
        var begin = new Date(parseInt(value));
		begin=begin.format("yyyy-MM-dd HH:mm");
        return begin;
    }
	
	function detailUrlUser(value,row) {
        return "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
    }
	
	function operaterFormatter(value,row,index){
        var optag = "";
        if (row.curNodeId == "N0043") {
            optag = "留存";
			return ;
        } else {
            optag = "办理";
        }
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html()
            .replace(new RegExp("__id__",'gm'),row.wfNodeInstId)
            .replace(new RegExp("__fileId__",'gm'),row.entityId)
            .replace(new RegExp("__type__",'gm'),row.businessType)
            .replace(new RegExp("__operateTag__",'gm'),optag);
     }
	 
	 function deal(id, fileId,type) {
		var url = _baseUrl + "/task/deal?id=" + id + "&fileId=" + fileId + "&opflag=deal";
        top.CC.addTab({title:'假期申请审核',url:url});
    }
    
     function delRow(){
    	var rows = $("#dg").datagrid("getChecked");
        if(rows && rows.length>0){//选中了删除行
       	 $.messager.confirm('警告','确定删除这些数据吗?',function(r){
        	if (r){
	        	var ids = "";
	        	for(var i = 0;i<rows.length;i++){
	        		if($.trim(rows[i].status)=="暂存"){
	        			ids += rows[i].id;
	        			if(i != rows.length-1){
	        				ids += ",";
	        			}
	        		}else{
	        			top.CC.messager({
		                    title: '提示',
		                    msg: '只有暂存数据可以进行删除!'
	                	});
	                	return;
	        		}
	        	}
	        	
	        	
	        	top.CC.loading("正在删除数据!");
	        	$.post(_baseUrl + (_delJsonUrl || '/del.json'),{ids:ids},function(result){
	                            top.CC.loaded();
	                            if (result.success){
	                                $('#dg').datagrid('reload'); // reload the user data
	                                top.CC.messager({ // show error message
	                                    title: '成功',
	                                    msg: '删除成功!'
	                                });
	                            } else {
	                                top.CC.messager({ // show error message
	                                    title: '提示',
	                                    msg: result.errorMsg
	                                });
	                            }
	                        },'json');
	                  }      
	             });
	        
	        }else{//没有选中删除行
	        	 top.CC.messager({
	                    title: '提示',
	                    msg: '请选择至少一条暂存数据进行删除!'
	                });
	        }

    }
</script>
#end