<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="bg-grey">申请人</td>
                      <td class="bg-white" colspan="3">
                        $!{esc.html($!{leave.creatorName})}
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">请假天数</td>
                      <td class="bg-white" colspan="3">
                        $!{leave.leaveDay}&nbsp;天
                      </td>
                    </tr>
                    <tr>
					  <td class="bg-grey">请假事由</td>
                      <td class="bg-white" colspan="3">
                        $!{leave.reason}
                      </td>
					</tr>
                    <tr id="publishDepTr">
                      <td class="bg-grey">请假日期</td>
                      <td class="bg-white" colspan="3">
						$!date.format('yyyy-MM-dd HH:mm',$!{leave.beginTime}) &nbsp;至&nbsp; $!date.format('yyyy-MM-dd HH:mm',$!{leave.endTime})
                      </td>
                    </tr>
					<tr>
						<td class="bg-grey">假期类别</td>
                        <td class="bg-white" colspan="3">
							$!{leave.LeaveType.value}
                        </td>
                    <tr>
					<tr>
    					<td class="bg-grey">状态</td>
                        <td class="bg-white" colspan="3">
    						$!{leave.status.value}
                        </td>
                    <tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){

	}
	
    //返回
    function back() {
        top.CC.addTab({title:'我的休假申请',url:'$link.getContextURL()/pubaffairs/leave/list'});
        top.CC.closeTab('假期申请详情');
    }
 
</script>
##<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
##<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
<style>.cke_top{display:none !important;}</style>
