<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
                 class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
            <a  onclick="top.CC.closeCurTab()"
                 class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg" data-options="nowrap:false" style="width:100%;">
                <thead>
                <tr>
               		<th field="ck" data-options="checkbox:true"></th>
                    <th style="width:15%" data-options="field:'createDate',formatter:detailUrl,sortable:true">申请日期</th>
					<th style="width:10%" data-options="field:'creatorName',sortable:true">申请人</th>
					<th style="width:15%" data-options="field:'deptName',sortable:true">所属部门</th>
                    <th style="width:10%" data-options="field:'leaveType'">假期类别</th>
                    <th style="width:20%" data-options="field:'beginTime',formatter:dateFormate,sortable:true">请假日期</th>
                    <th style="width:8%" data-options="field:'leaveDay',sortable:true">请假天数</th>
                    <th style="width:8%" data-options="field:'status',formatter:statusShow">状态</th>
                </tr>
                </thead>
            </table>
        </div>
        <div id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:500px;height:320px;padding:20px 10px; background-color:#f4f4f4;display:none">
            <form id="queryForm">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right">申请人：</td>
                        <td>
							<input name="$qc.like('creatorName')" class="easyui-textbox" style="width:330px;" />
						</td>
                    </tr>
                    <tr>
                        <td align="right">所属部门：</td>
                        <td>
							<input name="$qc.like('deptName')" class="easyui-textbox" style="width:330px;" />
						</td>
                    </tr>
                    <tr>
                        <td align="right">申请日期：</td>
                        <td align="left" colspan="3">
                            <input name="$qc.greaterThanOrEqualTo('createDate')" class="easyui-datebox" value="$!{firstDay}" data-options="editable:false" style="width:150px;">
                            至
                            <input name="$qc.lessThanOrEqualTo('createDate')" class="easyui-datebox" value="$!{lastDay}" data-options="editable:false" style="width:160px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">类型：</td>
                        <td align="left">
                            <select id="leaveType" name="$qc.equal('leaveType')" class="easyui-combobox" data-options="editable:false" style="width:110px;"
                                panelheight="auto">
								#formoption("" $dict.LeaveType)
                            </select>
                        </td>
                    </tr>
                </table>
             </form>
            <div id="bnts" style="top:0px; height:25px; width:auto;">
                <a class="new-but" onclick="formSerach()">确定</a>
                <a class="new-but" onclick="reset()">重置</a>
            </div>
        </div>
    </div>
</div>
#parse("pubaffairs/leave/crud.js.vm")
#parse("common/button/control.js.vm")
#@script()
<script type="text/javascript">
    $(function () { // 给查询dialog中的 标题input 绑定回车事件
        $('#title').textbox('textbox').keydown(function (e) {
            if (e.keyCode == 13) {
               formSerach();
            }
        });
    })

    var _baseUrl = '$link.getContextURL()/pubaffairs/leave';
    var _listJsonUrl = '/listEnd.json';

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
	
	function statusShow(value,row) {
		if($.trim(row.status) == "暂存"){
            return "<font color='blue'>"+value+"</font>";
		}else if($.trim(row.status) == "在办"){
			return "<font color='red'>"+value+"</font>";
		}else{
			return "<font color='black'>办结</font>";
		}
    }
</script>
#end
