<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
                 class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
            <a  onclick="top.CC.closeCurTab()"
                 class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false">
            <table id="dg" data-options="nowrap:false" style="width:100%;">
                <thead>
                    <tr>
    					<th style="width:10%" data-options="field:'creatorName'">申请人</th>
    					<th style="width:15%" data-options="field:'deptName'">所属部门</th>
    					<th style="width:10%" data-options="field:'leaveType'">假期类别</th>
                        <th style="width:10%" data-options="field:'createDate',formatter:dateFormat">申请日期</th>
                        <th style="width:20%" data-options="field:'beginTime',formatter:dateFormate">请假日期</th>
                        <th style="width:8%" data-options="field:'leaveDay'">请假天数</th>
                        <th style="width:8%" data-options="field:'status'">状态</th>
    					<th style="width:10%" data-options="field:'operate',align:'center',formatter:operaterFormatter">操作列</th>
                    </tr>
                </thead>
            </table>
			
			<div class="cc-operateColum">
                <a  href='javascript:;' class="easyui-linkbutton" iconCls="icon-edit"
                    plain="true" onclick="deal('__id__', '__fileId__','__type__')">__operateTag__</a>
            </div>
        </div>
        <div id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:500px;height:250px;padding:20px 10px; background-color:#f4f4f4;display:none">
            <form id="queryForm">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right">申请日期：</td>
                        <td align="left" colspan="3">
                            <input name="$qc.greaterThanOrEqualTo('al.createDate')" class="easyui-datebox" value="$!{firstDay}" data-options="editable:false" style="width:150px;">
                            至
                            <input name="$qc.lessThanOrEqualTo('al.createDate')" class="easyui-datebox" value="$!{lastDay}" data-options="editable:false" style="width:150px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">类型：</td>
                        <td align="left" colspan="3">
                            <select id="leaveType" name="$qc.equal('al.leaveType')" class="easyui-combobox" data-options="editable:false" style="width:120px;"
                                panelheight="auto">
								<option value=" ">-全部-</option>
                                <option value="0">公休假</option>
								<option value="1">探亲假</option>
								<option value="2">事假</option>
								<option value="3">病假</option>
								<option value="4">其他</option>
                            </select>
                        </td>
                    </tr>
                </table>
             </form>
            <div id="bnts" style="top:0px; height:25px; width:auto;">
                <a class="new-but" onclick="formSerach()">确定</a>
                <a class="new-but" onclick="reset()">重置</a>
            </div>
        </div>
    </div>
</div>
#parse("pubaffairs/leave/crud.js.vm")
#@script()
<script type="text/javascript">
    $(function () { // 给查询dialog中的 标题input 绑定回车事件
        $('#title').textbox('textbox').keydown(function (e) {
            if (e.keyCode == 13) {
               formSerach();
            }
        });
    })

    var _baseUrl = '$link.getContextURL()/pubaffairs/leave';
    var _listJsonUrl = '/list.json';
    var _newJsonUrl = '/new';

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
	
</script>
#end
