##正文和附件相关
## 设置了#set($docIsEdit=true) 即可以编辑附件
##set($docIsType=false) ##默认都是false
#parse("doc/fileparse/previewdoc.vm")
##金格预览框
<div style="width:100%; height:800px; float:left; border:1px solid #e0e0e0; text-align:center;display: none;" id="content-attach">
    #if($docIsEdit)
    <div style="width:100%;height:25px;text-align: center;color:red;">修改文件后请按下Ctrl+S 保存，或者点击左上方工具栏的"保存文件"按钮</div>
    #end
    <div style="width:100%; height:800px;">
        <div style="width:100%; height:800px;">
            <object id="WebOffice2009" width="100%" height="98%" classid="clsid:8B23EA28-2009-402F-92C4-59BE0E063499" codebase="$link.getContextURL()/lib/goldgrid/2009/iWebOffice2009.cab#version=10,8,6,8">
                <PARAM name="WebUrl" value="$link.getContextURL()/OfficeServer.jsp">
                <PARAM name="RecordID" value="">
                <PARAM name="UserName" value="$user.getCurrentUserName()">
                <PARAM name="PenColor" value="#FF0000">
                <PARAM name="PenWidth" value="1">
            ## EditType(x,y) 第一位可以为0,1,2,3,4其中：0不可编辑；1可以编辑，无痕迹；2可以编辑，有痕迹，无修订；3可以编辑，有痕迹，有修订；4不可编辑，但可以选择文档内容和复制。第二位可以为0,1其中：0不可手写批注；1可以手写批注（转换批注不受影响）
                #if($docIsEdit)
                ##可以编辑
                    <PARAM name="EditType" value="1,1">
                    <PARAM name="ShowMenu" value="1">
                #else
                ##不可以编辑，无痕迹
                    <PARAM name="EditType" value="4,0">
                    <PARAM name="ShowMenu" value="0">
                #end

                <PARAM name="ExtParam" value="">
                <PARAM name="Print" value="1">
                <PARAM name="ShowToolBar" value="1">
            </object>
        </div>
    </div>
</div>
##pdf预览框
<div style="width:100%; height:800px; float:left; border:1px solid #e0e0e0; text-align:center;display: none;" id="content-attach-2">
    <iframe temp-src="$link.getContextURL()/lib/pdfviewer/viewer/viewer.html?file=" id="pdf-iframe" download-url="#defaultDownloadUrl('sysattach')""></iframe>
</div>