<div data-options="region:'south'" style="height:52px">
  <div class="bottom-but">
    <ul>
## 按钮说明：
## C1： 提交（打开选择环节和人员窗口）
## S2： 保存/暂存
## S3： 保存和提交（一般领导用，默认直接发回上一环节办理人）
## S5： 提交（自动办结）
## S6： 续办（生成新的意见版本）
## B1： 退回上一环节
## B2： 退回指定backNode（在xoa是秘书）
## T3： 退回拟稿
## T5： 转阅（打开人员选择窗口发送公文传阅）
## D1： 删除公文
## F1： 办结（公文办结）

#if("$!opflag"=="deal")
    #if($!{funcList.contains("SUT")})
    <li><a onclick="changeTab(); openNodes()" class="new-but">提交</a></li>
    #end

    #if($!{funcList.contains("COS")})  ##会签
    <li><a onclick="changeTab(); doSubmit()" class="new-but">提交会签</a></li>
    #end

	#if($!{funcList.contains("TUR")})  ##转办
    <li><a onclick="changeTab(); turnDoc()" class="new-but">转办</a></li>
	#end
	
    #if($!{funcList.contains("REA")})
    <li><a onclick="changeTab()" id="selectDepDialog" href="javascript:;" iconcls="icon-search" mans-dialog
      callback="fnSelectReadCallback" class="new-but" title="发送公文阅知">阅知</a></li>
    #end

    #if($!backBtns > 0)
    <li><a onclick="changeTab(); doBackSelect()" class="new-but">退回</a></li>
    #end

    #if($!{funcList.contains("SAV")})
    <li><a onclick="changeTab(); doSaveTemp()" class="new-but">保存</a></li>
    #end

    #if($!{funcList.contains("DEL")})
    <li><a onclick="changeTab(); doDel()" class="new-but">删除</a></li>
    #end

    #if($!{funcList.contains("RDT")})
    <li><a onclick="replaceTemp()" class="new-but">套红</a></li>
    #end

    #if($!{funcList.contains("END")})
    <li><a id="doFinish" onclick="doFinish()" class="new-but">办结</a></li>
	#end
	
	#if($!{funcList.contains("OUT")})  ##系统外发
        <li><a onclick="changeTab(); outerDocEdit()" class="new-but">本系统外发</a></li>
        #if($!{canConvertPdfFlag})
            <li><a onclick="changeTab(); doc2Pdf()" class="new-but">转PDF</a></li>
        #end
	#end
#end

    <li><a onclick="changeTab();doPrint()" class="new-but">打印</a></li>
    <li><a id="back" onclick="back()" class="new-but">关闭</a></li>

      ## #if($!buttons.contains("CNSIGN") )
      ## <li><a onclick="changeTab()" id="selectDepDialog" href="javascript:;" iconcls="icon-search" mans-dialog
      ##         callback=fnSelectSignCallback class="new-but">会签</a></li>#end
      ## #if($!buttons.contains("MERGE") )
      ## <li> <a  onclick="accept()" id="selectDepDialog" href="javascript:;" iconcls="icon-search" class="new-but">合并修订</a></li>#end
      ## #if($!buttons.contains("PRNBILL") )

      ## #end
      ## #if($!buttons.contains("PRNDOC") )
      ## <li><a onclick="doPrintZW()" class="new-but">打印正文</a></li>
      ## #end

      ## #if($!buttons.contains("SPEC") )
      ##<li><a id="doFinish" onclick="dospecial()" class="new-but">特送</a></li>
      ## <li><a onclick="changeTab()" callback=fnSelectMansCallback file-dialog="$link.getContextURL()/doc/event/selectAllTask?id=$!{obj.id}&taskId=$!{taskId}&ftype=2&flowId=$!{flowId}" class="new-but">特送</a></li>
      ## #end
    </ul>
  </div>
</div>

## 退办窗口 begin
#if($!backBtns > 0)
<div id="backEditWindow" class="easyui-dialog  dialog-tc" title="公文退回" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts',closed:true"
   style="width:500px;height:270px;padding:5px;background-color:#f4f4f4;">
  <form id="backEditForm" action="" target="_blank" method="post">
    <input type="hidden" name="id" value="$!{obj.id}"/>
    <input type="hidden" name="curNodeInstId" value="$!{curNodeInstId}"/>
    <table class="table-edit" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0">
      <tr>
        <td class="fix_td_title" style="width:100px;">&nbsp;</td>
        <td class="fix_td_data">&nbsp;</td>
        <td class="fix_td_title">&nbsp;</td>
        <td class="fix_td_data">&nbsp;</td>
      </tr>
      <tr>
        <td class="bg-white" colspan="4">
          #foreach($bnode in $!backNodeList)
          <label class="myselect-task"><input type="radio" id="backNodeId" name="backNodeId" class="easyui-validatebox" data-options="required:true" value="$!bnode.id" #if("$!backBtns"=="1") checked #end/>$!bnode.nodeName</label>&nbsp;&nbsp;
          #end
        </td>
      </tr>
      <tr>
        <td class="bg-grey"><span><font color=red>*</font></span>退回意见
        <br/>
        <a href="javascript:;" id="menuBtn" class="easyui-linkbutton l-btn-plain-search"  onclick="showWordMenu()" >退文词条</a>
        </td>
        <td class="bg-white" colspan="3">
          <textarea class="textareaborder easyui-validatebox" id="backOpinion" name="backOpinion" data-options="required:true,validType:'maxLength[100]'" style="resize:none;width:96%;height:100px;"></textarea>
        </td>
      </tr>
    </table>
   </form>
  <div id="bnts" style="top:0px; height:25px; width:auto;">
    <a class="new-but" onclick="doBack()">确定</a>
    <a class="new-but" onclick="backEditWindowClose()">取消</a>
  </div>
</div>## 退办窗口 end
#end

<div id="selNodesWindow" class="easyui-window" title="提交到下一环节" style="width:350px;height:330px;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>

#@script()
<script type="text/javascript">
  var _baseUrl = '$link.getContextURL()';

  var selNodeId = "";

  function changeTab() {
    //先主动切换回第一页，以免控件出错
    $("#docTab").tabs('select',0);
  }

  $(function(){
    if ("1" == "$!autodo") {
      $("#doSendTo").click();
    }
  });
  // 关闭
  function back() {
  	var fileType = $('#fileType').val();
    var title = top.CC.getCurTab().panel('options').title;
	if(fileType == '5'){
		top.CC.addTab({ title:'内部请示查询',url:'$link.getContextURL()/doc/interequest/tasklist' });
	}else{
    	top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'});
	}
    top.CC.closeTab(title);
  }
  // 保存
  function doSaveTemp() {
    // 设置来文字号、发文字号
    setDocCode();
    // 处理公文正文
    var WebOffice = document.getElementById("WebOffice2009");
    if(WebOffice){
      if(window.goldgrid&&window.goldgrid.isIEBrowser()){
        saveGoldgridFile($('#filepath').val());
      }
    }

    if ($('#editForm').form('validate')) {
      top.CC.loading("保存中...");
      $.post("$link.getContextURL()/doc/event/task/doneTemp",$("#editForm").serialize(),function(result){
        top.CC.loaded();
        if(result.success){
          // var title = top.CC.getCurTab().panel('options').title;
          // top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'});
          // top.CC.closeTab(title);
          top.CC.messager({ title:'提示', msg:result.success });
          document.location.reload();
        }else{
          top.CC.messager({ title:'提示', msg:result.error });
        }
      });
    }
  }


  // 提交（弹出选择环节框）
  function openNodes() {
    // 设置来文字号、发文字号
    setDocCode();
    if($("#editForm").form('validate')) {
		
      if($!('#opinion').val()!=null && $!('#opinion').val().trim() == ""){
        $.messager.confirm('提示','您未填写审核意见，确定要提交吗?',function(r){
          if(r){
        	hideWebOffice('WebOffice2009');
            // 处理环节
	        $('#selNodesWindow').window('open');
	        $('#selNodesWindow').window('refresh',"$link.getContextURL()/workflow/event/getNextNodes?nodeId=$!{curNode.id}&curNodeInstId=$!{curNodeInstId}&flowId=$!{curNode.flowId}");
          }
        });
      } else {
    	hideWebOffice('WebOffice2009');
        // 处理环节
        $('#selNodesWindow').window('open');
        $('#selNodesWindow').window('refresh',"$link.getContextURL()/workflow/event/getNextNodes?nodeId=$!{curNode.id}&curNodeInstId=$!{curNodeInstId}&flowId=$!{curNode.flowId}");
      }
    }
  }


  // 呈送、批示-------------------------------------------------------------------------------------------
  function doSend(){
    var nodeId = selNodeId;
	
	var expiryDate = $("#expiryDate").val();
	
    if($("#editForm").form('validate')) {
        var _callbackname = "fnSelectMansCallback";
      	var _callbackname1 = "showWebOffice";
        var _url = "$link.getContextURL()/workflow/event/selectNextTask?nodeId="+selNodeId+"&flowId=$!{obj.flowId}"  + "&expiryDate=" + expiryDate;
        var _callback_fn = window[_callbackname];
        var _callback_fn1 = window[_callbackname1];
        var dfn = top.window.openSelectDialogFrameDialog;
        if($!('#opinion').val()!=null && $!('#opinion').val().trim() == ""){
            #if(!${funcList.contains("N1")})
                $.messager.confirm('提示','您未填写审核意见，确定要提交吗?',function(r){
                    if(r){
                        if (typeof dfn === "function") {
                            dfn(_url, _callback_fn,_callback_fn1);
                        }
                        return false;
                    }
                });
            #else
                if (typeof dfn === "function") {
                    dfn(_url, _callback_fn,_callback_fn1);
                }
            #end
        }else{
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn,_callback_fn1);
            }
        }
    }
  }


  function fnTaskDone() {
  	
    // 设置来文字号、发文字号
    setDocCode();

    // 写入公文版本，用于续办
    if (_docVerNum == null) {
      _docVerNum = $('#verNum').val();
    }
    $('#verNum').val(_docVerNum);
	
	var fileType = $('#fileType').val();

    top.CC.loading('提交中...');
    $.post("$link.getContextURL()/doc/event/task/done",$("#editForm").serialize(),function(result){
      	top.CC.loaded();
      	if(result.success){
        	var title = top.CC.getCurTab().panel('options').title;
			if(fileType == '5'){
				top.CC.addTab({ title:'内部请示查询',url:'$link.getContextURL()/doc/interequest/tasklist' });
			}else{
				top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'});
			}
        	top.CC.messager({ title:'提示',  msg:result.success });
        	top.CC.closeTab(title);
      	}else{
        	top.CC.messager({ title:'提示', msg:result.error });
      	}
    });
  }

  //--------------------------------------------------------------------------------------------------------



  // 提交（默认发回给上一环节的处理人）
  function doSubmit() {
    // 设置来文字号、发文字号
    setDocCode();

    if($("#editForm").form('validate')) {
      if($!('#opinion').val()!=null && $!('#opinion').val().trim() == ""){
        $.messager.confirm('提示','您未填写审核意见，确定要提交吗?',function(r){
          if(r){
            // 处理环节
            fnTaskDone();
          }
        });
      } else {
        // 处理环节
        fnTaskDone();
      }
    }
  }





  // 删除
  function doDel() {
    $.messager.confirm('提示','确定要删除公文吗?系统将会删除该公文所有信息，此操作不可恢复！',function (r) {
      if (r) {
        top.CC.loading("删除中...");
        $.post("$link.getContextURL()/doc/event/deleteflow", {id:$("#id").val()},function(result){
          top.CC.loaded();
          if(result.success){
            var title = top.CC.getCurTab().panel('options').title;
            top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
            top.CC.messager({ title:'提示', msg:'删除成功！' });
            top.CC.closeTab(title);
          }else{
            top.CC.messager({ title:'提示', msg:result.error });
          }
        });
      }
    });
  }


  // 退回选择
  function doBackSelect() {
	hideWebOffice('WebOffice2009');
    $('#backEditWindow').window('open');
  }
  
  // 退回弹出框取消
  function backEditWindowClose(){
	showWebOffice('WebOffice2009');
  	$('#backEditWindow').window('close');
  }


  // 退回操作
  function doBack() {
  	var fileType = $('#fileType').val();
    var node = $("input[name='backNodeId']:checked")
    if(node.length<=0){
      $.messager.alert('提示','请选择退回环节！','info');
      return false;
    }
    var url = "$link.getContextURL()/doc/event/task/doneReturnNodeInst";

    if (!$("#backEditForm").form('validate')) {
      return false;
    }
    $.messager.confirm('提示','确定要退回公文吗?',function (r){
      if (r) {
        top.CC.loading("退回中...");
        $.post(url, $("#backEditForm").serialize(),function(result){
          top.CC.loaded();
          if(result.success){
            var title = top.CC.getCurTab().panel('options').title;
			if(fileType == '5'){
				top.CC.addTab({ title:'内部请示查询',url:'$link.getContextURL()/doc/interequest/tasklist' });
			}else{
				top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
			}
            top.CC.messager({ title:'提示', msg:'公文退回成功！' });
            top.CC.closeTab(title);
          }else{
            top.CC.messager({ title:'提示', msg:result.error });
          }
        });
      }
    });
  }



  // 办结
  function doFinish(){
  	var fileType = $('#fileType').val();
	hideWebOffice('WebOffice2009');
    $.messager.confirm('提示','确定要办结公文吗?',function (r) {
      if (r) {
        // 设置来文字号、发文字号
        setDocCode();
        $.post("$link.getContextURL()/doc/event/dealCompleteflow", $("#editForm").serialize(),function(result){
          if(result.success){
            //window.location = "$link.getContextURL()/doc/event/tasklist";
            var title = top.CC.getCurTab().panel('options').title;
			if(fileType == '5'){
				top.CC.addTab({ title:'内部请示查询',url:'$link.getContextURL()/doc/interequest/tasklist' });
			}else{
            	top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
			}
            top.CC.messager({ title:'提示', msg:'办结成功！' });
            top.CC.closeTab(title);
          }else{
            top.CC.messager({ title:'提示', msg:result.error });
          }
        });
      }
    });
  }


  // 转办选择
  function doDispatchSelect() {
    var _callbackname = "fnSelectDispatchCallback";
    var _url = "$link.getContextURL()/select/Dep/selectDep";
    var _callback_fn = window[_callbackname];
    var dfn = top.window.openSelectDialogFrameDialog;
    if (typeof dfn === "function") {
      dfn(_url, _callback_fn);
    }
  }


  // 转办
  function doDispatch() {
    if ($('#dispatchEditForm').form('validate')) {
      top.CC.loading('转办中...');
      $.post("$link.getContextURL()/doc/event/dealDispatch",$("#dispatchEditForm").serialize(),function(result){
        top.CC.loaded();
        if(result.success){
          top.CC.messager({ title:'提示', msg:result.success });
          document.location.reload();// 重新加载页面
        }else{
          top.CC.messager({ title:'提示', msg:result.error });
        }
      });
    }
  }


  // 已阅（办理）
  function doSaveRead() {
    if ($('#editForm').form('validate')) {
      top.CC.loading("保存中...");
      $.post("$link.getContextURL()/doc/event/task/doneRead",$("#editForm").serialize(),function(result){
        top.CC.loaded();
        if(result.success){
          top.CC.messager({ title:'提示', msg:result.success });
          var title = top.CC.getCurTab().panel('options').title;
          top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'});
          top.CC.closeTab(title);
        }else{
          top.CC.messager({ title:'提示', msg:result.error });
        }
      });
    }
  }


  // 提交意见，检测自动办结
  function doSendAutoFinish() {
    if ($('#editForm').form('validate')) {
      if($!('#opinion').val()!=null && $!('#opinion').val().trim() == ""){
        $.messager.confirm('提示','您未填写意见，确定要提交吗?',function(r){
          if(!r){
            return;
          }
        });
      }

      top.CC.loading("保存中...");
      $.post("$link.getContextURL()/doc/event/task/doneRead",$("#editForm").serialize(),function(result){
        top.CC.loaded();
        if(result.success){
          top.CC.messager({ title:'提示', msg:result.success });
          var title = top.CC.getCurTab().panel('options').title;
          top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'});
          top.CC.closeTab(title);
        }else{
          top.CC.messager({ title:'提示', msg:result.error });
        }
      });
    }
  }


  // 转阅选择
  function doDocReadSelect() {
    var _callbackname = "fnSelectDispatchReadCallback";
    var _url = "$link.getContextURL()/select/selectmansClassify";
    var _callback_fn = window[_callbackname];
    var dfn = top.window.openSelectDialogFrameDialog;
    if (typeof dfn === "function") {
      dfn(_url, _callback_fn);
    }
  }



  var _docVerNum = null;// 全局变量：公文版本，用于续办
  // 续办
  function doFurtherSend() {
    $.messager.confirm('提示','确定要续办公文吗？系统将保存新的拟办意见。',function (r) {
      if (r) {
        var verNum = $('#verNum').val();
        var docVerNum = new Number(verNum == null ? 0 : verNum);
        _docVerNum = docVerNum + 1;
        doSend();
      }
    });
  }



  //人员选择回调
  function fnSelectMansCallback(obj){
    // 写入下一环节
    $('#nextNodeId').val(obj.nextNode);
    // 写入下一环节的办理人（多个用逗号分开）
    $('#nextDealers').val(obj.userIds);
    // 处理环节
    fnTaskDone();
  }


  // 自动审批人员选择回调
  function fnSelectProcessMansCallback(obj){
    // 写入下一环节
    $('#nextNodeId').val(obj.nextNode);
    // 写入下一环节的办理人（多个用逗号分开）
    $('#nextDealers').val(obj.userIds);

    // 处理环节  ??
    //fnTaskProcessDone();
  }



  // 转阅选择回调
  function fnSelectDispatchReadCallback(obj) {
    if (obj && obj.length > 0) {
      var ids = "";
      for (var i = 0; i < obj.length; i++) {
        if (i == obj.length - 1) {
          ids += obj[i].id;
        } else {
          ids += obj[i].id + ",";
        }
      }
      $('#readmans').val(ids);

      top.CC.loading('转阅中...');
      $.post('$link.getContextURL()/doc/event/dealDispatchDocRead', $('#editForm').serialize(), function(result) {
        top.CC.loaded();
        if(result.success){
          top.CC.messager({ title:'提示',  msg:'公文转阅成功！' });
        }else{
          top.CC.messager({ title:'提示', msg:result.error });
        }
      });
    }
  }

  // 设置来文字号
  function setDocCode() {
    if ($('#docCode1').size()>0) {// 如果存在来文字号、发文字号内容
      var docCode1 = $('#docCode1').textbox('getValue');
      var docCode2 = $('#docCode2').combobox('getValue');
      var docCode3 = $('#docCode3').textbox('getValue');
      if ($.trim(docCode1) != "" && $.trim(docCode3) != "") {// 不为空才设置文号
        var docCode = docCode1 + "[" + docCode2 + "]" + docCode3 + "号";
        $('#docCode').val(docCode);
      }
    }
  }

  //已阅（阅知)
  function doReaded() {
    top.CC.loading("提交中...");
    $.post( "$link.getContextURL()/doc/readMatter/saveReadInfo",$("#editForm").serialize(),function(result){
      top.CC.loaded();
      if(result.success){
        var title = top.CC.getCurTab().panel('options').title;
        top.CC.addTab({title:'待阅公文',url:'$link.getContextURL()/doc/readMatter/list/todo'});
        top.CC.closeTab(title);
        top.CC.messager({ title:'提示', msg:'阅知意见提交成功！'});
      }else{
        top.CC.messager({ title:'提示', msg:result.error });
      }
    });
  }

   // 直接办理完成，不选择走向（适用于子流程）
  function doneOnly(){
    $.post("$link.getContextURL()/doc/event/task/doneOnly", $("#editForm").serialize(),function(result){
      if(result.success){
         var title = top.CC.getCurTab().panel('options').title;
         top.CC.addTab({title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist'});
         top.CC.closeTab(title);
        top.CC.messager({
          title:'提示',
          msg:'办结成功！'
        });
      }else{
        top.CC.messager({
          title:'提示',
          msg:'任务办理失败！'
        });
      }
    });

  }



  //会签提交
  function signSubmit() {
     $.post( "$link.getContextURL()/doc/countersign/saveSignInfo",$("#editForm").serialize(),function(result){
        if(result.success){
        var title = top.CC.getCurTab().panel('options').title;
         top.CC.addTab({title:'发文会签',url:'$link.getContextURL()/doc/countersign/list'});
         top.CC.closeTab(title);
        top.CC.messager({
          title:'提示',
          msg:'会签提交成功！'
        });
        }else{
        top.CC.messager({
          title:'提示',
          msg:'服务器连接不上'
        });
        }
      });
  }


  $("a[mans-dialog]").each(function() {
    $(this).click(function(){
      hideWebOffice('WebOffice2009');
      var $this = $(this);
      var _callbackname = $this.attr("callback");
      var _callbackname1 = "showWebOffice";
      var _url = "$link.getContextURL()/select/selectmansClassify";
      var _callback_fn = window[_callbackname];
      var _callback_fn1 = window[_callbackname1];
      var dfn = top.window.openSelectDialogFrameDialog;
      if (typeof dfn === "function") {
        dfn(_url, _callback_fn,_callback_fn1);
      }
      return false;
    })
  });

  //驳回
  function falseBack(){
  }

   //阅知回调
  function fnSelectReadCallback(objs){
    var userNames = "";
    var userIds = "";
    for (var i = 0; i < objs.length; i++){
      userNames += objs[i].userName + ",";
      userIds += objs[i].id + ",";
    }
    userNames = userNames.substring(0,userNames.length-1);
    userIds = userIds.substring(0,userIds.length-1);
    $('#userIds').val(userIds);
    $.post("$link.getContextURL()/doc/event/saveReadNodes.json",$("#editForm").serialize(),function(result){
      if(result.success){
        // window.location = "$link.getContextURL()/doc/event/tasklist";
        top.CC.messager({ title:'提示', msg:'阅知发送成功！' });
        document.location.reload();
      }else{
        top.CC.messager({ title:'提示', msg:result.error });
      }
    });

  }

  //会签回调
  function fnSelectSignCallback(obj){
    var userNames = "";
    var userIds = "";
    for (var key in obj){
      userNames += obj[key].userName + ",";
      userIds += obj[key].id + ",";
    }
    userNames = userNames.substring(0,userNames.length-1);
    userIds = userIds.substring(0,userIds.length-1);
    $('#userIds').val(userIds);
     $.post("$link.getContextURL()/doc/countersign/save.json?&type=1",$("#editForm").serialize(),function(result){
        if(result.success){
        // window.location = "$link.getContextURL()/doc/event/tasklist";
        top.CC.messager({
          title:'提示',
          msg:'呈送成功！'
        });
        }else{
        top.CC.messager({
          title:'提示',
          msg:'服务器连接不上'
        });
        }
      });

  }

  function showDispatchExpiryDate(newValue,oldValue) {
    var day =newValue;
    ##替换非数字
    day=day.replace(/\D/g,"");
    if (day== ""|| day =="0") {
      $("#dispatchLimitDay").val("");
      $("#dispatchExpiryDateDisplay").text("");
      $("#dispatchExpiryDate").val("");
      return false;
    }
    jQuery.ajax({
      url:"$link.getContextURL()/doc/event/getNewLimitTime.json",
      data:{ limitDay: day },
      type:"post",
      async:false,
      dataType:"text",
      success:function(data) {
        $("#dispatchExpiryDate").val(data);
        var value = data.substr(0, data.indexOf(' ')).split("-");
        var displayLimitTime = "";
        displayLimitTime = value[0] + "年" + value[1] + "月" + value[2] + "日";
        $("#dispatchExpiryDateDisplay").text(" 至  " + displayLimitTime);
      }
    });
  }

  $(function(){
    //个人词条
    $("a[word-dialog]").each(function() {
      $(this).click(function(){
        var $this = $(this);
        var _callbackname = $this.attr("callback");
        var _url = $this.attr("word-dialog");
        var _callback_fn = window[_callbackname];
        var dfn = top.window.openSelectDialogFrameDialog;
        if (typeof dfn === "function") {
          dfn(_url, _callback_fn);
        }
        return false;
      })
    });
    // 设置转办编辑窗口的处理时限
    $('#dispatchLimitDay').textbox('setValue','3');

    // 控制更多功能展示
    $('body').append($('<div></div>').addClass('more_btn_div').css('display','none').append($('.more_btn').children('div')));
    $('.more_btn').children('div').remove();
    $('.more_btn').mouseover(function() {
      $('.more_btn_div').show();
    }).mouseleave(function() {
      $('.more_btn_div').hide();
    });
    $('.more_btn_div').mouseover(function() {
      $('.more_btn_div').show();
    }).mouseleave(function () {
      $('.more_btn_div').hide();
    });
  });

  function fnSelectWordCallback(obj){
    $('#opinion').val(obj.word);
  }

  HKEY_Root = "HKEY_CURRENT_USER";
  HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";

  //网页打印时清空页眉页脚
  function pagesetup_null(){
  try{
    var RegWsh = new ActiveXObject("WScript.Shell");
    HKEY_Key="header";
    RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
    HKEY_Key="footer";
    RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
  }catch(e){
  }
  }
   //打印
  function doPrint() {
    try{
      if (document.all) { // IE
        pagesetup_null();
      }
      if ($.browser.msie) {
        #if("$!{obj.fileType.key}" == "1")## 收文
          	$('#receiveContainers').printArea({
            	mode: 'popup'
          	});
		#elseif("$!{obj.fileType.key}" == "5")##内部请示
			$('#receiveContainers').printArea({
            	mode: 'popup'
          	});
        #else ## 发文
          	$('#sendContainer').printArea({
            	mode: 'popup'
          	});
        #end
      } else {
        #if("$!{obj.fileType.key}" == "1")## 收文
          	$('#receiveContainers').printArea({
            	mode: 'popup',
            	popClose: true
          	});
		#elseif("$!{obj.fileType.key}" == "5")##内部请示
			$('#receiveContainers').printArea({
            	mode: 'popup',
           	 	popClose: true
          });
        #else ## 发文
          	$('#sendContainer').printArea({
            	mode: 'popup',
            	popClose: true
          	});
        #end
      }
    } catch(e) {
      alert(e.message);
      return;
    }
  }

    //打印正文
  function doPrintZW(){
   var WebOffice = document.getElementById("WebOffice2009");
   if(WebOffice){
      if(window.goldgrid.isIEBrowser()){
        WebOpenPrint("WebOffice2009");
      }else{
        top.CC.messager({ title:'提示', msg:'请使用ie浏览器打开正文' });
      }
    }else{
      top.CC.messager({ title:'提示', msg:'请切到公文正文标签页' });
    }
  }


  //合并修订
  function accept(){
     var WebOffice = document.getElementById("WebOffice2009");
     if(WebOffice){
      if(window.goldgrid.isIEBrowser()){
         goldgrid.WebAcceptAllRevisions("WebOffice2009");
      }else{
        top.CC.messager({
          title:'提示',
          msg:'请使用ie浏览器打开正文'
        });
      }
     }else{
       top.CC.messager({
          title:'提示',
          msg:'请切到正文页'
        });
     }
  }

  function dospecial(){
    $('#editWindow').window('open');
    // $('#editWindow').window('refresh', '$link.getContextURL()/doc/nodesetting/nodeList.json?id=$!{flowId}');
  }

  //退文词条
  function showWordMenu() {
    var _callbackname = "fnSelectBackResonCallback";
    var _url = "$link.getContextURL()/doc/backreason/select";
    var _callback_fn = window[_callbackname];
    var dfn = top.window.openSelectDialogFrameDialog;

    if (typeof dfn === "function") {
      dfn(_url, _callback_fn);
    }
  }

  function fnSelectBackResonCallback(obj){
    //for(var data in obj){
     //   $('#backOpinion').val(data.word);
    //}
    $('#backOpinion').val($('#backOpinion').val()+obj.word);
  }

  // 办结
  function doSubProcessFinish(){
    $.messager.confirm('提示','确定要办结公文吗?',function (r) {
      if (r) {
        // 设置来文字号、发文字号
        setDocCode();
        // 处理公文正文
        var WebOffice = document.getElementById("WebOffice2009");
        if(WebOffice){
          if(window.goldgrid.isIEBrowser()){
            saveGoldgridFile($('#filepath').val());
          }
        }
        $.post("$link.getContextURL()/doc/event/completeSubflow", $("#editForm").serialize(),function(result){
          if(result.success){
            var title = top.CC.getCurTab().panel('options').title;
            top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
            top.CC.messager({ title:'提示', msg:'办结成功！' });
            top.CC.closeTab(title);
          }else{
            top.CC.messager({ title:'提示', msg:result.error });
          }
        });
      }
    });
  }


  function replaceTemp() {
  	  setDocCode();
      var fileType = $("#fileType").val();
      var codeName = $('#docCode1').textbox('getValue');
      $.post("$link.getContextURL()/doc/doccode/getDocCodeTempletePath.json", {codeName:codeName, codeType:fileType},function(result){
          if(result.success){
            var tp = result.object;
            $.messager.confirm('提示',"您确定套用模板《" + tp.templateName + "》吗？",function (r) {
		      if (r) {
		        replaceDocTemplate(tp.templateFilePath);
		      }
		    });

          }else{
            top.CC.messager({ title:'提示', msg:result.message });
          }
      });

  }

  //转办
  function turnDoc(){
  	var id = $("#id").val();
	var flow = $('#flow').combobox('getValue');
	
	if(flow==""){
		top.CC.messager({ title:'提示', msg:"请选择流程进行转办!" });
		$("#flow").combobox("textbox").focus();
		return;
	}
	
	if(flow=="1"){
		var url = "$link.getContextURL()/doc/receivefile/edit?id="+id + "&parentId=" + id;
    	top.CC.addTab({title:'新建收文',url:url});
	}else if(flow=="2"){
		var url = "$link.getContextURL()/doc/sendfile/edit?id="+id + "&parentId=" + id;
    	top.CC.addTab({title:'新建发文',url:url});
	}
	
  	
  }
  

  	//系统外发
    function outerDocEdit(){
        #if($!{canConvertPdfFlag})
            var pdfContent = $("#pdf-file-c").html();
            if (!jQuery.trim(pdfContent)){
                top.CC.messager({ title:'提示',  msg:"请先将正文转换成pdf"});
                return false;
            }
        #end
		var id = $("#id").val();
    	top.CC.addTab({title:'系统外发',url:'$link.getContextURL()/doc/outer/editOuterDoc?id=' + id});
    }

  function doc2Pdf() {
      var docIdObj = $("#id");
      if (docIdObj&&docIdObj.length){
          //有公文ID
          var id = docIdObj.val();
          top.CC.loading('请稍后...');
          $.ajax({
              type:'POST',
              url:"$link.getContextURL()/sysattach/getpdf.json?oaDocFileId="+id,
              success:function (result) {
                  top.CC.loaded();
                  if (result.success&&result.object) {
                      top.CC.messager({ title:'提示', msg:"转换成功" });
                      var _attachTemp = $("#temp-f-item").html();
                      console.log($("#pdf-file-c"));
                      if (_attachTemp) {
                          var attachItem = _attachTemp.replace(/{{fileName}}/g, result.object.trueName).replace(/{{id}}/g, result.object.id);
                          if ($("#pdf-file-c").length) {
                              $("#pdf-file-c").html(attachItem);
                              if (window.previewAttachFile&&docPreview.previewFileId != result.object.id){
                                  console.log("预览转换后的附件");
                                  previewAttachFile(result.object.trueName,result.object.id);
                              }
                          }
                      }
                  }else{
                      top.CC.messager({ title:'提示', msg:"转换失败" });
                  }
              },
              error:function (error) {
                  top.CC.loaded();
                  top.CC.messager({ title:'提示', msg:"请求错误" });
              }
          });
      }
  }

</script>
<script type="text/javascript" src="lib/jqprint/jquery.PrintArea.js"></script>
#end
