<div class="easyui-layout" fit="true">
    <div  region="center" class="submodule-title-h mynoborder panel-body" style="padding:5px;" >
        <div class="easyui-layout" fit="true" style=" border: 1px solid #e0e0e0;">

            <div class="cc-tableWrap mainborder-Padding" data-options="region:'center',border:false">
                 #foreach( $att in $attendees)
                 <label><input type="radio" name="displayType" value="1"/></label>
                 #end
            </div>
    </div>
</div>