<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" class="mynoborder">
        <form id="editForm" method="post">
            <input name="fileId" type="hidden" value="$!{obj.id}">
            <table id="app_apply_tab" class="table-edit"  width="100%" border="0" cellspacing="1" cellpadding="0">
              <tbody>
                <tr>
                    <td class="fix_td_title">&nbsp;</td>
                    <td class="fix_td_data">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bg-grey"><span><font color=red>*</font></span>收件人</td>
                    <td class="bg-white">
                        $!{mansname}
                        <input id="manAddressNames" name="manAddressNames" type="hidden" value="$!{mansname}" />
                        <input id="manAddress" name="manAddress" type="hidden" value="$!{mans}" />
                    </td>
                </tr>
                <tr>
                    <td class="bg-grey">发件人</td>
                    <td class="bg-white">$!{user.currentUserName}</td>
                </tr>
                <tr>
                  <td class="bg-grey"><span><font color=red>*</font></span>标题</td>
                  <td class="bg-white">
                    公文催办：$!{esc.html($!{obj.title})}
                    <input id="title" name="title" type="hidden" value="公文催办：$!{esc.html($!{obj.title})}" />
                  </td>
                </tr>
                <tr>
                    <td class="bg-grey">内容</td>
                    <td valign="top" class="bg-white">
                    <input id="content" name="content" type="hidden"/>
                    <textarea class="ckeditor" id="mailContent" name="mailContent" cols="" style="resize:none;">请尽快办理公文《$!{esc.html($!{obj.title})}》</textarea>
                    </td>
                </tr>
                ## <tr >
                ##   <td class="bg-grey">附件</td>
                ##   <td attachId="$!obj.id" class="bg-white">
                ##     #formfilemulty("attachIds", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('emAttach')", true, "#defaultUploadUrl('emAttach')",true,"","","", "cc") ## "cc"为可拖拽区域dom的id
                ##   </td>
                ## </tr>
              </tbody>
            </table>
        </form>
    </div>
    <div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
                ## <li><a id="drafts" onclick="drafts()" class="new-but"  >存草稿</a></li>
                <li><a id="send" onclick="send()"  class="new-but" >发送</a></li>
                <li><a id="back" onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
#@script()
<script type="text/javascript">

    $(function(){
        CKEDITOR.replace('mailContent', { height: '340px'});
    });

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.closeCurTab();
    }

    //发送
    function send(){
        var value = CKEDITOR.instances.mailContent.getData();
        $('#content').val(value);
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/doc/event/sendReminders.json",$("#editForm").serialize(),function(result){
                  if(result.success){
                    top.CC.messager({ title:'提示', msg:'催办邮件发送成功！' });
                    top.CC.closeCurTab();
                  }else{
                    top.CC.messager({ title:'提示', msg:'服务器连接不上' });
                  }
            });
        }
    }

</script>
#end