<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/doc/listicon.css"/>
<div class="easyui-layout" fit="true">
<div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
    <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-reminders" onclick="reminders()" plain="true">催办</a>
    <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-download-alt" onclick="exportExcel()" plain="true">导出</a>
    <i></i>
    <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
        class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
    <a  onclick="top.CC.closeCurTab()"
        class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
</div>
<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
    <table id="dg" data-options="nowrap:false" style="width:99%;">
        <thead>
        <tr>
            <th style="width:30%;" data-options="field:'title',editor:'text',formatter:detailUrl,sortable:true">公文标题</th>
            <th style="width:10%;" data-options="field:'createDateShow',sortable:true">发文时间</th>
            <th style="width:15%;" data-options="field:'sendUnit'">来文单位</th>
            <th style="width:10%;" data-options="field:'restTime',formatter:restTimeFormatter,sortable:true">总剩余时间</th>
            <th style="width:10%;" data-options="field:'deptName'">主办处室</th>
            <th style="width:10%;" data-options="field:'creatorName'">拟稿人</th>
			<th style="width:8%;" data-options="field:'nodeName',editor:'text',formatter:flowUrl">在办环节</th>
            <th style="width:5%;" data-options="field:'instStatus'">状态</th>
        </tr>
        </thead>
    </table>
</div>
<div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
     style="width:500px;height:430px;padding:20px 10px; background-color:#f4f4f4;display:none;">
    <form id="queryForm">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="text-align: right">公文标题：</td>
                <td colspan="3"><input id="title" style="width:320px;" name="title" class="easyui-textbox" /></td>
            </tr>
			<tr>
                <td align="right">来文单位：</td>
                <td align="left" style="width:120px;"><input name="sendUnit" style="width:120px;" class="easyui-textbox" /></td>
                <td align="right" style="width:80px;">拟稿人：</td>
                <td align="left"><input name="creatorName" style="width:100px;" class="easyui-textbox" /></td>
            </tr>
            <tr>
                <td style="text-align: right">公文类型：</td>
                <td >
                    <select name="businessType" id="businessType" class="easyui-combobox" data-options="editable:false" style="width:120px;" panelheight="auto">
						#set($arr = [1, 2, 3, 5])
						#formoptioncontain("" $dict.WfBusinessType $arr)
                    </select>
                </td>
				<td align="right">状态：</td>
                <td align="left">
                    <select name="instStatus" class="easyui-combobox" data-options="editable:false" style="width:100px;"
                        panelheight="auto">
						#set($arr = [0, 1])
						#formoptioncontain("" $dict.WfInstStatus $arr)
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">发文时间：</td>
                <td colspan="3">
                    <input name="createDateBegin" class="easyui-datebox" data-options="editable:false" style="width:120px;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="createDateEnd" class="easyui-datebox" data-options="editable:false" style="width:120px;">
                </td>
            </tr>
			<tr>
                <td align="right">限办日期：</td>
                <td colspan="3">
                    <input name="expiryDateBegin" class="easyui-datebox" data-options="editable:false" style="width:120px;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="expiryDateEnd" class="easyui-datebox" data-options="editable:false" style="width:120px;">
                </td>
            </tr>
			<tr>
                <td align="right">主办处室：</td>
                <td align="left" style="width:140px;"><input name="deptName" style="width:120px;" class="easyui-textbox" /></td>
                <td align="right" style="width:80px;">经办类型：</td>
                <td align="left">
					<select name="queryReadFlag" class="easyui-combobox" data-options="editable:false" style="width:100px;"
                        panelheight="auto">
						<option value="" selected>全部</option>
                        <option value="1">阅知</option>
                        <option value="0">办理</option>
                    </select>
				</td>
            </tr>
			<tr>
                <td align="right">经办部门：</td>
                <td align="left" style="width:140px;">
					<input id="dealerDeptId" name="dealerDeptId" type="hidden"/>
                    <input id="dealerDeptName" name="dealerDeptName" style="width:100px;" class="easyui-textbox" readonly "/>
                    <a id="selectDepDialog" href="javascript:;" iconcls="icon-search" plain="true"
                        callback=fnSelectDepCallback class="easyui-linkbutton" select-dialog="$link.getContextURL()/select/Dep/selectDepTree"></a>

				</td>
                <td align="right" style="width:80px;">经办人：</td>
                <td align="left">
					<input style="width:100px;" id="dealer" name="dealer" class="easyui-textbox" readonly value="$!{currentUser.userName}"/>
                    <input id="dealerId" name="dealerId" type="hidden" value="$!{currentUser.id}"/>
                    <a id="selectDepDialog" href="javascript:;" callback=fnSelectManSingleCallback class="easyui-linkbutton" plain="true"
                                iconCls="icon-search" select-dialog="$link.getContextURL()/select/selectSingleManClassify"></a>
				</td>
            </tr>
        </table>
     </form>
    <div id="bnts" style="top:0px; height:25px; width:auto;">
        <a class="new-but" onclick="formSerach()">确定</a>
        <a class="new-but" onclick="reset()">重置</a>
    </div>
</div>
</div>
<div id="editWindow" class="easyui-window" title="流程图" style="width:900px;height:520px;padding:5px;overflow:hidden;"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
    <iframe id="showGooFlow">

	</iframe>
</div>
#parse("common/easyui/operatorcolumn.js.vm")
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
    var _listJsonUrl = '/doc/event/listMyLinkDoc.json';

    // 催办
    function reminders(){
       var row = $("#dg").datagrid("getSelected");

        if(row){
			if("办结"==row.instStatus){
    	   		top.CC.messager({ title: '提示', msg: '已经办结的公文，不能催办!' });
    			return;
	   		}
            var url = "$link.getContextURL()/doc/event/sendReminders?fileId=" + row.entityId;
            top.CC.addTab({ title: '发送催办', url: url });
        } else {
            top.CC.messager({ title: '提示', msg: '请选择一条记录!' });
        }
    }


    function del(){
        var row = $('#dg').datagrid("getSelected");
        if (row) {
            $.messager.confirm('警告','确定中止并删除在办中的公文《' + row.title + '》吗? 该操作不可恢复，请谨慎操作！', function(r){
                if (r){
                    $.post(_baseUrl + '/doc/event/deleteProcInst/' + row.processInstId, {}, function(result){
                        if (result.success){
                            $('#dg').datagrid('reload'); // reload the user data
                        } else {
                            top.CC.messager({ // show error message
                                title: '错误',
                                msg: result.errorMsg
                            });
                        }
                    },'json');
                }
            });
        } else {
            top.CC.messager({
                title: '提示',
                msg: '请选择一条记录!'
            });
        }
    }


    function operaterFormatter(value,row,index){
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html()
            .replace(new RegExp("__id__",'gm'),row.entityId)
            .replace(new RegExp("__type__",'gm'),row.businessType);
     }

    function restTimeFormatter(value,row,index) {
	
		if(row.instStatus == '在办'){
            if (value != null && value != undefined) {
                var display = "";
    			//是否超时,1：是；0：否
    			var isTimeOut = "0";
    			if (value < 0) {
                     isTimeOut = "1"
    				 value = -value;
                }
    
                var day = Math.floor(value / (24 * 60 * 60));
                display += day + "天";
                var hour = Math.round((value - day * 24 * 60 * 60) / (60 * 60));
                display += hour + "小时";
                if (isTimeOut == "1") {
                    return '<font style="color:red;">超时'+display+'</font>';
                } else {
                    return display;
                }
            }
		}
        return "";
    }

    function fnDemoSelectDepCallback(obj){
        $("#dep").textbox("setValue",obj.depName);
    }


     $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-remove']",_querForm);
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
        if(_btnClear){
            _btnClear.on('click',reset);
        }

        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }

        function formSerach() {
            _datagrid.datagrid('reload');
        }
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }


        //初始化datagrid
        _datagrid.datagrid({
            loadFilter: datagridHtmlEncode,
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:false,
            rownumbers:true,//行号
            singleSelect:true,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:_baseUrl + (_listJsonUrl || '/listMyLinkDoc.json'),//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            if($("#editForm").form('validate')){
                var dfn = top.window.openSelectDialogFrameDialog;
            }else{
                return false;
            }
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function fnSelectDepQueryCallback(obj){
        $('#dep').textbox('setValue',obj.id);
        $('#dep').textbox('setText',obj.text);
    }


    function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }
    function traceRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
        var url;
        //url = "$link.getContextURL()/workflow/showtrace?pid="+row.processInstId;
        url = "$link.getContextURL()/diagram-viewer/index.html?processDefinitionId="+row.processDefId+"&processInstanceId="+row.processInstId;

        top.CC.addTab({title:'流程图跟踪',url:url});
    }
    function traceUrl(value,row) {
        return "<a href='javascript:;' style='color:blue' onclick='traceRow(getRowIdByDom(this))' title='点击查看流程图' >"+value+"</a>";
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }


    function detailUrl(value,row) {
        var content = "<a href='javascript:;' onclick='showDetail(\""+row.entityId+"\", \""+row.businessType+"\")' class='font-titlecolor'>" + value + "</a>";
        var icostr1="";
        if ($.trim(row.businessType) == "1") {
            icostr1 = '<span class="icon-receivefile" title="收文"></span>'+icostr1;
        } else if ($.trim(row.businessType) == "2") {
            icostr1= '<span class="icon-sendfile" title="发文"></span>'+icostr1;
        } else if ($.trim(row.businessType) == "3") {
            icostr1= '<span class="icon-simplefile" title="便函"></span>'+icostr1;
        } else if($.trim(row.businessType) == "5")	{
			icostr1= '<span class="icon-interequestfile" title="内部"></span> '+icostr1;
		}

        var icostr2="";
        if (row.urgencyLevel == "2") {
            icostr2= '<span class="icon-urgent" title="急件"></span>'+icostr2;
        } else if (row.urgencyLevel == "1") {
            icostr2= '<span class="icon-emergency" title="特急"></span>'+icostr2;
        }

        if (row.expiryDate != null) {
            icostr2= '<span class="icon-limit" title="限时办结"></span>'+icostr2;
        }
        content=icostr1+icostr2+content;

        return content;
    }

    function showDetail(id, type) {
        var url = "$link.getContextURL()/doc/archives/detailFile?id="+id;

        if($.trim(type) == "1"){
            top.CC.addTab({title:'收文详情',url:url});
        }else if ($.trim(type)=="2"){
            top.CC.addTab({title:'发文详情',url:url});
        }else if ($.trim(type)=="3"){
            top.CC.addTab({title:'便函详情',url:url});
        }else if ($.trim(type)=="5"){
			top.CC.addTab({title:'内部请示详情',url:url});
		}
    }

    function exportExcel() {
        $.messager.confirm('警告','确定导出经办箱列表吗?',function(r){
            if (r){
               window.location = "$link.getContextURL()/doc/event/exportMyLinkDocList.json?"+$("#queryForm").serialize();
            }
        });
    }


    function fnSelectDepCallback(obj){
        $("#dealerDeptName").textbox('setValue',obj.text);
        $("#dealerDeptId").val(obj.id);
    }


    // 人员选择回调
    function fnSelectManSingleCallback(obj){
        $('#dealerId').val(obj.id);
        $('#dealer').textbox('setValue', obj.userName);
    }
</script>
<script src="js/gooflow/mylinkdoclist.js"></script>
#end
#parse("common/easyui/operatorcolumn.js.vm")