<style type="text/css">
  .icon-receivefile {
    background: url('./images/doc/icon-received.png') no-repeat center center;
    padding-left: 20px;
  }
  .icon-sendfile {
    background: url('./images/doc/icon-send.png') no-repeat center center;
    padding-left: 20px;
  }
  .icon-simplefile {
    background: url('./images/doc/icon-simple.png') no-repeat center center;
    padding-left: 20px;
  }
  .icon-interequestfile {
    background: url('./images/doc/icon-interequest.png') no-repeat center center;
    padding-left: 20px;
  }
</style>

<div class="easyui-layout" fit="true">
<div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
#if($type != "query")
##<hr>
<a href="javascript:;" id="remove" class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-remove"
        plain="true">删除</a>
<i></i>
#end
<a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
     class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
     <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
</div>
<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
<table id="dg" data-options="nowrap:false" style="width:99%;">
    <thead>
    <tr>
        <!--#if($type != "query")<th field="ck" data-options="checkbox:true"></th>#end -->
        <th style="width:50%" data-options="field:'title',formatter:detailUrl,sortable:true">标题</th>
        <th style="width:20%" data-options="field:'docCode'">文号</th>
        <th style="width:20%" data-options="field:'createDateShow',sortable:true">暂存时间</th>
    </tr>
    </thead>
</table>
</div>
<div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
     style="width:400px;height:200px;padding:20px 10px; background-color:#f4f4f4;display:none;">
    <form id="queryForm">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="text-align: right">标题：</td>
                <td><input id="title" style="width:300px;" name="$qc.like('title')" class="easyui-textbox" /></td>
            </tr>
        </table>
     </form>
    <div id="bnts" style="top:0px; height:25px; width:auto;">
        <a class="new-but" onclick="formSerach()">确定</a>
        <a class="new-but" onclick="reset()">重置</a>
    </div>
</div>
</div>
#parse("common/easyui/operatorcolumn.js.vm")

#@script()
<script>
    var _baseUrl = '$link.getContextURL()';
    var _listJsonUrl = '/doc/event/listTmp.json';


    $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-undo']",_querForm);
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
        if(_btnClear){
            _btnClear.on('click',reset);
        }
        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }
        function formSerach() {
            _datagrid.datagrid('reload');
        }
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }

        //工具条操作
        var _btnDelete = $("[iconCls='icon-remove']",_toolbar);
        if(_btnDelete){
            _btnDelete.on("click",del);
        }

        function del(){
            var row = $("#dg").datagrid("getSelected");
            var url = "";
            if(row){
                url = _baseUrl + "/doc/event/delete";

                $.messager.confirm('警告','确定删除文档《'+row.title+'》吗?',function(r){
                    if (r){
                        $.post(url, {ids:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload'); // reload the user data
                                top.CC.messager({ // show error message
                                    title: '成功',
                                    msg: '删除成功!'
                                });
                            } else {
                                top.CC.messager({ // show error message
                                    title: '错误',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            } else {
                top.CC.messager({
                    title: '提示',
                    msg: '请选择文档进行删除!'
                });
            }

        }

        //初始化datagrid
        _datagrid.datagrid({
            fitColumns:false,//列宽自适应
            fit:true,//自适应
            nowrap:false, //不可换行
            rownumbers:true,//行号
            singleSelect:true,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:_baseUrl + _listJsonUrl,//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });

    //行内操作的方法，编辑、详情
    var _datagrid = $("#dg");
    var _toolbar = $("#tb");
    function operaterFormatter(value,row,index){
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html();
    }
    function getRowIdByDom(dom){

        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }

    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
        var url;
        if (row.fileType == "发文") {
            url = "$link.getContextURL()/doc/sendfile/edit?id="+row.id;
            top.CC.addTab({title:'发文拟稿',url:url});
        } else if (row.fileType == "收文"){
            url = "$link.getContextURL()/doc/receivefile/edit?id="+row.id;
            top.CC.addTab({title:'收文登记',url:url});
        } else if(row.fileType == "内部请示"){
			url = "$link.getContextURL()/doc/interequest/edit?id="+row.id;
            top.CC.addTab({title:'内部请示',url:url});
		}else {
            var url = _baseUrl + "/doc/simplefile/edit?id="+row.id;
            top.CC.addTab({title:'便函拟稿',url:url});
        }
    }


    function detailUrl(value,row) {
        var icostr="";
        if (row.fileType == "发文") {
            icostr= '<span class="icon-sendfile" title="发文"></span>'
        }else if (row.fileType == "收文") {
            icostr = '<span class="icon-receivefile" title="收文"></span>'
        }else if (row.fileType == "便函"){
            icostr = '<span class="icon-simplefile" title="便函"></span>'
        }else if (row.fileType == "内部请示")	{
			icostr = '<span class="icon-interequestfile" title="内部"></span>'
		}

        return icostr + "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
</script>
#end
