<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div class="easyui-layout" fit="true">
        <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
            <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
                 class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
			<a  onclick="top.CC.closeCurTab()"
                 class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
        </div>
        <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
            <table id="dg" data-options="nowrap:false" style="width:99%;">
                <thead>
                <tr>
                    ##<th style="width:5" data-options="field:'attachFlag',formatter:attFlag"><img src='images/attach.png' title='有附件'/></th>
					<th style="width:35%" data-options="field:'title',formatter:detailUrl">公文标题</th>
                    <th style="width:16%" data-options="field:'senderAncestorName',formatter:senderAncestorNameFormatter">来文单位</th>
					<th style="width:11%" data-options="field:'sendTime',formatter:sendTimeFormatter">发送时间</th>
					<th style="width:6%" data-options="field:'signerName',formatter:signerNameFormatter">签收人</th>
					<th style="width:11%" data-options="field:'signDate',formatter:signDateFormatter">签收时间</th>
					<th style="width:5%" data-options="field:'documentType',formatter:documentTypeFormatter">公文类型</th>
					<th style="width:5%" data-options="field:'receiveFlag',formatter:receiveFlagFormatter">分类</th>
					<th style="width:5%" data-options="field:'envStatus',formatter:envStatusFormatter">办结情况</th>
					<th style="width:5%" data-options="field:'limitTime',formatter:limitTimeFormatter">超时情况</th>
                </tr>
                </thead>
            </table>
        </div>
        <div id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
             style="width:500px;height:420px;padding:20px 10px; background-color:#f4f4f4;display:none">
            <form id="queryForm">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right">公文标题：</td>
                        <td colspan="3"><input id="title" name="$qc.like('title')" style="width:320px;" class="easyui-textbox" /></td>
                    </tr>
					<tr>
                        <td align="right">来文单位：</td>
                        <td align="left" style="width:150px;">
							<input id="secondaryUnitIdentifierName" name="$qc.like('envelope.senderAncestorName')" style="width:150px;" class="easyui-textbox" />
						</td>
                        <td align="right" style="width:80px;">签收人：</td>
                        <td align="left">
							<input id="secondaryUnitIdentifierName" name="$qc.like('envelope.signerName')" style="width:90px;" class="easyui-textbox" />
						</td>
                    </tr>
					<tr>
                        <td align="right">发送时间：</td>
                        <td align="left" colspan="3">
                            <input name="$qc.greaterThanOrEqualTo('envelope.sendTime')" value="$!date.format('yyyy-MM-dd',$!{sendBeginTime})" class="easyui-datebox" value="$!{firstDay}" data-options="editable:false" style="width:150px;">
								至
                            <input name="$qc.lessThanOrEqualTo('envelope.sendTime')" value="$!date.format('yyyy-MM-dd',$!{sendEndTime})" class="easyui-datebox" value="$!{lastDay}" data-options="editable:false" style="width:150px;">
                        </td>
                    </tr>
					<tr>
                        <td align="right">限办时间：</td>
                        <td align="left" colspan="3">
                            <input name="$qc.greaterThanOrEqualTo('envelope.limitTime')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
								至
                            <input name="$qc.lessThanOrEqualTo('envelope.limitTime')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
                        </td>
                    </tr>
					<tr>
                        <td align="right">签收时间：</td>
                        <td align="left" colspan="3">
                            <input name="$qc.greaterThanOrEqualTo('envelope.signDate')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
								至
                            <input name="$qc.lessThanOrEqualTo('envelope.signDate')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
                        </td>
                    </tr>
					<tr>
                        <td align="right">公文类型：</td>
                        <td align="left" style="width:150px;">
                            <select id="envStatus" name="$qc.equal('envelope.documentType')" class="easyui-combobox" data-options="editable:false" style="width:150px;"
                                panelheight="auto">
                                #formoption("" $dict.RemoteDocSwapType)
                            </select>
                        </td>
						<td align="right">公文分类：</td>
                        <td align="left">
                            <select name="$qc.equal('envelope.receiveFlag')" class="easyui-combobox" data-options="editable:false" style="width:90px;"
                                panelheight="auto">
								<option value="" selected>全部</option>
                                <option value="1">电子</option>
                                <option value="3">纸质</option>
                            </select>
                        </td>
                    </tr>
					<tr>
						<td align="right">统计类型：</td>
                        <td align="left">
                            <select name="staType" class="easyui-combobox" data-options="editable:false" style="width:150px;"
                                panelheight="auto">
								<option value="1" #if($!{staType}=="1")selected#end>全部</option>
                                <option value="2" #if($!{staType}=="2")selected#end>已办结</option>
                                <option value="3" #if($!{staType}=="3")selected#end>未办结</option>
                                <option value="4" #if($!{staType}=="4")selected#end>已预警</option>
                                <option value="5" #if($!{staType}=="5")selected#end>超时未办结</option>
                            </select>
                        </td>
                    </tr>
                </table>
             </form>
            <div id="bnts" style="top:0px; height:25px; width:auto;">
                <a class="new-but" onclick="formSerach()">确定</a>
                <a class="new-but" onclick="reset()">重置</a>
            </div>
        </div>
    </div>
</div>
#parse("doc/remotedocswap/crud.js.vm")
#@script()
<script type="text/javascript">
    $(function () { // 给查询dialog中的 标题input 绑定回车事件
        $('#title').textbox('textbox').keydown(function (e) {
            if (e.keyCode == 13) {
               formSerach();
            }
        });
    })

	var _baseUrl = '$link.getContextURL()/remotedocswap/statistic';
    var _listJsonUrl = '/listDocReceiveByStatistic.json';

    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
	
    /*来文单位格式化*/
    function senderAncestorNameFormatter(value, row, index) {
		 return row.envelope.senderAncestorName;
    }
       
    /*发送时间格式化*/
    function sendTimeFormatter(value, row, index) {
		return new Date(row.envelope.sendTime).toLocaleString(); 
    }

    /*签收人格式化*/
    function signerNameFormatter(value, row, index) {
         return row.envelope.signerName;
    }

    /* 签收时间格式化*/
    function signDateFormatter(value, row, index) {
		 if(null != row.envelope.signDate){
  	     	return new Date(row.envelope.signDate).toLocaleString(); 
		 }else{
		 	return '';
		 }
    }

    /*公文类型格式化*/
    function documentTypeFormatter(value, row, index) {
		 return row.envelope.documentType;
    }

    /*分类格式化*/
    function receiveFlagFormatter(value, row, index) {
		if("接收" == row.envelope.receiveFlag){
			return "电子";
		}
		else if("纸质公文" == row.envelope.receiveFlag){
			return "纸质";
		}
    }
	
	/*办结情况格式化*/
    function envStatusFormatter(value, row, index) {
		 return row.envelope.envStatus;
    }
	
    /*超时情况格式化*/
    function limitTimeFormatter(value, row, index) {
		if(row.envelope.limitTime && row.finishTime){
            var day = daysBetween(row.finishTime,row.envelope.limitTime);
            if(day<0)
                return '<span style="color: red;">超时</span>';
			else
                return '<span style="color: green;">未超时</span>';;
		}
    }
	 
	/**
    * 根据两个日期，判断相差天数
    * @param sDate1 开始日期 如：2016-11-01
    * @param sDate2 结束日期 如：2016-11-02
    * @returns {number} 返回相差天数
    */
	function daysBetween(sDate1,sDate2){
        //Date.parse() 解析一个日期时间字符串，并返回1970/1/1 午夜距离该日期时间的毫秒数
        var time1 = Date.parse(new Date(sDate1));
        var time2 = Date.parse(new Date(sDate2));
        var nDays = parseInt((time2 - time1)/1000/3600/24);
        return  nDays;
    };

    function fnSelectDepCallback(obj){
        $("#department").textbox('setValue',obj.id);
        $("#department").textbox('setText',obj.text);
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
	
	//列表操作
	function rowformater(value, row, index){
		return $(".cc-operateColum").html().replace(new RegExp("__id__",'gm'),row.id);
	} 
 
	function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }
	
    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
		
		if("纸质公文" == row.envelope.receiveFlag){
			url = "$link.getContextURL()/remotedocswap/detailDocSwap?id="+row.envelope.id + "&queryFlag=paperDoc";
		}else{
			url = "$link.getContextURL()/remotedocswap/detailDocSwap?id="+row.envelope.id + "&queryFlag=send";
		}
        
        top.CC.addTab({title:'公文交换详情',url:url});
    }
	
    function detailUrl(value,row) {
        var display = "<span><font color=red>[置顶]</font></span>";
        if ("置顶" == row.displayType) {
            return display + "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
        } else {
            return "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
        }
    }
</script>
#end
