<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
		<a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg" data-options="nowrap:false" style="width:99%;">
            <thead>
            <tr>
				<th style="width:36%" data-options="field:'docTile',formatter:detailUrl">公文标题</th>
                <th style="width:16%" data-options="field:'docNo'">文号</th>
				<th style="width:12%" data-options="field:'receiveUnitCode'">接收单位</th>
				<th style="width:11%" data-options="field:'sendTimeObj',formatter:sendTimeObjFormatter">发送时间</th>
				<th style="width:11%" data-options="field:'limitTimeObj',formatter:limitTimeObjFormatter">限办时间</th>
				<th style="width:6%" data-options="field:'status',formatter:statusFormatter">反馈情况</th>
				<th style="width:7%" data-options="field:'docStatus',formatter:docStatusFormatter">状态</th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
         style="width:500px;height:320px;padding:20px 10px; background-color:#f4f4f4;display:none">
        <form id="queryForm">
			<input type="hidden" name="startQuery" id="q_start_q" value="$!{queryData.startQuery}" />
			##<input type="hidden" name="queryUuid" id="q_uuid" value="sendList-2017-07-18-8bba721c-9bdf-4660-abdb-603a6904635f" />
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
                    <td align="right">公文来源：</td>
                    <td align="left">
                        <select name="docFrom" class="easyui-combobox" data-options="editable:false" style="width:150px;"
                            panelheight="auto">
                            <option value="0" #if($!{queryData.docFrom}=="0")selected#end>全部</option>
                            <option value="1" #if($!{queryData.docFrom}=="1")selected#end>电子公文</option>
                            <option value="2" #if($!{queryData.docFrom}=="2")selected#end>纸质公文</option>
							
                        </select>
                    </td>
                </tr>
				<tr>
                    <td align="right">状态：</td>
                    <td align="left">
                        <select name="docStatus" class="easyui-combobox" data-options="editable:false" style="width:150px;"
                            panelheight="auto">
							#formoption($!{staType} $dict.DocSwapCheckStatus)
                        </select>
                    </td>
                </tr>
				<tr>
                    <td align="right">发送时间：</td>
                    <td align="left">
                        <input name="startDate" class="easyui-datebox" value="$!date.format('yyyy-MM-dd',$!{sendBeginTime})" data-options="editable:false" style="width:150px;">
							至
                        <input name="endDate" class="easyui-datebox" value="$!date.format('yyyy-MM-dd',$!{sendEndTime})" data-options="editable:false" style="width:150px;">
                    </td>
                </tr>
            </table>
         </form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    </div>
</div>
#parse("doc/remotedocswap/crud.js.vm")
#@script()
<script type="text/javascript">
    $(function () {
        formSerach();
    })

    var _baseUrl = '$link.getContextURL()/remotedocswap/statistic';
    var _listJsonUrl = '/listReadReceive.json';
	
	//查询
    function formSerach() {
		$("#q_start_q").val("true");
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

	//重置
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
	
	
	// 发送时间 格式化
    function sendTimeObjFormatter(value, row, index) {
     	return new Date(value).toLocaleString(); 
    }
	
	// 限办时间 格式化
    function limitTimeObjFormatter(value, row, index) {
     	return new Date(value).toLocaleString(); 
    }
	
	// 格式化
    function docStatusFormatter(value, row, index) {
		//$dict.DocSwapCheckStatus
		if('0'==value)
			return '在办';
		else if('1'==value)
			return '已办';
		else if('2'==value)
			return '已撤销';
		else if('3'==value)
			return '已退文';
		else if('4'==value)
			return '超时未办结';
		else if('5'==value)
			return '超时办结';
		else if('6'==value)
			return '错误文';
    }
	
	// 状态 格式化
    function statusFormatter(value, row, index) {
		if (row.linkDoc) {
            return row.linkDoc.envelope.envStatus;
        } else {
            return value;
        }
    }
	
	
	function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }
	
    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
		url = "$link.getContextURL()/remotedocswap/detailDocSwap?id="+row.linkDoc.envelopeId + "&queryFlag=statistic";
        top.CC.addTab({title:'公文交换详情',url:url});
    }
	
    function detailUrl(value,row) {
        var display = "<span><font color=red>[置顶]</font></span>";
        if (row.linkDoc) {
            return "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
        } else {
            return value;
        }
    }
</script>
#end
