<div class="easyui-layout" data-options="fit:true">
		<!--<div region="north" style="height:8%;position:static;"></div>-->
        <div data-options="region:'west'" style="position:static;">
    		<div region="north" style="text-align: center;">
    		 <p style="font-size:40px;height:60px;margin-top: 10px;width:100%;">
    			<select name="year" id="year"   panelheight="auto" style="width:120px;font-size: 40px;">
                  <option value="$!{date.getYear()}" #if("!{docCode2}"=="$!{date.getYear()}") selected="selected" #end>$!{date.getYear()}</option>
                  #set( $lastYear = ${date.getYear()} - 1 )
                  <option value="$!{lastYear}" #if("!{docCode2}"=="$!{lastYear}") selected="selected" #end>$!{lastYear}</option>
                </select>
    			年公文限时办结统计（系统）
    		 </p>
    		 <p style="height: 30px;width:100%;">（注：当前统计数据时间为：<span id="beginDate"></span>至<span id="endDate"></span>）</p>
    		 </div>
    		 <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'center'">
    				 <div id="send">
        				<p class="title">发文</p>
        				<p class="secondTitle">总共发文：<a id="sendTotalNum" href="javascript:;" class="font-titlecolor" onclick="sendSwitch('1')"></a>件</p>
        				<p class="secondTitle">已办结：<a id="alreadySendNum" href="javascript:;" class="font-titlecolor" onclick="sendSwitch('2')"></a>件</p>
        				<p class="secondTitle">未办结：<a id="notSendNum" href="javascript:;" class="font-titlecolor" onclick="sendSwitch('3')"> </a>件</p>
        				<p class="secondWarnTitle">其中，已预警：<a id="warnSendNum" href="javascript:;" class="font-titleWarnColor" onclick="sendSwitch('4')"> </a>件，超时未办结：<a id="overtimeSendNum" href="javascript:;" class="font-titleOvertimeColor" onclick="sendSwitch('5')"> </a>件</p>
    				 </div>
    				 <div id="receive">
    					<p class="title">收文</p>
        				<p class="secondTitle">总共收文：<a id="receiveTotalNum" href="javascript:;" class="font-titlecolor" onclick="receiveSwitch('1')"></a>件</p>
        				<p class="secondTitle">已办结：<a id="alreadyReceiveNum" href="javascript:;" class="font-titlecolor" onclick="receiveSwitch('2')"></a>件</p>
        				<p class="secondTitle">未办结：<a id="notReceiveNum" href="javascript:;" class="font-titlecolor" onclick="receiveSwitch('3')"> </a>件</p>
        				<p class="secondWarnTitle">其中，已预警：<a id="warnReceiveNum" href="javascript:;" class="font-titleWarnColor" onclick="receiveSwitch('4')"> </a>件，超时未办结：<a id="overtimeReceiveNum" href="javascript:;" class="font-titleOvertimeColor" onclick="receiveSwitch('5')"> </a>件</p>
    				</div>
                </div>
            </div>
        </div>
    
        ##<div region="west" style="width:15%"></div>
        <div region="east" style="width:50%;position:static;" >
    		<div region="north" style="text-align: center;">
    		 <p style="font-size:40px;height:60px;margin-top: 10px;">
    			<select name="year" id="year_outer"   panelheight="auto" style="width:120px;font-size: 40px;">
                  <option value="$!{date.getYear()}" #if("!{docCode2}"=="$!{date.getYear()}") selected="selected" #end>$!{date.getYear()}</option>
                  #set( $lastYear = ${date.getYear()} - 1 )
                  <option value="$!{lastYear}" #if("!{docCode2}"=="$!{lastYear}") selected="selected" #end>$!{lastYear}</option>
                </select>
    			年公文限时办结统计（区直）
    		 </p>
    		 <p style="height: 30px;">（注：当前统计数据时间为：<span id="beginDate_outer"></span>至<span id="endDate_outer"></span>）</p>
    		 </div>
    		 <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'center'">
    				 <div id="send">
        				<p class="title">发文</p>
                        <p class="secondTitle">总共发文：<a id="sendTotalNum_outer" href="javascript:;" class="font-titlecolor" onclick="sendOuterSwitch('')"></a>件</p>
        				<p class="secondTitle">已办结：<a id="alreadySendNum_outer" href="javascript:;" class="font-titlecolor" onclick="sendOuterSwitch('1')"></a>件</p>
        				<p class="secondTitle">未办结：<a id="notSendNum_outer" href="javascript:;" class="font-titlecolor" onclick="sendOuterSwitch('0')"> </a>件</p>
        				<p class="secondWarnTitle">其中，超时未办结：<a id="overtimeSendNum_outer" href="javascript:;" class="font-titleOvertimeColor" onclick="sendOuterSwitch('4')"> </a>件</p>
    				 </div>
    				 <div id="receive">
    					<p class="title">收文</p>
        				<p class="secondTitle">总共收文：<a id="receiveTotalNum_outer" href="javascript:;" class="font-titlecolor" onclick="receiveOuterSwitch('')"></a>件</p>
        				<p class="secondTitle">已办结：<a id="alreadyReceiveNum_outer" href="javascript:;" class="font-titlecolor" onclick="receiveOuterSwitch('1')"></a>件</p>
        				<p class="secondTitle">未办结：<a id="notReceiveNum_outer" href="javascript:;" class="font-titlecolor" onclick="receiveOuterSwitch('0')"> </a>件</p>
        				<p class="secondWarnTitle">其中，超时未办结：<a id="overtimeReceiveNum_outer" href="javascript:;" class="font-titleOvertimeColor" onclick="receiveOuterSwitch('4')"> </a>件</p>
    				</div>
                </div>
            </div>
    	</div>
	<div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
			<li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
	</div>
</div>
　


#@script()
<script type="text/javascript">
 	
	$(function(){
		queryStatistic();
		
		//queryStatisticByOuter();
	});
	
	$('#year').change(function () {
     	queryStatistic();
	})
	
	$('#year_outer').change(function () {
     	queryStatisticByOuter();
	})
	
	// 统计数据
    function queryStatistic(){
		var year = $("#year").val();
		top.CC.loading("正在统计数据!");
        jQuery.ajax({
            url:"$link.getContextURL()/remotedocswap/statistic/statistic.json",
            data:{
                year: year
            },
            type:"post",
            async:false,
            dataType:"json",
            success:function(data) {
				top.CC.loaded();
    			$("a").each(function(){
            		var name = $(this).attr("id");
            		$("#" + name).text(data[name]);
        		});
    			$("span").each(function(){
            		var name = $(this).attr("id");
            		$("#" + name).text(data[name]);
        		});
				  
            }
        });
		
		setTimeout("queryStatisticByOuter()", 3000);

    }
	
	// 统计数据
    function queryStatisticByOuter(){
		var year = $("#year_outer").val();
		top.CC.loading("正在统计数据!");
        jQuery.ajax({
            url:"$link.getContextURL()/remotedocswap/statistic/statisticByOuter.json",
            data:{
                year: year
            },
            type:"post",
            async:false,
            dataType:"json",
            success:function(data) {
				top.CC.loaded();
    			$("a").each(function(){
            		var name = $(this).attr("id");
            		$("#" + name).text(data[name]);
        		});
    			$("span").each(function(){
            		var name = $(this).attr("id");
            		$("#" + name).text(data[name]);
        		});
				  
            }
        });
         
    }
	
	function sendSwitch(type){
		var year = $("#year").val();
		top.CC.addTab({title:'发送查询',url:'$link.getContextURL()/remotedocswap/statistic/listDocSendByStatistic?type=' + type + '&year=' + year});
	}
	
	function receiveSwitch(type){
		var year = $("#year").val();
		top.CC.addTab({title:'接收查询',url:'$link.getContextURL()/remotedocswap/statistic/listDocReceiveByStatistic?type=' + type + '&year=' + year});
	}
	
	function sendOuterSwitch(type){
		var year = $("#year_outer").val();
		top.CC.addTab({title:'发送列表',url:'$link.getContextURL()/remotedocswap/statistic/listSendByOuter?type=' + type + '&year=' + year});
	}
	
	function receiveOuterSwitch(type){
		var year = $("#year_outer").val();
		top.CC.addTab({title:'接收列表',url:'$link.getContextURL()/remotedocswap/statistic/listReceiveByOuter?type=' + type + '&year=' + year});
	}
</script>
 <style>
	
	#send{
        width:350px;
		height:200px;
        background-color:#f6f6f6;
        border: 1px solid #cccccc;
	    margin: 10px 20px 10px 150px;
    }
	
    #receive{
        width:350px;
		height:200px;
        background-color:#f6f6f6;
        border: 1px solid #cccccc;
		margin: 10px 20px 10px 150px;
    }
	
	.title{
        height: 40px;
        text-align: center;
        font-size: 20px;
        color: #aac5e7;
    }
	.secondTitle{
        height: 40px;
        font-size: 16px;
		    margin-left: 10px
    }
	
	.secondWarnTitle{
        height: 30px;
	    width: 330px;
        font-size: 14px;
		background-color:#ffdb8d;
        border: 1px solid #ffb68d;
		    margin-left: 10px
    }
	
	a.font-titlecolor:link, a.font-titlecolor:visited {
        color: #1689C7!important;
        font-size: 24px;
    }
	
	a.font-titleWarnColor:link, a.font-titleWarnColor:visited {
        color: yellow!important;
        font-size: 18px;
    }
	a.font-titleOvertimeColor:link, a.font-titleOvertimeColor:visited {
        color: red!important;
        font-size: 18px;
    }
    .layout-panel {
        position: static;
        overflow: hidden;
    }
	.layout{width:1825px !important;}
	.layout-panel-west{width:912px !important;float:left;}
	.layout-panel-east{width:912px !important;float:left;}
    .panel-fit, .panel-fit body {
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: auto;
    }	
</style>

#end
