#set($layout="/layout/choose.vm")
<div class="choose-box-wrapper" style="display: block; margin: 0px; padding: 0px;">
    <div class="choose-box">
        <div class="choose-box-title">$!__title<input type="button" class="btn-close" value="关闭" /></div>
#if($__nodeinfomap)
#set($__selectfirst=!${__nodeinfomap.isEmpty()})
        <div class="choose-a-select">
          <label class="form-fill-label">$!__selecttitle</label>
          <select id="selectsome" class="form-control1 form-fill-sm1">
            <option></option>
#foreach($__key in $__nodeinfomap.keySet())
            <option value="$!__key" #if($__selectfirst)selected="selected"#end>$!{__nodeinfomap.get($__key)}</option>
#set($__selectfirst=false)
#end
          </select>
        </div>
#end
        <div class="choose-box-select">
            <div class="choose-box-select-li">
                <div class="choose-box-select-title">可选部门</div>
                <select id="list1" style="width:160px; height:220px; border:#6C97D0 solid 1px;" multiple="multiple">
                </select>
            </div>
            <div class="choose-box-jt"></div>
            <div class="choose-box-select-li">
                <div class="choose-box-select-title">可选人员</div>
                <select id="list2" class="list2" style="width:150px; height:220px; border:#6C97D0 solid 1px;" multiple="multiple">
                </select>
            </div>
            <div class="choose-box-jt">
                <input type="submit" name="button" id="selectSingleBtn" value=" >"/>
                <input type="submit" name="button" id="selectAllBtn"  value=">>"/>
                <input type="submit" name="button" id="invertSingleBtn"value="< "/>
                <input type="submit" name="button" id="invertAllBtn"  value="<<"/>
            </div>
            <div class="choose-box-select-li">
                <div class="choose-box-select-title">已选人员</div>
                <select id="result" class="result" style="width:150px;height:220px; border:#6C97D0 solid 1px;" multiple="multiple"></select>
            </div>
        </div>
        <div class="choose-box-bottom">
            <input type="botton" class="btn-close" value="选择" />
        </div>
    </div>
</div>
#@script()
<script>
    $(document).ready(function() {
        var selectedDataMap = {};

        showLevel1();

        //添加列表项的click事件
        $("#list1").bind('change', function(){
            var item=$(this);
            var dataid = item.val();

            if (dataid) {
                //更新二层列表
                showLevel2(dataid);
            }

        });

        //添加列表项的click事件
        $("#list2").bind('change', function(){
            var item=$(this);
            var dataid = item.val();

            var itemopt = $("option[value='" + dataid + "']", item);

            if (dataid &&　itemopt) {
                //
            }
        });

        //添加选择的click事件
        $('.choose-box-title .btn-close').bind('click', function(){
                top.dialoginstance.close(null);
            }
        );
        $('.choose-box-bottom .btn-close').bind('click', function(){
            var returnid="";
            var returnname="";
            var result = $("#result");
            var opts = $("option", result);
            for (var index=0; index< opts.length; index++) {
                var itemopt = $(opts[index]);
                var dataid = itemopt.val();

                if (selectedDataMap[dataid]) {
                    if (returnid !== "") {
                        returnid = returnid + ",";
                        returnname = returnname + ",";
                    }
                    returnid = returnid + dataid;
                    returnname = returnname + itemopt.text();
                }

            }

#if($__nodeinfomap)
            var selectid="";
            var selectname="";
            var selectresult = $("#selectsome");
            if (selectresult) {
                selectid=selectresult.val();
                selectname=$("option[value='" + selectid + "']", selectresult).text();
            }
#end
            var returndata={
#if($__nodeinfomap)
                "selectid" : selectid,
                "selectname": selectname,
#end
                "id" : returnid,
                "name": returnname
            };
            top.dialoginstance.close(returndata);
        });

        $('#selectSingleBtn').bind('click', function(){
            var result = $("#result");
            var list2 = $("#list2");
            var selectedIndex = list2.val();
            for (var i in selectedIndex) {
                var dataid = selectedIndex[i];
                var itemopt = $("option[value='" + dataid + "']", list2);

                if (!selectedDataMap[dataid]) {
                    result.append("<option value='" + dataid + "'>" + itemopt.text() + "</option>");
                    selectedDataMap[dataid] = {id:dataid, name:itemopt.text()};
                }

                itemopt.remove();
            }
        });

        $('#selectAllBtn').bind('click', function(){
            var result = $("#result");
            var list2 = $("#list2");
            var opts = $("option", list2);;
            for (var index=0; index< opts.length; index++) {
                var itemopt = $(opts[index]);
                var dataid = itemopt.val();

                if (!selectedDataMap[dataid]) {
                    result.append("<option value='" + dataid + "'>" + itemopt.text() + "</option>");
                    selectedDataMap[dataid] = {id:dataid, name:itemopt.text()};
                }

                itemopt.remove();
            }
        });

        $('#invertSingleBtn').bind('click', function(){
            var result = $("#result");
            var selectedIndex = result.val();
            for (var i in selectedIndex) {
                var dataid = selectedIndex[i];
                var itemopt = $("option[value='" + dataid + "']", result);

                if (selectedDataMap[dataid]) {
                    selectedDataMap[dataid] = undefined;
                }

                itemopt.remove();
            }

            var list1 = $("#list1");
            var dataid = list1.val();
            if (dataid) {
                //更新二层列表
                showLevel2(dataid);
            }

        });

        $('#invertAllBtn').bind('click', function(){
            var result = $("#result");
            var opts = $("option", result);
            for (var index=0; index< opts.length; index++) {
                var itemopt = $(opts[index]);
                var dataid = itemopt.val();

                if (selectedDataMap[dataid]) {
                    selectedDataMap[dataid] = undefined;
                }

                itemopt.remove();
            }

            var list1 = $("#list1");
            var dataid = list1.val();
            if (dataid) {
                //更新二层列表
                showLevel2(dataid);
            }

        });

        function showLevel1()
        {
            //原先的列表清空
            var list1 = $("#list1");
            for(key in dataList)
            {
                data = dataList[key];
                $(list1).append("<option value='" + dataList[key].id + "'>" + dataList[key].name + "</option>");
            }

        }

        function showLevel2(parentId)
        {
            //原先的列表清空
            var list2 = $("#list2");
            list2.empty();
            if(parentId) {
                var dataitem = dataList[parentId];
                var children = dataitem.children;
                if (children) {
                    for(i=0;i<children.length;i++)
                    {
                        data = children[i];
                        if (!selectedDataMap[data.id]) {
                            $(list2).append("<option parentid='" + parentId + "' value='" + data.id + "'>" + data.name + "</option>");
                        }
                    }
                } else if (dataitem.childurl) {
                    $.get(dataitem.childurl, function(result){
                        if (result) {
                            var data = eval(result);
                            if (data) {
                                if (data.length && (data.length > 0)) {
                                    dataitem.children = data;
                                    showLevel2(parentId);
                                }
                            }
                        }
                    });
                }
            }
        }
    });
</script>
<script>
    #set($__first=true)
    var dataList ={
    #foreach($__d in $__dataList)
        #if(!$__first),#end
            #set($__first=false)
            "$!{__d.id}":{
            "id":"$!{__d.id}",
            "name":"$!{__d.name}",
            "childurl":"$!{__d.childurl}"
            #if (${__d.children} && !${__d.children.isEmpty()})
                ,
                "children":[
                #set($__first2=true)
                #foreach($__c in ${__d.children})
                    #if(!$__first2),#end
                        #set($__first2=false)
                        {
                        "id":"$!{__c.id}",
                        "name":"$!{__c.name}"
                        }
                #end
                ]
            #end
            }
    #end
    };
</script>
#end
