<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
		
		<a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg" data-options="nowrap:false" style="width:99%;">
            <thead>
            <tr>
				<th style="width:50%" data-options="field:'log'">内容</th>
                <th style="width:11%" data-options="field:'logTimeShow'">时间</th>
				<th style="width:6%" data-options="field:'logType'">类型</th>
				<th style="width:6%" data-options="field:'status'">状态</th>
				<th style="width:25%" data-options="field:'memo'">备忘</th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
         style="width:500px;height:320px;padding:20px 10px; background-color:#f4f4f4;display:none">
        <form id="queryForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="right">内容：</td>
                    <td align="left" colspan="3"><input id="title" name="$qc.like('log')" style="width:330px;" class="easyui-textbox" /></td>
                </tr>
                <tr>
                    <td align="right">时间：</td>
                    <td align="left" colspan="3">
                        <input name="$qc.greaterThanOrEqualTo('logTime')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
                        至
                        <input name="$qc.lessThanOrEqualTo('logTime')" class="easyui-datebox" data-options="editable:false" style="width:160px;">
                    </td>
                </tr>
				<tr>
                    <td align="right">类型：</td>
                    <td align="left" style="width:150px;">
                        <select name="$qc.equal('logType')" class="easyui-combobox" data-options="editable:false" style="width:150px;"
                            panelheight="auto">
							#formoption("" $dict.RemoteDocSwapLogType)
                        </select>
                    </td>
                    <td align="right">状态：</td>
                    <td align="left">
                        <select name="$qc.equal('status')" class="easyui-combobox" data-options="editable:false" style="width:110px;"
                            panelheight="auto">
							#formoption("" $dict.RemoteDocSwapLogStatus)
                        </select>
                    </td>
                </tr>
				
            </table>
         </form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    </div>
</div>
#parse("doc/remotedocswap/crud.js.vm")
#@script()
<script type="text/javascript">
    $(function () { // 给查询dialog中的 标题input 绑定回车事件
        $('#title').textbox('textbox').keydown(function (e) {
            if (e.keyCode == 13) {
               formSerach();
            }
        });
    })

    var _baseUrl = '$link.getContextURL()/remotedocswap/log';
    var _listJsonUrl = '/listDocLog.json';

    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

	//查询
    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

	//重置
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
	 
</script>
#end
