<tr align="center">
	<td class="bg-grey"><span><font color=red>*</font></span>申请人</td>
    <td class="bg-white">
		$!{esc.html($!{obj.creatorName})}
	</td>
    <td class="bg-grey"><span><font color=red>*</font></span>请假天数</td>
	<td class="bg-white">
		<input id="leaveDay" name="leaveDay" type="hidden" value="$!{obj.leaveDay}" />
		<span id="leavetimes">$!{obj.leaveDay}</span>&nbsp;天
	</td>
</tr>
<tr>
	<td class="bg-grey"><span><font color=red>*</font></span>请假日期</td>
	<td class="bg-white" colSpan="3">
		<input id="beginTime" name="beginTime" data-options="required:true,editable:false,onChange:dateChange" class="easyui-datetimebox" #if($!{obj.beginTime}) value="$!{obj.beginTime}" #else value="$date.get('yyyy-MM-dd HH:mm:ss')" #end/>
		&nbsp;&nbsp;至&nbsp;&nbsp;
		<input id="endTime" name="endTime" data-options="required:true,editable:false,onChange:dateChange,validType:'equaldDate[\'#beginTime\']'" class="easyui-datetimebox" #if($!{obj.endTime}) value="$!{obj.endTime}" #else value="$date.get('yyyy-MM-dd HH:mm:ss')" #end/>
	</td>
</tr>
<tr>
	<td class="bg-grey">假期类别</td>
	<td colSpan="3" class="bg-white">
		#if($!{leave.leaveType})
			<label><input type="radio" class="easyui-validatebox" #if($!{obj.leaveType.key}=='0') checked #end data-options="required:true" name="leaveType" value="0"/>公休假</label>
			<label><input type="radio" class="easyui-validatebox" #if($!{obj.leaveType.key}=='1') checked #end data-options="required:true" name="leaveType" value="1"/>补休假</label>
    		<label><input type="radio" class="easyui-validatebox" #if($!{obj.leaveType.key}=='2') checked #end data-options="required:true" name="leaveType" value="2"/>事假</label>
    		<label><input type="radio" class="easyui-validatebox" #if($!{obj.leaveType.key}=='3') checked #end data-options="required:true" name="leaveType" value="3"/>产假</label>
    		<label><input type="radio" class="easyui-validatebox" #if($!{obj.leaveType.key}=='4') checked #end data-options="required:true" name="leaveType" value="4"/>陪护假</label>
			<label><input type="radio" class="easyui-validatebox" #if($!{obj.leaveType.key}=='5') checked #end data-options="required:true" name="leaveType" value="5"/>婚假</label>
		#else
			<label><input type="radio" class="easyui-validatebox" checked data-options="required:true" name="leaveType" value="0"/>公休假</label>
			<label><input type="radio" class="easyui-validatebox"  data-options="required:true" name="leaveType" value="1"/>补休假</label>
			<label><input type="radio" class="easyui-validatebox"  data-options="required:true" name="leaveType" value="2"/>事假</label>
			<label><input type="radio" class="easyui-validatebox"  data-options="required:true" name="leaveType" value="3"/>产假</label>
			<label><input type="radio" class="easyui-validatebox"  data-options="required:true" name="leaveType" value="4"/>陪护假</label>
			<label><input type="radio" class="easyui-validatebox"  data-options="required:true" name="leaveType" value="5"/>婚假</label>
		#end
	</td>
</tr>
<tr>
	<td class="bg-grey"><span><font color=red>*</font></span>请假事由</td>
	<td colSpan="3" class="bg-white"  valign="top"  >
		<textarea name="reason" class="easyui-validatebox textareaborder" data-options="required:true, validType:'maxLength[200]'" style="width:99%;height:40px;resize:none;" >$!{esc.html($!{obj.reason})}</textarea>
	</td>
</tr>
<tr>
  <td class="bg-grey">附件</td>
  <td colSpan="3" class="bg-white" attachId="$!{obj.id}">
    #formfilemulty("attach", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('leaveAttach')", true, "#defaultUploadUrl('leaveAttach')",true)
  </td>
</tr>
