<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder">
            <form id="editForm" method="post">
                <table class="table-edit">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="bg-grey">标题</td>
                      <td class="bg-white" colspan="3">
                        $!{esc.html($!{notice.title})}
                      </td>
##                      <td class="bg-grey">密级</td>
##                      <td class="bg-white">
##                        $!{notice.miji.value}
##                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">发布范围</td>
                      <td class="bg-white">
                        $!{notice.publishType.value}
                      </td>
                      <td class="bg-grey">显示方式</td>
                      <td class="bg-white">
                        $!{notice.displayType.value}
                      </td>
                    </tr>
                    <tr id="publishDepTr">
                      <td class="bg-grey">公告部门</td>
                      <td class="bg-white" colspan="3">
                        $!{esc.html($!{notice.publishDept.deptName})}
                      </td>
                    </tr>
                    <tr>
                        <td class="bg-grey">内容</td>
                        <td colSpan="3" class="bg-white"  valign="top"  >
                            <textarea class="ckeditor" id="noticeContent" readonly name="noticeContent" cols="" style="resize:none;width:99%;">$!{notice.content}</textarea>
                            <script>
                                CKEDITOR.on('instanceReady', function(ev) {
                                    ev.editor.setReadOnly(true);
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">录入时间</td>
                      <td class="bg-white">
                        $!date.format('yyyy-MM-dd HH:mm',$!{notice.createDate})
                      </td>
                      <td class="bg-grey">发布时间</td>
                      <td class="bg-white"  class="bg-white" >
                        $!date.format('yyyy-MM-dd HH:mm',$!{notice.publishDate})
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">附件</td>
                      <td colSpan="3" class="bg-white" attachId="$!{notice.id}">
                        #formfilemulty("attach", "", "", "", $!{attachMap.get("$notice.id")},"#defaultDownloadUrl('noticeattach')", false, "#defaultUploadUrl('noticeattach')", false)
                      </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){
        CKEDITOR.replace('noticeContent', { height: '330px'});
##        $("#title").textbox("textbox").focus();

        #if('1' != $!{notice.publishType.key})
        $("#publishDepTr").hide();
        #end

        $('#department').textbox('disableValidation');

        // 绑定发布范围的选择
        $(':radio[name="publishType"]').on('change', function (e) {
            var chkVal = $(':radio[name="publishType"]:checked').val();
            if (chkVal == "0") {// 单位公告
                $("#publishDepTr").hide();
                $('#department').textbox('disableValidation');
                $('#department').textbox('setValue', '');
                $('#publishDepId').val('');
            } else if (chkVal == "1") {// 部门公告
                $("#publishDepTr").show();
                $('#department').textbox('enableValidation');
            }
        });
    })

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.addTab({title:'公告管理',url:'$link.getContextURL()/oa/notice/list'});
        top.CC.closeTab('公告编辑');
    }

    function publish(){
        var value = CKEDITOR.instances.noticeContent.getData();
        if(value.length >2000){
          top.CC.messager({
                title:'提示',
                msg:'内容不能超过2000个字符'
            });
            return;
        }
        $('#content').val(value);
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/oa/notice/save.json",$("#editForm").serialize(),function(result){
                  if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'发布成功！'
                    });
                    back();
                  }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
        }
    }

    //暂存
    function saveTemp(){
        var value = CKEDITOR.instances.noticeContent.getData();
        $('#content').val(value);
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/oa/notice/saveTemp.json",$("#editForm").serialize(),function(result){
                  if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'暂存成功！'
                    });
                      back();
                  }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                  }
            });
        }
    }

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function fnSelectDepCallback(obj){
        $("#department").textbox('setValue',obj.text);
        $("#publishDepId").val(obj.id);
    }
</script>
##<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
##<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
<style>.cke_top{display:none !important;}</style>
