<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
		<a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg" data-options="nowrap:false" style="width:99%;">
            <thead>
            <tr>
                ##<th style="width:5" data-options="field:'attachFlag',formatter:attFlag"><img src='images/attach.png' title='有附件'/></th>
				<th style="width:36%" data-options="field:'title',formatter:detailUrl,sortable:true">公文标题</th>
                <th style="width:16%" data-options="field:'senderAncestorName'">来文单位</th>
				<th style="width:10%" data-options="field:'sendTimeShow',sortable:true">发送时间</th>
				<th style="width:14%" data-options="field:'limitTimeShow',formatter:limitTimeFormatter,sortable:true">总剩余天数</th>
				<th style="width:8%" data-options="field:'signerName'">签收人</th>
				<th style="width:10%" data-options="field:'signDateShow',sortable:true">签收时间</th>
				<th style="width:5%" data-options="field:'documentType'">公文类型</th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
         style="width:500px;height:380px;padding:20px 10px; background-color:#f4f4f4;display:none">
        <input type="hidden" name="$qc.equal('receiveFlag')" value="$!{receiveFlag}" id="receiveFlag" class="extra-condition"/>
        <form id="queryForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="right">公文标题：</td>
                    <td colspan="3"><input id="title" name="$qc.like('title')" style="width:320px;" class="easyui-textbox" /></td>
                </tr>
				<tr>
                    <td align="right">来文单位：</td>
                    <td colspan="3">
                        <input id="senderAncestorName" name="$qc.like('senderAncestorName')" class="easyui-textbox" style="width:320px;" />
                    </td>
                </tr>
				<tr>
                    <td align="right">发送时间：</td>
                    <td align="left" colspan="3">
                        <input name="$qc.greaterThanOrEqualTo('sendTime')" class="easyui-datebox" value="$!{firstDay}" data-options="editable:false" style="width:150px;">
							至
                        <input name="$qc.lessThanOrEqualTo('sendTime')" class="easyui-datebox" value="$!{lastDay}" data-options="editable:false" style="width:150px;">
                    </td>
                </tr>
				<tr>
                    <td align="right">限办时间：</td>
                    <td align="left" colspan="3">
                        <input name="$qc.greaterThanOrEqualTo('limitTime')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
							至
                        <input name="$qc.lessThanOrEqualTo('limitTime')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
                    </td>
                </tr>
				<tr>
                    <td align="right">签收时间：</td>
                    <td align="left" colspan="3">
                        <input name="$qc.greaterThanOrEqualTo('signDate')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
							至
                        <input name="$qc.lessThanOrEqualTo('signDate')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
                    </td>
                </tr>
				<tr>
                    <td align="right">公文类型：</td>
                    <td align="left" style="width:150px;">
                        <select id="envStatus" name="$qc.equal('documentType')" class="easyui-combobox" data-options="editable:false" style="width:150px;"
                            panelheight="auto">
                            #formoption("" $dict.RemoteDocSwapType)
                        </select>
                    </td>
					<td align="right" style="width:80px;">签收人：</td>
                    <td align="left">
						<input name="$qc.like('signerName')" style="width:90px;" class="easyui-textbox" />
					</td>
                </tr>
            </table>
         </form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    </div>
</div>
#parse("doc/remotedocswap/crud.js.vm")
#@script()
<script type="text/javascript">
    $(function () { // 给查询dialog中的 标题input 绑定回车事件
        $('#title').textbox('textbox').keydown(function (e) {
            if (e.keyCode == 13) {
               formSerach();
            }
        });
    })

    var _baseUrl = '$link.getContextURL()/remotedocswap';
    var _listJsonUrl = '/listDocReceiveDoing.json';

    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
	
    /*总剩余天数格式化*/
    function limitTimeFormatter(value, row, index) {
		var limitDays = row.calDeadlineDay;
		if(value && limitDays > 0){
			return limitDays + '天<br>[' + value + ']';
		}else if(value && limitDays == 0){
			return '<font color="red">今天</font><br>[' + value + ']';
		}else if(value && limitDays < 0){
			return '<font color="red">超时' + limitDays*-1 + '天</font><br>[' + value + ']';
		}else{
			return '非限时';
		}
		 
    }

	//查询
    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

	//重置
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }
	
	 function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }
	
    function detailRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
		
		url = "$link.getContextURL()/remotedocswap/detailDocSwap?id="+row.id + "&queryFlag=docDoing";
        top.CC.addTab({title:'公文交换详情',url:url});
    }
	
    function detailUrl(value,row) {
        var display = "<span><font color=red>[置顶]</font></span>";
        if ("置顶" == row.displayType) {
            return display + "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
        } else {
            return "<a href='javascript:;' class='font-titlecolor' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
        }
    } 
 
</script>
#end
