<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" >
		<div data-options="region:'center',border:false" class="mynoborder mainborder-Padding">
        <form id="editForm" method="post">
            <input type="hidden" id="id" name="id" value="$!{envelope.id}"/>
            <table class="table-edit" title="签收详情">
				<tr>
                    <td class="bg-grey">状态</td>
                    <td class="bg-white" colspan="3">
                        $!{envelope.envStatus.value}
                    </td>
                </tr>
				<tr>
                    <td class="bg-grey">公文标题</td>
                    <td class="bg-white" colspan="3">
                        $!{esc.html($!{envelope.title})}
                    </td>
                </tr>
				<tr>
					#if($!{envelope.receiveFlag}==0)
                    <td class="bg-grey" style="width:150px;">收文单位</td>
                    <td class="bg-white">
                        $!{esc.html($!{envelope.secondaryUnitIdentifierName})}
                    </td>
					 #else
					<td class="bg-grey" style="width:150px;">发文单位</td>
                    <td class="bg-white">
                        $!{esc.html($!{envelope.senderAncestorName})}
                    </td>
					#end
                    <td class="bg-grey" style="width:150px;">发文字号</td>
                    <td class="bg-white">
                        $!{esc.html($!{envelopeContent.docNumber})}
                    </td>
                </tr>
				<tr>
                    <td class="bg-grey" style="width:150px;">限办时间</td>
                    <td class="bg-white" colspan="3">
                        #if($!{envelope.limitTime})
                            <span style="font-weight: bold">$!date.format('yyyy-MM-dd HH:mm:ss',$!{envelope.limitTime})</span>
                            #if($!{envelope.envStatus}==0||$!{envelope.envStatus}==1||$!{envelope.envStatus}==2)
                                #if($!{envelope.calDeadlineDay}&&$!{envelope.calDeadlineDay}>=0)
                                    (剩余天数：$!{envelope.calDeadlineDay})
                                #elseif($!{envelope.calDeadlineDay}&&$!{envelope.calDeadlineDay}<0)
                                    #set($absLimitDay = $!envelope.calDeadlineDay*-1)
                                    (超时天数：$!{absLimitDay})
                                #end
                            #end
                        #else 无办理时限
                        #end
                    </td>
                     
                </tr>
				<tr>
                    <td class="bg-grey" style="width:150px;">紧急程度</td>
                    <td class="bg-white">
                        $!{envelopeContent.emergencyLevel.value}
                    </td>
                    <td class="bg-grey" style="width:150px;">密&nbsp;&nbsp;级</td>
                    <td class="bg-white">
						非涉密
                    </td>
                </tr>
				<tr>
                    <td class="bg-grey">签收人</td>
                    <td class="bg-white">
                        $!{esc.html($!{envelope.signerName})}
                    </td>
                    <td class="bg-grey">签收日期</td>
                    <td class="bg-white">
                        $!date.format('yyyy-MM-dd HH:mm:ss',$!{envelope.signDate})
                    </td>
                </tr>
				<tr>
                    <td class="bg-grey">备注</td>
                    <td class="bg-white" colspan="3">
                        $!{esc.html($!{envelope.remark})}
                    </td>
                </tr>
				<tr>
                    <td class="bg-grey">正文</td>
                    <td class="bg-white" colspan="3">
						#formremotedocswapfilemulti("attach", "", "", "", $!{docFilehMap.get("$envelopeContent.id")},"#defaultDownloadUrl('remotedocswap')", false, "#defaultUploadUrl('remotedocswap')",false)
                    </td>
                </tr>
                <tr>
                    <td class="bg-grey">附件</td>
                    <td colspan="3" class="bg-white" attachId="$!{envelopeContent.id}">
						#formremotedocswapfilemulti("attach", "", "", "", $!{attachMap.get("$envelopeContent.id")},"#defaultDownloadUrl('remotedocswap')", false, "#defaultUploadUrl('remotedocswap')",false)
                    </td>
                </tr>
            </table>
        </form>
    	</div>
    </div>
	<div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
				## 收到的公文
			#if($!{envelope.receiveFlag}==1)
				## 状态==1
				#if($!{envelope.envStatus}==1)
					<li><a onclick="receiveDocSwap('$!{envelope.id}')" class="new-but">签收</a></li>
					<li><a onclick="returnEnvelope('$!{envelope.id}')" class="new-but">退回</a></li>
				#end
				<li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
			#end
            </ul>
        </div>
	</div>
</div>
　


<div id="editWindow" class="easyui-window" title="签收" style="width:700px;height:220px;padding:5px"
    data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
	
	//签收
    function receiveDocSwap(envelopeId){
		$('#editWindow').panel({title:"签收"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 220
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=receiveDocSwap');
    }
	
    //退回
    function returnEnvelope(envelopeId){
		$('#editWindow').panel({title:"退回"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 250
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=returnEnvelope');
    }
	 
	
 
</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
