<div id="select_dialog_frame" class="easyui-dialog" style="overflow-y:hidden" closed="true" modal="true" title=" " data-options="onClose:function(){closeSelectDialogFrameDialog();}">
<iframe id="select_dialog_frame_Iframe" scrolling="auto" frameborder="0"  src="about:blank" style="width:100%;height:99%;"> </iframe>
</div>

#@script()
<script>
var selectdialogframe_callback;
var selectdialogframe_url="about:blank";
var selectdialogframe_webOffice;

function openSelectDialogFrameDialog(url, callback,webOffice){
    selectdialogframe_callback = callback;
    var iframedom=$('#select_dialog_frame_Iframe')[0];
	selectdialogframe_webOffice = webOffice;
    selectdialogframe_url = url;
    iframedom.src="about:blank";
    $('#select_dialog_frame').dialog({"title":" ", closed:false, width:300, height:250});
    $('#select_dialog_frame').dialog("center");
    var now= new Date();
    iframedom.src="${link.relativeContext()}loading.html?_t=" + now.getTime();
}

function setSelectDialogFrameDialogTitle(title){
    var param = {"title":title, closed:false};
    var needCenter = false;

    var iframe = document.getElementById("select_dialog_frame_Iframe");
    try{
        var bHeight = iframe.contentWindow.document.body.scrollHeight;
        var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
        var height = Math.max(bHeight, dHeight);
        if (height) {
            param.height = height+45;
            needCenter = true;
        }
    }catch (ex){
    }
    try{
        var bWidth = iframe.contentWindow.document.body.scrollWidth;
        var dWidth = iframe.contentWindow.document.documentElement.scrollWidth;
        var width = Math.max(bWidth, dWidth);
        if (height) {
            param.width = width+3;
##        param.width = width + 0;
            needCenter = true;
        }
    }catch (ex){
    }
    $('#select_dialog_frame').dialog(param);

    if (needCenter) {
        $('#select_dialog_frame').dialog("center");
    }

}

function toSelectDialogFrameDialogUrl(){
    var iframedom=$('#select_dialog_frame_Iframe')[0];
    iframedom.src=selectdialogframe_url;
}

function okSelectDialogFrameDialog(selectData){
    if (selectdialogframe_callback) {
        if (false === selectdialogframe_callback(selectData)) {
            return false;
        }
    }
    closeSelectDialogFrameDialog();
    return true;
}

function closeSelectDialogFrameDialog(){
    $('#select_dialog_frame_Iframe')[0].src="about:blank";
    $('#select_dialog_frame').dialog({"title":" ", closed:true});
    selectdialogframe_callback=null;
    selectdialogframe_url="about:blank";
	if (selectdialogframe_webOffice) {
        if (false === selectdialogframe_webOffice('WebOffice2009')) {
            return false;
        }
    }
}

</script>
#end
