<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" class="mynoborder mainborder-Padding">
            <form id="editForm" method="post">
                <input type="hidden" id="id" name="id" value="$!{envelope.id}"/>
				<input id="returnType" type="hidden" value="$!{returnType}"/>
				<input name="feedBackType" id="feedBackType" type="hidden" value="0"/>##正文反馈：0
                <input type="hidden" name="identifier" value="007565768-N-2014G001000000003"/>##（电子公文：007565768-N-2014G001000000003）

                <table class="table-edit">
					<tr>
                        <td class="bg-grey" style="width:150px;">紧急程度</td>
                        <td class="bg-white">
                            <input style="width:99%;" editable="false" class="easyui-textbox" value="$!{envelopeContent.emergencyLevel.value}"/>
							<input type="hidden" name="emergencyLevel" value="$!{envelopeContent.emergencyLevel}"/>                        
						</td>
						<td class="bg-grey" style="width:150px;">密级</td>
                        <td class="bg-white">
                            <input style="width:99%;" name="secretLevel" editable="false" data-options="required:true" class="easyui-textbox" value="非涉密"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" style="width:150px;"><span><font color=red>*</font></span>公文标题</td>
                        <td class="bg-white" colspan="3">
                            <textarea name="title" class="easyui-validatebox textareaborder" data-options="required:true,validType:'maxLength[250]'" style="width:99%;height:40px;resize:none;" >(回复)$!{esc.html($!{envelope.title})}</textarea>
                        </td>
                    </tr>
					<tr>
                        <td class="bg-grey" style="width:150px;"><span><font color=red>*</font></span>发文字号</td>
                        <td class="bg-white">
                            ##<input style="width:99%;" name="docNumber" data-options="required:true" class="easyui-textbox" value="$!{esc.html($!{envelopeContent.docNumber})}"/>
							<input type="hidden" id="docNumber" name="docNumber" value="$!{envelopeContent.docNumber}"/>
                            ##<input type="text" id="docCode1" value="$!{docCode1}" class="easyui-textbox" style="width:80px;"/>&nbsp;[&nbsp;
                            <select name="docCode1" id="docCate" class="easyui-combobox"  panelheight="auto" style="width:100px;">
								<option value="" #if("" == "$!{docCode1}") selected #end >--请选择--</option>
                                     #foreach( $codeList in $!{docCodeList} )
										1
                                     <option value="$!{codeList.docCate}" #if("$!{codeList.docCate}" == "$!{docCode1}") selected #end >$!{codeList.docCate.value}</option>
                                     #end
                            </select>&nbsp;
							<select id="codeName" class="easyui-combobox" panelheight="auto" data-options="valueField:'codeName',textField:'codeName',width:100">  
                            <option value="" selected  >--请选择--</option>
							</select>
							&nbsp;
							<input type="text" id="docCode1" value="$!{docCode1}" data-options="required:true" class="easyui-textbox" style="width:100px;"/>
							&nbsp;[&nbsp;
                            <select name="docCode2" id="docCode2" class="easyui-combobox" data-options="editable:false" panelheight="auto" style="width:60px;">
                              <option value="$!{date.getYear()}" #if("!{docCode2}"=="$!{date.getYear()}") selected="selected" #end>$!{date.getYear()}</option>
                              #set( $lastYear = ${date.getYear()} - 1 )
                              <option value="$!{lastYear}" #if("!{docCode2}"=="$!{lastYear}") selected="selected" #end>$!{lastYear}</option>
                            </select>&nbsp;]&nbsp;
                            <input type="text" id="docCode3" value="$!{docCode3}" data-options="required:true" class="easyui-textbox" style="width:50px;"/>号
						</td>
						<td class="bg-grey">印发日期</td>
                        <td class="bg-white">
                            <input style="width:120px;" name="printDate" data-options="required:true,editable:false" class="easyui-datebox" value="$!date.format('yyyy-MM-dd',$!{currentDate})"/>
                        </td>
                    </tr>
					 
					<tr>
                        <td class="bg-grey">印发机关</td>
                        <td class="bg-white">
                            <input style="width:99%;" name="printOrg" class="easyui-textbox" value="$!{esc.html($!{envelopeContent.printOrg})}"/>
                        </td>
                        <td class="bg-grey">成文日期</td>
                        <td class="bg-white">
                            <input style="width:120px;" name="docFileTime" data-options="required:true,editable:false" class="easyui-datebox" value=""/>
                        </td>
                    </tr>
					<tr>
						<td class="bg-grey">签发人</td>
                        <td class="bg-white" colspan="3">
                            <input style="width:100%;" name="signReceiveMan" class="easyui-textbox" value="$!{currentUser.userName}"/>
                        </td>
                    </tr>
                    <tr>
						<td class="bg-grey">联系人</td>
                        <td class="bg-white">
                            <input style="width:100%;" name="contactName" class="easyui-textbox" value="$!{currentUser.userName}"/>
                        </td>
                        <td class="bg-grey">联系方式</td>
                        <td class="bg-white">
                            <input style="width:100%;" name="contactPhone" class="easyui-textbox" value="$!{currentUser.mobile}"/>
                        </td>
                        
                    </tr>
                    <tr>
                      <td class="bg-grey">正文</td>
                      <td colspan="3" class="bg-white" attachId="">
							#formremotedocswapfile("gdFileId","gwFileId","tifFileId", "", "", "", "", "", "","#defaultDownloadUrl('remotedocswap')", true, "#defaultUploadUrl('remotedocswap')",true)
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">附件</td>
                      <td colspan="3" class="bg-white" attachId="">
							#formfilemulty("swapFileAttachId", "", "", "", "","#defaultDownloadUrl('remotedocswap')", true, "#defaultUploadUrl('remotedocswap')",true)
                      </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" class="bottom-h">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="publish()" class="new-but">发送</a></li>
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
    $(function(){
				$('#codeName').combobox({  
                    onLoadSuccess :function(){
						var docCateValue = $('#docCate').combobox('getValue');
                        if(""!=docCateValue){
							var val = $('#codeName').combobox("getData");  
    						$('#codeName').combobox('select',val[0].codeName);
							
						}
                	},
				  	onSelect: function () {
    					var codeNameValue = $('#codeName').combobox('getValue');
						var docCateValue = $('#docCate').combobox('getValue');
                        if(""!=docCateValue){
    						$('#docCode1').textbox('setValue',codeNameValue);
    					}else{
    						$('#docCode1').textbox('setValue','');
    					}
					}
				}); 
				
				$('#docCate').combobox({  
                    onSelect: function () {
						var docCateValue = $('#docCate').combobox('getValue');
                        if(""!=docCateValue){
							var url = '$link.getContextURL()/remotedocswap/getCodeNameByDocCate.json?docCate=' + docCateValue;  
                        	$('#codeName').combobox('reload', url);
						}else{
							$('#codeName').combobox('loadData', {});
							$('#codeName').combobox('select','--请选择--');
						}
                    }  
                }); 
				 

    })

    //返回
    function back() {
        top.CC.addTab({title:'公文交换详情',url:"$link.getContextURL()/remotedocswap/detailDocSwap?id="+$!{envelope.id} + "&queryFlag=send"});
        top.CC.closeTab('正文反馈');
    }

	//拼接文号
	function createDocNumber(){
		var docCode1 = $('#docCode1').textbox('getValue');
		var docCode2 = $('#docCode2').combobox('getValue');
		var docCode3 = $('#docCode3').textbox('getValue');
		var docNumber = docCode1 + '〔' + docCode2 + '〕' + docCode3 + '号';
		return docNumber;
	}
	
    function publish(){
        if($("#editForm").form('validate')) {
			
			$("#docNumber").val(createDocNumber());
			
			//检查附件
            if (!$("#gdFileId").val()) {
                alert("请上传正文附件。");
                return false;
            }
            if (!$("#gwFileId").val()) {
                alert("请上传正文附件。");
                return false;
            }
            if (!$("#tifFileId").val()) {
                alert("请上传正文附件。");
                return false;
            }
    		
            top.CC.loading("正在发送数据!");
            $.post("$link.getContextURL()/remotedocswap/send.json",$("#editForm").serialize(),function(result){
                top.CC.loaded();
                if(result.id){
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'发送成功！'
                    });
					
					if("paperdoc" == $("#returnType").val()){
						top.CC.addTab({title:'纸质公文办理查询',url:'$link.getContextURL()/remotedocswap/paperDoc/list'});
					}else if("docDoing" == $("#returnType").val()){
        			  	top.CC.addTab({title:'电子公文办理查询',url:'$link.getContextURL()/remotedocswap/docReceiveDoing/list'});
					}else{
        			  	top.CC.addTab({title:'已签收查询',url:'$link.getContextURL()/remotedocswap/docReceive/list'});
					}
        	  		top.CC.closeTab('正文反馈');
                }else{
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }
 
</script>
<link href="themes/default/style_xoa.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
<style>
.filelistmulti{
    display: block;
    float: left;
    line-height:25px;
    width: 100%;
}
.uploadedfile{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
.uploadafter{
    display: inline-block;
    float: right;
    width: 200px;
}
</style>
#end
