#set($returnPage="list")
<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
<div class="easyui-layout" fit="true">
<div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">

<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" onclick="newPage()"
        plain="true">新增</a>
<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" onclick="editPage()"
        plain="true">修改</a>
<a href="javascript:;" class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-remove"
        plain="true">删除</a>
<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-download-alt" onclick="exportExcel()"   plain="true">导出</a>
<i></i>
<a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
 <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
</div>

<div class="cc-tableWrap" data-options="region:'center',border:false">
<table id="dg" data-options="nowrap:false" style="width:100%;">
    <thead>
    <tr>
        <th style="width:15%" data-options="field:'pname',formatter:detailUrl">姓名</th>
        <th style="width:30%" data-options="field:'unitName'">所属部门</th>
        <th style="width:10%" data-options="field:'duty'">职务</th>
        <th style="width:10%" data-options="field:'phone'">办公电话</th>
        <th style="width:15%" data-options="field:'mobile'">手机</th>
        <th style="width:18%" data-options="field:'email'">Email</th>
    </tr>
    </thead>
</table>
</div>
<div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'" style="width:500px;height:250px;display:none;padding:20px 10px;background-color:#f4f4f4;">
<form id="queryForm">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="text-align: right">姓名：</td>
            <td><input id="title" name="$qc.like('pname')" class="easyui-textbox" style="width:350px" /></td>
        </tr>
        <tr>
            <td style="text-align: right">所属部门：</td>
            <td>
                <input name="$qc.like('unitName')" class="easyui-textbox" style="width:350px"/>
            </td>
        </tr>
    </table>
</form>
    <div id="bnts" style="top:0px; height:25px; width:auto;">
        <a class="new-but" onclick="formSerach()">确定</a>
        <a class="new-but" onclick="reset()">重置</a>
    </div>
  </div>
</div>
</div>
#parse("common/easyui/operatorcolumn.js.vm")
#parse("oa/address/personal/crud.js.vm")
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()/oa/address/personal';
    var _listJsonUrl = '/list.json';

    function newPage(){
        var url = _baseUrl + '/new';
        top.CC.addTab({title:'个人通讯录编辑',url:url});
    }

    function editPage(){
        var rows = $("#dg").datagrid("getChecked");
        if(rows){
            if (rows.length < 1) {
                top.CC.messager({
                    title: '错误',
                    msg: '请选择一条数据!'
                });
            } else if (rows.length > 1) {
                top.CC.messager({
                    title: '错误',
                    msg: '只能对一条数据进行修改!'
                });
            } else {
                top.CC.addTab({title:'个人通讯录编辑',url:_baseUrl+'/edit?id='+rows[0].id});
            }

        } else {
            top.CC.messager({
                title: '错误',
                msg: '服务器连接不上!'
            });
        }
    }

    function exportExcel() {
        $.messager.confirm('提示','确定要导出通讯录吗?',function(r){
            if (r){
                window.location = _baseUrl + "/export.json";
            }
        });
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function save(){
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/oa/address/personal/save.json",$("#editForm").serialize(),function(result){
              if(result.id){
                $('#id').val(result.id);
                $('#editWindow').window('close');
                $('#dg').datagrid('reload');
                top.CC.messager({
                    title:'提示',
                    msg:'保存成功！'
                });
              }else{
                top.CC.messager({
                    title:'提示',
                    msg:'服务器连接不上'
                });
              }
            });
        }
    }
</script>
#end