<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-transfer"
                plain="true" onclick = "changeRcFile()">迁移</a>
		<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-borrow"
                plain="true" onclick = "borrowRcFile()">借阅</a>
		<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-rcfile"
                plain="true" onclick = "returnRcFile()">归还</a>		
        <a href="javascript:;" class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-destroy"
                plain="true" onclick = "destroyFile()" >销毁</a>
        <i></i>
         <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
                class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
         <a  onclick="top.CC.closeCurTab()"
                class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>

    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg"  data-options="nowrap:false" fit="true">
            <thead>
                <tr>
                    <th field="ck" data-options="checkbox:true"></th>
					<th style="width:17%" data-options="field:'title',formatter:detailUrl,sortable:true">文件标题</th>
					<th style="width:7%" data-options="field:'counterNoName'">柜位号</th>
					<th style="width:7%" data-options="field:'archTypeName'">案卷类型</th>
                    <th style="width:10%" data-options="field:'archName',sortable:true">案卷名</th>
                    <th style="width:13%" data-options="field:'archNo',sortable:true">案卷号</th>
					<th style="width:7%" data-options="field:'mediumTypeName'">介质类型</th>
                    <th style="width:4%" data-options="field:'archYear'">年份</th>
					<th style="width:8%" data-options="field:'retentionDateShow'">保留期限</th>
					<th style="width:8%" data-options="field:'createDateShow',sortable:true">立卷日期</th>
                    <th style="width:5%" data-options="field:'fileType'">档案类型</th>
                    <th style="width:6%" data-options="field:'archStatus',formatter:archStatusShow">档案状态</th>
					<th style="width:6%" data-options="field:'operate',align:'center',formatter:operaterFormatter">操作</th>
                </tr>
            </thead>
        </table>
		<div id="operateColumn" class="cc-operateColum">
			<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-qrcode" plain="true" onclick = "QRcode('__archNo__')">二维码</a>
		</div>
    </div>
    <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
        style="width:600px;height:300px;padding:20px 10px; background-color:#f4f4f4;display:none;">
        <form id="queryForm">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="fix_td_title" style="width:100px;">&nbsp;</td>
			                <td class="fix_td_data" style="width:100px;">&nbsp;</td>
			                <td class="fix_td_title" style="width:100px;">&nbsp;</td>
			                <td class="fix_td_data" style="width:100px;">&nbsp;</td>
                        </tr>
                        <tr align="center">
                            <td style="text-align: right">文件标题：</td>
                            <td colspan="3">
								<input id = "title" style="width:463px;" name="$qc.like('title')" class="easyui-textbox"/>
                            </td>
                        </tr>
						<tr align="center">
							<td style="text-align: right">柜位号：</td>
							<td>
								<select name="$qc.equal('counterNo')" id="counterNo" class="easyui-combobox" data-options="required:true,editable:false" panelheight="auto" style="width:145px;">
									<option value="">-请选择-</option>
									#foreach($obj in $fileCabinetList)
										<option value="$obj.basicCode">$obj.basicName</option>
									#end
                                </select>
                            </td>
							<td style="text-align: right">案卷类型：</td>
							<td>
								<select name="$qc.equal('archType')" id="archType" class="easyui-combobox" data-options="required:true,editable:false" panelheight="auto" style="width:145px;">
									<option value="">-请选择-</option>
									#foreach($obj in $dossierTypeList)
										<option value="$obj.basicCode">$obj.basicName</option>
									#end
                                </select>
                            </td>
                        </tr>
						<tr align="center">
							<td style="text-align: right">案卷名：</td>
							<td>
								<input id="archName" style="width:145px;" name="$qc.like('archName')" class="easyui-textbox" />
                            </td>
							<td style="text-align: right">案卷号：</td>
							<td>
								<input id="archNo" style="width:145px;" name="$qc.like('archNo')" class="easyui-textbox" />
                            </td>
                        </tr>
						<tr align="center">
							<td style="text-align: right">案卷类型：</td>
							<td>
								<select name="$qc.equal('fileType')" id="fileType" class="easyui-combobox" data-options="required:true,editable:false" panelheight="auto" style="width:145px;">
									#formoption("$!{obj.fileType}" $dict.FileType)
                                </select>
                            </td>
							<td style="text-align: right">案卷状态：</td>
							<td>
								<select name="$qc.equal('archStatus')" id="archStatus" class="easyui-combobox" data-options="required:true,editable:false" panelheight="auto" style="width:145px;">
									#formoption("$!{obj.archStatus}" $dict.ArchStatus)
                                </select>
                            </td>
                        </tr>
					</tbody>
                </table>
         </form>
         <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
         </div>
    </div>
    <div id="editWindow" class="easyui-window" title="文件迁移" style="width:30%;height:77%;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
    </div>
	<div id="detailBorrowWindow" class="easyui-window" title="借阅记录" style="width:70%;height:77%;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
    </div>
	<div id="QRcodeWindow" class="easyui-window" title="二维码" style="width:25%;height:55%;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
    </div>
</div>
#parse("doc/archives/file/crud.js.vm")
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()/doc/archives';
    var _listJsonUrl = '/listArchived.json';
    var _delJsonUrl = '/deleteFile.json';
	
	function QRcode(archNo) {
		$('#QRcodeWindow').window('open');
      	$('#QRcodeWindow').window('refresh',"$link.getContextURL()/doc/archives/detailQRcode?archNo=" + archNo);
    }
	
    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function changeRcFile(){
       	var rows = $("#dg").datagrid("getChecked");
       	if(rows){
        	if (rows.length < 1) {
            	top.CC.messager({
           			title: '错误',
     				msg: '请选择至少一条数据进行迁移!'
           		});
			}else {
       			var ids = "";
       			for(var i=0;i<rows.length;i++){
       				if(i==rows.length-1){
      					ids += rows[i].id.toString();
             		}else{
            			ids += rows[i].id.toString() + ",";
         			}
          		}
				var j = 0;
				if(j==rows.length-1){
					$('#editWindow').panel('resize',{
            			width: 400,
            			height: 575
        			});
				}else{
					$('#editWindow').panel('resize',{
            			width: 400,
            			height: 420
        			});
				}
				$('#editWindow').window('open');
      			$('#editWindow').window('refresh','$link.getContextURL()/doc/archives/selectArch?ids='+ids );
       		}
     	}else {
    		top.CC.messager({
  				title: '错误',
  				msg: '服务器连接不上!'
   			});
  		}
    }
	
	function borrowRcFile(){
       	var rows = $("#dg").datagrid("getChecked");
   		if(rows){
     		if (rows.length < 1) {
      			top.CC.messager({
         			title: '错误',
            		msg: '请选择至少一条数据!'
        		});
           	}else {
           		var ids = "";
				var archstatus = "";
        		for(var i=0;i<rows.length;i++){
          			if(i==rows.length-1){
                 		ids += rows[i].id.toString();
						if(rows[i].archStatus != "在库"){
							archstatus += "1";
						}
               		}else{
              			ids += rows[i].id.toString() + ",";
						if(rows[i].archStatus != "在库"){
							archstatus += "1";
						}
            		}
          		}
				if(archstatus != ""){
					top.CC.messager({
       					title: '错误',
      					msg: '请选择在库的档案借阅!'
               		});
				}else{
					if(rows.length>1){
						$('#editWindow').panel('resize',{
            				width: 400,
            				height: 350
        				});
					}else{
						$('#editWindow').panel('resize',{
            				width: 400,
            				height: 350
        				});
					}
					$('#editWindow').panel({title:"文件借阅"});
					$('#editWindow').window('open');
               		$('#editWindow').window('refresh','$link.getContextURL()/doc/archives/borrow/edit?ids='+ids );
				}
     		}
		}else {
			top.CC.messager({
     			title: '错误',
        		msg: '服务器连接不上!'
			});
 		}
    }
	
	function destroyFile(){
       	var rows = $("#dg").datagrid("getChecked");
       	if(rows){
        	if (rows.length < 1) {
            	top.CC.messager({
           			title: '错误',
     				msg: '请选择至少一条数据进行销毁!'
           		});
			}else {
       			var ids = "";
       			for(var i=0;i<rows.length;i++){
       				if(i==rows.length-1){
      					ids += rows[i].id.toString();
             		}else{
            			ids += rows[i].id.toString() + ",";
         			}
          		}
				if(rows.length>1){
					$('#editWindow').panel('resize',{
        				width: 400,
        				height: 350
    				});
				}else{
					$('#editWindow').panel('resize',{
        				width: 400,
        				height: 350
    				});
				}
				$('#editWindow').panel({title:"文件销毁"});
				$('#editWindow').window('open');
      			$('#editWindow').window('refresh','$link.getContextURL()/doc/archives/destroy/edit?ids='+ids );
       		}
     	}else {
    		top.CC.messager({
  				title: '错误',
  				msg: '服务器连接不上!'
   			});
  		}
    }
	
	function returnRcFile(){
       	var rows = $("#dg").datagrid("getChecked");
		if(rows){
       		if (rows.length < 1) {
       			top.CC.messager({
             		title: '错误',
              		msg: '请选择至少一条数据进行归还!'
       			});
      		}else {
             	var ids = "";
				var archstatus = "";
           		for(var i=0;i<rows.length;i++){
          			if(i==rows.length-1){
                   		ids += rows[i].id.toString();
						if(rows[i].archStatus == "在库"){
							archstatus += "1";
						}
           			}else{
               			ids += rows[i].id.toString() + ",";
						if(rows[i].archStatus == "在库"){
							archstatus += "1";
						}
             		}
          		}
				if(archstatus != ""){
					top.CC.messager({
       					title: '错误',
      					msg: '只能归还外借的档案!'
               		});
				}else{
					$.messager.confirm('提示','确定归还所选档案吗?',function(r){
                		if (r){
							$.post('$link.getContextURL()/doc/archives/saveReturn.json',{ids:ids},function(result){
                        		if (result.success){
                            		$('#dg').datagrid('reload');
                            		top.CC.messager({
                                		title: '成功',
                                		msg: '归还成功!'
                            		});
                        		} else {
                            		top.CC.messager({
                                		title: '错误',
                                		msg: result.errorMsg
                            		});
                        		}
                    		},'json');
						}
            		});
				}
			}
		}
    }
	
</script>
#end