<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
				<input name="fileId" id="fileId" type="hidden" value="$!{obj.id}"/>
				<input name="title" id="title" type="hidden" value="$!{obj.title}"/>
                <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                        </tr>
                        <tr align="center">
                            <td class="bg-grey" align="right" width="120px">文件标题</td>
                            <td  align="left" class="bg-white">
                                $!{esc.html($!{obj.title})}
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>柜位号</td>
                            <td  align="left" class="bg-white">
                                <select name="counterNo" id="counterNo" class="easyui-combobox" data-options="editable:false,required:true" panelheight="auto" style="width:160px;" validType="selectValueRequired['#counterNo']">
									<option value="">-请选择-</option>
									#foreach($obj in $fileCabinetList)
										<option value="$obj.basicCode">$obj.basicName</option>
									#end
                                </select>
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>案卷类型</td>
                            <td  align="left" class="bg-white">
                                <select name="archType" id="archType" class="easyui-combobox" data-options="editable:false,required:true" panelheight="auto" style="width:160px;" validType="selectValueRequired['#archType']">
									<option value="">-请选择-</option>
									#foreach($obj in $dossierTypeList)
										<option value="$obj.basicCode">$obj.basicName</option>
									#end
                                </select>
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>案卷名</td>
                            <td  align="left" class="bg-white">
                                <input  id = "archName" style="width:99%;" name="archName" data-options="required:true" class="easyui-textbox"/>
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>案卷号</td>
                            <td  align="left" class="bg-white">
                                <input id = "archNo" name="archNo" style="width:99%;" data-options="required:true" class="easyui-textbox"/>
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>介质类型</td>
                            <td  align="left" class="bg-white">
                                <select name="mediumType" id="mediumType" class="easyui-combobox" data-options="editable:false,required:true" panelheight="auto" style="width:160px;" validType="selectValueRequired['#mediumType']">
									<option value="">-请选择-</option>
									#foreach($obj in $mediumTypeList)
										<option value="$obj.basicCode">$obj.basicName</option>
									#end
                                </select>
                            </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right"><span><font color=red>*</font></span>年份</td>
                            <td align="left" class="bg-white">
								<select name="archYear" id="archYear" class="easyui-combobox" data-options="editable:false,required:true" panelheight="auto" style="width:160px;" validType="selectValueRequired['#archYear']">
									<option value="">-请选择-</option>
									#foreach($year in $years)
										<option value="$year">$year</option>
									#end
                                </select>
                            </td>
                        </tr>
						<tr align="center">
                          <td class="bg-grey" align="right"><span><font color=red>*</font></span>保留日期</td>
                          <td align="left" class="bg-white">
                            <input  id = "retentionDate" name="retentionDate" class="easyui-datebox" data-options="editable:false,required:true"/>
                          </td>
                        </tr>
						<tr align="center">
                          <td class="bg-grey" align="right"><span><font color=red>*</font></span>立卷日期</td>
                          <td align="left" class="bg-white">
                            <input  id = "createDate" name="createDate" class="easyui-datebox" data-options="editable:false,required:true"/>
                          </td>
                        </tr>
						<tr align="center">
                            <td class="bg-grey" align="right">排序号</td>
                            <td align="left" class="bg-white">
                                <input style="width:30%;" name="orderNum" min="0" max="999" class="easyui-numberbox"/>
                            </td>
                        </tr>
                        <tr align="center">
                          <td class="bg-grey" align="right">备注</td>
                          <td align="left" class="bg-white">
                            <textarea name="remark" class="easyui-validatebox textareaborder" data-options="validType:'maxLength[250]'" style="width:95%;height:80px;resize:none;" ></textarea>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
            <div class="bottom-but-dialog">
                <ul>
                    <li><a id="saveTemp" onclick="save()" class="new-but">保存</a></li>
                    <li><a id="back" onclick="back()" class="new-but">关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';
	
	/**
     * 扩展combox验证，easyui原始只验证select text的值，不支持value验证
     */
    $.extend($.fn.validatebox.defaults.rules, {
        selectValueRequired: {
            validator: function(value,param){
                console.info($(param[0]).find("option:contains('"+value+"')").val());
                return $(param[0]).find("option:contains('"+value+"')").val() != '';
            },
            message: '该项为必填项'
        }
    });
	
    //返回
    function back() {
        $('#editWindow').window('close');
    }
    //保存
    function save(){
        if($("#editForm").form('validate')) {
        	top.CC.loading("保存中，请稍后...");
     		$.post("$link.getContextURL()/doc/archives/save.json",$("#editForm").serialize(),function(result){
           		top.CC.loaded();
            	if(result.id){
            		$('#id').val(result.id);
                	$('#dg').datagrid('reload');
                	$('#editWindow').window('close');
          			top.CC.messager({
                    	title:'提示',
                        	msg:'保存成功！'
                	});
					var title = top.CC.getCurTab().panel('options').title;
					top.CC.addTab({ title:'归档后管理', url:'$link.getContextURL()/doc/archives/archivedlist'});
         			top.CC.closeTab(title);
               	}else{
                  	top.CC.messager({
                    	title:'提示',
                    	msg:'服务器连接不上'
                	});
           		}
       		});
        }
    }
	
	
	$('#counterNo').combobox({
    	onChange : function(){
			var counterNo = $("#counterNo").combobox('getValue');
			var archType = $("#archType").combobox('getValue');
			var createDate = $("#createDate").datebox('getValue');
			if($.trim(archType) != ""){
				if($.trim(createDate) != ""){
					$("#archNo").textbox("setValue", "$!deptCode"+"-"+counterNo+"-"+archType+"-"+createDate.replaceAll("-","")+"-"+"$!serialNumber");
				}
			}
      	}
 	});
		
	$('#archType').combobox({
      	onChange : function(){
			var counterNo = $("#counterNo").combobox('getValue');
			var archType = $("#archType").combobox('getValue');
			var createDate = $("#createDate").datebox('getValue');
			if($.trim(archType) != "" && $.trim(counterNo) != ""){
				if($.trim(createDate) != ""){
					$("#archNo").textbox("setValue", "$!deptCode"+"-"+counterNo+"-"+archType+"-"+createDate.replaceAll("-","")+"-"+"$!serialNumber");
				}
			}
         }
    });
	
	$('#createDate').datebox({
      	onChange : function(){
			var counterNo = $("#counterNo").combobox('getValue');
			var archType = $("#archType").combobox('getValue');
			var createDate = $("#createDate").datebox('getValue');
			if($.trim(archType) != "" && $.trim(counterNo) != ""){
				if($.trim(createDate) != ""){
					$("#archNo").textbox("setValue", "$!deptCode"+"-"+counterNo+"-"+archType+"-"+createDate.replaceAll("-","")+"-"+"$!serialNumber");
				}
			}
         }
    });
	
	$(document).ready(function() {
		$('#archNo').textbox({
      		onChange: function (newValue, oldValue) {
	  			var archNo = $("#archNo").textbox('getValue');
				var counterNo = $("#counterNo").combobox('getValue');
				var archType = $("#archType").combobox('getValue');
				if($.trim(archType) != "" && $.trim(archNo) != ""){
	  				checkArchNo(archNo,counterNo,archType);
				}
	  		}
    	});
	});
	
	// 检查案卷号是否重复
  	function checkArchNo(archNo,counterNo,archType) {
    	$.post('$link.getContextURL()/doc/archives/checkArchNo.json', {archNo:archNo,counterNo:counterNo,archType:archType}, function(result){
      		if (result.success) {
				
      		} else {
        		top.CC.messager({ title:'提示',msg:result.error });
				$("#archNo").textbox('setValue','');
      		}
    	});
  	}
</script>
#end
