<div id="cc" class="easyui-layout" data-options="fit:true">
<div data-options="region:'center'" >
    <div id="docTab" class="easyui-tabs tabs-trapezoid" fit="true" border="false">
        ## 政府办或城区领导，可以查看公文所有信息
        <div title="发文信息" style="padding:5px;">
            <div data-options="region:'center'" >
				#if(${signPath})  
					#parse("${signPath}")
				#else   
					#parse("doc/sendfile/inner/fwsign.vm")
				#end
                </br>
            </div>
            <form id="editForm" method="post">
            <input id="id" type="hidden" name="id" value="$!{obj.id}"/>
            <input id="readmans" name="readmans" type="hidden" value=""/>
            <input id="curNodeId" type="hidden" name="curNodeId" value="$!{curNode.nodeId}"/>
            <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="bg-grey">正文</td>
                        <td colspan="3" class="bg-white">
                            <div class="filelistmulti" id="sel-doc-c">
                                <div>
                                    <span id="doc-file-c">
    
                                    </span>
                                    <span id="pdf-file-c">
    
                                    </span>
                                </div>
    
                            </div>
                        </td>
                    </tr>
                    <tr id="receiveFilefileTr1" align="left">
                        ##标识附件是否可以编辑
                        #set($docIsEdit=false)
                        <td class="bg-grey"  align="right">附件 </td>
                        <td class="bg-white"  colSpan="3" align="left" attachId="$!{obj.id}">
                            ##附件id
                            <input id="attach" name="attach" type="hidden" value=""/>
                            <div class="filelistmulti" id="file-list-c">
                                <div id="other-file-c">
    
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
			##金格控件显示预览
			#parse("doc/fileparse/attachpreview.vm")
            </form>
        </div>

        <div title="办理过程"  data-options="href:'$link.getContextURL()/workflow/event/getTasklist?entityId=$!{obj.id}'">
        </div>
    </div>
</div>
<div data-options="region:'south'" style="height:52px">
    <div class="bottom-but">
        <ul>
            #if("$!{obj.status.key}" == "1")## 在办
            ## <li><a id="back" onclick="changeTab();doPress()" class="new-but">催办</a></li>
            #if("$!{obj.creatorId}" == "$!{user.id}")
            <li><a id="back" onclick="changeTab();doDel()" class="new-but">撤文</a></li>
            <li><a id="back" onclick="changeTab();doBringBack()" class="new-but">取回</a></li>
            #end
            #elseif("$!{obj.status.key}"=="2")## 待归档
            ##<li><a id="back" onclick="changeTab();doFinishedBringBack()" class="new-but">办结取回</a></li>
            ##<li><a id="back" onclick="changeTab();doDocReadSelect()" class="new-but">转阅</a></li>
			#end
			## 公文未归档之前不能打印
			#if(!(("$!{obj.status.key}"=="0" || "$!{obj.status.key}"=="1") &&
            ("$!{obj.sourceType.key}"!="7" && "$!{obj.sourceType.key}"!="8" && "$!{obj.sourceType.key}"!="c") &&
            ("$!{user.currentUserDepartment.unitId}"!="1")))
            <li><a id="back" onclick="changeTab();doPrint()" class="new-but">打印</a></li>
			#end
            <li><a id="back" onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
        </ul>
    </div>
</div>
</div>
#@script()
<script type="text/javascript">
function changeTab() {
    //先主动切换回第一页，以免控件出错
    $("#docTab").tabs('select',0);
}
// 催办
function doPress() {

}
// 撤文
function doDel() {
    $.messager.confirm('提示','确定要撤回公文吗?',function (r) {
        if (r) {
            top.CC.loading('撤文中...');
            $.post("$link.getContextURL()/doc/event/deleteflow", {id:$("#id").val()},function(result){
                top.CC.loaded();
                if(result.success){
                    var title = top.CC.getCurTab().panel('options').title;
                    top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
                    top.CC.messager({ title:'提示', msg:'公文撤回成功！' });
                    top.CC.closeTab(title);
                }else{
                    top.CC.messager({ title:'提示', msg:result.error });
                }
            });
        }
    });
}
// 取回
function doBringBack() {
    $.messager.confirm('提示','确定要取回公文吗?',function (r) {
        if (r) {
            top.CC.loading('取回中...');
            $.post("$link.getContextURL()/doc/event/task/dealBringBack", {id:$("#id").val()},function(result){
                top.CC.loaded();
                if(result.success){
                    var title = top.CC.getCurTab().panel('options').title;
                    top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
                    top.CC.messager({ title:'提示', msg:'公文取回成功！' });
                    top.CC.closeTab(title);
                }else{
                    top.CC.messager({ title:'提示', msg:result.error });
                }
            });
        }
    });
}
// 办结取回
function doFinishedBringBack() {
    $.messager.confirm('提示','确定要取回已办结的公文吗?',function (r) {
        if (r) {
            top.CC.loading('办结取回中...');
            $.post("$link.getContextURL()/doc/event/dealFinishedBack", {id:$("#id").val()},function(result){
                top.CC.loaded();
                if(result.success){
                    var title = top.CC.getCurTab().panel('options').title;
                    top.CC.addTab({ title:'待办公文',url:'$link.getContextURL()/doc/event/tasklist' });
                    top.CC.messager({ title:'提示', msg:'公文办结取回成功！' });
                    top.CC.closeTab(title);
                }else{
                    top.CC.messager({ title:'提示', msg:result.error });
                }
            });
        }
    });
}
HKEY_Root = "HKEY_CURRENT_USER";
HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";

//网页打印时清空页眉页脚
function pagesetup_null(){
    try{
        var RegWsh = new ActiveXObject("WScript.Shell");
        HKEY_Key="header";
        RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
        HKEY_Key="footer";
        RegWsh.RegWrite(HKEY_Root+HKEY_Path+HKEY_Key,"");
    }catch(e){
    }
}
//打印
function doPrint() {
    try{
        if (document.all) { // IE
            pagesetup_null();
        }
        if ($.browser.msie) {
            #if("$!{obj.fileType.key}" == "1")## 收文
                $('#receiveContainer').printArea({
                    mode: 'popup'
                });
            #else ## 发文
                $('#sendContainer').printArea({
                    mode: 'popup'
                });
            #end
        } else {
            #if("$!{obj.fileType.key}" == "1")## 收文
                $('#receiveContainer').printArea({
                    mode: 'popup',
                    popClose: true
                });
            #else ## 发文
                $('#sendContainer').printArea({
                    mode: 'popup',
                    popClose: true
                });
            #end
        }
    } catch(e) {
        alert(e.message);
        return;
    }
}
// 转阅选择
function doDocReadSelect() {
    var _callbackname = "fnSelectDispatchReadCallback";
    var _url = "$link.getContextURL()/select/selectmansClassify";
    var _callback_fn = window[_callbackname];
    var dfn = top.window.openSelectDialogFrameDialog;
    if (typeof dfn === "function") {
      dfn(_url, _callback_fn);
    }
}
// 转阅选择回调
function fnSelectDispatchReadCallback(obj) {
    if (obj && obj.length > 0) {
        var ids = "";
        for (var i = 0; i < obj.length; i++) {
            if (i == obj.length - 1) {
                ids += obj[i].id;
            } else {
                ids += obj[i].id + ",";
            }
        }
        $('#readmans').val(ids);

        top.CC.loading('转阅中...');
        $.post('$link.getContextURL()/doc/event/dealDispatchDocRead', $('#editForm').serialize(), function(result) {
            top.CC.loaded();
            if(result.success){
                top.CC.messager({ title:'提示',  msg:'公文转阅成功！' });
            } else {
                top.CC.messager({ title:'提示', msg:result.error });
            }
        });
    }
}
</script>
<script type="text/javascript" src="lib/jqprint/jquery.PrintArea.js"></script>
#end