<link rel="stylesheet" type="text/css" href="$link.getContextURL()/css/doc/listicon.css"/>
<div class="easyui-layout" fit="true">
<div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
<a onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
    class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
<a onclick="top.CC.closeCurTab()"
    class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
</div>

<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
    <table id="dg" data-options="nowrap:false" style="width:99%;">
        <thead>
        <tr>
			<th field="ck" data-options="checkbox:true"></th>
            <th data-options="field:'title',width:150,editor:'text',formatter:detailUrl">公文标题</th>
			<th data-options="field:'startTimeShow',width:50">发文时间</th>
            <th data-options="field:'sendUnit',width:40">来文单位</th>
            <th data-options="field:'preDealerName',width:30">拟稿人</th>
            <th data-options="field:'deptName',width:50">主办处室</th>
            <th data-options="field:'instStatus',width:50">状态</th>
            <th data-options="field:'operate',align:'center',formatter:operaterFormatter,width:30">操作列</th>
        </tr>
        </thead>
    </table>
    <div class="cc-operateColum">
        <a  href='javascript:;' class="easyui-linkbutton" iconCls="icon-edit"
            plain="true" onclick="deal('__id__', '__fileId__','__type__','__flowId__')">__operateTag__</a>
    </div>

     <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
     style="width:500px;height:380px;padding:20px 10px; background-color:#f4f4f4;display:none;">
	 <form id="queryForm">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="right">公文标题：</td>
                    <td align="left" colspan="3"><input id="title" name="$qc.like('wfi.title')" style="width:330px;" class="easyui-textbox" /></td>
                </tr>
				<tr>
                    <td align="right">来文单位：</td>
                    <td align="left" colspan="3"><input id="sendUnit" name="$qc.like('adf.sendUnit')" style="width:330px;" class="easyui-textbox" /></td>
                </tr>
                <tr>
                    <td align="right">发文时间：</td>
                    <td align="left" colspan="3">
                        <input name="$qc.greaterThanOrEqualTo('wfi.startTime')" class="easyui-datebox" data-options="editable:false" style="width:150px;">
                        至
                        <input name="$qc.lessThanOrEqualTo('wfi.startTime')" class="easyui-datebox" data-options="editable:false" style="width:160px;">
                    </td>
                </tr>
				<tr>
                    <td align="right">拟稿人：</td>
                    <td align="left" colspan="3"><input name="$qc.like('u.userName')" style="width:330px;" class="easyui-textbox" /></td>
                </tr>
				<tr>
                    <td align="right">主办处室：</td>
                    <td align="left" colspan="3">
						<input type="hidden" id="depId" name="$qc.like('d.id')" value="$!{depId}"/>
                        <input type="text" id="deptName" name="d.deptName" value="$!{deptName}" style="width:300px;" class="easyui-textbox"/>
                        <a id="selectDepDialog" href="javascript:;" plain="true" iconcls="icon-search"
                            callback=fnSelectDepCallback class="easyui-linkbutton" select-dialog="$link.getContextURL()/select/Dep/selectDepTree"></a>
					</td>
                </tr>
				<tr>
                    <td align="right">状态：</td>
                    <td align="left">
                        <select name="$qc.equal('wni.instStatus')" class="easyui-combobox" data-options="editable:false" style="width:150px;"
                            panelheight="auto">
							#set($arr = [0, 1])
							#formoptioncontain("" $dict.WfInstStatus $arr)
                        </select>
                    </td>
                </tr>
		</table>
	</form>
    <div id="bnts" style="top:0px; height:25px; width:auto;">
        <a class="new-but" onclick="formSerach()">确定</a>
        <a class="new-but" onclick="reset()">重置</a>
    </div>
</div>
</div>
<div id="editWindow" class="easyui-window" title="设置" style="width:450px;height:80%;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
</div>
#parse("common/easyui/operatorcolumn.js.vm")
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';
    var _listJsonUrl = '/doc/interequest/listTask.json';
	
	<!-----------------------选择部门-------------------------------->
     function fnSelectDepCallback(obj){
        $("#depId").val(obj.id);
        $("#deptName").textbox('setText',obj.text);
     }


    //选择对话框
    $("#selectDepDialog").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
	
    function operaterFormatter(value,row,index){
        var optag = "";
        if (row.curNodeId == "N888") {
            optag = "阅知";
        } else {
            optag = "办理";
        }
        return $(".cc-operateColum",_datagrid.parents(".cc-tableWrap")).html()
            .replace(new RegExp("__id__",'gm'),row.id)
            .replace(new RegExp("__fileId__",'gm'),row.entityId)
            .replace(new RegExp("__type__",'gm'),row.businessType)
            .replace(new RegExp("__flowId__",'gm'),row.flowId)
            .replace(new RegExp("__operateTag__",'gm'),optag);
     }

    function deal(id, fileId,type,flowId) {
        if(type=="2"){
            var url = _baseUrl + "/doc/sendfile/task/deal?id=" + id + "&fileId=" + fileId + "&opflag=deal&flowId=" + flowId ;
            top.CC.addTab({title:'公文办理',url:url});
        }else if (type=="1"){
            var url = _baseUrl + "/doc/receivefile/task/deal?id=" + id + "&fileId=" + fileId + "&opflag=deal&flowId=" + flowId ;
            top.CC.addTab({title:'公文办理',url:url});
        } else if (type=="3"){
            var url = _baseUrl + "/doc/simplefile/task/deal?id=" + id + "&fileId=" + fileId + "&opflag=deal&flowId=" + flowId ;
            top.CC.addTab({title:'便函办理',url:url});
        } else{
			var url = _baseUrl + "/doc/interequest/task/deal?id=" + id + "&fileId=" + fileId + "&opflag=deal&flowId=" + flowId ;
            top.CC.addTab({title:'内部请示办理',url:url});
		}

    }


     $(document).ready(function(){
        var _datagrid = $("#dg");
        var _querForm = $("#queryForm");
        var _toolbar = $("#tb");

        //查询相关方法
        var _btnSearch = $("[iconCls='icon-search']",_querForm);
        var _btnClear = $("[iconCls='icon-remove']",_querForm);
        if(_btnSearch){
            _btnSearch.on('click',formSerach);
        }
        if(_btnClear){
            _btnClear.on('click',reset);
        }

        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }

        function formSerach() {
            _datagrid.datagrid('reload');
        }
        function reset(){
            var _qf = $("#queryForm");
            _qf.form("clear");
            $(".easyui-combobox",_qf).each(function(){
                $(this).combobox("select"," ");
            });
        }


        //初始化datagrid
        _datagrid.datagrid({
            fitColumns:true,//列宽自适应
            fit:true,//自适应
            nowrap:false,
            rownumbers:true,//行号
            singleSelect:true,//单选
            pagination:true,//显示分页工具条
            toolbar:'#tb',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:_baseUrl + (_listJsonUrl || '/runninglist.json'),//获取数据的url
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });
    });

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            if($("#editForm").form('validate')){
                var dfn = top.window.openSelectDialogFrameDialog;
            }else{
                return false;
            }
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

    function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }
    function traceRow(index){
        $('#dg').datagrid('clearSelections');
        _datagrid.datagrid("selectRow",index);
        var row = _datagrid.datagrid("getSelected");
        var url;
        //url = "$link.getContextURL()/workflow/showtrace?pid="+row.flowInstId;
        url = "$link.getContextURL()/diagram-viewer/index.html?processDefinitionId="+row.flowId+"&processInstanceId="+row.flowInstId;

        top.CC.addTab({title:'流程图跟踪',url:url});
    }

    function traceUrl(value,row) {
        return "<a href='javascript:;' style='color:blue' onclick='traceRow(getRowIdByDom(this))' title='点击查看流程图' >"+value+"</a>";
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

    function detailUrl(value,row) {
        var content = "<a href='javascript:;' onclick='deal(\""+row.id+"\", \""+row.entityId+"\", \""+row.businessType+"\", \""+row.flowId+row.optag+"\")' class='font-titlecolor'>" + value + "</a>";
        var icostr1="";
        if ($.trim(row.businessType) == "1") {
            if (row.taskId != "N888") {
                icostr1 = '<span class="icon-receivefile" title="收文"></span> '+icostr1;
            } else {
                icostr1 = '【阅】' + icostr1;
            }
        } else if ($.trim(row.businessType) == "2") {
            if (row.taskId != "N888") {
                icostr1= '<span class="icon-sendfile" title="发文"></span> '+icostr1;
            } else {
                icostr1 = '【阅】' + icostr1;
            }
        } else if ($.trim(row.businessType) == "3") {
            icostr1= '<span class="icon-simplefile" title="便函"></span> '+icostr1;
        } else if($.trim(row.businessType) == "5")	{
			icostr1= '<span class="icon-interequestfile" title="内部"></span> '+icostr1;
		}

        var icostr2="";

        if (row.urgencyLevel == "2") {
            icostr2= '<span class="icon-urgent" title="急件"></span>'+icostr2;
        } else if (row.urgencyLevel == "1") {
            icostr2= '<span class="icon-emergency" title="特急"></span>'+icostr2;
        }

        if (row.expiryDate != null) {
            icostr2= '<span class="icon-limit" title="限时办结"></span>'+icostr2;
        }

        if (row.dense == "秘密") {
            icostr2= '<span class="icon-secret" title="秘密"></span>'+icostr2;
        } else if (row.dense == "机密") {
            icostr2= '<span class="icon-undercover" title="机密"></span>'+icostr2;
        } else if (row.dense == "绝密") {
            icostr2= '<span class="icon-confidential" title="绝密"></span>'+icostr2;
        }

        if (row.specFlag == "退回") {
            icostr2 += '<span class="icon-fordoback" title="退回"></span>';
        }
        if(row.status == "未阅"){
            // icostr1= icostr1 + '<span class="icon-doc-new" title="新"></span> ';
            icostr2 += '<span class="icon-doc-new" title="新"></span>';
        }

        content=icostr1+icostr2+content;

        return content;
    }
	
</script>
#end