
<div id="cc" class="easyui-layout" data-options="fit:true">
    <div  region="north" class="submodule-title-h mynoborder" >
        <div class="submodule-title">
            <div class="inner-submodule-title">
                <span><img src="images/icon-symbol.png"/><strong>待办列表</strong></span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" class="mynoborder mainborder-Padding">
<form id="editForm" method="post">
    #validateBegin("editForm")
     <div id="docTab" class="easyui-tabs" style="width:99%;height:800px;">
    <div title="公文办理" style="padding:20px;display:block;">
          <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
      <tbody>

        <tr align="center">
          <td class="bg-grey" align="right" width="120px"><span><font color=red>*</font></span>文件标题</td>
          <td width="85%" class="bg-white"  colSpan="5" align="left">
           <input name="nextTaskId" id="nextTaskId" type="hidden" value=""/>
           <input  id="id" name="id" type="hidden" value="$!{obj.id}"/>
           <input  id="rtitle" type="hidden" value="$!{obj.title}"/>

           <input name="filepath" id="filepath" type="hidden" value="$!{docpath}/$!{docname}"/>
           <input name="taskId" id"id" type="hidden" value="$!{taskId}"/>
            $!{obj.title}
          </td>
        </tr>
        <tr align="center">
            <td class="bg-grey" align="right">拟稿信息</td>
            <td colspan="5" class="bg-white"  align="left">
           $!{obj.createInfo}
            </td>
        </tr>

        <tr align="center">
          <td class="bg-grey" align="right"><span><font color=red>*</font></span>缓急</td>
          <td align="left" class="bg-white" colspan="2">
           $!{obj.urgencyLevel.value}
          </td>
          <td class="bg-grey" align="right">密级</td>
         <td align="left" class="bg-white" colspan="2">
          $!{obj.dense.value}

          </td>
        </tr>

        <tr align="center">
          <td class="bg-grey" align="right">处理时限</td>
          <td align="left" class="bg-white" colspan="2">
           $!{obj.limitDay} &nbsp;个工作日&nbsp;
          </td>
          <td class="bg-grey" align="right"><span><font color=red>*</font></span>发文类型</td>
         <td align="left" class="bg-white" colspan="2">
          $!{obj.sendType.value}
          </td>
        </tr>

         <tr align="center">
          <td class="bg-grey" align="right"><span><font color=red>*</font></span>信息公开方式</td>
          <td colspan="5"  class="bg-white" align="left">
          $!{obj.openFlag.value}

          </td>
        </tr>

        <tr align="center">
            <td class="bg-grey" align="right">主送</td>
            <td colspan="5"  class="bg-white" align="left">
            $!{obj.mainSend}
            </td>
        </tr>
         <tr align="center">
            <td class="bg-grey" align="right">主题词</td>
            <td colspan="5"  class="bg-white" align="left">
            $!{obj.reportSend}
            </td>
        </tr>
        <tr align="center">
            <td class="bg-grey" align="right">抄送</td>
            <td colspan="5"  class="bg-white" align="left">
            $!{obj.copySend}
            </td>
        </tr>
        <tr align="center">
            <td class="bg-grey" align="right">备注</td>
            <td colspan="5" class="bg-white"  align="left">
            $!{obj.remark}
            </td>
        </tr>
        <tr align="center">
          <td class="bg-grey" align="right">附件</td>
           <td colSpan="5" class="bg-white" align="left" attachId="$!{attach.attachId}">
            #formfilemulty("attach", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('sysattach')", false, "#defaultUploadUrl('sysattach')",true)
          </td>
        </tr>
        <tr align="center">
          <td class="bg-grey" align="right">审批意见</td>
          <td colSpan="5" class="bg-white" align="left" >
           <textarea id="opinion" name="opinion" cols="" style="resize:none;width:96%;height:100px;">$!{obj.content}</textarea>
          </td>
        </tr>

      </tbody>
    </table>
    <br><br><br>
    </div>
    <div title="公文正文"  style="overflow:auto;padding:20px;display:block;">
     ## #if($receiveFile)
     ## #goldgrid2009("false" "#defaultDownloadUrl('receiveFile')" "")
     ## #else
      #goldgrid2009("false" "$!{docpath}/$!{docname}")
    ##  #end


    </div>

</div>
</form>
#validateEnd("editForm")


<div data-options="region:'south'" style="height:52px">
            <div class="bottom-but">
                <ul>
                    <li>
                    <li><a id="back" onclick="back()" class="new-but">取消</a></li>
                </ul>
            </div>
   </div>

<div id="editWindow" class="easyui-window" title="选择发送环节" style="width:500px;height:300px;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div></div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';
    //取消
    function back() {
        window.location = "$link.getContextURL()/doc/sendfile/tasklist";
    }

    $("a[mans-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var manAddress = $('#manAddress').val();
            var _url = "$link.getContextURL()/select/selectmansClassify?userIds="+manAddress;
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                //document.getElementById("over").style.display = "block";
                //document.getElementById("layout").style.display = "block";
                dfn(_url, _callback_fn);
                //document.getElementById("over").style.display = "none";
                //document.getElementById("layout").style.display = "none";
            }
            return false;
        })
    });

    //驳回
    function falseBack(){
    }

 //呈送
    function doSend(){
     $('#editWindow').dialog({
    title: '请选择环节',
    width: 500,
    height: 200,
    closed: false,
    cache: false,
    href: '$link.getContextURL()/doc/receivefile/selectTask?id=$!{obj.id}&taskId=$!{taskId}&ftype=2',
    modal: true
});
    }

     function doUserSend(){
     $('#editWindow').dialog({
    title: '请选择发送人',
    width: 500,
    height: 500,
    closed: false,
    cache: false,
    href: '$link.getContextURL()/select/selectNodemans?userIds='+'',
    modal: true
});
    }

    //个人邮件选择对话框
    $("a[mans-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var manAddress = $('#manAddress').val();
            var _url = "$link.getContextURL()/select/selectmansClassify?userIds="+manAddress;
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                //document.getElementById("over").style.display = "block";
                //document.getElementById("layout").style.display = "block";
                dfn(_url, _callback_fn);
                //document.getElementById("over").style.display = "none";
                //document.getElementById("layout").style.display = "none";
            }
            return false;
        })
    });

     // 人员选择回调
    function fnSelectMansCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var i = 0 ; i <obj.length; i++){
            userNames += obj[i].userName + ",";
            userIds += obj[i].id + ",";
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#manAddress').val(userIds);
         $.post("$link.getContextURL()/doc/receivefile/task/done?nextDealer="+groupIds+"&nextTaskKey="+$('#nextTaskId').val()+"&opinion="+$('#opinion').val(),$("#editForm").serialize(),function(result){
              if(result.success){
                window.location = "$link.getContextURL()/doc/sendfile/tasklist";
                $.messager.show({
                    title:'提示',
                    msg:'呈送成功！'
                });
              }else{
                $.messager.show({
                    title:'提示',
                    msg:'服务器连接不上'
                });
              }
            });
    }


 // 阅知回调
    function fnSelectReadCallback(obj){
        var userNames = "";
        var userIds = "";
        for (var i = 0 ; i < obj.length ; i++){
            userNames += obj[i].userName + ",";
            userIds += obj[i].id + ",";
        }
        userNames = userNames.substring(0,userNames.length-1);
        userIds = userIds.substring(0,userIds.length-1);
        $('#manAddress').val(userIds);
         $.post("$link.getContextURL()/doc/sendfile/saveReadMatter.json?fileId="+$('#fileId').val()+"&userIds="+userIds+"&title="+$('#rtitle').val()+"&filetype=1",$("#editForm").serialize(),function(result){
              if(result.success){
                window.location = "$link.getContextURL()/doc/sendfile/tasklist";
                $.messager.show({
                    title:'提示',
                    msg:'呈送成功！'
                });
              }else{
                $.messager.show({
                    title:'提示',
                    msg:'服务器连接不上'
                });
              }
            });

    }

</script>
<script src="lib/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="lib/ckeditor/adapters/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
#parse("common/easyui/crud.js.vm")
#include("oa/common.css.html")
