<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
  <div id="cc" class="easyui-layout" data-options="fit:true">
      <div data-options="region:'center'" class="mynoborder">
          <form id="editForm" method="post">
              <input name="id" id="id" type="hidden" value="$!{obj.id}"/>
              <input name="codeType" id="codeType" type="hidden" #if(${obj.id}) value="$!{obj.codeType}" #else value="$!{type}" #end/>
              <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                  <tbody>
                    <tr>
                      <td class="bg-grey" align="right" width="100px"><span><font color=red>*</font></span>公文字号</td>
                      <td align="left" class="bg-white">
                        <input name="codeName" id="codeName" type="text" class="easyui-textbox" data-options="required:true,validType:'maxLength[20]'"  #if($!{obj.codeType} == 2 || $!{type} == 2) style="width:35%;" #else style="width:100%;" #end  value="$!{esc.html($!{obj.codeName})}"/><span id="wh_name"></span>
                      </td>
                    </tr>

					#if($!{obj.codeType} == 2 || $!{type} == 2)
					<tr>
                      <td class="bg-grey"><span><font color=red>*</font></span>文种</td>
                      <td class="bg-white">
						#formradio("DocCate" "$!obj.DocCate" $dict.DocCate "1")
					  </td>
                    </tr>
					<tr align="center">
                      <td class="bg-grey" align="right">
						<span><font color=red>*</font></span>模板
					  </td>
                      <td  class="bg-white">
						<input style="width:93%;" name="templateName" id="templateName" data-options="required:true"
                            class="easyui-textbox" readonly value="$!{templateName}"/>
                        <input id="templateId" name="templateId" type="hidden" value="$!{templateId}" />
						<a id="selectDepDialog" title="选择模板" href="javascript:;" docTemplate-dialog
                            callback=fnSelectDocTemplateCallback class="easyui-linkbutton" plain="true" iconCls="icon-search" title="点击查询"></a>
					  </td>
                    </tr>
					#end
                    <tr>
                      <td class="bg-grey">说明</td>
                      <td class="bg-white">
                        <input type="text" name="remark" class="easyui-textbox" data-options="validType:'maxLength[100]'" style="width:100%;" value="$!esc.html($!{obj.remark})"/>
                      </td>
                    </tr>
                    <tr>
                      <td class="bg-grey">排序</td>
                      <td class="bg-white">
                        <input type="text" name="codeSort" class="easyui-numberbox" data-options="min:0" style="width:100%;" value="$!{obj.codeSort}"/>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </form>
      </div>
      <div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
          <div class="bottom-but-dialog">
              <ul>
                  <li><a id="saveTemp" onclick="save()" class="new-but">保存</a></li>
                  <li><a id="back" onclick="back()" class="new-but">关闭</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div id="attachWindow" class="easyui-window" title="模板选择" style="width:750px;height:400px;padding:5px"
    data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#@script()
<script type="text/javascript">

	var wh_attach ="["+new Date().getFullYear()+"]****号";

	function wh_change(value){
		var whName = "";
		whName = value + wh_attach;
		if(value.length>0)
            whName = "(" + whName +")" ;
        else
            whName ="";
		$("#wh_name").html(whName);

    }

	$(document).ready(function(){
		//发文
		if('2' == $("#codeType").val()){
			$('#codeName').textbox({
          	onChange: function(value){
		  		wh_change(value);
              }
            });
    		var codeName = $("#codeName").textbox('getValue');
    		wh_change(codeName);
		}
    })

    //返回
    function back() {
        $('#editWindow').window('close');
    }

    //保存
    function save(){
        if($("#editForm").form('validate')) {

        top.CC.loading("保存中...");
          $.post("$link.getContextURL()/doc/doccode/save.json",$("#editForm").serialize(),function(result){
            top.CC.loaded();
            if(result.id){
              $('#id').val(result.id);
              $('#dg').datagrid('reload');
              $('#editWindow').window('close');
              top.CC.messager({
                  title:'提示',
                  msg:'保存成功！'
              });
            }else{
              top.CC.messager({
                  title:'提示',
                  msg:'服务器连接不上'
              });
            }
          });
        }
    }

	 /**
     * 扩展combox验证，easyui原始只验证select text的值，不支持value验证
     */
    $.extend($.fn.validatebox.defaults.rules, {
        selectValueRequired: {
            validator: function(value,param){
                return $(param[0]).find("option:contains('"+value+"')").val() != '';
            },
            message: '该项为必填项'
        }
    });

	//模板选择对话框
    $("a[docTemplate-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");

            var _url = "$link.getContextURL()/doc/doccode/select/getIncepters";
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });

	// 模板选择回调
    function fnSelectDocTemplateCallback(obj){
        var templateName = "";
        var templateId = "";

        templateName = obj.templateName;
		templateId = obj.id;
        $('#templateName').textbox('setValue', templateName);
        $('#templateId').val(templateId);
    }
</script>
#end
