<style type="text/css">
<!--
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  line-height: 30px;
}
-->
</style>
#@script()
<script>
// 搜索
function formSerach() {
    var f = $("#queryForm").serializeArray();
    var obj ={};
    for(var i = 0;i< f.length;i++){
        obj[f[i].name] = f[i].value;
    }
    $('#datasDg').datagrid('reload',obj);
    return false;
}
</script>
#end
#set($bodyattr="class='easyui-layout' style='border:0px;#if($dialogWidth) width:$!{dialogWidth}px; #else width:890px; #end #if($dialogHeight) height:$!{dialogHeight}px; #else height:500px; #end margin-left:5px;margin-right:5px;margin-top:5px; padding:0 5px 3px 0; '")
 
<div class="cc-tableWrap" data-options="region:'center',border:true,collapsible:false">
    <form id="queryForm">
       <table class="tb2 default-table" id="tb" style="width:100%;">
            <tr>
                <td align="left">
                    &nbsp;&nbsp;模板名称：
                <input name="$qc.like('templateName')" id="templateName" class="easyui-textbox" type="text"/>

                    <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="formSerach()" title="点击查询"></a>
                </td>
            </tr>
        </table>
    </form>
    <table id="datasDg" style="width:100%;height:100%;"
               data-options="border:false,pageList:[10],pageSize:10,toolbar:'#queryForm',rownumbers:true, singleSelect: #if($single) true #else false #end,pagination:true,collapsible:false,url:'$link.getContextURL()$!url'">
            <thead>
            <tr>
                #if(!$single)<th field="ck" data-options="checkbox:true"></th>#end
                <th data-options="field:'templateName',width:500">模板名称</th>
				<th data-options="field:'id',hidden:'true'">模板id</th>
            </tr>
            </thead>
        </table>
    </table>
</div>
 
<div data-options="region:'south'" style="height:52px;padding-top:15px; background-color: #F4F3F3;">
    <div class="bottom-but-dialog">
        <ul>
            <li><a id="saveTemp" onclick="doselect()" class="new-but">选择</a></li>
            <li><a id="back" onclick="doclose()" class="new-but">取消</a></li>
        </ul>
    </div>
</div>
#@script()
<style>
## 隐藏datagrid底部分页信息
.pagination-info{display:none}
.pagination-page-list{display:none}
</style>
<script src="$link.getContextURL()/lib/avalon/avalon.js"></script>
<script>
    // 设置dialog标题
    $(document).ready(function() {
        if (top.setSelectDialogFrameDialogTitle) {
            top.setSelectDialogFrameDialogTitle("$!{selectDialogTitle}");
        }
    });

    // 关闭
    function doclose() {
        if (top.closeSelectDialogFrameDialog) {
            top.closeSelectDialogFrameDialog();
        }
        return false;
    }

    //选择
    function doselect() {
        var selectRow;
        var selectRow =  $('#datasDg').datagrid('getSelected'); // 单选
        
        if (selectRow) {
            top.okSelectDialogFrameDialog(selectRow);
        } else {
            alert("请先选择数据。");
        }
        return false;
    }

    $(document).ready(function(){

        // 回车事件
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                  formSerach();
             }
        }

        $('#datasDg').datagrid({
            onLoadSuccess:function(data){  
                var rows = data.rows;
                for (var i = 0; i < rows.length; i++) {
                    #if(!$single)
                    if ($('#selectedData').datagrid('getRowIndex',rows[i].id) > -1) {
                        $(this).datagrid('checkRow',$(this).datagrid('getRowIndex', rows[i]));
                    }
                    #end
                }
            }
           
        });
        
    });
  
</script>
<style>
div[ms-controller]{
    display:none;
}
</style>
#end