<div class="easyui-layout" fit="true">
    <div id="tb" class="top-menu datagrid-toolbar toolbar-borderbottom">
        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" onclick="newPage()"plain="true">新增</a>
        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" onclick="editPage()" plain="true">修改</a>
        <a href="javascript:;" class="easyui-linkbutton l-btn-plain-remove" iconCls="icon-remove" plain="true" onclick="del()">删除</a>
        <i></i>
        <a  onclick="$('#searchDialog').css('display','block');$('#searchDialog').window('center');$('#searchDialog').window('open');"
             class="easyui-linkbutton l-btn-plain-search" data-options="iconCls:'icon-search',plain:true">查询</a>
        <a  onclick="top.CC.closeCurTab()"
             class="easyui-linkbutton l-btn-plain-quit" data-options="iconCls:'icon-quit-small',plain:true">关闭</a>
    </div>
    <div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
        <table id="dg" data-options="nowrap:false" style="width:99%;">
            <thead>
            <tr>
                <th field="ck" data-options="checkbox:true">序号</th>
                <th style="width:20%" data-options="field:'processName'">流程</th>
                <th style="width:20%" data-options="field:'taskName'">环节</th>
                <th style="width:20%" data-options="field:'buttonsShow'">按钮</th>
                <th style="width:10%" data-options="field:'wordEdit'">文档编辑</th>
                <th style="width:10%" data-options="field:'wordComment'">批注</th>
                <th style="width:10%" data-options="field:'wordShow'">显示批注</th>
            </tr>
            </thead>
        </table>
    </div>
    <div  id="searchDialog" class="easyui-dialog  dialog-tc" title="查询条件" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,buttons:'#bnts'"
         style="width:500px;height:250px;padding:20px 10px; background-color:#f4f4f4;display:none">
        <form id="queryForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="text-align: right">流程：</td>
                    <td><input id="title" name="$qc.like('processName')" style="width:350px;" class="easyui-textbox" /></td>
                </tr>
                <tr>
                    <td style="text-align: right">环节：</td>
                    <td>
                  <input id="title" name="$qc.like('taskName')" style="width:350px;" class="easyui-textbox" />
                    </td>
                </tr>

            </table>
         </form>
        <div id="bnts" style="top:0px; height:25px; width:auto;">
            <a class="new-but" onclick="formSerach()">确定</a>
            <a class="new-but" onclick="reset()">重置</a>
        </div>
    </div>
</div>
<div id="editWindow" class="easyui-window" title="设置" style="width:480px;height:390px;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#parse("doc/nodesetting/crud.js.vm")
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()/doc/nodesetting/';
    #if( $type == 'query' )
        var _listJsonUrl = '/querylist.json';
    #else
        var _listJsonUrl = '/list.json';
    #end
    var _newJsonUrl = '/new';

    function newPage(){
        $('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/doc/nodesetting/new');
    }


    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });



    function fnSelectDepCallback(obj){
        $("#department").textbox('setValue',obj.id);
        $("#department").textbox('setText',obj.text);
    }

    function attFlag(value,row,index){
        if(value == '有附件') {
            return "<img src='images/attach.png'/>";
        }
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        });
    }

     function del(){
            var rows = $("#dg").datagrid("getChecked");
            if(rows && rows.length > 0){
                $.messager.confirm('警告','确定删除这些记录吗?',function(r){
                    if (r){
                        var ids = "";
                        for(var i=0;i<rows.length;i++){
                            if(i==rows.length-1){
                                ids += rows[i].id;
                            }else{
                                ids += rows[i].id + ",";
                            }
                        }
                        $.post('$link.getContextURL()/doc/nodesetting/delete.json',{ids:ids},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload'); // reload the user data
                                $('#dg').datagrid('uncheckAll');
                                top.CC.messager({ // show error message
                                    title: '成功',
                                    msg: result.success
                                });
                            } else {
                                top.CC.messager({ // show error message
                                    title: '错误',
                                    msg: result.errorMsg
                                });
                            }
                        },'json');
                    }
                });
            } else {
                top.CC.messager({
                    title: '错误',
                    msg: '请选择至少一条数据进行删除!'
                });
            }

        }

      function editPage(){
        var rows = $("#dg").datagrid("getChecked");
            if(rows){
                if (rows.length < 1) {
                    top.CC.messager({
                        title: '错误',
                        msg: '请选择至少一条数据进行修改!'
                    });
                } else if (rows.length > 1) {
                    top.CC.messager({
                        title: '错误',
                        msg: '只能对一条数据进行修改!'
                    });
                } else {
                    var id = "";
                    for(var i=0;i<rows.length;i++){
                        if(i==rows.length-1){
                            id += rows[i].id;
                        }
                    }
                    $('#editWindow').window('open');
                    $('#editWindow').window('refresh','$link.getContextURL()/doc/nodesetting/edit?id='+id);
                }

            } else {
                top.CC.messager({
                    title: '错误',
                    msg: '服务器连接不上!'
                });
            }

    }

</script>
#end