<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
   <div id="cc" class="easyui-layout" data-options="fit:true">

       <div data-options="region:'center'" style="height:240px" class="mynoborder">
            <div style="width:100%;height:25px;margin-top:10px" >
              &nbsp;&nbsp;&nbsp;&nbsp;$!{process.name}【$!{process.id}】
            </div>

            <div class="cc-tableWrap" style="width:100%;height:90%;margin-top:10px" >
            <table id="dg_nodes" fit="true" >
                <thead>
                <tr>
                    <th style="width:20%" data-options="field:'taskName',formatter:detailUrl">环节</th>
                    <th style="width:20%" data-options="field:'buttonsShow'">按钮显示</th>
                    <th style="width:10%" data-options="field:'wordEdit'">文档编辑方式</th>
                    <th style="width:10%" data-options="field:'wordComment'">是否可批注</th>
                    <th style="width:10%" data-options="field:'wordShow'">显示批注</th>
                </tr>
                </thead>
            </table>
            </div>
      </div>

        <div data-options="region:'south'"  class="bottom-h" height="48px">
        <div class="bottom-but">
            <ul>
                <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
            </ul>
        </div>
        </div>

      </div>
</div>

<div id="editWindow" class="easyui-window" title="权限设置" style="width:650px;height:400px;padding:5px"
        data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#@script()
<script type="text/javascript">
//**********************************  datagrid初始化  ***************************************

    $(document).ready(function(){
        var _nodesDg = $("#dg_nodes");
        var _querForm = $("#queryForm_times");
        var _nodesTb = $("#tb_buts");

        //初始化datagrid
        _nodesDg.datagrid({
            fitColumns:false,//列宽自适应
            fit:true,//自适应
            nowrap:false, //不可换行
            rownumbers:true,//行号
            singleSelect:true,//单选
            idField:'id',
            pagination:false,//显示分页工具条
            toolbar:'#tb_buts',//工具条
            pageSize:20,//每页记录数
            pageList:[20,30],//可选每页记录数
            url:'$link.getContextURL()/doc/nodesetting/nodelist.json?procDefId=$!{process.id}',
            onBeforeLoad:addPageCondition//提交查询时追加翻页条件
        });

        function addPageCondition(param){
            $.extend(param,getConditions());
        }
        function getConditions(){
            var f = _querForm.serializeArray();
            var searchConditions = {};
            for(var i = 0;i< f.length;i++){
                searchConditions[f[i].name] = f[i].value;
            }
            return searchConditions;
        }

    });

    //行内操作的方法，编辑、详情
    var _nodesDg = $("#dg_nodes");
    var _nodesTb = $("#tb_buts");

    function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }

    function detailRow(index){
        _nodesDg.datagrid('clearSelections');
        _nodesDg.datagrid("selectRow",index);
        var row = _nodesDg.datagrid("getSelected");
        var url;
        if (row.id != null) {
            url = "$link.getContextURL()/doc/nodesetting/edit?id="+row.id;
        } else {
            url = "$link.getContextURL()/doc/nodesetting/edit?id=&pid=$!{process.id}&pname=$!{process.name}&tkey="+row.taskKey+"&tname="+row.taskName;
        }

        $('#editWindow').window('open');
        $('#editWindow').window('refresh',url);
    }

    function detailUrl(value,row) {
        return "<a href='javascript:;' class='font-titlecolor' style='color:blue' onclick='detailRow(getRowIdByDom(this))'>"+value+"</a>";
    }

    function formSerach() {
        $('#searchDialog').window('close');
        $('#dg_nodes').datagrid('reload');
    }


 </script>
 #end
