@charset "utf-8";
/* CSS Document */

#sendContainer {  width:620px;margin: 0 auto; color: #FF0000; font-size: 16px; }
#sendContainer p { font-size: 16px; font-weight:normal;  color: #000;}
#sendContainer span {font-size: 18px;font-family:'微软雅黑'!important;font-weight:normal;color: #000;padding: 0 4px;}
#sendContainer table td { /*padding:0px 4px;*/ }
#sendContainer .content { font-size: 18px;table-layout: fixed;}

#sendContainer .border_topLeft td {border: 1px solid #FF0000;border-right-width: 0;border-bottom-width: 0;}
#sendContainer td.border_right {border-right-width: 1px;}
#sendContainer tr.border_bottom td {border-bottom-width: 1px;}

#sendContainer .content .title { height: 50px; line-height: 50px; font-size: 28px; padding-top: 20px; font-weight: bold; text-align: center;}

#sendContainer .content .nyr { height: 30px;}
#sendContainer .content .nyr .nyr_title {height: 20px; line-height: 20px; float: right; margin-right:80px; font-weight: normal;}
#sendContainer .content .nyr .nyr_title td{  font-size: 16px; font-weight: normal;}

#sendContainer .content .row1 { height: 40px; padding-top: 20px; }
#sendContainer .content .row1 td { height: 60px; }
#sendContainer .content .row2 td { height: 260px;}
#sendContainer .content .row3 td { height: 200px;}
#sendContainer .content .row4 td { height: 180px;}
#sendContainer .content .row5 td { height: 130px;}

#sendContainer .content .row_td{ border: #FF0000 solid 1px;}

#sendContainer .content .row_no_topborder { border: #FF0000 solid 1px; border-top: 0px;}
#sendContainer .content .row_border { border: #FF0000 solid 1px;}
#sendContainer .content .row_no_border_topOrRight {border-left: #FF0000 solid 1px; border-bottom: #FF0000 solid 1px;}

#sendContainer .title {height: 50px;line-height: 50px;font-size: 30px;padding-top: 10px;font-weight: bold;text-align: center;font-family: '方正小标宋简体'!important;}
#sendContainer .title2 {font-size: 18px;font-family: "微软雅黑"!important;text-align: center;/* padding: 0; */}
/*#sendContainer .title { height: 20px; padding-top: 8px; padding-left: 1px; font-size: 18px; font-weight: bold; text-align: left;}
#sendContainer .title1 {  height: 100px; font-size: 18px;  text-align:left;}
#sendContainer .title2 { height: 20px; padding-top: 8px; padding-left: 1px; font-size: 18px; text-align: left; word-wrap:break-word}
#sendContainer .title3 { width:60%; height: 15px; padding-top: 8px; padding-left: 1px; padding-bottom: 8px; font-size: 18px;  text-align:left;}
#sendContainer .title4 { height: 20px; padding-top: 8px; padding-left: 1px; font-size: 18px; text-align: left;border-right: #FF0000 solid 1px;}
*/
#sendContainer .tag_right span { float:right; text-align: right; padding-right: 20px;}
#sendContainer .tag_right2 span { text-align: right; padding-right: 20px;}
#sendContainer .tag_right2 {text-align: right;padding-right: 20px;}

#sendContainer .content .span_padding{padding-left: 20px;}
#sendContainer li {list-style-type:none;}
