@charset "utf-8";
/* CSS Document */

#sendContainer {width:700px;margin: 0 auto;color: red;}

#sendContainer * {
    font-family: '微软雅黑'!important;
    font-size: 16px;
}


#sendContainer    ul li {
        float: left;
        list-style: none;
    }

#sendContainer    ul {
        padding: 0;
    }

#sendContainer    input {
        border: 0;
    }

#sendContainer    p {
        line-height: 30px;
    }

#sendContainer    .wrapper {
        width: 700px;
        height: 1083px;
        color: #ff0000;
        font-size: 18px;
        margin: 0 auto;
        font-family: "微软雅黑";
        padding-top: 40px;
    }

#sendContainer    .wrapper p {
        color: #000;
        font-family: '微软雅黑';
        line-height: 30px;
        font-size: 16px;
    }

#sendContainer    .header {
        width: 100%;
        overflow: hidden;
        font-family: '黑体';
    }

#sendContainer    .header ul {
        overflow: hidden;
        float: right;
        width: 280px;
    }

#sendContainer    .header ul li {
        width: 280px;
        padding: 5px 0px 5px 0;
        text-align: center;
        float: none;

    }

#sendContainer    .header ul li label {
        width: 90px;
        text-align: right;
        display: inline-block;
        line-height: 20px;
    }

#sendContainer    .header ul li span {
        width: 150px;
        /*float: left;*/
        position: relative;
        top: 5px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        display: inline-block;
        border-bottom: 1px dashed #ff0000;
        padding-left: 0;
    }

#sendContainer    h1 {
        font-size: 35px;
        text-align: center;
        font-family: '宋体';
		line-height: 20px;
    	padding-top: 35px;
    }

#sendContainer    .orNum {
        border-bottom: 2px solid #ff0000;
        text-align: center;
    }

#sendContainer    .orNum p {
        width: 340px;
        margin: 20px auto;
        margin-bottom: 10px;
        color: #ff0000;
    }

#sendContainer    .orNum .span-one {
        display: inline-block;
        padding-right: 50px;
    }

#sendContainer    .orNum p .text-one, .orNum p .text-two {
        min-width: 90px;
        display: inline-block;
        text-align: center;
    }

#sendContainer    .orNum p .text-two {
        min-width: 45px;
    }

#sendContainer    .issue {
        width: 100%;
        border-bottom: 1px solid #ff0000;
        overflow: hidden;
    }

#sendContainer    .line {
        width: 1px;
        background-color: #ff0000;
        height: 500px;
        position: absolute;
        right: 0;
        top: 0;
    }

#sendContainer    .issue label {
        display: block;
    }

#sendContainer    .issue .left, .issue .right {
        width: 49.5%;
        float: left;
        padding: 10px 0;
        text-indent: 5px;
        position: relative;
    }


#sendContainer    .issue .left p,
    .issue .right p {
        width: 94%;
        margin: 5px;
        float: left;
        text-align: left;
        text-indent: 0px;
        overflow: hidden;
        margin: 5px 0;
        padding-left: 15px;
        color: #000;
    }

#sendContainer    .examine .left {
        width: 60%;
    }

#sendContainer    .examine .right {
        width: 38%;
    }

#sendContainer    .examine .right p {
        min-height: 35px;
        float: none;
    }

#sendContainer    .office .left {
        width: 40%;
        overflow: hidden;
    }

#sendContainer    .office .left p {
        height: 63px;
        width: 93%;
    }

#sendContainer    .office .right {
        width: 57%;
        padding-left: 10px;
    }

#sendContainer    .office .right label {
        display: inline-block;
        float: left;
    }

#sendContainer    .office .right div {
        float: left;
        width: 298px;
    }

#sendContainer    .office .right input {
        margin: 4px 5px 4px 10px;
    }

#sendContainer    .file-title .left {
        width: 100%;
        border-right: 0;
    }

#sendContainer    .file-title .left p {
        height: auto;
    }

#sendContainer    .send .left p {
        height: 30px;
        min-height: 30px;
        margin-bottom: 0;
    }

#sendContainer    .public-attr .left {
        padding: 10px 0;
    }

#sendContainer    .public-attr .left span {
        display: block;
        width: 220px;
        float: left;
        color:#000;
            font-size: 16px;
    }

#sendContainer    .public-attr .left i {
        font-style: normal;
        display: block;
        float: left;
    }
    /*.public-attr label {
        float: left;
    }
    .public-attr .left input{
        display: inline-block;
        margin:0 13px 0 30px;
    }*/

#sendContainer    .footer {
        padding-right: 20px;
    }

#sendContainer    .footer p {
        /*float: right;*/
        margin: 0px;
        color: #ff0000;
        text-align: center;
    }

#sendContainer    .footer p span {
        padding: 0 8px;
        text-align: center;
        display: inline-block;
    }

#sendContainer    .minH {
        min-height: 90px;
    }
