<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <input id="creatorId" name="creatorId" type="hidden" #if($notice) value="$!{notice.creatorId}" #else value="$!{currUser.id}" #end/>
                <input name="id" type="hidden" id="id" value="$!{obj.id}"/>
                <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">姓名</td>
                        <td class="bg-white">
                            $!{esc.html($!{obj.raiser})}
                        </td>
						<td class="bg-grey" align="right">问题类型</td>
                        <td class="bg-white">
                            $!{obj.queType.getValue()}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">联系电话</td>
                        <td class="bg-white" colSpan="3">
                            $!{esc.html($!{obj.telphone})}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">问题描述</td>
                        <td colSpan="3" class="bg-white">
                            $!{esc.html($!{obj.queDesc})}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">处理结果</td>
                        <td colSpan="3" class="bg-white">
                            $!{esc.html($!{obj.dealResult})}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">处理人</td>
                        <td class="bg-white">
                            $!{esc.html($!{obj.dealer})}
                        </td>
                        <td class="bg-grey" align="right">处理日期</td>
                        <td class="bg-white">
                            $!{date.format('yyyy-MM-dd', $!{obj.dealTime})}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">附件</td>
                        <td colSpan="3" attachId="$!{notice.id}">
                        #formfilemulty("attach", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('sysattach')", false, "#defaultUploadUrl('sysattach')",false,"sysAttach",false)
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'"  class="bottom-h" height="52px">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.addTab({title:'反馈结果',url:'$link.getContextURL()/system/maintenance/quelist'});
        top.CC.closeTab('反馈详情');
    }


</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
