<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="mynoborder">
            <form id="editForm" method="post">
                <input name="id" type="hidden" id="id" value="$!{obj.id}"/>
                <table class="table-edit" width="99%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                        <td class="fix_td_title">&nbsp;</td>
                        <td class="fix_td_data">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">姓名</td>
                        <td class="bg-white">
                            $!{esc.html($!{user.getCurrentUserName()})}
                            <input id="raiser" name="raiser" type="hidden" value="$!{esc.html($!{user.getCurrentUserName()})}" />
                        </td>
						<td class="bg-grey" align="right"><span><font color=red>*</font></span>问题类型</td>
                        <td class="bg-white">
                            <select id="queType" name="queType" class="easyui-combobox" data-options="required:true,editable:false" panelheight="auto" style="width:155px;"/>
                            #formoption($!{obj.queType} $dict.quetype)
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">联系电话</td>
                        <td class="bg-white" colspan="3">
                            <input id="telphone" name="telphone" class="easyui-textbox" style="width:99%;" data-options="validType:'maxLength[18]'" value="$!{esc.html($!{obj.telphone})}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right"><span><font color=red>*</font></span>问题描述</td>
                        <td colSpan="3" class="bg-white">
                            <textarea class="easyui-validatebox textareaborder validatebox-text" required style="height:220px; width: 99%;" id="queDesc" name="queDesc">$!{esc.html($!{obj.queDesc})}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-grey" align="right">附件</td>
                        <td colSpan="3" attachId="$!{notice.id}">
                        #formfilemulty("attach", "", "", "", $!{attachMap.get("$obj.id")},"#defaultDownloadUrl('sysattach')", true, "#defaultUploadUrl('sysattach')",true,"sysAttach",true)
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'"  class="bottom-h" height="52px">
            <div class="bottom-but">
                <ul>
                    <li><a onclick="save()" class="new-but">提交</a></li>
                    <li><a onclick="back()" class="new-but">返回</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#@script()
<script type="text/javascript">
    $(function(){
        $("#telphone").textbox("textbox").focus();
    });

    var _baseUrl = '$link.getContextURL()';

    //返回
    function back() {
        top.CC.addTab({title:'反馈结果',url:'$link.getContextURL()/system/maintenance/quelist'});
        top.CC.closeTab('问题反馈');
    }

    function save(){
        if($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/system/maintenance/saveque.json",$("#editForm").serialize(),function(result){
                if(result.id) {
                    $('#id').val(result.id);
                    top.CC.messager({
                        title:'提示',
                        msg:'提交成功！'
                    });
                    back();
                } else {
                    top.CC.messager({
                        title:'提示',
                        msg:'服务器连接不上'
                    });
                }
            });
        }
    }

</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
