<tr align="center">
	<td class="bg-grey"><span><font color=red>*</font></span>申请部门</td>
	<td class="bg-white">
		$!{esc.html($!{obj.deptName})}
	</td>
	<td class="bg-grey"><span><font color=red>*</font></span>申请人</td>
	<td class="bg-white">
		$!{esc.html($!{obj.creatorName})}
	</td>
</tr>
<tr align="center">
	<td class="bg-grey"><span><font color=red>*</font></span>出发地</td>
	<td class="bg-white">
		<input style="width:100%;" id="departurePlace" name="departurePlace" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{obj.departurePlace}"/>
	</td>
	<td class="bg-grey"><span><font color=red>*</font></span>目的地</td>
	<td class="bg-white">
		<input style="width:100%;" id="rentalPlace" name="rentalPlace" data-options="required:true,validType:'maxLength[200]'" class="easyui-textbox" value="$!{obj.rentalPlace}"/>
	</td>
</tr>
<tr>
	<td class="bg-grey"><span><font color=red>*</font></span>外出事由</td>
	<td colspan="3" class="bg-white">
		<textarea class="easyui-validatebox textareaborder" data-options="required:true" id="reason" name="reason" maxLength="150" cols="" style="resize:none;width:99%;height:50px;">$!{esc.html($!{obj.reason})}</textarea>
	</td>
</tr>
<tr>
	<td class="bg-grey"><span><font color=red>*</font></span>外出时间</td>
	<td colspan="3" class="bg-white">
		<input id = "beginTime" name="beginTime" class="easyui-datetimebox" data-options="editable:false,required:true" value="$!{obj.beginTime}"/>
			至
		<input id = "endTime" name="endTime" class="easyui-datetimebox" data-options="editable:false,required:true,validType:'equaldDate[\'#beginTime\']'" value="$!{obj.endTime}"/>
	</td>
</tr>