<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" class="mynoborder">
        <form id="editForm" method="post">
           <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
            <tr>
                <td class="fix_td_title" style="width:150px;">&nbsp;</td>
                <td class="fix_td_data">&nbsp;</td>
            </tr>
            <tr>
                <td class="bg-grey" align="right"><span><font color=red>*</font></span>代理人</td>
                <td class="bg-white" align="left">
                    <input id="agentId" type="hidden" name="agentId" value="$!{obj.agentId}" />
                    <input name="proxyUser" id="proxyUser" class="easyui-textbox" readonly value="$!{obj.agentUser.userName}" data-options="required:true"/>
                    <a id="" title="选择代理人" href="javascript:;" data-options="iconCls:'icon-search',plain:true"
                        callback=selectUserAgentCallback  class="easyui-linkbutton manSelDlg" select-dialog="$link.getContextURL()/select/selectSingleManClassify"></a>
                </td>
            </tr>
            <tr>
                <td class="bg-grey" align="right"><span><font color=red>*</font></span>代理开始时间</td>
                <td class="bg-white" align="left">
                    <input id="beginTime" name="beginTime" class="easyui-datetimebox" value="$!{obj.beginTime}" data-options="required:true,editable:false"/>
                </td>
            </tr>
            <tr>
                <td class="bg-grey" align="right"><span><font color=red>*</font></span>代理结束时间</td>
                <td class="bg-white" align="left">
                    <input id="endTime" name="endTime" class="easyui-datetimebox" value="$!{obj.endTime}" data-options="required:true,editable:false,validType:'checkDate'"/>
                </td>
            </tr>
        </table>
      </form>
    </div>
</div>
#@script()
<script type="text/javascript">

$.extend($.fn.validatebox.defaults.rules, {
        checkDate : {//校验日期大小
              validator : function(value) {
                  var beginTime = $('#beginTime').datetimebox('getValue');
                  if (value < beginTime) {
                       return false;
                   }
                return true;
            },
            message : '开始时间小于结束时间!'
        },

    });


 function saveAgentUser(){
        if ($("#editForm").form('validate')) {
            $.post("$link.getContextURL()/desktop/agent/save.json",$("#editForm").serialize(),function(result){
                  if(result.id){
                  $('#proxyWindow').window('close');
                  }else{
                      top.CC.messager({
                          title:'提示',
                          msg:result.error
                      });
                  }
            });
        }
    }

<!-----------------------代理人选择---------------------------->
  $(function(){
    $('.manSelDlg').on('click', function(e) {
    var $this = $(this);
    var _callbackname = $this.attr("callback");
    var _url = $(this).attr('select-dialog');
      var _callback_fn = window[_callbackname];
      var dfn = top.window.openSelectDialogFrameDialog;
      if (typeof dfn === "function") {
        dfn(_url, _callback_fn);
      }
      return false;
    });
  });

    function selectUserAgentCallback(data){
    $('#agentId').val(data.id);
    $('#proxyUser').textbox('setValue',data.userName);
  }

 <!-----------------------删除代理人---------------------------->
    function delAgent() {
        $.messager.confirm('提示','确定要撤销此代理人吗?',function (r) {
            if (r) {
                $.post('$link.getContextURL()/desktop/agent/delete.json',{id: '$!{obj.id}'}, function(result) {
                    if (result.id) {
                        $('#proxyWindow').window('close');
                    } else {
                        top.CC.messager({
                            title:'提示',
                            msg:'服务器连接不上'
                        });
                    }
                });
            }
        });
     }

</script>
#end
