<div class="easyui-panel mainborder-Padding" data-options="fit:true,border:false">
<div id="cc" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" >
        <div id="docTab" class="easyui-tabs tabs-trapezoid" fit="true" border="false">
			#if($!{envelope.instId})
				<input id="instId" type="hidden" value="$!{envelope.instId}"/>
                <div title="办理公文" style="padding:5px;">
    				<div style="border:1px solid #e0e0e0;">
                        #parse("doc/receivefile/inner/swsign.vm")
                        </br>
                    </div>
                <form id="editForm" method="post">
                <input id="id" type="hidden" name="id" value="$!{obj.id}"/>
                <input id="readmans" name="readmans" type="hidden" value=""/>
                <input id="curNodeId" type="hidden" name="curNodeId" value="$!{curNode.nodeId}"/>
                <table class="table-edit" width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                            <td class="fix_td_title">&nbsp;</td>
                            <td class="fix_td_data">&nbsp;</td>
                        </tr>
                        <tr id="receiveFilefileTr1" align="left">
                            <td class="bg-grey"  align="right">附件 </td>
                            <td class="bg-white"  colSpan="3" align="left" attachId="$!{obj.id}">
                                #formfilemulty("docFileAttach", "", "", "", $!{docFileAttachMap.get("$obj.id")},"#defaultDownloadUrl('sysattach')", false, "#defaultUploadUrl('sysattach')",false)
                            </td>
                        </tr>
                    </tbody>
                </table>
				#parse("common/table/ccwebdocTable.vm")
                </form>
				</div>
			#end
			<div title="公文详情" style="padding:5px;">
    			<div data-options="region:'center',border:false" class="mynoborder mainborder-Padding">
                <form id="editForm" method="post">
                    <input type="hidden" id="id" name="id" value="$!{envelope.id}"/>
                    <table class="table-edit" title="公文交换详情">
    					<tr>
                            <td class="bg-grey">公文标题</td>
                            <td class="bg-white" colspan="3">
                                $!{esc.html($!{envelope.title})}
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey">公文类型</td>
                            <td class="bg-white">
                                $!{envelope.documentType.value}
                            </td>
                            <td class="bg-grey">业务流水号</td>
                            <td class="bg-white">
                                $!{envelope.envelopeUuid}
                            </td>
                        </tr>
    					<tr>
    						#if($!{envelope.receiveFlag}==0)
                            <td class="bg-grey" style="width:150px;">收文单位</td>
                            <td class="bg-white">
                                $!{esc.html($!{envelope.secondaryUnitIdentifierName})}
                            </td>
    						 #else
    						<td class="bg-grey" style="width:150px;">发文单位</td>
                            <td class="bg-white">
                                $!{esc.html($!{envelope.senderAncestorName})}
                            </td>
    						#end
                            <td class="bg-grey" style="width:150px;">发文字号</td>
                            <td class="bg-white">
                                $!{esc.html($!{envelopeContent.docNumber})}
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey" style="width:150px;">限办时间</td>
                            <td class="bg-white">
                                #if($!{envelope.limitTime})
                                    <span style="font-weight: bold">$!date.format('yyyy-MM-dd HH:mm:ss',$!{envelope.limitTime})</span>
                                    #if($!{envelope.envStatus}==0||$!{envelope.envStatus}==1||$!{envelope.envStatus}==2)
                                        #if($!{envelope.calDeadlineDay}&&$!{envelope.calDeadlineDay}>=0)
                                            (剩余天数：$!{envelope.calDeadlineDay})
                                        #elseif($!{envelope.calDeadlineDay}&&$!{envelope.calDeadlineDay}<0)
                                            #set($absLimitDay = $!envelope.calDeadlineDay*-1)
                                            (超时天数：$!{absLimitDay})
                                        #end
                                    #end
                                #else 无办理时限
                                #end
                            </td>
                            <td class="bg-grey" style="width:150px;">办结时间</td>
                            <td class="bg-white">
                                #if($!{envelope.limitTime}&&$!{envelopeContent.finishTime})
                                    #set($day = $htmlTools.calculateDayInterval($!{envelope.limitTime},$!{envelopeContent.finishTime}))
                                    #if($day<0)
                                        (<span style="color: red;">超时办结</span>)
                                    #end
                                #end
    							$!date.format('yyyy-MM-dd HH:mm:ss',$!{envelopeContent.finishTime})
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey" style="width:150px;">公文状态</td>
                            <td class="bg-white">
                                $!{envelope.envStatus.value}
                            </td>
                            <td class="bg-grey" style="width:150px;">发送时间</td>
                            <td class="bg-white">
    							$!date.format('yyyy-MM-dd HH:mm:ss',$!{envelope.sendTime})
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey" style="width:150px;">紧急程度</td>
                            <td class="bg-white">
                                $!{envelopeContent.emergencyLevel.value}
                            </td>
                            <td class="bg-grey" style="width:150px;">密&nbsp;&nbsp;级</td>
                            <td class="bg-white">
    							非涉密
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey">印发机关</td>
                            <td class="bg-white">
                                $!{esc.html($!{envelopeContent.printOrg})}
                            </td>
                            <td class="bg-grey">印发日期</td>
                            <td class="bg-white">
                                $!date.format('yyyy-MM-dd',$!{envelopeContent.printDate})
                            </td>
                        </tr>
    					<tr>
                            <td class="bg-grey">签收人</td>
                            <td class="bg-white">
                                $!{esc.html($!{envelope.signerName})}
                            </td>
                            <td class="bg-grey">签收日期</td>
                            <td class="bg-white">
                                $!date.format('yyyy-MM-dd HH:mm:ss',$!{envelope.signDate})
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-grey">正文</td>
                            <td class="bg-white" colspan="3">
    							#formremotedocswapfilemulti("attach", "", "", "", $!{docFilehMap.get("$envelopeContent.id")},"#defaultDownloadUrl('remotedocswap')", false, "#defaultUploadUrl('remotedocswap')",false)
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-grey">附件</td>
                            <td colspan="3" class="bg-white" attachId="$!{envelopeContent.id}">
    							#formremotedocswapfilemulti("attach", "", "", "", $!{attachMap.get("$envelopeContent.id")},"#defaultDownloadUrl('remotedocswap')", false, "#defaultUploadUrl('remotedocswap')",false)
                            </td>
                        </tr>
                    </table>
                </form>
            	</div>
        	</div>
    
            <div title="反馈情况">
				#parse("doc/remotedocswap/feedbackDetail.vm")
            </div>
		    #if($!{envelope.instId})
			<div title="办理过程" data-options="href:'$link.getContextURL()/workflow/event/getTasklist?entityId=$!{obj.id}'">
            </div>
            #end
        </div>
    </div>
	<div data-options="region:'south'" class="bottom-h">
        <div class="bottom-but">
            <ul>
		#if($!{envelope.receiveFlag}==1)
            ##不属于撤销 、 作废 、 不办理 、退文，并且没有instId的公文显示 转内部公文 按钮
            #if(($!{envelope.envStatus}!=4&&$!{envelope.envStatus}!=5&&$!{envelope.envStatus}!=6&&$!{envelope.envStatus}!=10)&&!$!{envelope.instId})
				<li><a onclick="sendDocSwapInner('$!{envelope.id}')" class="new-but">转内部公文</a></li>
            #end
			#if($!{envelope.envStatus}==2)
                #if($!{envelope.documentType}==1)
					<li><a onclick="toReadEnvelope('$!{envelope.id}')" class="new-but">阅件反馈</a></li>
                #else
					<li><a onclick="sendContentInfo('$!{envelope.id}')" class="new-but">正文反馈</a></li>
					<li><a onclick="sendFinishInfo('$!{envelope.id}')" class="new-but">办结反馈</a></li>
                #end
                ##转入内部后不能退回
                #if(!$!{envelope.instId})
					<li><a onclick="returnEnvelope('$!{envelope.id}')" class="new-but">退回</a></li>
                #end
			#else
			#end
                <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
        #elseif($!{envelope.receiveFlag}==0)
            #if($!{envelope.envStatus}==0||$!{envelope.envStatus}==1)
				<li><a onclick="undoEnvelope('$!{envelope.id}')" class="new-but">撤销</a></li>
				<li><a onclick="invalidEnvelope('$!{envelope.id}')" class="new-but">作废</a></li>
				<li><a onclick="feedBackDialog('$!{envelope.id}')" class="new-but">修改时限</a></li>
            #end
            <li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
		#else
			<li><a onclick="top.CC.closeCurTab()" class="new-but">关闭</a></li>
		#end
            </ul>
        </div>
	</div>
</div>
</div>　


<div id="editWindow" class="easyui-window" title="撤销" style="width:700px;height:220px;padding:5px"
    data-options="closed:true,modal:true,minimizable:false,maximizable:false,collapsible:false">
</div>
#@script()
<script type="text/javascript">
    var _baseUrl = '$link.getContextURL()';

    //选择对话框
    $("a[select-dialog]").each(function() {
        $(this).click(function(){
            var $this = $(this);
            var _callbackname = $this.attr("callback");
            var _url = $this.attr("select-dialog");
            var _callback_fn = window[_callbackname];
            var dfn = top.window.openSelectDialogFrameDialog;
            if (typeof dfn === "function") {
                dfn(_url, _callback_fn);
            }
            return false;
        })
    });
	
	//撤销
    function undoEnvelope(envelopeId){
		$('#editWindow').panel({title:"撤销"});
		$('#editWindow').panel('resize',{
            width: 600,
            height: 200
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=undoEnvelope');
    }
	
    //作废
    function invalidEnvelope(envelopeId){
		$('#editWindow').panel({title:"作废"});
		$('#editWindow').panel('resize',{
            width: 600,
            height: 200
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=invalidEnvelope');
    }
	
	//修改时限
    function feedBackDialog(envelopeId){
		
		$('#editWindow').panel({title:"修改时限"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 270
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=feedBackDialog');
    }
	
	//转内部公文
	function sendDocSwapInner(envelopeId){
		top.CC.addTab({title:'转内部公文',url:'$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=sendDocSwapInner'});
        top.CC.closeTab('公文交换详情');
	}
	
	 //阅件传阅
    function toReadEnvelope(envelopeId){
        $('#editWindow').panel({title:"阅件传阅"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 250
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=toReadEnvelope');
    }
	
	//办结反馈
	function sendFinishInfo(envelopeId){
		$('#editWindow').panel({title:"办结反馈"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 250
        });
		$('#editWindow').window('open');
		
		//根据instId是否为空判断是已签收还是电子公文办理，便于反馈后返回页面判断
		if(null !=$("#instId").val()){
			$('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?returnType=docDoing&id=' + envelopeId +  '&type=sendFinishInfo');
		}else{
			$('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=sendFinishInfo');
		}
	}

	//正文反馈
	function sendContentInfo(envelopeId){
		top.CC.addTab({title:'正文反馈',url:'$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=sendContentInfo'});
        top.CC.closeTab('公文交换详情');
        //window.location.href='$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=sendContentInfo';
	}
	
	 //退回
    function returnEnvelope(envelopeId){
		$('#editWindow').panel({title:"退回"});
		$('#editWindow').panel('resize',{
            width: 700,
            height: 250
        });
		$('#editWindow').window('open');
        $('#editWindow').window('refresh','$link.getContextURL()/remotedocswap/detailFeedBackPage?id=' + envelopeId +  '&type=returnEnvelope');

    }
</script>
<script type="text/javascript" src="lib/plupload/plupload.full.min.js">
<script type="text/javascript" src="lib/plupload/i18n/zh_CN.js">
#end
