<html>
<head >
<meta http-equiv="content-type" content="text/html; charset=gbk" />
<title>南宁市电子政务内网办公自动化系统</title>
<link href="#getTemplate()" rel="stylesheet" type="text/css" />
<link href="../script/note.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="../script/common.js"></script>
<script language="javascript" type="text/javascript" src="../script/document/document.js"></script>
<script language="JavaScript" type="text/javascript" src="../script/validator.js"></script>
<script language="JavaScript" type="text/javascript" src="../script/calendar30.js"></script>
<script language="JavaScript" type="text/javascript" >
validator.formName = "editForm";
validator.addNormalCheckPoint("nextTransactor", "主送处理科室", "checkNotNull;checkNotEmpty");
//校验
function checkInput(e) {
    if (e.submitFlag.value == "1") {
        alert("页面已提交，请稍候！");
        return false;
    }
    return validator.checkAll();
}
//保存、提交
function saveClick(editType) {
    var e = document.editForm;
    var confirmStr = "您确定要签收该公文吗？";
	if (editType == "1") {
        if (e.nextTransactor != undefined && e.nextTransactor.value != "") {
            var confirmStr = "您确定要签收该公文，并转发『" + e.nextTransactor.value + "』办理吗？";
        }
        if (checkInput(e) && confirm(confirmStr)) {
            e.submitFlag.value = "1";
            e.editType.value = editType;
            e.submit();
            processUpload.style.visibility='visible';
            return true;
        }
    }
	if (editType == "11") {//将公文发回给原单位
        if (e.backReason.value == "") {
            alert("请填写退文事由，再执行退文操作！");
        } else if (confirm("您确定要将公文退回至发文单位吗？")) {
            e.submitFlag.value = "1";
            e.editType.value = editType;
            e.submit();
            processUpload.style.visibility='visible';
            return true;
        }
    }
    return false;
}
//返回接收列表
function returntopending() {
    var e = document.editForm;
    location.href = "../remotedocswap/remotedocswapquery.do?token=$!{token}";
}
      </script>
#importDWRScript("manageDwr.js")
    </head>
<body class="main-bgimg1" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%">
<form name="editForm" method="post" action="#getRequestUri()" enctype="multipart/form-data" >
<input type="hidden" name="submitFlag"/>
<input type="hidden" name="editType"/>
<input type="hidden" name="status"/>
<input type="hidden" name="envelopeId" value="$!{envelope.envelopeId}"/>
<input type="hidden" name="token" value="$!{token}" />
<input type="hidden" name="attachId"/>
<input type="hidden" name="modalDialog" value="$!{modalDialog}"/>
  <tr>
    <td align="center">
      <div>
        <div class="topButtom">
          <table cellpadding="2" cellspacing="0" width="100%" class="noteTop">
            <tr>
              <td align="center">
                <input type="button" class="button_notetop" value="签 收" onclick="saveClick('1')"/>
#if("$!{modalDialog}" != "")
                <input type="button" class="button_notetop" value="关 闭" onclick="closeModalDialog(true)"/>
#else
                <input type="button" class="button_notetop" value="返 回" onclick="javascript:returntopending();"/>
#end
              </td>
            </tr>
          </table>
        </div>
        <div class="space_line"></div>
#parse("document/processUpload.vm")
      </div>
    </td>
  </tr>
  <tr valign="top" align="center">
    <td height="100%">
      <div style="overflow-y:scroll; height:100%; width:100%;SCROLLBAR-BASE-COLOR: #FFFFFF;
        SCROLLBAR-FACE-COLOR: #CCCCCC;
        SCROLLBAR-HIGHLIGHT-COLOR:  #FFFFFF;
        SCROLLBAR-SHADOW-COLOR: #FFFFFF;
        SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
        SCROLLBAR-ARROW-COLOR: #000000;
        SCROLLBAR-TRACK-COLOR: #FFFFFF;
        SCROLLBAR-DARKSHADOW-COLOR: #666666;">

        <p>&nbsp;</p>
        <h1>自治区公文交换笺</h1>
        <div class="over_muchTab">
          <table cellpadding="4" cellspacing="0" class="muchTab">
            <tr>
              <td width="15%" class="world_td">发文单位</td>
              <td width="33%" class="space_td">$!{envelope.senderAncestorName}</td>
              <td width="13%" class="world_td">密级</td>
              <td width="14%" class="space_td" nowrap>#lookUpDict(${dicData.dicRemoteSecretLevel} $!{envelopeContent.secretLevel})</td>
              <td width="13%" class="world_td">紧急程度</td>
              <td width="12%" class="space_td">#lookUpDict(${dicData.dicRemoteEmergencyLevel} $!{envelopeContent.emergencyLevel})</td>
            </tr>
            <tr>
              <td class="world_td">发文字号</td>
              <td class="space_td" nowrap>$!{envelopeContent.docNumber}</td>
			  <td class="world_td">截至时间</td>
              <td class="space_td" colspan="3">#displayOnlyDate($!{envelope.limitDay})</td>
            </tr>
            <tr>
              <td class="world_td">文件标题</td>
              <td class="space_td" colspan="5">#htmlEscape($!{envelope.title})</td>
            </tr>
            <tr>
              <td class="world_td">联系方式</td>
              <td class="space_td">$!{envelopeContent.linkScript}</td>
              <td class="world_td">是否公开</td>
              <td class="space_td">$!{envelopeContent.publishType}</td>
	          <td class="world_td">签发人</td>
              <td class="space_td">$!{envelopeContent.signReceiveMan}</td>
            </tr>
            <tr>
              <td class="world_td">印发机关</td>
              <td class="space_td">$!{envelopeContent.printOrg}</td>
              <td class="world_td">印发日期</td>
              <td class="space_td" colspan="3">#displayOnlyDate($!{envelopeContent.printDate})</td>
            </tr>
            <tr>
              <td class="world_td">主送</td>
              <td class="space_td" colspan="5">$!{envelopeContent.mainSend}</td>
            </tr>
            <tr>
              <td class="world_td">抄送</td>
              <td class="space_td" colspan="5">$!{envelopeContent.copySend}</td>
            </tr>
            <tr>
              <td class="world_td">备注</td>
              <td class="space_td" colspan="5">$!{envelope.remark}</td>
            </tr>
            <tr>
              <td class="world_td" align = "right">文件类别</td>
              <td class="space_td">#formSingleSelectDictionary("docProperty" "" $dicData.dicDocProperty "" "")</td>
			  <td class="world_td">办理时限</td>
              <td class="space_td" colspan="3">#noteTextInput("limitDay" "" " id='limitDay' style='width:40px;' onkeyup='javascript:changeLimitTime()' ")至&nbsp;<span id="displayLimitTime"></span><input type="hidden" id="limitTime" name="limitTime" value=""/></td>
            </tr>
            <tr>
              <td class="world_td" align="right">主办科室</td>
              <td class="space_td" colspan="5">#selectNextTransactElement("" "$!{currentUser.department.ancestorDep}" "style='width:70%'")</td>
            </tr>
            <tr>
              <td class="world_td">传阅人</td>
              <td class="space_td" colspan="5">
<script>
function doSelectNextTransactOnlyRead(callbackFunc) {
    var _ws = window.screen.width;
    var _hs = window.screen.height;
    var readMan = document.getElementById("readMan2");
    var theUrl = "../workflow/selectNextTransactOnlyRead.do?readMan=" + readMan.value + "&rootId=$!{currentUser.department.ancestorDep}";
    FCKDialog.OpenDialog("selectNextTransactorForm", "选择送阅人", theUrl, _ws*0.8, _hs*0.99, callbackFunc, window);
}

function selectNextTransactOnlyRead(data) {
    var nextTransactor = document.getElementById("nextTransactor2");
    var readMan = document.getElementById("readMan2");
    nextTransactor.value = data.readManName;
    readMan.value = data.readMan;
}

function showSelectMultiDepartmentDialog(callbackFunction) {
    var _ws = window.screen.width;
    var _hs = window.screen.height;
    var theUrl = "../manage/departmentMultiSelectWithFilter.do?depId=$!{currentUser.department.ancestorDep}";
    FCKDialog.OpenDialog("selectDepartment", "选择部门", theUrl, _ws*0.8, _hs*0.99, callbackFunction, window);
}

function selectReadDepartment(depId, depName) {
    var nextTransactor = document.getElementById("nextTransactor2");
    var readDept = document.getElementById("readDept2");
    var readMan = document.getElementById("readMan2");
    readDept.value = depId;
    nextTransactor.value = depName;
    readMan.value = "";
}
</script>
                #noteTextInput("nextTransactor2" "" "style='width:70%' readonly")
                <input type="button" class="button1" value="选择部门" onclick="javascript:showSelectMultiDepartmentDialog(selectReadDepartment)" />
                <input type="button" class="button1" value="选择人员" onclick="doSelectNextTransactOnlyRead(selectNextTransactOnlyRead)">
                <input type="hidden" id="readDept" name="readDept2" value="$!{node.readDept}">
                <input type="hidden" id="readMan" name="readMan2" value="$!{node.readMan}">
		      </td>
            </tr>
            <tr valign="top" height="150">
              <td class="world_td">文件</td>
              <td class="space_td" colspan="5">
#parse("document/ocx.vm")
<script>
    initOcxsample('$!{currentUser.name}', '$!{envelopeContent.id}', 'remoteDocSwap');
    setOcxReadOnly(); //合并修订，避免把修订信息发送给其他单位
    #foreach ($attach in ${envelopeContent.remoteDocSwapAttachs})
        addOcxFile('$!{attach.physicalName}', '$!{attach.fileName}', '$!{attach.physicalPath}', '$!{attach.attachId}');
    #end
</script>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </td>
  </tr>
</form>
</table>
</body>
</html>